# INICIO

In [1]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
import import_ipynb
from shared_functions import DataframeLoader, Shared
import import_ipynb
from libraries.calculosba_areacalculo import AreaCalculoSBA
from libraries.calculo_objetivos_cualitativos import calculo_cumplimiento_objetivos_cualitativos
from libraries.DataframesUtils import CalculoDataframes
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
sub_direct = 'archivos-fuente-138'
folder_bbraun_source = os.path.join(base_dir, 'source', sub_direct)
folder_bbraun_output = os.path.join(base_dir, 'output')
print(folder_bbraun_source)

importing Jupyter notebook from C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\libraries\calculosba_areacalculo.ipynb
importing Jupyter notebook from C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\libraries\calculo_objetivos_cualitativos.ipynb
importing Jupyter notebook from C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\libraries\DataframesUtils.ipynb
C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\source\archivos-fuente-138

In [2]:
dataframe_loader = DataframeLoader(
    base_dir=base_dir,
    sub_direct=sub_direct
)
shared = Shared()
print(dataframe_loader.cargar_dataframes)

<bound method DataframeLoader.cargar_dataframes of <shared_functions.DataframeLoader object at 0x000002402AB91D60>>

In [3]:
(
        df_resultado_detallado_previo,
        df_resultado_liquidaciones_previo,
        df_empleados,
        df_empleados_inactivos,
        df_tipos_empleados,
        df_clusters_empleado,
        df_zonas_empleado,
        df_salarios_variables,
        df_parrillas,
        df_venta_recaudo_real,
        df_venta_recaudo_presupuesto,
        df_venta_por_zona,
        df_recaudo_por_zona,
        df_rentabilidad,
        df_venta_otras_companias,
        df_recaudo_otras_companias,
        df_venta_recaudo_kams,
        df_rentabilidad_kam,
        df_venta_servicios_mtto,
        df_objetivos_cualitativos,
        df_incentivos_por_empleado,
        df_area_calculo_sba,
        df_factores_liquidacion,
        df_cluster_plan_real_recaudo,
        df_zona_plan_real_venta_ch,
        df_rentabilidad_zona,
        df_resultados_variables_cualitativas,
        df_zonas_clusters_empleado,
        df_centros_costos,
        df_empleados_centros_costos,
        df_centros_costos_grupos_productos_divisiones,
        df_parrillas_tipos_calculos,
        df_area_calculo_sba_centros_costos,
        df_renal_ambulatorio,
        codigos_ve_vc,
        _dataframes_entrada,
        fecha_liquidacion,
        meses_incentivos,
        OUTPUT_FOLDER
    ) = dataframe_loader.cargar_dataframes(base_dir, folder_bbraun_source)

In [4]:
# df_parrillas[df_parrillas['Variable'] == 'VentaFacturadaGrupoClientesKAMSSub']

In [5]:
df_cluster_plan_real_recaudo

    Cluster      Fecha          Real   Presupuesto
0         0 2024-01-01  6.499356e+08  5.313190e+08
1         0 2024-02-01  5.192775e+08  5.820320e+08
2         0 2024-03-01  4.047291e+08  5.858266e+08
3         0 2024-04-01  9.209566e+08  5.324198e+08
4         0 2024-05-01  3.313128e+08  5.282928e+08
..      ...        ...           ...           ...
100       9 2024-01-01  6.482350e+08  8.840118e+08
101       9 2024-02-01  6.122344e+08  9.739929e+08
102       9 2024-03-01  1.021888e+09  9.800929e+08
103       9 2024-04-01  6.984999e+08  8.917949e+08
104       9 2024-05-01  4.537107e+08  8.758844e+08

[105 rows x 4 columns]

In [6]:
df_zonas_clusters_empleado

    TipoEmpleado CodigoEmpleado  AreaCalculo          Zona Cluster
0             VE        5004287            4        Centro       0
1             VE        5004287            4        Centro      20
2             VE        5004287            4        Centro      21
3             VE        5004287            4        Centro       1
4             VE        5004287            4        Centro       2
..           ...            ...          ...           ...     ...
363           VE       79625102           11  Suroccidente      10
364           VE       79625102           11  Suroccidente      11
365           VE       79625102           11  Suroccidente      12
366           VE       79625102           11  Suroccidente      21
367           VE       79625102           11  Suroccidente      22

[368 rows x 5 columns]

In [7]:
def unir_dataframes_por_columnas_comunes(df1, df2, how='inner'):
    """
    Une dos DataFrames basándose en sus columnas comunes con un tipo de unión especificado.
    
    Parámetros:
    - df1: Primer DataFrame.
    - df2: Segundo DataFrame.
    - how: Tipo de unión ('left', 'right', 'outer', 'inner'). Por defecto es 'inner'.
    
    Retorna:
    - DataFrame resultante de la unión.
    """
    # Encuentra las columnas comunes entre ambos DataFrames
    columnas_comunes = df1.columns.intersection(df2.columns)
    print(columnas_comunes)
    # Une los DataFrames basándose en las columnas comunes y el tipo de unión especificado
    df_unido = pd.merge(df1, df2, on=columnas_comunes.tolist(), how=how)
    
    return df_unido

In [8]:
columns_name_euros = ['RealCOP', 'PresupuestoCOP', 'PorcentajeCumplimientoCOP']
columns_name_list = ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']
colums_name = columns_name_list + columns_name_euros
colums_name

['Contexto',
 'Variable',
 'Fecha',
 'Real',
 'Presupuesto',
 'PorcentajeCumplimiento',
 'RealCOP',
 'PresupuestoCOP',
 'PorcentajeCumplimientoCOP']

In [9]:
dataframe_loader.df_renal_ambulatorio

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08
1,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08
2,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07
3,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07
4,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08
5,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08
6,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08
7,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08
8,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08
9,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08

In [10]:
# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
empleados_inactivos = df_empleados_inactivos[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
total_empleados = pd.concat([empleados, empleados_inactivos])
total_empleados

    TipoEmpleado CodigoEmpleado  AreaCalculo FechaIngreso
0             VC        5004523            3   2023-10-01
1             VC        1111128            4   2023-06-01
2             MK     1030591908           13   2023-07-01
3             GU       53069050            7   2021-03-01
4             VE        5004589            7   2018-11-01
..           ...            ...          ...          ...
99            VE        5004557           10   2013-12-01
100           VE     1020784302            2   2021-12-01
101          AD1       13874027           10   2020-05-01
102           VE        5005917            8   2017-04-01
103           VC        5036653            5   2020-04-01

[244 rows x 4 columns]

In [11]:
df_venta_recaudo_real.head()

,CodigoEmpleado,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Venta,Recaudo
0,1111111,AE,16,Norte,001,HOSPITAL,30,2024-01-01,2895000.0,0.0
1,1111111,AE,16,Norte,001,HOSPITAL,30,2024-02-01,5076750.0,233200.0
2,1111111,AE,16,Norte,001,HOSPITAL,30,2024-03-01,66822420.0,233200.0
3,1111111,AE,16,Norte,001,HOSPITAL,30,2024-04-01,532200.0,0.0
4,1111111,AE,16,Norte,001,HOSPITAL,30,2024-05-01,36916344.0,148800.0

In [12]:
df_venta_recaudo_real['ZonaGeografica'] = df_venta_recaudo_real['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())
df_venta_recaudo_presupuesto['ZonaGeografica'] = df_venta_recaudo_presupuesto['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\913009251.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_venta_recaudo_real['ZonaGeografica'] = df_venta_recaudo_real['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())
C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\913009251.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_venta_recaudo_presupuesto['ZonaGeografica'] = df_venta_recaudo_presupuesto['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

In [13]:
df_venta_recaudo_real.head()

,CodigoEmpleado,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Venta,Recaudo
0,1111111,AE,16,Norte,001,HOSPITAL,30,2024-01-01,2895000.0,0.0
1,1111111,AE,16,Norte,001,HOSPITAL,30,2024-02-01,5076750.0,233200.0
2,1111111,AE,16,Norte,001,HOSPITAL,30,2024-03-01,66822420.0,233200.0
3,1111111,AE,16,Norte,001,HOSPITAL,30,2024-04-01,532200.0,0.0
4,1111111,AE,16,Norte,001,HOSPITAL,30,2024-05-01,36916344.0,148800.0

In [14]:
df_venta_recaudo_presupuesto.head()

,CodigoEmpleado,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Venta,Recaudo
0,1111111,AE,16,Norte,001,DISTRIBUIDOR,30,2024-01-01,4440.914714,5218.074790
1,1111111,AE,16,Norte,001,DISTRIBUIDOR,30,2024-02-01,5921.219619,6957.433053
2,1111111,AE,16,Norte,001,DISTRIBUIDOR,30,2024-03-01,5921.219619,6261.689747
3,1111111,AE,16,Norte,001,DISTRIBUIDOR,30,2024-04-01,5921.219619,6261.689747
4,1111111,AE,16,Norte,001,DISTRIBUIDOR,30,2024-05-01,5921.219619,5565.946442

In [15]:
df_parrillas[df_parrillas['Variable'] == 'VentaFacturadaPortafolioRenalSub']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
118,5003490,VentaFacturadaPortafolioRenalSub,5003490_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
152,5032456,VentaFacturadaPortafolioRenalSub,5032456_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
203,40927502,VentaFacturadaPortafolioRenalSub,40927502_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
286,1111114,VentaFacturadaPortafolioRenalSub,1111114_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
602,5003979,VentaFacturadaPortafolioRenalSub,5003979_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
815,1120741903,VentaFacturadaPortafolioRenalSub,1120741903_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
822,5036651,VentaFacturadaPortafolioRenalSub,5036651_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
969,1111117,VentaFacturadaPortafolioRenalSub,1111117_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
1136,39099258,VentaFacturadaPortafolioRenalSub,39099258_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
1345,5036653,VentaFacturadaPortafolioRenalSub,5036653_1,0.15,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...

In [16]:
df_area_calculo_sba[df_area_calculo_sba['TipoEmpleado'] == 'GD']

   TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto  SBA
29           GD            1            1       AE           001  NaN
30           GD            1            1       AE           003  NaN
31           GD            1            1       AE           005  NaN
32           GD            1            1       AE           006  NaN
33           GD            1            1       AE           801  NaN
34           GD            1            1       AE           805  NaN
35           GD            1            1       AE           CEK  NaN
36           GD            1            1       AE           M06  NaN
37           GD            1            1       AE           M07  NaN
38           GD            1            1       AE           M08  NaN
39           GD            2            1       HC           610  NaN
40           GD            2            1       HC           620  NaN
41           GD            2            1       HC           630  NaN
42           GD            2            1       HC           640  NaN
43           GD            2            1       HC           680  NaN
44           GD            2            1       HC           681  NaN
45           GD            2            1       HC           CDK   03
46           GD            2            1       HC           CDK   12
47           GD            2            1       HC           CDK   30
48           GD            3            1       BA           660  NaN
49           GD            3            1       BA           902  NaN
50           GD            3            1       BA           A32  NaN
51           GD            3            1       BA           A33  NaN
52           GD            3            1       BA           A34  NaN
53           GD            3            1       BA           A35  NaN
54           GD            3            1       BA           A45  NaN

### Se validan los dataframes de entrada

In [17]:
# for df in _dataframes_entrada:
#     print(f'*** {df["name"]} ***')
#     print(' - Head:')
#     print(df['df'].head())
#     print('')

### Funciones útiles

In [18]:
# def sobreescribir_resultados_cualitativos(main, variable, columnas_extra, columnas_extra_merge, pre_merge_lambda=None):
#     print(columnas_extra, columnas_extra_merge)
#     resultados_cualitativos_variable = df_resultados_variables_cualitativas[columnas_extra + ['Variable', 'Fecha', 'PorcentajeCumplimiento']]
#     resultados_cualitativos_variable = resultados_cualitativos_variable[resultados_cualitativos_variable['Variable'] == variable]
#     if pre_merge_lambda:
#         resultados_cualitativos_variable = pre_merge_lambda(resultados_cualitativos_variable)
#     main_df = pd.merge(
#         left=main,
#         right=resultados_cualitativos_variable.rename(columns={'PorcentajeCumplimiento': 'PorcentajeCumplimientoPrecargado'}),
#         on=columnas_extra_merge+['Fecha', 'Variable'],
#         how='outer'
#     )
#     main_df['Real'] = np.where(
#         main_df['PorcentajeCumplimientoPrecargado'].isnull(),
#         main_df['Real'],
#         np.nan
#     )
#     main_df['Presupuesto'] = np.where(
#         main_df['PorcentajeCumplimientoPrecargado'].isnull(),
#         main_df['Presupuesto'],
#         np.nan
#     )
#     main_df['PorcentajeCumplimiento'] = np.where(
#         main_df['PorcentajeCumplimientoPrecargado'].isnull(),
#         main_df['PorcentajeCumplimiento'],
#         main_df['PorcentajeCumplimientoPrecargado']
#     )
#     main_df.drop(columns=['PorcentajeCumplimientoPrecargado'], inplace=True)

#     return main_df

In [19]:
# def f_calculo_centro_costo_variable(main , variable):
#     if 'CodigoCentroCosto' not in main.columns:
#         main = main.merge(
#             df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#             on=['Division', 'GrupoProducto'],
#             how='left'
#         )
#     main['Consecutivo'] = main['Consecutivo'].astype(str)
#     main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')
#     main['Contexto'] = main['CodigoEmpleado'] + '_' + main['Consecutivo']
#     cumplimiento_rentabilidad_grupo_clientes_cm2_sub
#     main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
#     #     main['RealTotal'] = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real']].transform(pd.Series.sum)
#     #     main['Porcentaje Aplicado'] = main['Real'] / main['RealTotal']
#     main['Variable'] = variable
#     return main

In [20]:
# def f_calculo_centro_costo_variable_tipo_empleado(main, variable, tipo_empleado):    
#     main = main.merge(
#         df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#         on=['Division', 'GrupoProducto'],
#         how='left'
#     )
#     main['AreaCalculo'] = main['AreaCalculo'].astype(str)
#     main['Consecutivo'] = main['Consecutivo'].astype(str)
#     main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
#     main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)    
#     main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
#     main['Variable'] = variable
#     return main

In [21]:
# def validar_calculo_centro_costo(main, contexto, fecha):
    
#     real = main[
#         (main['Contexto'] == contexto) &
#         (main['Fecha'] == fecha)
#     ]['Real'].sum()
    
#     presupuesto = main[
#         (main['Contexto'] == contexto) &
#         (main['Fecha'] == fecha)
#     ]['Presupuesto'].sum()
    
#     return real, presupuesto

In [22]:
# def validar_calculo_centro_costo_division_sub(main, contexto, fecha):
    
#     real = main[
#         (main['Contexto'] == contexto) &
#         (main['Fecha'] == fecha)
#     ].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Real'].transform(pd.Series.cumsum)
    
#     presupuesto = main[
#         (main['Contexto'] == contexto) &
#         (main['Fecha'] == fecha)
#     ].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Presupuesto'].transform(pd.Series.cumsum)
    
#     return real, presupuesto

### Completamos el dataframe de SBAs y Áreas de cálculo

In [23]:
productos_venta = df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA']]
productos_presupuesto = df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA']]
productos = pd.concat([productos_venta, productos_presupuesto])
productos = productos.drop_duplicates()
productos

     Division GrupoProducto SBA
0          AE           001  30
5          AE           001  31
6          AE           003  35
16         AE           005  33
21         AE           005  35
37         AE           801  30
38         AE           801  32
41         AE           805  30
46         AE           M06  31
51         AE           M06  30
55         AE           M07  33
67         AE           M08  33
75         AE           001  33
120        AE           006  36
176        BA           A32  84
181        BA           A33  86
206        BA           A34  85
400        BA           660  80
402        BA           A45  80
404        HC           610  01
409        HC           610  02
427        HC           620  13
432        HC           620  15
437        HC           620  36
452        HC           620  16
462        HC           630  08
467        HC           630  12
484        HC           680  03
574        BA           A45  81
578        BA           A45  89
756        HC           630  03
798        HC           CDK  12
911        HC           640  03
1095       AE           001  32
2168       AE           CDK  30
2511       AE           M07  30
2742       AE           CEK  35
3555       BA           660  81
4327       BA           A35  87
3227       BA           902  80
5047       AE           801  33

In [24]:
# TODO: Dejar de usar esta funcionalidad - utilizar la refactorizada

# productos_venta = df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA']]
# productos_presupuesto = df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA']]
# productos = pd.concat([productos_venta, productos_presupuesto])
# productos = productos.drop_duplicates()

##
_area_calculo_sba_notnull = df_area_calculo_sba[
    (df_area_calculo_sba['SBA'].notnull()) |
    (df_area_calculo_sba['SBA'] != '')
]
##
_area_calculo_sba_notnull

    TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto    SBA
0             AD            1            1    BBMCO         BBMCO  BBMCO
1             AD            2            1    BBMCO         BBMCO  BBMCO
2             AD            3            1    BBMCO         BBMCO  BBMCO
3             AD            4            1    BBMCO         BBMCO  BBMCO
4            AD1            1            1    BBMCO         BBMCO  BBMCO
..           ...          ...          ...      ...           ...    ...
243           VE            9            1       BA           A45    NaN
244           VE           10            1       BA           A32    NaN
245           VE           11            1       BA           A35    NaN
246           VE           12            1       AE           805    NaN
247           VE           12            2       AE           M06    NaN

[248 rows x 6 columns]

In [25]:
_area_calculo_sba_por_grupo = df_area_calculo_sba[
    (df_area_calculo_sba['GrupoProducto'].isnull()) |
    (df_area_calculo_sba['GrupoProducto'] == '')
]
_area_calculo_sba_por_grupo

    TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto  SBA
20            GC            1            1       HC           NaN  NaN
21            GC            1            2       AE           NaN  NaN
22            GC            1            3       BA           NaN  NaN
23            GC            2            1       HC           NaN  NaN
24            GC            2            2       AE           NaN  NaN
25            GC            2            3       BA           NaN  NaN
26            GC            3            1       HC           NaN  NaN
27            GC            3            2       AE           NaN  NaN
28            GC            3            3       BA           NaN  NaN
91           KAM            4            1   GRPCLI           NaN  NaN
92            MK            1            1       HC           NaN  NaN
95            MK            1            2       AE           NaN  NaN
144           MK            8            1    BBMCO           NaN  NaN
145           MK            9            1    BBMCO           NaN  NaN
146           MK           11            1       HC           NaN  NaN
149           MK           11            2       AE           NaN  NaN
154           MK           12            1       HC           NaN  NaN
157           MK           12            2       AE           NaN  NaN
162           MK           13            1       HC           NaN  NaN
165           MK           13            2       AE           NaN  NaN
207           VC            5            4       AE           NaN  NaN

In [26]:
_area_calculo_sba_por_grupo = pd.merge(
    left=_area_calculo_sba_por_grupo[['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Division']],
    right=productos,
    on='Division',
    how='left'
)
_area_calculo_sba_por_grupo
##

    TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto SBA
0             GC            1            1       HC           610  01
1             GC            1            1       HC           610  02
2             GC            1            1       HC           620  13
3             GC            1            1       HC           620  15
4             GC            1            1       HC           620  36
..           ...          ...          ...      ...           ...  ..
264           VC            5            4       AE           001  32
265           VC            5            4       AE           CDK  30
266           VC            5            4       AE           M07  30
267           VC            5            4       AE           CEK  35
268           VC            5            4       AE           801  33

[269 rows x 6 columns]

In [27]:
_area_calculo_sba_por_grupo[_area_calculo_sba_por_grupo['TipoEmpleado'] == 'GD']

Empty DataFrame
Columns: [TipoEmpleado, AreaCalculo, Consecutivo, Division, GrupoProducto, SBA]
Index: []

In [28]:

_area_calculo_sba_por_sba = df_area_calculo_sba[
    (
        (df_area_calculo_sba['SBA'].isnull()) |
        (df_area_calculo_sba['SBA'] == '')
    ) &
    (
        (df_area_calculo_sba['GrupoProducto'].notnull()) |
        (df_area_calculo_sba['GrupoProducto'] != '')
    )
]
_area_calculo_sba_por_sba = pd.merge(
    left=_area_calculo_sba_por_sba[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'Division']],
    right=productos[['GrupoProducto', 'SBA']],
    on='GrupoProducto',
    how='left'
)

area_calculo_sba_completo = pd.concat([
    _area_calculo_sba_notnull,
    _area_calculo_sba_por_grupo,
    _area_calculo_sba_por_sba
])
area_calculo_sba_completo = area_calculo_sba_completo[['AreaCalculo', 'Consecutivo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado']]
area_calculo_sba_completo.fillna('', inplace=True)
area_calculo_sba_completo.drop_duplicates(inplace=True, subset=area_calculo_sba_completo.columns)
area_calculo_sba_completo

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO         BBMCO  BBMCO           AD
1              2            1    BBMCO         BBMCO  BBMCO           AD
2              3            1    BBMCO         BBMCO  BBMCO           AD
3              4            1    BBMCO         BBMCO  BBMCO           AD
4              1            1    BBMCO         BBMCO  BBMCO          AD1
..           ...          ...      ...           ...    ...          ...
249           10            1       BA           A32     84           VE
250           11            1       BA           A35     87           VE
251           12            1       AE           805     30           VE
252           12            2       AE           M06     31           VE
253           12            2       AE           M06     30           VE

[721 rows x 6 columns]

In [29]:
area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
    (area_calculo_sba_completo['AreaCalculo'] == 3) &
    (area_calculo_sba_completo['Consecutivo'] == 5)
]

Empty DataFrame
Columns: [AreaCalculo, Consecutivo, Division, GrupoProducto, SBA, TipoEmpleado]
Index: []

In [30]:
area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'AD4']

    AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
16            1            1    BBMCO         BBMCO  BBMCO          AD4
17            1            2    BBMEC         BBMEC  BBMEC          AD4
18            2            1    BBMCO         BBMCO  BBMCO          AD4

### Remplazar funcionalidad - Funcionalidad con Refactorización

In [31]:
c_area_calculo_sba = AreaCalculoSBA(dataframe_loader)
area_calculo_sba_completo = c_area_calculo_sba.get_area_calculo_sba_completo()
area_calculo_sba_completo

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO         BBMCO  BBMCO           AD
1              2            1    BBMCO         BBMCO  BBMCO           AD
2              3            1    BBMCO         BBMCO  BBMCO           AD
3              4            1    BBMCO         BBMCO  BBMCO           AD
4              1            1    BBMCO         BBMCO  BBMCO          AD1
..           ...          ...      ...           ...    ...          ...
249           10            1       BA           A32     84           VE
250           11            1       BA           A35     87           VE
251           12            1       AE           805     30           VE
252           12            2       AE           M06     31           VE
253           12            2       AE           M06     30           VE

[721 rows x 6 columns]

In [32]:
area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
    (area_calculo_sba_completo['AreaCalculo'] == 3) &
    (area_calculo_sba_completo['Consecutivo'] == 5)
]

Empty DataFrame
Columns: [AreaCalculo, Consecutivo, Division, GrupoProducto, SBA, TipoEmpleado]
Index: []

In [33]:
c_area_calculo_sba.get_area_calculo_sba_completo_by_tipo_empleado('VC')

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
170            3            1       AE           805               VC
171            3            1       AE           M06               VC
172            3            2       AE           005               VC
173            3            2       AE           M07               VC
174            3            2       AE           M08               VC
..           ...          ...      ...           ...  ..          ...
199            5            3       HC           630  08           VC
200            5            3       HC           630  12           VC
201            5            3       HC           630  03           VC
202            5            3       HC           640  03           VC
203            5            3       HC           680  03           VC

[117 rows x 6 columns]

# Se calculan los resultados para la maestra de resultados

## 1. Objetivos cualitativos (ObjetivosCualitativos)

In [34]:
def asignar_valor_porcentaje(tipo_empleado):
    # Valores para el 2024. 0.80 para medical y 0.90 para surgical.
    if tipo_empleado != "AD2":
        return 0.80
    else:
        return 0.90


porcentaje_objetivos = 0.90
cumplimiento_objetivos_cualitativos = pd.DataFrame()

cumplimiento_objetivos_cualitativos['CodigoEmpleado'] = df_empleados['CodigoEmpleado']
cumplimiento_objetivos_cualitativos['TipoEmpleado'] = df_empleados['TipoEmpleado']
cumplimiento_objetivos_cualitativos['merge'] = 1
##
fechas = pd.DataFrame(df_venta_recaudo_real['Fecha'].drop_duplicates())
fechas['merge'] = 1
##
cumplimiento_objetivos_cualitativos = cumplimiento_objetivos_cualitativos.merge(
    fechas,
    on='merge',
    how='left'
)
cumplimiento_objetivos_cualitativos.drop(columns='merge', inplace=True)

cumplimiento_objetivos_cualitativos = pd.merge(
    left=cumplimiento_objetivos_cualitativos,
    right=df_objetivos_cualitativos,
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

cumplimiento_objetivos_cualitativos['Variable'] = 'ObjetivosCualitativos'
# cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'].fillna(porcentaje_objetivos, inplace=True)

cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'] = cumplimiento_objetivos_cualitativos['TipoEmpleado'].apply(lambda x: asignar_valor_porcentaje(x)) 
cumplimiento_objetivos_cualitativos.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_objetivos_cualitativos.drop(columns=['TipoEmpleado'], inplace=True)
cumplimiento_objetivos_cualitativos

    Contexto      Fecha  PorcentajeCumplimiento               Variable
0    5004523 2024-01-01                     0.8  ObjetivosCualitativos
1    5004523 2024-02-01                     0.8  ObjetivosCualitativos
2    5004523 2024-03-01                     0.8  ObjetivosCualitativos
3    5004523 2024-04-01                     0.8  ObjetivosCualitativos
4    5004523 2024-05-01                     0.8  ObjetivosCualitativos
..       ...        ...                     ...                    ...
695  1111118 2024-01-01                     0.8  ObjetivosCualitativos
696  1111118 2024-02-01                     0.8  ObjetivosCualitativos
697  1111118 2024-03-01                     0.8  ObjetivosCualitativos
698  1111118 2024-04-01                     0.8  ObjetivosCualitativos
699  1111118 2024-05-01                     0.8  ObjetivosCualitativos

[700 rows x 4 columns]

In [35]:
for x in [ '1111117']:
    _x = cumplimiento_objetivos_cualitativos[
    cumplimiento_objetivos_cualitativos['Contexto'] == x
    ]
    print(x)
    print(_x)

1111117
    Contexto      Fecha  PorcentajeCumplimiento               Variable
510  1111117 2024-01-01                     0.8  ObjetivosCualitativos
511  1111117 2024-02-01                     0.8  ObjetivosCualitativos
512  1111117 2024-03-01                     0.8  ObjetivosCualitativos
513  1111117 2024-04-01                     0.8  ObjetivosCualitativos
514  1111117 2024-05-01                     0.8  ObjetivosCualitativos

In [36]:
df_parrillas[df_parrillas['Variable'] == 'ObjetivosCualitativos'].merge(
    df_empleados
)

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo
0,5004523,ObjetivosCualitativos,5004523,0.15,0,Objetivos cualitativos,NaN,VC,36952327,sobeyda.acosta@bbraun.com,SOBEYDA DEL SOCORRO,ACOSTA PORTILLO,2500000.0,2023-10-01,NaT,3
1,1111128,ObjetivosCualitativos,1111128,0.15,0,Objetivos cualitativos,NaN,VC,1144160710,lizeth.ahumada@bbraun.com,Ana Lizeth,Ahumada Eraso,2200000.0,2023-06-01,NaT,4
2,1030591908,ObjetivosCualitativos,1030591908,0.20,0,Objetivos cualitativos,NaN,MK,1030591908,NaN,CARLOS ANDRES,ALARCON LOPEZ,500000.0,2023-07-01,NaT,13
3,53069050,ObjetivosCualitativos,53069050,0.20,0,Objetivos cualitativos,NaN,GU,53069050,sylvia.altahona@bbraun.com,SYLVIA CRISTINA,ALTAHONA BARRERA,3000000.0,2021-03-01,NaT,7
4,5004589,ObjetivosCualitativos,5004589,0.15,0,Objetivos cualitativos,NaN,VE,43876232,catalina.alvarez@bbraun.com,CATALINA MARIA,ALVAREZ CAICEDO,2200000.0,2018-11-01,NaT,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,5036358,ObjetivosCualitativos,5036358,0.20,0,Objetivos cualitativos,NaN,GD,52081363,claudia.velasquez@bbraun.com,CLAUDIA XIMENA,VELASQUEZ ARTURO,4000000.0,2020-02-01,NaT,3
136,5041369,ObjetivosCualitativos,5041369,0.15,0,Objetivos cualitativos,NaN,VE,1130613731,andres.victoria@bbraun.com,ANDRES MAURICIO,VICTORIA LOPEZ,2500000.0,2021-10-01,NaT,4
137,80857971,ObjetivosCualitativos,80857971,0.20,0,Objetivos cualitativos,NaN,MK,80857971,NaN,JUAN JOSE,ZAMORA MORANTES,300000.0,2023-07-01,NaT,12
138,5041312,ObjetivosCualitativos,5041312,0.15,0,Objetivos cualitativos,NaN,VE,40411853,lina_shirley.zapata@bbraun.com,LINA SHIRLEY,ZAPATA GUTIERREZ,2500000.0,2021-09-01,NaT,5
139,1111118,ObjetivosCualitativos,1111118,0.15,0,Objetivos cualitativos,NaN,VC,1152685303,elizabeth.zapata@bbraun.com,Elizabeth,Zapata Serna,2500000.0,2022-11-01,NaT,4

In [37]:
df_parrillas[
    (df_parrillas['Variable'] == 'ObjetivosCualitativos') &
    (df_parrillas['CodigoEmpleado'] == '1111117')
]

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
965,1111117,ObjetivosCualitativos,1111117,0.15,0,Objetivos cualitativos,NaN

In [38]:
cumplimiento_objetivos_cualitativos[
    cumplimiento_objetivos_cualitativos['Contexto'] == '1111117'
]

    Contexto      Fecha  PorcentajeCumplimiento               Variable
510  1111117 2024-01-01                     0.8  ObjetivosCualitativos
511  1111117 2024-02-01                     0.8  ObjetivosCualitativos
512  1111117 2024-03-01                     0.8  ObjetivosCualitativos
513  1111117 2024-04-01                     0.8  ObjetivosCualitativos
514  1111117 2024-05-01                     0.8  ObjetivosCualitativos

## 2. Objetivos de recaudo por zona (VentaCobradaZonaBraunCrossDivisional)
### TODO: Ahora el empleado tiene varias zonas

In [39]:
cumplimiento_recaudo_por_zona = df_recaudo_por_zona.copy()

cumplimiento_recaudo_por_zona['Real'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_zona['Presupuesto'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)

cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['Real'] / cumplimiento_recaudo_por_zona['Presupuesto']
cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_zona['Variable'] = 'VentaCobradaZonaBraunCrossDivisional'
cumplimiento_recaudo_por_zona.rename(columns={'Zona': 'Contexto'}, inplace=True)

cumplimiento_recaudo_por_zona = cumplimiento_recaudo_por_zona[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_zona.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 3. Objetivos de venta individuales (VentaFacturadaZonaCargoIndividual y VentaFacturadaZonaCargoIndividualSub)

In [40]:
# venta real con información
venta_recaudo_real_info = df_venta_recaudo_real.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

# venta presupuesto con información
venta_recaudo_presupuesto_info = df_venta_recaudo_presupuesto.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

In [41]:
_excepciones_venta_facturada = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# venta real por empleado por area de calculo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9


venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])
venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo',
                                                                           'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Venta']
venta_recaudo_real_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# venta presupuesto por empleado por area de calculo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Venta']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})


## VentaFacturadaZonaCargoIndividual
cumplimiento_venta_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual['Presupuesto'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Presupuesto'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['Real'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['Real'] / cumplimiento_venta_individual['Presupuesto']
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_venta_individual['Variable'] = 'VentaFacturadaZonaCargoIndividual'
cumplimiento_venta_individual = cumplimiento_venta_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual.head()

## VentaFacturadaZonaCargoIndividualSub
cumplimiento_venta_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

cumplimiento_venta_individual_sub['Presupuesto'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['Real'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['Real'] / cumplimiento_venta_individual_sub['Presupuesto']
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Consecutivo'] = cumplimiento_venta_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_venta_individual_sub['Contexto'] = cumplimiento_venta_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_venta_individual_sub['Consecutivo'],sep="_")
cumplimiento_venta_individual_sub['Variable'] = 'VentaFacturadaZonaCargoIndividualSub'

cumplimiento_venta_individual_sub = cumplimiento_venta_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaZonaCargoIndividualSub,2024-01-01,80350030.0,2.364146e+07,3.40
1,1111111_1,VentaFacturadaZonaCargoIndividualSub,2024-02-01,112898410.0,5.695559e+07,1.98
2,1111111_1,VentaFacturadaZonaCargoIndividualSub,2024-03-01,146714310.5,9.564625e+07,1.53
3,1111111_1,VentaFacturadaZonaCargoIndividualSub,2024-04-01,171457832.0,1.343369e+08,1.28
4,1111111_1,VentaFacturadaZonaCargoIndividualSub,2024-05-01,359209976.2,1.757158e+08,2.04

## 4. Objetivos de recaudo individuales (VentasCobradaZonaCargoIndividual y VentasCobradaZonaCargoIndividualSub)

In [42]:
_excepciones_venta_recaudo = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# recaudo real por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])

venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Recaudo']
venta_recaudo_real_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# recaudo presupuesto por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])

venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Recaudo']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})

## VentasCobradaZonaCargoIndividual
cumplimiento_recaudo_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual['Presupuesto'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['Real'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['Real'] / cumplimiento_recaudo_individual['Presupuesto']
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_recaudo_individual['Variable'] = 'VentasCobradaZonaCargoIndividual'
cumplimiento_recaudo_individual = cumplimiento_recaudo_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual.head()


## VentasCobradaZonaCargoIndividualSub
cumplimiento_recaudo_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

_excepciones_recaudo_sub = []

for excepcion in _excepciones_recaudo_sub:
    cumplimiento_recaudo_individual_sub['Presupuesto'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorPresupuesto'],
        cumplimiento_recaudo_individual_sub['Presupuesto']
    )
    cumplimiento_recaudo_individual_sub['Real'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorReal'],
        cumplimiento_recaudo_individual_sub['Real']
    )


cumplimiento_recaudo_individual_sub['Presupuesto'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['Real'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['Real'] / cumplimiento_recaudo_individual_sub['Presupuesto']
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Consecutivo'] = cumplimiento_recaudo_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_recaudo_individual_sub['Contexto'] = cumplimiento_recaudo_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_recaudo_individual_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_individual_sub['Variable'] = 'VentasCobradaZonaCargoIndividualSub'
cumplimiento_recaudo_individual_sub = cumplimiento_recaudo_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentasCobradaZonaCargoIndividualSub,2024-01-01,54088222.0,2.503668e+07,2.16
1,1111111_1,VentasCobradaZonaCargoIndividualSub,2024-02-01,74081826.0,6.006774e+07,1.23
2,1111111_1,VentasCobradaZonaCargoIndividualSub,2024-03-01,83708538.5,9.802602e+07,0.85
3,1111111_1,VentasCobradaZonaCargoIndividualSub,2024-04-01,101477191.0,1.359843e+08,0.75
4,1111111_1,VentasCobradaZonaCargoIndividualSub,2024-05-01,182010085.5,1.743966e+08,1.04

## 5. Objetivos de venta por área de cálculo (VentaFacturadaPorAreaCalculo y VentaFacturadaPorAreaCalculoSub)

In [43]:
area_calculo_sba_completo_ve7 = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'VE')&
    (area_calculo_sba_completo['AreaCalculo'] == 7)
][['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'GrupoProducto', 'SBA']]

In [44]:
resultados_venta_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_real_sub = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_real = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})


resultados_venta_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_presupuesto_sub = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_presupuesto = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})

## VentaFacturadaPorAreaCalculo
cumplimiento_venta_por_area_calculo = pd.merge(
    left=resultados_venta_area_calculo_presupuesto.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_venta_por_area_calculo['Variable'] = 'VentaFacturadaPorAreaCalculo'
cumplimiento_venta_por_area_calculo['Contexto'] = cumplimiento_venta_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo['Real'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['Presupuesto'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_venta_por_area_calculo = cumplimiento_venta_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo.head()

## VentaFacturadaPorAreaCalculoSub
cumplimiento_venta_por_area_calculo_sub = pd.merge(
    left=resultados_venta_area_calculo_presupuesto_sub.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real_sub.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)


cumplimiento_venta_por_area_calculo_sub['Variable'] = 'VentaFacturadaPorAreaCalculoSub'
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_venta_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_venta_por_area_calculo_sub['Real'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['Presupuesto'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo_sub['Real'] / cumplimiento_venta_por_area_calculo_sub['Presupuesto']

cumplimiento_venta_por_area_calculo_sub = cumplimiento_venta_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentaFacturadaPorAreaCalculoSub,2024-01-01,4392000.00,6.828935e+06,0.643146
1,VE_7_1,VentaFacturadaPorAreaCalculoSub,2024-02-01,6388800.00,1.821049e+07,0.350831
2,VE_7_1,VentaFacturadaPorAreaCalculoSub,2024-03-01,9989220.00,3.414467e+07,0.292556
3,VE_7_1,VentaFacturadaPorAreaCalculoSub,2024-04-01,35842116.00,5.235516e+07,0.684596
4,VE_7_1,VentaFacturadaPorAreaCalculoSub,2024-05-01,21768492.13,7.284197e+07,0.298845

## 6. Objetivos de recaudo por área de cálculo (VentasCobradaPorAreaCalculo y VentasCobradaPorAreaCalculoSub)

In [45]:
resultados_recaudo_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_real_sub = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_real = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})


resultados_recaudo_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_presupuesto_sub = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_presupuesto = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})

## VentasCobradaPorAreaCalculo
cumplimiento_recaudo_por_area_calculo = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo['Variable'] = 'VentasCobradaPorAreaCalculo'
cumplimiento_recaudo_por_area_calculo['Contexto'] = cumplimiento_recaudo_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo['Real'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['Presupuesto'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_recaudo_por_area_calculo = cumplimiento_recaudo_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

## VentasCobradaPorAreaCalculoSub
cumplimiento_recaudo_por_area_calculo_sub = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto_sub.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real_sub.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo_sub['Variable'] = 'VentasCobradaPorAreaCalculoSub'
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_recaudo_por_area_calculo_sub['Real'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['Presupuesto'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo_sub['Real'] / cumplimiento_recaudo_por_area_calculo_sub['Presupuesto']

cumplimiento_recaudo_por_area_calculo_sub = cumplimiento_recaudo_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_recaudo_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentasCobradaPorAreaCalculoSub,2024-01-01,0.00,1.857470e+07,0.000000
1,VE_7_1,VentasCobradaPorAreaCalculoSub,2024-02-01,6080400.00,3.714940e+07,0.163674
2,VE_7_1,VentasCobradaPorAreaCalculoSub,2024-03-01,6080400.00,5.681674e+07,0.107018
3,VE_7_1,VentasCobradaPorAreaCalculoSub,2024-04-01,11444676.00,7.429881e+07,0.154036
4,VE_7_1,VentasCobradaPorAreaCalculoSub,2024-05-01,19575732.13,9.178088e+07,0.213288

## 7. Objetivos de recaudo a nivel país (VentaCobradaBraunPais)

In [46]:
# recaudo real pais
venta_recaudo_real_pais = df_venta_recaudo_real.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_pais['Real'] = venta_recaudo_real_pais['Recaudo']
venta_recaudo_real_pais.drop(columns=['Recaudo'], inplace=True)

# recaudo presupuesto pais
venta_recaudo_presupuesto_pais = df_venta_recaudo_presupuesto.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_pais['Presupuesto'] = venta_recaudo_presupuesto_pais['Recaudo']
venta_recaudo_presupuesto_pais.drop(columns=['Recaudo'], inplace=True)

##
cumplimiento_recaudo_nivel_pais = pd.merge(
    left=venta_recaudo_presupuesto_pais,
    right=venta_recaudo_real_pais,
    on=['Fecha'],
    how='left'
)
cumplimiento_recaudo_nivel_pais['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_nivel_pais['Real'] = cumplimiento_recaudo_nivel_pais['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['Presupuesto'] = cumplimiento_recaudo_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['Real'] / cumplimiento_recaudo_nivel_pais['Presupuesto']
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_nivel_pais['Contexto'] = 'Pais'
cumplimiento_recaudo_nivel_pais['Variable'] = 'VentaCobradaBraunPais'
cumplimiento_recaudo_nivel_pais = cumplimiento_recaudo_nivel_pais[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_nivel_pais.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2024-01-01,1.670438e+10,1.749805e+10,0.95
1,Pais,VentaCobradaBraunPais,2024-02-01,3.221882e+10,3.663783e+10,0.88
2,Pais,VentaCobradaBraunPais,2024-03-01,4.803727e+10,5.604000e+10,0.86
3,Pais,VentaCobradaBraunPais,2024-04-01,6.413254e+10,7.395302e+10,0.87
4,Pais,VentaCobradaBraunPais,2024-05-01,8.319083e+10,9.187600e+10,0.91

## 8. Objetivos de recaudo por unidad de negocio (VentaCobradaUnidadNegocio y VentaCobradaUnidadNegocioSub)

### 8.1. Para GU (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [47]:
area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GU']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_real = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_presupuesto = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

##### VentaFacturadaUnidadNegocio

In [48]:
venta_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu['Real'] = venta_real_area_calculo_gu['Venta']
venta_real_area_calculo_gu.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu['Presupuesto'] = venta_presupuesto_area_calculo_gu['Venta']
venta_presupuesto_area_calculo_gu.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu = pd.merge(
    left=venta_presupuesto_area_calculo_gu,
    right=venta_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu['Real'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['Real'] / cumplimiento_venta_por_unidad_negocio_gu['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_gu['Variable'] = 'VentaFacturadaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_gu = cumplimiento_venta_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,VentaFacturadaUnidadNegocio,2024-01-01,1.061380e+09,1.321167e+09,0.80
1,gu_1,VentaFacturadaUnidadNegocio,2024-02-01,2.515218e+09,2.773043e+09,0.91
2,gu_1,VentaFacturadaUnidadNegocio,2024-03-01,3.720898e+09,4.361479e+09,0.85
3,gu_1,VentaFacturadaUnidadNegocio,2024-04-01,5.141835e+09,6.075496e+09,0.85
4,gu_1,VentaFacturadaUnidadNegocio,2024-05-01,6.746263e+09,7.924179e+09,0.85

##### VentaFacturadaUnidadNegocioSub

In [49]:
venta_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu_sub['Real'] = venta_real_area_calculo_gu_sub['Venta']
venta_real_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu_sub['Presupuesto'] = venta_presupuesto_area_calculo_gu_sub['Venta']
venta_presupuesto_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu_sub = pd.merge(
    left=venta_presupuesto_area_calculo_gu_sub,
    right=venta_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu_sub

,AreaCalculo,Consecutivo,Fecha,Division,GrupoProducto,Presupuesto,Real
0,1,1,2024-01-01,AE,M07,7.163731e+08,4.765177e+08
1,1,1,2024-02-01,AE,M07,7.880235e+08,9.008044e+08
2,1,1,2024-03-01,AE,M07,8.596552e+08,6.624402e+08
3,1,1,2024-04-01,AE,M07,9.312869e+08,8.483826e+08
4,1,1,2024-05-01,AE,M07,1.002919e+09,9.046848e+08
...,...,...,...,...,...,...,...
120,10,2,2024-01-01,AE,M06,1.009111e+08,8.612580e+07
121,10,2,2024-02-01,AE,M06,1.508922e+08,1.194968e+08
122,10,2,2024-03-01,AE,M06,1.999245e+08,2.234379e+08
123,10,2,2024-04-01,AE,M06,1.999245e+08,2.132860e+08
124,10,2,2024-05-01,AE,M06,2.244406e+08,2.523263e+08

In [50]:
cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_venta_por_unidad_negocio_gu_sub, 'VentaFacturadaUnidadNegocioSub', 'GU')
)
cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo.head(20)

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,gu_10_1,2024-01-01,805,AE,323007290,3.284811e+08,3.347470e+08,VentaFacturadaUnidadNegocioSub
1,gu_10_1,2024-02-01,805,AE,323007290,6.101608e+08,7.810763e+08,VentaFacturadaUnidadNegocioSub
2,gu_10_1,2024-03-01,805,AE,323007290,1.093808e+09,1.227406e+09,VentaFacturadaUnidadNegocioSub
3,gu_10_1,2024-04-01,805,AE,323007290,1.531621e+09,1.673735e+09,VentaFacturadaUnidadNegocioSub
4,gu_10_1,2024-05-01,805,AE,323007290,1.877163e+09,2.120064e+09,VentaFacturadaUnidadNegocioSub
5,gu_10_2,2024-01-01,M06,AE,323007290,8.612580e+07,1.009111e+08,VentaFacturadaUnidadNegocioSub
6,gu_10_2,2024-02-01,M06,AE,323007290,2.056226e+08,2.518033e+08,VentaFacturadaUnidadNegocioSub
7,gu_10_2,2024-03-01,M06,AE,323007290,4.290605e+08,4.517278e+08,VentaFacturadaUnidadNegocioSub
8,gu_10_2,2024-04-01,M06,AE,323007290,6.423465e+08,6.516522e+08,VentaFacturadaUnidadNegocioSub
9,gu_10_2,2024-05-01,M06,AE,323007290,8.946728e+08,8.760928e+08,VentaFacturadaUnidadNegocioSub
10,gu_1_1,2024-01-01,M07,AE,323010140,4.765177e+08,7.163731e+08,VentaFacturadaUnidadNegocioSub
11,gu_1_1,2024-02-01,M07,AE,323010140,1.377322e+09,1.504397e+09,VentaFacturadaUnidadNegocioSub
12,gu_1_1,2024-03-01,M07,AE,323010140,2.039762e+09,2.364052e+09,VentaFacturadaUnidadNegocioSub
13,gu_1_1,2024-04-01,M07,AE,323010140,2.888145e+09,3.295339e+09,VentaFacturadaUnidadNegocioSub
14,gu_1_1,2024-05-01,M07,AE,323010140,3.792830e+09,4.298257e+09,VentaFacturadaUnidadNegocioSub
15,gu_1_2,2024-01-01,005,AE,323010140,3.926390e+07,5.685042e+07,VentaFacturadaUnidadNegocioSub
16,gu_1_2,2024-01-01,M08,AE,323010140,5.455989e+08,5.479430e+08,VentaFacturadaUnidadNegocioSub
17,gu_1_2,2024-02-01,005,AE,323010140,1.035345e+08,1.179664e+08,VentaFacturadaUnidadNegocioSub
18,gu_1_2,2024-02-01,M08,AE,323010140,1.034361e+09,1.150680e+09,VentaFacturadaUnidadNegocioSub
19,gu_1_2,2024-03-01,005,AE,323010140,1.514276e+08,1.892151e+08,VentaFacturadaUnidadNegocioSub

In [51]:
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] / cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_por_unidad_negocio_gu_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu_sub = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_gu_sub = cumplimiento_venta_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaFacturadaUnidadNegocioSub,2024-01-01,4.765177e+08,7.163731e+08,0.67
1,gu_1_1,VentaFacturadaUnidadNegocioSub,2024-02-01,1.377322e+09,1.504397e+09,0.92
2,gu_1_1,VentaFacturadaUnidadNegocioSub,2024-03-01,2.039762e+09,2.364052e+09,0.86
3,gu_1_1,VentaFacturadaUnidadNegocioSub,2024-04-01,2.888145e+09,3.295339e+09,0.88
4,gu_1_1,VentaFacturadaUnidadNegocioSub,2024-05-01,3.792830e+09,4.298257e+09,0.88

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

##### VentaCobradaUnidadNegocio

In [52]:
recaudo_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu['Real'] = recaudo_real_area_calculo_gu['Recaudo']
recaudo_real_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu['Presupuesto'] = recaudo_presupuesto_area_calculo_gu['Recaudo']
recaudo_presupuesto_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu,
    right=recaudo_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu['Variable'] = 'VentaCobradaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_gu = cumplimiento_recaudo_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,VentaCobradaUnidadNegocio,2024-01-01,1.519447e+09,1.125896e+09,1.35
1,gu_1,VentaCobradaUnidadNegocio,2024-02-01,2.627839e+09,2.367510e+09,1.11
2,gu_1,VentaCobradaUnidadNegocio,2024-03-01,4.167335e+09,3.718585e+09,1.12
3,gu_1,VentaCobradaUnidadNegocio,2024-04-01,4.938056e+09,5.180909e+09,0.95
4,gu_1,VentaCobradaUnidadNegocio,2024-05-01,6.578882e+09,6.752694e+09,0.97

##### VentaCobradaUnidadNegocioSub

In [53]:
recaudo_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu_sub['Real'] = recaudo_real_area_calculo_gu_sub['Recaudo']
recaudo_real_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_gu_sub['Recaudo']
recaudo_presupuesto_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu_sub,
    right=recaudo_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu_sub

,AreaCalculo,Consecutivo,Fecha,Division,GrupoProducto,Presupuesto,Real
0,1,1,2024-01-01,AE,M07,6.089353e+08,9.379923e+08
1,1,1,2024-02-01,AE,M07,6.698442e+08,5.880346e+08
2,1,1,2024-03-01,AE,M07,7.307224e+08,8.535054e+08
3,1,1,2024-04-01,AE,M07,7.916094e+08,3.920922e+08
4,1,1,2024-05-01,AE,M07,8.524876e+08,9.385140e+08
...,...,...,...,...,...,...,...
120,10,2,2024-01-01,AE,M06,9.356412e+07,1.235063e+08
121,10,2,2024-02-01,AE,M06,1.397887e+08,9.815940e+07
122,10,2,2024-03-01,AE,M06,1.844524e+08,1.275092e+08
123,10,2,2024-04-01,AE,M06,1.844524e+08,3.057914e+08
124,10,2,2024-05-01,AE,M06,2.065612e+08,2.773557e+08

In [54]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_recaudo_por_unidad_negocio_gu_sub, 'VentaCobradaUnidadNegocioSub', 'GU')
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo.head(20)

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,gu_10_1,2024-01-01,805,AE,323007290,4.950735e+08,3.933277e+08,VentaCobradaUnidadNegocioSub
1,gu_10_1,2024-02-01,805,AE,323007290,6.907015e+08,9.177647e+08,VentaCobradaUnidadNegocioSub
2,gu_10_1,2024-03-01,805,AE,323007290,8.289223e+08,1.389758e+09,VentaCobradaUnidadNegocioSub
3,gu_10_1,2024-04-01,805,AE,323007290,9.683757e+08,1.861751e+09,VentaCobradaUnidadNegocioSub
4,gu_10_1,2024-05-01,805,AE,323007290,1.267449e+09,2.281301e+09,VentaCobradaUnidadNegocioSub
5,gu_10_2,2024-01-01,M06,AE,323007290,1.235063e+08,9.356412e+07,VentaCobradaUnidadNegocioSub
6,gu_10_2,2024-02-01,M06,AE,323007290,2.216657e+08,2.333528e+08,VentaCobradaUnidadNegocioSub
7,gu_10_2,2024-03-01,M06,AE,323007290,3.491749e+08,4.178052e+08,VentaCobradaUnidadNegocioSub
8,gu_10_2,2024-04-01,M06,AE,323007290,6.549663e+08,6.022576e+08,VentaCobradaUnidadNegocioSub
9,gu_10_2,2024-05-01,M06,AE,323007290,9.323220e+08,8.088188e+08,VentaCobradaUnidadNegocioSub
10,gu_1_1,2024-01-01,M07,AE,323010140,9.379923e+08,6.089353e+08,VentaCobradaUnidadNegocioSub
11,gu_1_1,2024-02-01,M07,AE,323010140,1.526027e+09,1.278780e+09,VentaCobradaUnidadNegocioSub
12,gu_1_1,2024-03-01,M07,AE,323010140,2.379532e+09,2.009502e+09,VentaCobradaUnidadNegocioSub
13,gu_1_1,2024-04-01,M07,AE,323010140,2.771625e+09,2.801111e+09,VentaCobradaUnidadNegocioSub
14,gu_1_1,2024-05-01,M07,AE,323010140,3.710139e+09,3.653599e+09,VentaCobradaUnidadNegocioSub
15,gu_1_2,2024-01-01,005,AE,323010140,6.210193e+07,5.120904e+07,VentaCobradaUnidadNegocioSub
16,gu_1_2,2024-01-01,M08,AE,323010140,5.193524e+08,4.657515e+08,VentaCobradaUnidadNegocioSub
17,gu_1_2,2024-02-01,005,AE,323010140,1.066878e+08,1.106523e+08,VentaCobradaUnidadNegocioSub
18,gu_1_2,2024-02-01,M08,AE,323010140,9.951238e+08,9.780782e+08,VentaCobradaUnidadNegocioSub
19,gu_1_2,2024-03-01,005,AE,323010140,1.741520e+08,1.721031e+08,VentaCobradaUnidadNegocioSub

In [55]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu_sub = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaCobradaUnidadNegocioSub,2024-01-01,9.379923e+08,6.089353e+08,1.54
1,gu_1_1,VentaCobradaUnidadNegocioSub,2024-02-01,1.526027e+09,1.278780e+09,1.19
2,gu_1_1,VentaCobradaUnidadNegocioSub,2024-03-01,2.379532e+09,2.009502e+09,1.18
3,gu_1_1,VentaCobradaUnidadNegocioSub,2024-04-01,2.771625e+09,2.801111e+09,0.99
4,gu_1_1,VentaCobradaUnidadNegocioSub,2024-05-01,3.710139e+09,3.653599e+09,1.02

In [56]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub[
    (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Fecha'] == '2023-01-01') &
     (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] == 'gu_8_3')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [57]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub[
    (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Fecha'] == '2023-01-01') &
     (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] == 'gu_1_1')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 8.2. Para MK (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [58]:
area_calculo_sba_completo_mk = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='MK']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_real = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_presupuesto = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

##### VentaFacturadaUnidadNegocio

In [59]:
venta_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk['Real'] = venta_real_area_calculo_mk['Venta']
venta_real_area_calculo_mk.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk['Presupuesto'] = venta_presupuesto_area_calculo_mk['Venta']
venta_presupuesto_area_calculo_mk.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk = pd.merge(
    left=venta_presupuesto_area_calculo_mk,
    right=venta_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk['Real'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['Real'] / cumplimiento_venta_por_unidad_negocio_mk['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk['Variable'] = 'VentaFacturadaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_mk = cumplimiento_venta_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,VentaFacturadaUnidadNegocio,2024-01-01,1.265349e+10,1.253274e+10,1.01
1,mk_1,VentaFacturadaUnidadNegocio,2024-02-01,2.797249e+10,2.782033e+10,1.01
2,mk_1,VentaFacturadaUnidadNegocio,2024-03-01,4.602174e+10,4.679972e+10,0.98
3,mk_1,VentaFacturadaUnidadNegocio,2024-04-01,6.330051e+10,6.252391e+10,1.01
4,mk_1,VentaFacturadaUnidadNegocio,2024-05-01,8.016240e+10,8.183247e+10,0.98

##### VentaFacturadaUnidadNegocioSub

In [60]:
venta_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Division', 'GrupoProducto','Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk_sub['Real'] = venta_real_area_calculo_mk_sub['Venta']
venta_real_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Division', 'GrupoProducto', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk_sub['Presupuesto'] = venta_presupuesto_area_calculo_mk_sub['Venta']
venta_presupuesto_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk_sub = pd.merge(
    left=venta_presupuesto_area_calculo_mk_sub,
    right=venta_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Division', 'GrupoProducto' ,'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk_sub

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2024-01-01,6.214560e+08,8.216879e+08
1,1,AE,001,2,2024-02-01,8.380370e+08,9.411329e+08
2,1,AE,001,2,2024-03-01,8.706751e+08,1.014239e+09
3,1,AE,001,2,2024-04-01,8.714028e+08,6.663194e+08
4,1,AE,001,2,2024-05-01,8.879352e+08,6.177875e+08
...,...,...,...,...,...,...,...
529,13,HC,680,1,2024-04-01,7.956325e+08,8.120964e+08
530,13,HC,680,1,2024-05-01,7.548309e+08,7.400497e+08
531,13,HC,CDK,1,2024-01-01,0.000000e+00,-1.400000e+04
532,13,HC,CDK,1,2024-02-01,0.000000e+00,0.000000e+00
533,13,HC,CDK,1,2024-03-01,0.000000e+00,0.000000e+00

In [61]:
# def f_calculo_centro_costo_variable_tipo_empleado(main, variable, tipo_empleado):
# #     df_area_calculo_sba_centros_costos_tipo_empleado = (
# #         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
# #     )    
    
#     main = main.merge(
#         df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#         on=['Division', 'GrupoProducto'],
#         how='left'
#     )
#     main['AreaCalculo'] = main['AreaCalculo'].astype(str)
#     main['Consecutivo'] = main['Consecutivo'].astype(str)
#     main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
#     main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
# #     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
# #     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['Presupuesto'].transform(pd.Series.sum)
    
#     main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
#     main['Variable'] = variable
#     return main

In [62]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_venta_por_unidad_negocio_mk_sub, 'VentaFacturadaUnidadNegocioSub', 'MK')
)
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,mk_11_1,2024-01-01,610,HC,323015040,4.913495e+08,7.248601e+08,VentaFacturadaUnidadNegocioSub
1,mk_11_1,2024-01-01,620,HC,323015045,5.783201e+09,5.461390e+09,VentaFacturadaUnidadNegocioSub
2,mk_11_1,2024-01-01,630,HC,323015050,2.990398e+09,2.431090e+09,VentaFacturadaUnidadNegocioSub
3,mk_11_1,2024-01-01,640,HC,323015055,4.392000e+06,6.828935e+06,VentaFacturadaUnidadNegocioSub
4,mk_11_1,2024-01-01,680,HC,323015055,4.228035e+08,4.488184e+08,VentaFacturadaUnidadNegocioSub

In [63]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.columns

Index(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto',
       'Real', 'Presupuesto', 'Variable'],
      dtype='object')

In [64]:
 pd.DataFrame(cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.columns, columns=['Columna']).to_excel("cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo_columns.xlsx")

In [65]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo[
    (cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo['Contexto'] == 'mk_1_1') &
    (cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Fecha, GrupoProducto, Division, CodigoCentroCosto, Real, Presupuesto, Variable]
Index: []

In [66]:
dataframe_loader.validar_calculo_centro_costo(cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo, 'mk_1_1', '2023-01-01')

(0.0, 0.0)

In [67]:
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(
    ['AreaCalculo' ,'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] / cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk_sub = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk_sub[
    (cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] == 'mk_1_1')
]

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaFacturadaUnidadNegocioSub,2024-01-01,9.692130e+09,9.072987e+09,1.07
1,mk_1_1,VentaFacturadaUnidadNegocioSub,2024-02-01,2.059206e+10,1.996451e+10,1.03
2,mk_1_1,VentaFacturadaUnidadNegocioSub,2024-03-01,3.297414e+10,3.356624e+10,0.98
3,mk_1_1,VentaFacturadaUnidadNegocioSub,2024-04-01,4.634519e+10,4.409394e+10,1.05
4,mk_1_1,VentaFacturadaUnidadNegocioSub,2024-05-01,5.932205e+10,5.767771e+10,1.03

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

##### VentaCobradaUnidadNegocio

In [68]:
recaudo_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk['Real'] = recaudo_real_area_calculo_mk['Recaudo']
recaudo_real_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk['Presupuesto'] = recaudo_presupuesto_area_calculo_mk['Recaudo']
recaudo_presupuesto_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk,
    right=recaudo_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk['Variable'] = 'VentaCobradaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_mk = cumplimiento_recaudo_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,VentaCobradaUnidadNegocio,2024-01-01,1.588385e+10,1.692378e+10,0.94
1,mk_1,VentaCobradaUnidadNegocio,2024-02-01,3.076315e+10,3.557337e+10,0.86
2,mk_1,VentaCobradaUnidadNegocio,2024-03-01,4.599403e+10,5.410019e+10,0.85
3,mk_1,VentaCobradaUnidadNegocio,2024-04-01,6.151518e+10,7.127002e+10,0.86
4,mk_1,VentaCobradaUnidadNegocio,2024-05-01,7.981587e+10,8.825929e+10,0.90

##### VentaCobradaUnidadNegocioSub

In [69]:
recaudo_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Division', 'GrupoProducto','Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk_sub['Real'] = recaudo_real_area_calculo_mk_sub['Recaudo']
recaudo_real_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Division', 'GrupoProducto', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_mk_sub['Recaudo']
recaudo_presupuesto_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk_sub

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2024-01-01,7.125074e+08,8.711519e+08
1,1,AE,001,2,2024-02-01,9.582440e+08,7.356920e+08
2,1,AE,001,2,2024-03-01,9.011293e+08,4.696581e+08
3,1,AE,001,2,2024-04-01,9.017183e+08,1.200798e+09
4,1,AE,001,2,2024-05-01,8.301910e+08,2.416292e+08
...,...,...,...,...,...,...,...
529,13,HC,680,1,2024-04-01,7.833920e+08,6.560168e+08
530,13,HC,680,1,2024-05-01,7.833920e+08,7.978454e+08
531,13,HC,CDK,1,2024-01-01,0.000000e+00,7.860000e+05
532,13,HC,CDK,1,2024-02-01,0.000000e+00,1.207410e+07
533,13,HC,CDK,1,2024-03-01,0.000000e+00,2.000000e+06

In [70]:
cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_recaudo_por_unidad_negocio_mk_sub, 'VentaCobradaUnidadNegocioSub', 'MK')
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,mk_11_1,2024-01-01,610,HC,323015040,8.830134e+08,1.041049e+09,VentaCobradaUnidadNegocioSub
1,mk_11_1,2024-01-01,620,HC,323015045,5.970567e+09,6.963272e+09,VentaCobradaUnidadNegocioSub
2,mk_11_1,2024-01-01,630,HC,323015050,3.978168e+09,4.264753e+09,VentaCobradaUnidadNegocioSub
3,mk_11_1,2024-01-01,640,HC,323015055,0.000000e+00,1.857470e+07,VentaCobradaUnidadNegocioSub
4,mk_11_1,2024-01-01,680,HC,323015055,8.220782e+08,8.323540e+08,VentaCobradaUnidadNegocioSub
...,...,...,...,...,...,...,...,...
525,mk_6_5,2024-01-01,001,AE,323007270,8.711519e+08,7.125074e+08,VentaCobradaUnidadNegocioSub
526,mk_6_5,2024-02-01,001,AE,323007270,1.606844e+09,1.670751e+09,VentaCobradaUnidadNegocioSub
527,mk_6_5,2024-03-01,001,AE,323007270,2.076502e+09,2.571881e+09,VentaCobradaUnidadNegocioSub
528,mk_6_5,2024-04-01,001,AE,323007270,3.277300e+09,3.473599e+09,VentaCobradaUnidadNegocioSub
529,mk_6_5,2024-05-01,001,AE,323007270,3.518929e+09,4.303790e+09,VentaCobradaUnidadNegocioSub

In [71]:
dataframe_loader.validar_calculo_centro_costo(cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo, 'mk_1_1', '2023-02-01')

(0.0, 0.0)

In [72]:
cumplimiento_recaudo_por_unidad_negocio_mk_sub = (
    cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(
        ['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False
    )[['Real', 'Presupuesto']].apply(sum)
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk_sub = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_mk_sub = cumplimiento_recaudo_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaUnidadNegocioSub,2024-01-01,1.165461e+10,1.312000e+10,0.89
1,mk_1_1,VentaCobradaUnidadNegocioSub,2024-02-01,2.318315e+10,2.696171e+10,0.86
2,mk_1_1,VentaCobradaUnidadNegocioSub,2024-03-01,3.501166e+10,4.079224e+10,0.86
3,mk_1_1,VentaCobradaUnidadNegocioSub,2024-04-01,4.694673e+10,5.314048e+10,0.88
4,mk_1_1,VentaCobradaUnidadNegocioSub,2024-05-01,6.149688e+10,6.548872e+10,0.94

## 9. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

### 9.1. Para GU (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [73]:
rentabilidad_gu = df_rentabilidad.copy()
rentabilidad_gu['TipoEmpleado'] = 'GU'
rentabilidad_gu = rentabilidad_gu.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu = rentabilidad_gu.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['Real'] / rentabilidad_gu['Presupuesto']
rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_gu.head()

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,Real,Presupuesto,PorcentajeCumplimiento
0,GU,CM2COGSP,2024-03-01,1.0,3.620045e+05,2.759137e+05,1.31
1,GU,CM2COGSP,2024-03-01,2.0,3.835964e+05,3.826003e+05,1.00
2,GU,CM2COGSP,2024-03-01,3.0,4.474773e+05,2.924508e+05,1.53
3,GU,CM2COGSP,2024-03-01,4.0,1.000741e+06,1.370498e+06,0.73
4,GU,CM2COGSP,2024-03-01,5.0,3.148174e+06,2.625865e+06,1.20

In [74]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = rentabilidad_gu[
    rentabilidad_gu['ClaseRentabilidad'] == 'CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'],
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'] = \
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Contexto'] = 'gu_' + \
                                                                  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[
                                                                      'AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\10538928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [75]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = rentabilidad_gu[
    rentabilidad_gu['ClaseRentabilidad'] == 'CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'],
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'] = \
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Contexto'] = 'gu_' + \
                                                                  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[
                                                                      'AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\90434115.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 9.2. Para MK (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [76]:
rentabilidad_mk = df_rentabilidad.copy()
rentabilidad_mk['TipoEmpleado'] = 'MK'
rentabilidad_mk = rentabilidad_mk.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk = rentabilidad_mk.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['Real']/rentabilidad_mk['Presupuesto']
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\3884681295.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\3884681295.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 10. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

### 10.1. Para GU (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [77]:
# def f_calculo_centro_costo_variable_rentabilidad(main, variable, clase_rentabilidad, tipo_empleado):
#     main = main.merge(
#         df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#         on=['Division', 'GrupoProducto'],
#         how='left'
#     )
#     main['Consecutivo'] = main['Consecutivo'].astype(int).astype('str')
#     main['AreaCalculo'] = main['AreaCalculo'].astype(int).astype('str')
#     main['Contexto'] = tipo_empleado.lower()+'_' + main['AreaCalculo'] + '_' +main['Consecutivo']
#     main = main.groupby(
#         ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo', 'CodigoCentroCosto', 'Contexto'],
#         as_index=False
#     ).agg({'Real': 'sum', 'Presupuesto': 'sum'})
#     main = main[main['ClaseRentabilidad']==clase_rentabilidad]
#     main.drop(columns='ClaseRentabilidad', inplace=True)
#     main['Variable'] = variable
#     return main

# def calculo_porcentaje_cumplimiento(main, variable, tipo_empleado):

#     main = main.groupby(
#         ['TipoEmpleado', 'Fecha', 'AreaCalculo', 'Consecutivo', 'Variable'],
#         as_index=False
#     ).agg({'Real': 'sum', 'Presupuesto': 'sum'})
    
#     main['PorcentajeCumplimiento'] = (
#         main['Real']/
#         main['Presupuesto'])
#     main['PorcentajeCumplimiento'] = (
#         main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
#     )
#     ### Cálculo de resultados cualitativos precargados
#     main = dataframe_loader.sobreescribir_resultados_cualitativos(
#         main=main,
#         variable=variable,
#         columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
#         columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
#         pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == tipo_empleado]
#     )
#     ###
#     main['Consecutivo'] = main['Consecutivo'].astype(int).astype('str')
#     main['AreaCalculo'] = main['AreaCalculo'].astype(int).astype('str')
    
#     main['Contexto'] = tipo_empleado.lower()+'_' + main['AreaCalculo'] + '_' +main['Consecutivo']
#     main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
#     return main

In [78]:
#Calculamos la rentabilidad para GU adicionando toda la info de area_calculo_sba_completo
rentabilidad_gu_sub = df_rentabilidad.copy()
rentabilidad_gu_sub['TipoEmpleado'] = 'GU'
rentabilidad_gu_sub = rentabilidad_gu_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu_sub = rentabilidad_gu_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
rentabilidad_gu_sub

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,GrupoProducto,Division,Consecutivo,Real,Presupuesto
0,GU,CM2COGSP,2024-03-01,1.0,005,AE,2.0,5369.357910,6103.660878
1,GU,CM2COGSP,2024-03-01,1.0,M07,AE,1.0,160687.463093,117532.402214
2,GU,CM2COGSP,2024-03-01,1.0,M08,AE,2.0,195947.707526,152277.592359
3,GU,CM2COGSP,2024-03-01,2.0,003,AE,1.0,202173.968951,170734.909837
4,GU,CM2COGSP,2024-03-01,2.0,006,AE,3.0,12865.686238,15679.594250
...,...,...,...,...,...,...,...,...,...
73,GU,CM2COGSP,2024-05-01,8.0,A33,BA,2.0,9984.188198,8788.390427
74,GU,CM2COGSP,2024-05-01,8.0,A34,BA,2.0,202676.101958,282910.463728
75,GU,CM2COGSP,2024-05-01,8.0,A35,BA,3.0,107173.888320,221104.273346
76,GU,CM2COGSP,2024-05-01,10.0,805,AE,1.0,301538.638002,293140.814263
77,GU,CM2COGSP,2024-05-01,10.0,M06,AE,2.0,156326.175943,111791.972957

In [79]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_rentabilidad(rentabilidad_gu_sub, 'RentabilidadUnidadNegocioCM2Sub', 'CMII', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo

Empty DataFrame
Columns: [TipoEmpleado, Fecha, AreaCalculo, Consecutivo, CodigoCentroCosto, Contexto, Real, Presupuesto, Variable]
Index: []

In [80]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo[
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo['Contexto'] == 'gu_2_3'
]

Empty DataFrame
Columns: [TipoEmpleado, Fecha, AreaCalculo, Consecutivo, CodigoCentroCosto, Contexto, Real, Presupuesto, Variable]
Index: []

In [81]:
dataframe_loader.validar_calculo_centro_costo(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 'gu_2_3', '2023-03-01')

(0.0, 0.0)

In [82]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_rentabilidad(rentabilidad_gu_sub, 'RentabilidadUnidadNegocioCM3Sub', 'CMIII', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo

Empty DataFrame
Columns: [TipoEmpleado, Fecha, AreaCalculo, Consecutivo, CodigoCentroCosto, Contexto, Real, Presupuesto, Variable]
Index: []

In [83]:
dataframe_loader.validar_calculo_centro_costo(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 'gu_2_3', '2023-03-01')

(0.0, 0.0)

In [84]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = (
    dataframe_loader.calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 'RentabilidadUnidadNegocioCM2Sub', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [85]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = (
    dataframe_loader.calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 'RentabilidadUnidadNegocioCM3Sub', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 10.2. Para MK (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [86]:
#Calculamos la rentabilidad para MK adicionando toda la info de area_calculo_sba_completo
rentabilidad_mk_sub = df_rentabilidad.copy()
rentabilidad_mk_sub['TipoEmpleado'] = 'MK'
rentabilidad_mk_sub = rentabilidad_mk_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk_sub = rentabilidad_mk_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'GrupoProducto', 'Division','Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
rentabilidad_mk_sub

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,GrupoProducto,Division,Consecutivo,Real,Presupuesto
0,MK,CM2COGSP,2024-03-01,1.0,001,AE,2.0,4.474773e+05,2.924508e+05
1,MK,CM2COGSP,2024-03-01,1.0,003,AE,2.0,2.021740e+05,1.707349e+05
2,MK,CM2COGSP,2024-03-01,1.0,005,AE,2.0,5.369358e+03,6.103661e+03
3,MK,CM2COGSP,2024-03-01,1.0,006,AE,2.0,1.286569e+04,1.567959e+04
4,MK,CM2COGSP,2024-03-01,1.0,610,HC,1.0,3.033443e+05,2.019764e+05
...,...,...,...,...,...,...,...,...,...
355,MK,EBITCOGSP,2024-03-01,7.0,BBMEC,BBMEC,2.0,1.345765e+06,1.163000e+06
356,MK,EBITCOGSP,2024-04-01,7.0,BBMCO,BBMCO,1.0,3.789609e+06,3.390361e+06
357,MK,EBITCOGSP,2024-04-01,7.0,BBMEC,BBMEC,2.0,1.696398e+06,1.664589e+06
358,MK,EBITCOGSP,2024-05-01,7.0,BBMCO,BBMCO,1.0,5.433606e+06,4.434378e+06
359,MK,EBITCOGSP,2024-05-01,7.0,BBMEC,BBMEC,2.0,2.179288e+06,2.196836e+06

In [87]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_rentabilidad(rentabilidad_mk_sub, 'RentabilidadUnidadNegocioCM2Sub', 'CMII', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo

Empty DataFrame
Columns: [TipoEmpleado, Fecha, AreaCalculo, Consecutivo, CodigoCentroCosto, Contexto, Real, Presupuesto, Variable]
Index: []

In [88]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_rentabilidad(rentabilidad_mk_sub, 'RentabilidadUnidadNegocioCM3Sub', 'CMIII', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo

Empty DataFrame
Columns: [TipoEmpleado, Fecha, AreaCalculo, Consecutivo, CodigoCentroCosto, Contexto, Real, Presupuesto, Variable]
Index: []

In [89]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = (
    dataframe_loader.calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo, 'RentabilidadUnidadNegocioCM2Sub', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [90]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = (
    dataframe_loader.calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo, 'RentabilidadUnidadNegocioCM3Sub', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 11. Objetivos de recaudo por división (VentaCobradaDivision)

In [91]:
recaudo_real_por_division = df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
recaudo_real_por_division = recaudo_real_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_por_division['Real'] = recaudo_real_por_division['Recaudo']
recaudo_real_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_real_por_division

recaudo_presupuesto_por_division = df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
recaudo_presupuesto_por_division = recaudo_presupuesto_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_por_division['Presupuesto'] = recaudo_presupuesto_por_division['Recaudo']
recaudo_presupuesto_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_presupuesto_por_division

cumplimiento_recaudo_por_division = pd.merge(
    left=recaudo_presupuesto_por_division,
    right=recaudo_real_por_division,
    on=['Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2024-01-01,4.116576e+09,3.736487e+09,1.10
1,AE,VentaCobradaDivision,2024-02-01,7.191395e+09,8.477067e+09,0.85
2,AE,VentaCobradaDivision,2024-03-01,1.053891e+10,1.307915e+10,0.81
3,AE,VentaCobradaDivision,2024-04-01,1.409811e+10,1.779306e+10,0.79
4,AE,VentaCobradaDivision,2024-05-01,1.776632e+10,2.232642e+10,0.80

## 12. Objetivos de recaudo por division con consecutivos (VentaCobradaDivisionSub)

In [92]:
area_calculo_sba_completo_renal_vc_gd = area_calculo_sba_completo[
    (
        (area_calculo_sba_completo['TipoEmpleado'] == 'VC') &
#         (area_calculo_sba_completo['Consecutivo'] == 1) &
        (area_calculo_sba_completo['AreaCalculo'] == 5) 
    ) 
#     |
#     (
#         (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
#         (area_calculo_sba_completo['Consecutivo'] == 5) &
#         (area_calculo_sba_completo['AreaCalculo'] == 3) 
#     )
]

area_calculo_sba_completo_renal_vc_gd

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
195            5            2       BA           A32               VC
196            5            2       BA           A33               VC
197            5            2       BA           A34               VC
198            5            3       HC           610               VC
199            5            3       HC           620               VC
200            5            3       HC           630               VC
201            5            3       HC           630  19           VC
202            5            3       HC           640               VC
203            5            3       HC           680               VC
204            5            3       HC           681               VC
205            5            3       HC           681  03           VC
206            5            3       HC           CDK  12           VC
207            5            4       AE                             VC
208            5            4       AE           001               VC
209            5            4       AE           003               VC
210            5            4       AE           005               VC
211            5            4       AE           006               VC
212            5            4       AE           801               VC
213            5            4       AE           805               VC
214            5            4       AE           CEK  35           VC
215            5            4       AE           M06               VC
216            5            4       AE           M07               VC
217            5            4       AE           M08               VC
250            5            4       AE           001  30           VC
251            5            4       AE           001  31           VC
252            5            4       AE           003  35           VC
253            5            4       AE           005  33           VC
254            5            4       AE           005  35           VC
255            5            4       AE           801  30           VC
256            5            4       AE           801  32           VC
257            5            4       AE           805  30           VC
258            5            4       AE           M06  31           VC
259            5            4       AE           M06  30           VC
260            5            4       AE           M07  33           VC
261            5            4       AE           M08  33           VC
262            5            4       AE           001  33           VC
263            5            4       AE           006  36           VC
264            5            4       AE           001  32           VC
265            5            4       AE           CDK  30           VC
266            5            4       AE           M07  30           VC
268            5            4       AE           801  33           VC
190            5            2       BA           A32  84           VC
191            5            2       BA           A33  86           VC
192            5            2       BA           A34  85           VC
193            5            3       HC           610  01           VC
194            5            3       HC           610  02           VC
195            5            3       HC           620  13           VC
196            5            3       HC           620  15           VC
197            5            3       HC           620  36           VC
198            5            3       HC           620  16           VC
199            5            3       HC           630  08           VC
200            5            3       HC           630  12           VC
201            5            3       HC           630  03           VC
202            5            3       HC           640  03           VC
203            5            3       HC           680  03           VC

In [93]:
df_merged = area_calculo_sba_completo.merge(
    area_calculo_sba_completo_renal_vc_gd,
    how='left',
    indicator=True
).drop_duplicates()

area_calculo_sba_completo_without_renal = df_merged[df_merged['_merge'] == 'left_only']
area_calculo_sba_completo_without_renal

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
0,1,1,BBMCO,BBMCO,BBMCO,AD,left_only
1,2,1,BBMCO,BBMCO,BBMCO,AD,left_only
2,3,1,BBMCO,BBMCO,BBMCO,AD,left_only
3,4,1,BBMCO,BBMCO,BBMCO,AD,left_only
4,1,1,BBMCO,BBMCO,BBMCO,AD1,left_only
...,...,...,...,...,...,...,...
716,10,1,BA,A32,84,VE,left_only
717,11,1,BA,A35,87,VE,left_only
718,12,1,AE,805,30,VE,left_only
719,12,2,AE,M06,31,VE,left_only
720,12,2,AE,M06,30,VE,left_only

In [94]:
area_calculo_sba_completo_with_renal = df_merged[df_merged['_merge'] == 'both']
area_calculo_sba_completo_with_renal

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
195            5            2       BA           A32               VC   both
196            5            2       BA           A33               VC   both
197            5            2       BA           A34               VC   both
198            5            3       HC           610               VC   both
199            5            3       HC           620               VC   both
200            5            3       HC           630               VC   both
201            5            3       HC           630  19           VC   both
202            5            3       HC           640               VC   both
203            5            3       HC           680               VC   both
204            5            3       HC           681               VC   both
205            5            3       HC           681  03           VC   both
206            5            3       HC           CDK  12           VC   both
207            5            4       AE                             VC   both
208            5            4       AE           001               VC   both
209            5            4       AE           003               VC   both
210            5            4       AE           005               VC   both
211            5            4       AE           006               VC   both
212            5            4       AE           801               VC   both
213            5            4       AE           805               VC   both
214            5            4       AE           CEK  35           VC   both
215            5            4       AE           M06               VC   both
216            5            4       AE           M07               VC   both
217            5            4       AE           M08               VC   both
491            5            4       AE           001  30           VC   both
492            5            4       AE           001  31           VC   both
493            5            4       AE           003  35           VC   both
494            5            4       AE           005  33           VC   both
495            5            4       AE           005  35           VC   both
496            5            4       AE           801  30           VC   both
497            5            4       AE           801  32           VC   both
498            5            4       AE           805  30           VC   both
499            5            4       AE           M06  31           VC   both
500            5            4       AE           M06  30           VC   both
501            5            4       AE           M07  33           VC   both
502            5            4       AE           M08  33           VC   both
503            5            4       AE           001  33           VC   both
504            5            4       AE           006  36           VC   both
505            5            4       AE           001  32           VC   both
506            5            4       AE           CDK  30           VC   both
507            5            4       AE           M07  30           VC   both
508            5            4       AE           801  33           VC   both
676            5            2       BA           A32  84           VC   both
677            5            2       BA           A33  86           VC   both
678            5            2       BA           A34  85           VC   both
679            5            3       HC           610  01           VC   both
680            5            3       HC           610  02           VC   both
681            5            3       HC           620  13           VC   both
682            5            3       HC           620  15           VC   both
683            5            3       HC           620  36           VC   both
684            5            3       HC           620  16           VC   both
685            5            3       HC           630  08           VC   both
686            5            3       HC           630  12           VC   both
687            5            3       HC           630  03           VC   both
688            5            3       HC           640  03           VC   both
689            5            3       HC           680  03           VC   both

### 12.1. Para MK (VentaCobradaDivisionSub)

In [95]:
# def f_calculo_centro_costo_variable_division_sub(main, variable, tipo_empleado):
# #     df_area_calculo_sba_centros_costos_tipo_empleado = (
# #         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
# #     )    
    
#     main = main.merge(
#         df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#         on=['Division', 'GrupoProducto'],
#         how='left'
#     )
#     main['AreaCalculo'] = main['AreaCalculo'].astype(str)
#     main['Consecutivo'] = main['Consecutivo'].astype(str)
#     main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
# #     main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
# #     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
# #     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['PresupuesVentaCobradaBraunPaisto'].transform(pd.Series.sum)
    
#     main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
#     main['Variable'] = variable
#     return main

In [96]:
cumplimiento_recaudo_por_division_sub_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_mk

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2024-01-01,7.125074e+08,8.711519e+08
1,1,AE,001,2,2024-02-01,9.582440e+08,7.356920e+08
2,1,AE,001,2,2024-03-01,9.011293e+08,4.696581e+08
3,1,AE,001,2,2024-04-01,9.017183e+08,1.200798e+09
4,1,AE,001,2,2024-05-01,8.301910e+08,2.416292e+08
...,...,...,...,...,...,...,...
529,13,HC,680,1,2024-04-01,7.833920e+08,6.560168e+08
530,13,HC,680,1,2024-05-01,7.833920e+08,7.978454e+08
531,13,HC,CDK,1,2024-01-01,0.000000e+00,7.860000e+05
532,13,HC,CDK,1,2024-02-01,0.000000e+00,1.207410e+07
533,13,HC,CDK,1,2024-03-01,0.000000e+00,2.000000e+06

In [97]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_division_sub(cumplimiento_recaudo_por_division_sub_mk, 'VentaCobradaDivisionSub', 'MK')
)
cumplimiento_recaudo_por_division_sub_mk_centro_costo

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
0,1,AE,001,2,2024-01-01,7.125074e+08,8.711519e+08,323007270,mk_1_2,VentaCobradaDivisionSub
1,1,AE,001,2,2024-02-01,1.670751e+09,1.606844e+09,323007270,mk_1_2,VentaCobradaDivisionSub
2,1,AE,001,2,2024-03-01,2.571881e+09,2.076502e+09,323007270,mk_1_2,VentaCobradaDivisionSub
3,1,AE,001,2,2024-04-01,3.473599e+09,3.277300e+09,323007270,mk_1_2,VentaCobradaDivisionSub
4,1,AE,001,2,2024-05-01,4.303790e+09,3.518929e+09,323007270,mk_1_2,VentaCobradaDivisionSub
...,...,...,...,...,...,...,...,...,...,...
529,13,HC,680,1,2024-04-01,3.329416e+09,2.917899e+09,323015055,mk_13_1,VentaCobradaDivisionSub
530,13,HC,680,1,2024-05-01,4.112808e+09,3.715745e+09,323015055,mk_13_1,VentaCobradaDivisionSub
531,13,HC,CDK,1,2024-01-01,0.000000e+00,7.860000e+05,323015050,mk_13_1,VentaCobradaDivisionSub
532,13,HC,CDK,1,2024-02-01,0.000000e+00,1.286010e+07,323015050,mk_13_1,VentaCobradaDivisionSub
533,13,HC,CDK,1,2024-03-01,0.000000e+00,1.486010e+07,323015050,mk_13_1,VentaCobradaDivisionSub

In [98]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-09-01')
]

Empty DataFrame
Columns: [AreaCalculo, Division, GrupoProducto, Consecutivo, Fecha, Presupuesto, Real, CodigoCentroCosto, Contexto, Variable]
Index: []

In [99]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-01-01')
].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Real'].transform(pd.Series.cumsum)

Series([], Name: Real, dtype: float64)

In [100]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_1_2') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-01-01')
].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Presupuesto'].transform(pd.Series.cumsum)

Series([], Name: Presupuesto, dtype: float64)

In [101]:
dataframe_loader.validar_calculo_centro_costo_division_sub(cumplimiento_recaudo_por_division_sub_mk_centro_costo, 'mk_1_2', '2023-01-01')

(Series([], Name: Real, dtype: float64),
 Series([], Name: Presupuesto, dtype: float64))

In [102]:
dataframe_loader.validar_calculo_centro_costo(cumplimiento_recaudo_por_division_sub_mk_centro_costo, 'mk_9_3', '2023-01-01')

(0.0, 0.0)

In [103]:
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_division_sub_mk['Real'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['Presupuesto'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['Real'] / cumplimiento_recaudo_por_division_sub_mk['Presupuesto']
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_mk['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_mk = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_mk,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_division_sub_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_division_sub_mk.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2024-01-01,1.165461e+10,1.312000e+10,0.89
1,mk_1_1,VentaCobradaDivisionSub,2024-02-01,2.318315e+10,2.696171e+10,0.86
2,mk_1_1,VentaCobradaDivisionSub,2024-03-01,3.501166e+10,4.079224e+10,0.86
3,mk_1_1,VentaCobradaDivisionSub,2024-04-01,4.694673e+10,5.314048e+10,0.88
4,mk_1_1,VentaCobradaDivisionSub,2024-05-01,6.149688e+10,6.548872e+10,0.94

In [104]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [105]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_9_1') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [106]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_7_3') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [107]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'].str.contains('mk_1_1')) &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [108]:
cumplimiento_recaudo_otras_companias_mk = pd.merge(
    left=area_calculo_sba_completo_mk,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['Real']/cumplimiento_recaudo_otras_companias_mk['Presupuesto']
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_mk['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_otras_companias_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_mk = cumplimiento_recaudo_otras_companias_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_mk.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.2. Para GD (VentaCobradaDivisionSub)

#### Cálculo sin Renal Ambulatorio

In [109]:
# area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd = area_calculo_sba_completo_without_renal[area_calculo_sba_completo_without_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
29,1,1,AE,001,,GD,left_only
30,1,1,AE,003,,GD,left_only
31,1,1,AE,005,,GD,left_only
32,1,1,AE,006,,GD,left_only
33,1,1,AE,801,,GD,left_only
...,...,...,...,...,...,...,...
543,3,1,BA,A34,85,GD,left_only
544,3,1,BA,A35,87,GD,left_only
545,3,1,BA,A45,80,GD,left_only
546,3,1,BA,A45,81,GD,left_only
547,3,1,BA,A45,89,GD,left_only

In [110]:
#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_gd = venta_recaudo_presupuesto_original_gd_real.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_gd['Real'] = venta_recaudo_real_area_calculo_gd['Recaudo']
venta_recaudo_real_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_gd = venta_recaudo_presupuesto_original_gd_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_gd['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_gd['Recaudo']
venta_recaudo_presupuesto_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_gd = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_gd,
    right=venta_recaudo_real_area_calculo_gd,
    on=['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_gd

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real
0,1,1,001,AE,2024-01-01,7.125074e+08,8.711519e+08
1,1,1,001,AE,2024-02-01,9.582440e+08,7.356920e+08
2,1,1,001,AE,2024-03-01,9.011293e+08,4.696581e+08
3,1,1,001,AE,2024-04-01,9.017183e+08,1.200798e+09
4,1,1,001,AE,2024-05-01,8.301910e+08,2.416292e+08
...,...,...,...,...,...,...,...
105,3,1,A45,BA,2024-01-01,6.243911e+07,1.025310e+08
106,3,1,A45,BA,2024-02-01,6.243911e+07,2.658621e+08
107,3,1,A45,BA,2024-03-01,8.741476e+07,4.167983e+07
108,3,1,A45,BA,2024-04-01,9.990258e+07,2.469822e+07
109,3,1,A45,BA,2024-05-01,9.990258e+07,7.017322e+07

In [111]:
cumplimiento_recaudo_por_division_sub_gd_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_division_sub(cumplimiento_recaudo_por_division_sub_gd, 'VentaCobradaDivisionSub', 'GD')
)
cumplimiento_recaudo_por_division_sub_gd_centro_costo

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
0,1,1,001,AE,2024-01-01,7.125074e+08,8.711519e+08,323007270,gd_1_1,VentaCobradaDivisionSub
1,1,1,001,AE,2024-02-01,1.670751e+09,1.606844e+09,323007270,gd_1_1,VentaCobradaDivisionSub
2,1,1,001,AE,2024-03-01,2.571881e+09,2.076502e+09,323007270,gd_1_1,VentaCobradaDivisionSub
3,1,1,001,AE,2024-04-01,3.473599e+09,3.277300e+09,323007270,gd_1_1,VentaCobradaDivisionSub
4,1,1,001,AE,2024-05-01,4.303790e+09,3.518929e+09,323007270,gd_1_1,VentaCobradaDivisionSub
...,...,...,...,...,...,...,...,...,...,...
105,3,1,A45,BA,2024-01-01,6.243911e+07,1.025310e+08,323007337,gd_3_1,VentaCobradaDivisionSub
106,3,1,A45,BA,2024-02-01,1.248782e+08,3.683930e+08,323007337,gd_3_1,VentaCobradaDivisionSub
107,3,1,A45,BA,2024-03-01,2.122930e+08,4.100729e+08,323007337,gd_3_1,VentaCobradaDivisionSub
108,3,1,A45,BA,2024-04-01,3.121956e+08,4.347711e+08,323007337,gd_3_1,VentaCobradaDivisionSub
109,3,1,A45,BA,2024-05-01,4.120981e+08,5.049443e+08,323007337,gd_3_1,VentaCobradaDivisionSub

In [112]:
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_division_sub_gd['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_gd['Real'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['Presupuesto'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['Real'] / cumplimiento_recaudo_por_division_sub_gd['Presupuesto']
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_gd['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_gd = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_gd,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_por_division_sub_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_gd

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2024-01-01,4.116576e+09,3.736487e+09,1.10
1,gd_1_1,VentaCobradaDivisionSub,2024-02-01,7.191395e+09,8.477067e+09,0.85
2,gd_1_1,VentaCobradaDivisionSub,2024-03-01,1.053891e+10,1.307915e+10,0.81
3,gd_1_1,VentaCobradaDivisionSub,2024-04-01,1.409811e+10,1.779306e+10,0.79
4,gd_1_1,VentaCobradaDivisionSub,2024-05-01,1.776632e+10,2.232642e+10,0.80
5,gd_2_1,VentaCobradaDivisionSub,2024-01-01,1.165461e+10,1.312000e+10,0.89
6,gd_2_1,VentaCobradaDivisionSub,2024-02-01,2.318315e+10,2.696171e+10,0.86
7,gd_2_1,VentaCobradaDivisionSub,2024-03-01,3.501166e+10,4.079224e+10,0.86
8,gd_2_1,VentaCobradaDivisionSub,2024-04-01,4.694673e+10,5.314048e+10,0.88
9,gd_2_1,VentaCobradaDivisionSub,2024-05-01,6.149688e+10,6.548872e+10,0.94
10,gd_3_1,VentaCobradaDivisionSub,2024-01-01,9.331900e+08,6.415621e+08,1.45
11,gd_3_1,VentaCobradaDivisionSub,2024-02-01,1.844276e+09,1.199044e+09,1.54
12,gd_3_1,VentaCobradaDivisionSub,2024-03-01,2.486708e+09,2.168613e+09,1.15
13,gd_3_1,VentaCobradaDivisionSub,2024-04-01,3.087690e+09,3.019472e+09,1.02
14,gd_3_1,VentaCobradaDivisionSub,2024-05-01,3.927635e+09,4.060854e+09,0.97

#### Cálculo con Renal Ambulatorio

In [113]:
area_calculo_sba_completo_gd_with_renal = area_calculo_sba_completo_with_renal[area_calculo_sba_completo_with_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd_with_renal

Empty DataFrame
Columns: [AreaCalculo, Consecutivo, Division, GrupoProducto, SBA, TipoEmpleado, _merge]
Index: []

In [114]:
df_renal_ambulatorio_gd = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'GD']
df_renal_ambulatorio_gd

Empty DataFrame
Columns: [CodigoEmpleado, TipoEmpleado, Fecha, PlanVentaTotal, PlanVentaCobradaRenal, RealVentaTotal, RealVentaCobradaRenal]
Index: []

In [115]:
area_calculo_sba_completo_gd_with_renal

Empty DataFrame
Columns: [AreaCalculo, Consecutivo, Division, GrupoProducto, SBA, TipoEmpleado, _merge]
Index: []

In [116]:
renal_ambulatorio_gd = df_renal_ambulatorio_gd.merge(
    area_calculo_sba_completo_gd_with_renal,
    on=['TipoEmpleado'],
    how='left'
)
renal_ambulatorio_gd

Empty DataFrame
Columns: [CodigoEmpleado, Fecha, PlanVentaTotal, PlanVentaCobradaRenal, RealVentaTotal, RealVentaCobradaRenal, AreaCalculo, Consecutivo, Division, GrupoProducto, SBA, TipoEmpleado, _merge]
Index: []

In [117]:
# Calcular

main = renal_ambulatorio_gd.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})

main['Contexto'] = 'gd_' + main['AreaCalculo'].astype('str').str.cat(main['Consecutivo'].astype('str'), sep="_")

# main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaDivisionSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


cumplimiento_recaudo_por_division_sub_gd = pd.concat(
    [
        cumplimiento_recaudo_por_division_sub_gd.copy(),
        main.copy()
    ],
    ignore_index=True
)


main = None
cumplimiento_recaudo_por_division_sub_gd

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2024-01-01,4.116576e+09,3.736487e+09,1.10
1,gd_1_1,VentaCobradaDivisionSub,2024-02-01,7.191395e+09,8.477067e+09,0.85
2,gd_1_1,VentaCobradaDivisionSub,2024-03-01,1.053891e+10,1.307915e+10,0.81
3,gd_1_1,VentaCobradaDivisionSub,2024-04-01,1.409811e+10,1.779306e+10,0.79
4,gd_1_1,VentaCobradaDivisionSub,2024-05-01,1.776632e+10,2.232642e+10,0.80
5,gd_2_1,VentaCobradaDivisionSub,2024-01-01,1.165461e+10,1.312000e+10,0.89
6,gd_2_1,VentaCobradaDivisionSub,2024-02-01,2.318315e+10,2.696171e+10,0.86
7,gd_2_1,VentaCobradaDivisionSub,2024-03-01,3.501166e+10,4.079224e+10,0.86
8,gd_2_1,VentaCobradaDivisionSub,2024-04-01,4.694673e+10,5.314048e+10,0.88
9,gd_2_1,VentaCobradaDivisionSub,2024-05-01,6.149688e+10,6.548872e+10,0.94
10,gd_3_1,VentaCobradaDivisionSub,2024-01-01,9.331900e+08,6.415621e+08,1.45
11,gd_3_1,VentaCobradaDivisionSub,2024-02-01,1.844276e+09,1.199044e+09,1.54
12,gd_3_1,VentaCobradaDivisionSub,2024-03-01,2.486708e+09,2.168613e+09,1.15
13,gd_3_1,VentaCobradaDivisionSub,2024-04-01,3.087690e+09,3.019472e+09,1.02
14,gd_3_1,VentaCobradaDivisionSub,2024-05-01,3.927635e+09,4.060854e+09,0.97

### 12.2.1 Para GD (VentaFacturadaDivisionSub)

In [118]:
#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_facturada_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_facturada_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_facturada_real_area_calculo_gd = venta_facturada_presupuesto_original_gd_real.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_facturada_real_area_calculo_gd['Real'] = venta_facturada_real_area_calculo_gd['Venta']
venta_facturada_real_area_calculo_gd.drop(columns=['Venta'], inplace=True)

venta_facturada_presupuesto_area_calculo_gd = venta_facturada_presupuesto_original_gd_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_facturada_presupuesto_area_calculo_gd['Presupuesto'] = venta_facturada_presupuesto_area_calculo_gd['Venta']
venta_facturada_presupuesto_area_calculo_gd.drop(columns=['Venta'], inplace=True)

cumplimiento_facturada_por_division_sub_gd = pd.merge(
    left=venta_facturada_presupuesto_area_calculo_gd,
    right=venta_facturada_real_area_calculo_gd,
    on=['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'],
    how='left'
)
cumplimiento_facturada_por_division_sub_gd

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real
0,1,1,001,AE,2024-01-01,6.214560e+08,8.216879e+08
1,1,1,001,AE,2024-02-01,8.380370e+08,9.411329e+08
2,1,1,001,AE,2024-03-01,8.706751e+08,1.014239e+09
3,1,1,001,AE,2024-04-01,8.714028e+08,6.663194e+08
4,1,1,001,AE,2024-05-01,8.879352e+08,6.177875e+08
...,...,...,...,...,...,...,...
105,3,1,A45,BA,2024-01-01,8.814934e+07,3.898693e+07
106,3,1,A45,BA,2024-02-01,8.814934e+07,2.497477e+08
107,3,1,A45,BA,2024-03-01,1.028409e+08,1.305381e+09
108,3,1,A45,BA,2024-04-01,1.028409e+08,8.343400e+07
109,3,1,A45,BA,2024-05-01,1.175324e+08,4.880069e+07

In [119]:
cumplimiento_facturada_por_division_sub_gd_centro_costo = (
    dataframe_loader.f_calculo_centro_costo_variable_division_sub(cumplimiento_facturada_por_division_sub_gd, 'VentaFacturadaDivisionSub', 'GD')
)
cumplimiento_facturada_por_division_sub_gd_centro_costo

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
0,1,1,001,AE,2024-01-01,6.214560e+08,8.216879e+08,323007270,gd_1_1,VentaFacturadaDivisionSub
1,1,1,001,AE,2024-02-01,1.459493e+09,1.762821e+09,323007270,gd_1_1,VentaFacturadaDivisionSub
2,1,1,001,AE,2024-03-01,2.330168e+09,2.777060e+09,323007270,gd_1_1,VentaFacturadaDivisionSub
3,1,1,001,AE,2024-04-01,3.201571e+09,3.443379e+09,323007270,gd_1_1,VentaFacturadaDivisionSub
4,1,1,001,AE,2024-05-01,4.089506e+09,4.061166e+09,323007270,gd_1_1,VentaFacturadaDivisionSub
...,...,...,...,...,...,...,...,...,...,...
105,3,1,A45,BA,2024-01-01,8.814934e+07,3.898693e+07,323007337,gd_3_1,VentaFacturadaDivisionSub
106,3,1,A45,BA,2024-02-01,1.762987e+08,2.887346e+08,323007337,gd_3_1,VentaFacturadaDivisionSub
107,3,1,A45,BA,2024-03-01,2.791396e+08,1.594116e+09,323007337,gd_3_1,VentaFacturadaDivisionSub
108,3,1,A45,BA,2024-04-01,3.819805e+08,1.677550e+09,323007337,gd_3_1,VentaFacturadaDivisionSub
109,3,1,A45,BA,2024-05-01,4.995129e+08,1.726350e+09,323007337,gd_3_1,VentaFacturadaDivisionSub

In [120]:
cumplimiento_facturada_por_division_sub_gd = cumplimiento_facturada_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_facturada_por_division_sub_gd['Real'].fillna(0.0, inplace=True)
cumplimiento_facturada_por_division_sub_gd['Real'] = cumplimiento_facturada_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_facturada_por_division_sub_gd['Presupuesto'] = cumplimiento_facturada_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_facturada_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_facturada_por_division_sub_gd['Real'] / cumplimiento_facturada_por_division_sub_gd['Presupuesto']
cumplimiento_facturada_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_facturada_por_division_sub_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_facturada_por_division_sub_gd['Variable'] = 'VentaFacturadaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_facturada_por_division_sub_gd = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_facturada_por_division_sub_gd,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_facturada_por_division_sub_gd['Contexto'] = 'gd_' + cumplimiento_facturada_por_division_sub_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_facturada_por_division_sub_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_facturada_por_division_sub_gd = cumplimiento_facturada_por_division_sub_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_facturada_por_division_sub_gd

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaFacturadaDivisionSub,2024-01-01,2.900216e+09,3.364754e+09,0.86
1,gd_1_1,VentaFacturadaDivisionSub,2024-02-01,7.058805e+09,7.665821e+09,0.92
2,gd_1_1,VentaFacturadaDivisionSub,2024-03-01,1.141254e+10,1.293264e+10,0.88
3,gd_1_1,VentaFacturadaDivisionSub,2024-04-01,1.520312e+10,1.801828e+10,0.84
4,gd_1_1,VentaFacturadaDivisionSub,2024-05-01,1.901995e+10,2.361640e+10,0.81
5,gd_2_1,VentaFacturadaDivisionSub,2024-01-01,9.692130e+09,9.072987e+09,1.07
6,gd_2_1,VentaFacturadaDivisionSub,2024-02-01,2.059206e+10,1.996451e+10,1.03
7,gd_2_1,VentaFacturadaDivisionSub,2024-03-01,3.297414e+10,3.356624e+10,0.98
8,gd_2_1,VentaFacturadaDivisionSub,2024-04-01,4.634519e+10,4.409394e+10,1.05
9,gd_2_1,VentaFacturadaDivisionSub,2024-05-01,5.932205e+10,5.767771e+10,1.03
10,gd_3_1,VentaFacturadaDivisionSub,2024-01-01,4.050022e+08,7.892152e+08,0.51
11,gd_3_1,VentaFacturadaDivisionSub,2024-02-01,1.273152e+09,1.712475e+09,0.74
12,gd_3_1,VentaFacturadaDivisionSub,2024-03-01,3.132042e+09,2.922334e+09,1.07
13,gd_3_1,VentaFacturadaDivisionSub,2024-04-01,3.848300e+09,3.997614e+09,0.96
14,gd_3_1,VentaFacturadaDivisionSub,2024-05-01,4.498946e+09,5.173375e+09,0.87

In [121]:
cumplimiento_facturada_otras_companias_gd = pd.merge(
    left=area_calculo_sba_completo_gd,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_facturada_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_facturada_otras_companias_gd['Real']/cumplimiento_facturada_otras_companias_gd['Presupuesto']
cumplimiento_facturada_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_facturada_otras_companias_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_facturada_otras_companias_gd['Contexto'] = 'gd_' + cumplimiento_facturada_otras_companias_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_facturada_otras_companias_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_facturada_otras_companias_gd['Variable'] = 'VentaFacturadaDivisionSub'
cumplimiento_facturada_otras_companias_gd = cumplimiento_facturada_otras_companias_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_facturada_otras_companias_gd.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.3. Para AD (VentaCobradaDivisionSub)

In [122]:
area_calculo_sba_completo_ad = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_real = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_presupuesto = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad = venta_recaudo_presupuesto_original_ad_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad['Real'] = venta_recaudo_real_area_calculo_ad['Recaudo']
venta_recaudo_real_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad = venta_recaudo_presupuesto_original_ad_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad,
    right=venta_recaudo_real_area_calculo_ad,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad['Real'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['Real'] / cumplimiento_recaudo_por_division_sub_ad['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_por_division_sub_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad = cumplimiento_recaudo_por_division_sub_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [123]:
cumplimiento_recaudo_por_division_sub_ad[cumplimiento_recaudo_por_division_sub_ad['Contexto'] == 'ad_3_1']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [124]:
cumplimiento_recaudo_otras_companias_ad = pd.merge(
    left=area_calculo_sba_completo_ad,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['Real']/cumplimiento_recaudo_otras_companias_ad['Presupuesto']
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_otras_companias_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad = cumplimiento_recaudo_otras_companias_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.4. Para AD1 (VentaCobradaDivisionSub)

In [125]:
area_calculo_sba_completo_ad1 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_real = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_presupuesto = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad1['Real'] = venta_recaudo_real_area_calculo_ad1['Recaudo']
venta_recaudo_real_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad1['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad1['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad1 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad1,
    right=venta_recaudo_real_area_calculo_ad1,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad1['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad1['Real'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['Real'] / cumplimiento_recaudo_por_division_sub_ad1['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad1['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad1 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad1,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_por_division_sub_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad1 = cumplimiento_recaudo_por_division_sub_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad1.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [126]:
cumplimiento_recaudo_otras_companias_ad1 = pd.merge(
    left=area_calculo_sba_completo_ad1,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['Real']/cumplimiento_recaudo_otras_companias_ad1['Presupuesto']
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_otras_companias_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad1['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad1 = cumplimiento_recaudo_otras_companias_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad1

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.5. Para AD3 (VentaCobradaDivisionSub)

In [127]:
area_calculo_sba_completo_ad3 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_real = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_presupuesto = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad3['Real'] = venta_recaudo_real_area_calculo_ad3['Recaudo']
venta_recaudo_real_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad3['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad3['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad3 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad3,
    right=venta_recaudo_real_area_calculo_ad3,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad3['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad3['Real'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['Real'] / cumplimiento_recaudo_por_division_sub_ad3['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad3['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad3 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad3,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_por_division_sub_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad3 = cumplimiento_recaudo_por_division_sub_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad3.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [128]:
cumplimiento_recaudo_otras_companias_ad3 = pd.merge(
    left=area_calculo_sba_completo_ad3,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['Real']/cumplimiento_recaudo_otras_companias_ad3['Presupuesto']
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_otras_companias_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad3['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad3 = cumplimiento_recaudo_otras_companias_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad3

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.6. Para AD4 (VentaCobradaDivisionSub)

In [129]:
area_calculo_sba_completo_ad4 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_real = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_presupuesto = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad4['Real'] = venta_recaudo_real_area_calculo_ad4['Recaudo']
venta_recaudo_real_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad4['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad4['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad4 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad4,
    right=venta_recaudo_real_area_calculo_ad4,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad4['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad4['Real'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['Real'] / cumplimiento_recaudo_por_division_sub_ad4['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad4['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad4 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad4,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_por_division_sub_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad4 = cumplimiento_recaudo_por_division_sub_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad4.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [130]:
cumplimiento_recaudo_otras_companias_ad4 = pd.merge(
    left=area_calculo_sba_completo_ad4,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['Real']/cumplimiento_recaudo_otras_companias_ad4['Presupuesto']
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_otras_companias_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad4['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad4 = cumplimiento_recaudo_otras_companias_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad4

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.7. Para AD5 (VentaCobradaDivisionSub)

In [131]:
area_calculo_sba_completo_ad5 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_real = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_presupuesto = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad5['Real'] = venta_recaudo_real_area_calculo_ad5['Recaudo']
venta_recaudo_real_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad5['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad5['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad5 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad5,
    right=venta_recaudo_real_area_calculo_ad5,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad5['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad5['Real'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['Real'] / cumplimiento_recaudo_por_division_sub_ad5['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad5['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad5 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad5,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_por_division_sub_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad5 = cumplimiento_recaudo_por_division_sub_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad5.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [132]:
cumplimiento_recaudo_otras_companias_ad5 = pd.merge(
    left=area_calculo_sba_completo_ad5,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['Real']/cumplimiento_recaudo_otras_companias_ad5['Presupuesto']
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_otras_companias_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad5['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad5 = cumplimiento_recaudo_otras_companias_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad5

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 13. Objetivos de rentabilidad CM5 a nivel país (RentabilidadBbraunPaisAntesDeImpuestos)

In [133]:
cumplimiento_rentabilidad_cm5_nivel_pais = df_rentabilidad[(df_rentabilidad['Compania']=='BBMCO')&(df_rentabilidad['ClaseRentabilidad']=='CMV')]

cumplimiento_rentabilidad_cm5_nivel_pais = cumplimiento_rentabilidad_cm5_nivel_pais.groupby(
    ['Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'] = cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_cm5_nivel_pais['Real'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'] / cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto']
cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_rentabilidad_cm5_nivel_pais['Contexto'] = 'CM5'
cumplimiento_rentabilidad_cm5_nivel_pais['Variable'] = 'RentabilidadBbraunPaisAntesDeImpuestos'

cumplimiento_rentabilidad_cm5_nivel_pais.head()

Empty DataFrame
Columns: [Fecha, Real, Presupuesto, PorcentajeCumplimiento, Contexto, Variable]
Index: []

## 14. Objetivos de rentabilidad CM3 por grupo clientes con consecutivos (RentabilidadDivisionGrupoClientesCM3Sub)

In [134]:
rentabilidad_division_cm3_gd = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd,
    on=['GrupoProducto', 'SBA'],
    how='left'
)
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = rentabilidad_division_cm3_gd.groupby(
    ['Division', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Division'].astype('str').str.cat(cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Variable'] = 'RentabilidadDivisionGrupoClientesCM3Sub'
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = cumplimiento_rentabilidad_cm3_grupo_clientes_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes_sub

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 15. Objetivos de rentabilidad CM3 por grupo clientes (RentabilidadDivisionGrupoClientesCM3)

In [135]:
cumplimiento_rentabilidad_cm3_grupo_clientes = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd[['GrupoProducto', 'SBA', 'Division', 'AreaCalculo']].drop_duplicates(['GrupoProducto', 'SBA', 'AreaCalculo', 'Division']),
    on=['GrupoProducto', 'SBA'],
    how='left'
)

cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes.groupby(
    ['AreaCalculo', 'Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] = cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'].astype(int).astype(str)

cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] + '_' + cumplimiento_rentabilidad_cm3_grupo_clientes['Division']
cumplimiento_rentabilidad_cm3_grupo_clientes['Variable'] = 'RentabilidadDivisionGrupoClientesCM3'
cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 16. Objetivos de rentabilidad por grupo clientes (RentabilidadGrupoClientesCM2)

In [136]:
df_rentabilidad_kam

Empty DataFrame
Columns: [Division, Fecha, Real, Presupuesto]
Index: []

In [137]:
area_calculo_sba_completo_kam = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'KAM']

cumplimiento_rentabilidad_cm2_grupo_clientes = pd.merge(
    left=area_calculo_sba_completo_kam[['Division', 'AreaCalculo', 'Consecutivo']].drop_duplicates(),
    right=df_rentabilidad_kam,
    on='Division',
    how='left'
)
cumplimiento_rentabilidad_cm2_grupo_clientes

  Division  AreaCalculo  Consecutivo Fecha  Real  Presupuesto
0       HC            2            1   NaT   NaN          NaN
1       HC            2            2   NaT   NaN          NaN
2       HC            2            3   NaT   NaN          NaN
3   GRPCLI            4            1   NaT   NaN          NaN

In [138]:

cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_rentabilidad_cm2_grupo_clientes['Real'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['Real']/cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm2_grupo_clientes['Contexto'] = 'kam_' + cumplimiento_rentabilidad_cm2_grupo_clientes['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm2_grupo_clientes['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm2_grupo_clientes['Variable'] = 'RentabilidadGrupoClientesCM2'
cumplimiento_rentabilidad_cm2_grupo_clientes = cumplimiento_rentabilidad_cm2_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm2_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2_1,RentabilidadGrupoClientesCM2,NaT,NaN,NaN,NaN
1,kam_2_2,RentabilidadGrupoClientesCM2,NaT,NaN,NaN,NaN
2,kam_2_3,RentabilidadGrupoClientesCM2,NaT,NaN,NaN,NaN
3,kam_4_1,RentabilidadGrupoClientesCM2,NaT,NaN,NaN,NaN

## 16.1 RentabilidadGrupoClientesCM2Sub

In [139]:
area_calculo_sba_completo_kam

    AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
87            2            1       HC           630  08          KAM
88            2            2       HC           630  12          KAM
89            2            2       HC           CDK  12          KAM
90            2            3       HC           620  36          KAM
91            4            1   GRPCLI                            KAM

In [140]:
df_rentabilidad

,Compania,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto
0,BBMCO,001,30,CM2COGSP,2024-03-01,3.695338e+05,2.515874e+05
1,BBMCO,001,30,CM2COGSP,2024-04-01,4.844436e+05,3.436849e+05
2,BBMCO,001,30,CM2COGSP,2024-05-01,5.731556e+05,4.357824e+05
3,BBMCO,001,31,CM2COGSP,2024-03-01,7.797270e+04,3.762567e+04
4,BBMCO,001,31,CM2COGSP,2024-04-01,8.174259e+04,5.434819e+04
...,...,...,...,...,...,...,...
128,BBMCO,M08,33,CM2COGSP,2024-04-01,2.704056e+05,2.135984e+05
129,BBMCO,M08,33,CM2COGSP,2024-05-01,3.575923e+05,2.801999e+05
130,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-03-01,1.345765e+06,1.163000e+06
131,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-04-01,1.696398e+06,1.664589e+06
132,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-05-01,2.179288e+06,2.196836e+06

In [141]:
area_calculo_sba_completo_kam = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'KAM']

cumplimiento_rentabilidad_grupo_clientes_cm2_sub = pd.merge(
    left=area_calculo_sba_completo_kam.drop_duplicates(),
    right=df_rentabilidad,
    on=['GrupoProducto', 'SBA'],
    how='inner'
).merge(
    df_empleados
)
cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Contexto'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub['CodigoEmpleado'].str.lower().str.cat(cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Consecutivo'].astype(int).astype(str), sep="_")
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Contexto'] = 'kam_' + cumplimiento_rentabilidad_grupo_clientes_cm2_sub['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_grupo_clientes_cm2_sub

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,Compania,ClaseRentabilidad,Fecha,Real,Presupuesto,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,2,1,HC,630,08,KAM,BBMCO,CM2COGSP,2024-03-01,3.917840e+05,3.833289e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_1
1,2,1,HC,630,08,KAM,BBMCO,CM2COGSP,2024-04-01,5.467537e+05,4.986085e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_1
2,2,1,HC,630,08,KAM,BBMCO,CM2COGSP,2024-05-01,6.940732e+05,6.551274e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_1
3,2,2,HC,630,12,KAM,BBMCO,CM2COGSP,2024-03-01,3.609703e+05,7.892989e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
4,2,2,HC,630,12,KAM,BBMCO,CM2COGSP,2024-04-01,4.819710e+05,1.026897e+06,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
5,2,2,HC,630,12,KAM,BBMCO,CM2COGSP,2024-05-01,-1.328726e+05,1.348651e+06,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
6,2,2,HC,CDK,12,KAM,BBMCO,CM2COGSP,2024-03-01,-9.271708e+03,0.000000e+00,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
7,2,2,HC,CDK,12,KAM,BBMCO,CM2COGSP,2024-04-01,-1.177328e+04,0.000000e+00,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
8,2,2,HC,CDK,12,KAM,BBMCO,CM2COGSP,2024-05-01,5.246363e+03,0.000000e+00,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_2
9,2,3,HC,620,36,KAM,BBMCO,CM2COGSP,2024-03-01,6.016633e+05,5.784983e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_3
10,2,3,HC,620,36,KAM,BBMCO,CM2COGSP,2024-04-01,8.390398e+05,7.552212e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_3
11,2,3,HC,620,36,KAM,BBMCO,CM2COGSP,2024-05-01,1.050636e+06,9.856437e+05,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293_3

In [142]:
cumplimiento_rentabilidad_grupo_clientes_cm2_sub = cumplimiento_rentabilidad_grupo_clientes_cm2_sub.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_rentabilidad_grupo_clientes_cm2_sub

    Contexto      Fecha          Real   Presupuesto
0  5004293_1 2024-03-01  3.917840e+05  3.833289e+05
1  5004293_1 2024-04-01  5.467537e+05  4.986085e+05
2  5004293_1 2024-05-01  6.940732e+05  6.551274e+05
3  5004293_2 2024-03-01  3.516986e+05  7.892989e+05
4  5004293_2 2024-04-01  4.701977e+05  1.026897e+06
5  5004293_2 2024-05-01 -1.276262e+05  1.348651e+06
6  5004293_3 2024-03-01  6.016633e+05  5.784983e+05
7  5004293_3 2024-04-01  8.390398e+05  7.552212e+05
8  5004293_3 2024-05-01  1.050636e+06  9.856437e+05

In [143]:
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Presupuesto'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Real'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Real']/cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Presupuesto']
cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Variable'] = 'RentabilidadUnidadNegocioCM2COGSSUB'
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Variable'] = 'RentabilidadGrupoClientesCM2Sub'
cumplimiento_rentabilidad_grupo_clientes_cm2_sub = cumplimiento_rentabilidad_grupo_clientes_cm2_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_grupo_clientes_cm2_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5004293_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,3.917840e+05,3.833289e+05,1.02
1,5004293_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,5.467537e+05,4.986085e+05,1.10
2,5004293_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,6.940732e+05,6.551274e+05,1.06
3,5004293_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,3.516986e+05,7.892989e+05,0.45
4,5004293_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,4.701977e+05,1.026897e+06,0.46
5,5004293_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,-1.276262e+05,1.348651e+06,-0.09
6,5004293_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,6.016633e+05,5.784983e+05,1.04
7,5004293_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,8.390398e+05,7.552212e+05,1.11
8,5004293_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,1.050636e+06,9.856437e+05,1.07

In [144]:
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Contexto'] = 'kam_' + cumplimiento_rentabilidad_grupo_clientes_cm2_sub['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Consecutivo'].astype('str'), sep="_")
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Presupuesto'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Real'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)

# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Real']/cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Presupuesto']
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_grupo_clientes_cm2_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

# cumplimiento_rentabilidad_grupo_clientes_cm2_sub['Variable'] = 'RentabilidadGrupoClientesCM2Sub'
# cumplimiento_rentabilidad_grupo_clientes_cm2_sub = cumplimiento_rentabilidad_grupo_clientes_cm2_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# cumplimiento_rentabilidad_grupo_clientes_cm2_sub

In [145]:
df_parrillas[df_parrillas['Variable'] == 'RentabilidadGrupoClientesCM2Sub']

Empty DataFrame
Columns: [CodigoEmpleado, Variable, Contexto, Porcentaje, Consecutivo, Nombre variable, Nombre consecutivo]
Index: []

In [146]:
df_parrillas[
    (df_parrillas['Variable'] == 'RentabilidadUnidadNegocioCM2COGSSUB') &
    (df_parrillas['Contexto'].str.contains('5004293'))
]

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
1200,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_1,0.03,1,RentabilidadUnidadNegocioCM2COGSSUB,SBA08
1201,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_2,0.05,2,RentabilidadUnidadNegocioCM2COGSSUB,SBA12
1202,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_3,0.02,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA36

## 17. Objetivos de rentabilidad antes de impuestos CM5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [147]:
rentabilidad_antes_de_impuestos_cm5 = df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMV')]
rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)
rentabilidad_antes_de_impuestos_cm5 = rentabilidad_antes_de_impuestos_cm5.groupby(
    ['Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_antes_de_impuestos_cm5['Presupuesto'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_antes_de_impuestos_cm5['Real'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['Real'] / rentabilidad_antes_de_impuestos_cm5['Presupuesto']
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_antes_de_impuestos_cm5['Variable'] = 'TotalRentabilidadBraunAntesDeImpuestosCM5'

rentabilidad_antes_de_impuestos_cm5

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\1697700680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)

Empty DataFrame
Columns: [Division, Fecha, Real, Presupuesto, PorcentajeCumplimiento, Variable]
Index: []

### 17.1. Para AD (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [148]:
cumplimiento_rentabilidad_cm5_ad = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad['Contexto'] = 'ad_' + cumplimiento_rentabilidad_cm5_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad = cumplimiento_rentabilidad_cm5_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

  Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0   ad_1_1      NaN   NaT   NaN          NaN                     NaN
1   ad_2_1      NaN   NaT   NaN          NaN                     NaN
2   ad_3_1      NaN   NaT   NaN          NaN                     NaN
3   ad_4_1      NaN   NaT   NaN          NaN                     NaN

### 17.2. Para AD1 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [149]:
cumplimiento_rentabilidad_cm5_ad1 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad1 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad1,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad1['Contexto'] = 'ad1_' + cumplimiento_rentabilidad_cm5_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad1 = cumplimiento_rentabilidad_cm5_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad1

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

   Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0   ad1_1_1      NaN   NaT   NaN          NaN                     NaN
1   ad1_2_1      NaN   NaT   NaN          NaN                     NaN
2   ad1_3_1      NaN   NaT   NaN          NaN                     NaN
3   ad1_4_1      NaN   NaT   NaN          NaN                     NaN
4   ad1_5_1      NaN   NaT   NaN          NaN                     NaN
5  ad1_10_1      NaN   NaT   NaN          NaN                     NaN
6  ad1_11_1      NaN   NaT   NaN          NaN                     NaN

### 17.3. Para AD2 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [150]:
cumplimiento_rentabilidad_cm5_ad2 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad2 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad2,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD2'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad2['Contexto'] = 'ad2_' + cumplimiento_rentabilidad_cm5_ad2['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad2['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad2 = cumplimiento_rentabilidad_cm5_ad2[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad2

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

  Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0  ad2_1_1      NaN   NaT   NaN          NaN                     NaN
1  ad2_2_1      NaN   NaT   NaN          NaN                     NaN

### 17.4. Para AD3 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [151]:
cumplimiento_rentabilidad_cm5_ad3 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad3 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad3,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad3['Contexto'] = 'ad3_' + cumplimiento_rentabilidad_cm5_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad3 = cumplimiento_rentabilidad_cm5_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad3

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

  Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0  ad3_1_1      NaN   NaT   NaN          NaN                     NaN
1  ad3_2_1      NaN   NaT   NaN          NaN                     NaN
2  ad3_3_1      NaN   NaT   NaN          NaN                     NaN

### 17.5. Para AD4 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [152]:
cumplimiento_rentabilidad_cm5_ad4 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad4 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad4,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad4['Contexto'] = 'ad4_' + cumplimiento_rentabilidad_cm5_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad4 = cumplimiento_rentabilidad_cm5_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad4

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

  Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0  ad4_1_1      NaN   NaT   NaN          NaN                     NaN
1  ad4_1_2      NaN   NaT   NaN          NaN                     NaN
2  ad4_2_1      NaN   NaT   NaN          NaN                     NaN

### 17.6. Para AD5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [153]:
cumplimiento_rentabilidad_cm5_ad5 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad5 = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad5,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad5['Contexto'] = 'ad5_' + cumplimiento_rentabilidad_cm5_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad5 = cumplimiento_rentabilidad_cm5_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad5

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

  Contexto Variable Fecha  Real  Presupuesto  PorcentajeCumplimiento
0  ad5_1_1      NaN   NaT   NaN          NaN                     NaN

## 18. Objetivos de venta facturada previo notas crédito TP (VentaFacturadaPrevioNotasCreditoTP)

In [154]:
cumplimiento_venta_previo_notas_credito_tp = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=df_venta_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division'],
    how='left'
)

# cumplimiento_venta_previo_notas_credito_tp['Presupuesto'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_venta_previo_notas_credito_tp['Real'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['Real'] / cumplimiento_venta_previo_notas_credito_tp['Presupuesto']
cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_previo_notas_credito_tp['Variable'] = 'VentaFacturadaPrevioNotasCreditoTP'
cumplimiento_venta_previo_notas_credito_tp['Contexto'] = 'ad2_' + cumplimiento_venta_previo_notas_credito_tp['AreaCalculo'].astype('str').str.cat(cumplimiento_venta_previo_notas_credito_tp['Consecutivo'].astype('str'), sep="_")
cumplimiento_venta_previo_notas_credito_tp = cumplimiento_venta_previo_notas_credito_tp[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_previo_notas_credito_tp

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN
1,ad2_2_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN

## 19. Venta de servicios Mtto (VentaServiciosMtto)

In [155]:
cumplimiento_venta_servicios_mtto = df_venta_servicios_mtto

cumplimiento_venta_servicios_mtto['Presupuesto'] = cumplimiento_venta_servicios_mtto['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_servicios_mtto['Real'] = cumplimiento_venta_servicios_mtto['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['Real'] / cumplimiento_venta_servicios_mtto['Presupuesto']
cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_servicios_mtto['Variable'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto['Contexto'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto = cumplimiento_venta_servicios_mtto[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_servicios_mtto

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

# Nuevos rubros 2022

## 20. Venta Cobrada BBraun Cluster (UCI + OR) (VentaCobradaBraunCluster)

In [156]:
# print(main)
# main = df_cluster_plan_real_recaudo.copy()
# TODO Validar si se ignoran para TODOS los resultados

# Calcular

main = df_cluster_plan_real_recaudo.copy().merge(
    df_clusters_empleado
)

main['Contexto'] = main['CodigoEmpleado']
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaBraunCluster'

main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_braun_cluster = main.copy()
main = None

venta_cobrada_braun_cluster

# Contexto: Cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177,VentaCobradaBraunCluster,2024-01-01,1.508773e+08,9.510563e+07,1.59
1,1010166177,VentaCobradaBraunCluster,2024-02-01,4.008114e+08,1.428018e+08,2.81
2,1010166177,VentaCobradaBraunCluster,2024-03-01,5.869608e+08,2.079481e+08,2.82
3,1010166177,VentaCobradaBraunCluster,2024-04-01,6.713568e+08,3.473333e+08,1.93
4,1010166177,VentaCobradaBraunCluster,2024-05-01,8.940642e+08,6.039009e+08,1.48
...,...,...,...,...,...,...
195,9990011,VentaCobradaBraunCluster,2024-01-01,6.523094e+08,8.266043e+08,0.79
196,9990011,VentaCobradaBraunCluster,2024-02-01,1.084123e+09,1.741390e+09,0.62
197,9990011,VentaCobradaBraunCluster,2024-03-01,1.703205e+09,2.667055e+09,0.64
198,9990011,VentaCobradaBraunCluster,2024-04-01,2.198837e+09,3.512250e+09,0.63
199,9990011,VentaCobradaBraunCluster,2024-05-01,2.915481e+09,4.347256e+09,0.67

In [157]:
venta_cobrada_braun_cluster[
    (venta_cobrada_braun_cluster['Contexto'] == '1111111')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
5,1111111,VentaCobradaBraunCluster,2024-01-01,1.254731e+09,1.280167e+09,0.98
6,1111111,VentaCobradaBraunCluster,2024-02-01,2.140966e+09,2.668800e+09,0.80
7,1111111,VentaCobradaBraunCluster,2024-03-01,3.355931e+09,4.075389e+09,0.82
8,1111111,VentaCobradaBraunCluster,2024-04-01,4.196011e+09,5.358715e+09,0.78
9,1111111,VentaCobradaBraunCluster,2024-05-01,5.584918e+09,6.636945e+09,0.84

## 21. Venta Cobrada Portafolio Cluster (VentaCobradaPortafolioCluster)

In [158]:
df_clusters_empleado[
    (df_clusters_empleado['CodigoEmpleado'] == '5002899')
]

Empty DataFrame
Columns: [Cluster, CodigoEmpleado, TipoEmpleado, AreaCalculo]
Index: []

In [159]:
drop_cols = ['Venta', 'Division', 'ZonaGeografica', 'GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
# ppto.reset_index(inplace=True)
# real.reset_index(inplace=True)

main = ppto.rename(columns={'Recaudo': 'Presupuesto'}).merge(
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado', 'Cluster','Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

main

,CodigoEmpleado,Cluster,Fecha,Presupuesto,Real,TipoEmpleado,AreaCalculo,FechaIngreso
0,1111111,16,2024-01-01,1.219760e+08,5.736374e+07,VC,3.0,2022-04-01
1,1111111,16,2024-02-01,1.505686e+08,9.916504e+07,VC,3.0,2022-04-01
2,1111111,16,2024-03-01,1.547350e+08,2.320132e+07,VC,3.0,2022-04-01
3,1111111,16,2024-04-01,1.518795e+08,2.559040e+07,VC,3.0,2022-04-01
4,1111111,16,2024-05-01,1.468769e+08,1.439437e+08,VC,3.0,2022-04-01
...,...,...,...,...,...,...,...,...
274,53069050,0,2024-05-01,3.997298e+07,2.768020e+07,GU,7.0,2021-03-01
277,79625102,22,2024-02-01,4.769614e+07,2.499341e+08,VE,11.0,2024-02-01
278,79625102,22,2024-03-01,6.514634e+07,1.861494e+08,VE,11.0,2024-02-01
279,79625102,22,2024-04-01,1.393852e+08,8.439600e+07,VE,11.0,2024-02-01
280,79625102,22,2024-05-01,2.565676e+08,2.227075e+08,VE,11.0,2024-02-01

In [160]:
# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main.reset_index(inplace=True)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster = main.copy()
main = None
venta_cobrada_portafolio_cluster

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaCobradaPortafolioCluster,2024-01-01,3.122067e+08,2.280848e+08,1.37
1,1111111,VentaCobradaPortafolioCluster,2024-02-01,4.616586e+08,5.083341e+08,0.91
2,1111111,VentaCobradaPortafolioCluster,2024-03-01,6.137779e+08,8.069636e+08,0.76
3,1111111,VentaCobradaPortafolioCluster,2024-04-01,7.281958e+08,1.096814e+09,0.66
4,1111111,VentaCobradaPortafolioCluster,2024-05-01,1.009748e+09,1.381567e+09,0.73
...,...,...,...,...,...,...
167,5043875,VentaCobradaPortafolioCluster,2024-05-01,7.890719e+08,1.716316e+09,0.46
168,79625102,VentaCobradaPortafolioCluster,2024-02-01,2.499341e+08,4.769614e+07,5.24
169,79625102,VentaCobradaPortafolioCluster,2024-03-01,4.360834e+08,1.128425e+08,3.86
170,79625102,VentaCobradaPortafolioCluster,2024-04-01,5.204794e+08,2.522276e+08,2.06
171,79625102,VentaCobradaPortafolioCluster,2024-05-01,7.431869e+08,5.087952e+08,1.46

In [161]:
venta_cobrada_portafolio_cluster[
    (venta_cobrada_portafolio_cluster['Contexto'] == '1111128')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
45,1111128,VentaCobradaPortafolioCluster,2024-01-01,4.455023e+08,6.399710e+08,0.70
46,1111128,VentaCobradaPortafolioCluster,2024-02-01,8.286500e+08,1.313197e+09,0.63
47,1111128,VentaCobradaPortafolioCluster,2024-03-01,1.390977e+09,1.990762e+09,0.70
48,1111128,VentaCobradaPortafolioCluster,2024-04-01,1.811701e+09,2.594728e+09,0.70
49,1111128,VentaCobradaPortafolioCluster,2024-05-01,2.360741e+09,3.198693e+09,0.74

## 22. Venta Cobrada Portafolio Cluster sub (VentaCobradaPortafolioClusterSub)

In [162]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

drop_cols = ['Venta', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo_without_renal.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
# ppto.reset_index(inplace=True)
# real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Recaudo': 'Presupuesto'}),
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

main = main.merge(total_empleados, on=['CodigoEmpleado'], how='left')
main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
#     on=['CodigoEmpleado','TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Cluster,Division,GrupoProducto,SBA,Fecha,Presupuesto,Real,FechaIngreso,Consecutivo,_merge
0,5004523,VC,3,6,AE,001,30,2024-01-01,7.404074e+06,0.00,2023-10-01,3.0,left_only
1,5004523,VC,3,6,AE,001,30,2024-02-01,9.872099e+06,-957780.00,2023-10-01,3.0,left_only
2,5004523,VC,3,6,AE,001,30,2024-03-01,8.884889e+06,0.00,2023-10-01,3.0,left_only
3,5004523,VC,3,6,AE,001,30,2024-04-01,8.884889e+06,2843280.00,2023-10-01,3.0,left_only
4,5004523,VC,3,6,AE,001,30,2024-05-01,7.897679e+06,5427590.00,2023-10-01,3.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2237,1111118,VC,4,14,HC,680,03,2024-02-01,3.132811e+07,5598000.00,2022-11-01,3.0,left_only
2238,1111118,VC,4,14,HC,680,03,2024-03-01,3.317094e+07,4589400.00,2022-11-01,3.0,left_only
2239,1111118,VC,4,14,HC,680,03,2024-04-01,2.948528e+07,73599214.02,2022-11-01,3.0,left_only
2240,1111118,VC,4,14,HC,680,03,2024-05-01,2.948528e+07,57828317.08,2022-11-01,3.0,left_only
2241,1111118,VC,4,14,HC,CDK,12,2024-02-01,0.000000e+00,12074100.00,2022-11-01,1.0,left_only

In [163]:
calculo_centro_costo_variable = main.merge(
    df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
    on=['Division', 'GrupoProducto'],
    how='left'
)
calculo_centro_costo_variable = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real']].apply(sum)
calculo_centro_costo_variable['Real'] = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
calculo_centro_costo_variable['RealTotal'] = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real']].transform(pd.Series.sum)
calculo_centro_costo_variable['Porcentaje Aplicado'] = calculo_centro_costo_variable['Real'] / calculo_centro_costo_variable['RealTotal']
calculo_centro_costo_variable['Variable'] = 'VentaCobradaPortafolioClusterSub'
calculo_centro_costo_variable

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,RealTotal,Porcentaje Aplicado,Variable
0,1111111,1.0,2024-01-01,805,AE,323007290,4.773722e+07,5.408822e+07,0.882581,VentaCobradaPortafolioClusterSub
1,1111111,1.0,2024-01-01,M06,AE,323007290,6.351007e+06,5.408822e+07,0.117419,VentaCobradaPortafolioClusterSub
2,1111111,1.0,2024-02-01,805,AE,323007290,4.798722e+07,7.408183e+07,0.647760,VentaCobradaPortafolioClusterSub
3,1111111,1.0,2024-02-01,M06,AE,323007290,2.609461e+07,7.408183e+07,0.352240,VentaCobradaPortafolioClusterSub
4,1111111,1.0,2024-03-01,805,AE,323007290,4.955922e+07,8.370854e+07,0.592045,VentaCobradaPortafolioClusterSub
...,...,...,...,...,...,...,...,...,...,...
1401,5043875,6.0,2024-05-01,A34,BA,323007332,3.330956e+07,3.330956e+07,1.000000,VentaCobradaPortafolioClusterSub
1402,79625102,1.0,2024-02-01,A35,BA,323007330,2.499341e+08,2.499341e+08,1.000000,VentaCobradaPortafolioClusterSub
1403,79625102,1.0,2024-03-01,A35,BA,323007330,4.360834e+08,4.360834e+08,1.000000,VentaCobradaPortafolioClusterSub
1404,79625102,1.0,2024-04-01,A35,BA,323007330,5.204794e+08,5.204794e+08,1.000000,VentaCobradaPortafolioClusterSub
1405,79625102,1.0,2024-05-01,A35,BA,323007330,7.431869e+08,7.431869e+08,1.000000,VentaCobradaPortafolioClusterSub

In [164]:
venta_cobrada_portafolio_cluster_sub_centro_costo = calculo_centro_costo_variable.copy()
venta_cobrada_portafolio_cluster_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main, 'VentaCobradaPortafolioClusterSub')
venta_cobrada_portafolio_cluster_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1111111_1,2024-01-01,805,AE,323007290,4.773722e+07,1.514386e+07,VentaCobradaPortafolioClusterSub
1,1111111_1,2024-01-01,M06,AE,323007290,6.351007e+06,9.892825e+06,VentaCobradaPortafolioClusterSub
2,1111111_1,2024-02-01,805,AE,323007290,4.798722e+07,3.533567e+07,VentaCobradaPortafolioClusterSub
3,1111111_1,2024-02-01,M06,AE,323007290,2.609461e+07,2.473206e+07,VentaCobradaPortafolioClusterSub
4,1111111_1,2024-03-01,805,AE,323007290,4.955922e+07,5.350831e+07,VentaCobradaPortafolioClusterSub
...,...,...,...,...,...,...,...,...
1401,5043875_6,2024-05-01,A34,BA,323007332,3.330956e+07,8.207218e+07,VentaCobradaPortafolioClusterSub
1402,79625102_1,2024-02-01,A35,BA,323007330,2.499341e+08,4.769614e+07,VentaCobradaPortafolioClusterSub
1403,79625102_1,2024-03-01,A35,BA,323007330,4.360834e+08,1.128425e+08,VentaCobradaPortafolioClusterSub
1404,79625102_1,2024-04-01,A35,BA,323007330,5.204794e+08,2.522276e+08,VentaCobradaPortafolioClusterSub
1405,79625102_1,2024-05-01,A35,BA,323007330,7.431869e+08,5.087952e+08,VentaCobradaPortafolioClusterSub

In [165]:
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' + main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaCobradaPortafolioClusterSub,2024-01-01,5.408822e+07,2.503668e+07,2.16
1,1111111_1,VentaCobradaPortafolioClusterSub,2024-02-01,7.408183e+07,6.006774e+07,1.23
2,1111111_1,VentaCobradaPortafolioClusterSub,2024-03-01,8.370854e+07,9.802602e+07,0.85
3,1111111_1,VentaCobradaPortafolioClusterSub,2024-04-01,1.014772e+08,1.359843e+08,0.75
4,1111111_1,VentaCobradaPortafolioClusterSub,2024-05-01,1.820101e+08,1.743966e+08,1.04
...,...,...,...,...,...,...
863,5043875_6,VentaCobradaPortafolioClusterSub,2024-05-01,3.330956e+07,8.308638e+07,0.40
864,79625102_1,VentaCobradaPortafolioClusterSub,2024-02-01,2.499341e+08,4.769614e+07,5.24
865,79625102_1,VentaCobradaPortafolioClusterSub,2024-03-01,4.360834e+08,1.128425e+08,3.86
866,79625102_1,VentaCobradaPortafolioClusterSub,2024-04-01,5.204794e+08,2.522276e+08,2.06
867,79625102_1,VentaCobradaPortafolioClusterSub,2024-05-01,7.431869e+08,5.087952e+08,1.46

In [166]:
venta_cobrada_portafolio_cluster_sub[
    (venta_cobrada_portafolio_cluster_sub['Contexto'].str.contains('1111128')) & 
    (venta_cobrada_portafolio_cluster_sub['Fecha'] == '2023-12-01')
]

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 22.1 Grupo Renal (Hospitalario + Ambulatorio)

In [167]:
area_calculo_sba_renal_drop_duplicates = area_calculo_sba_completo_with_renal[['AreaCalculo','Consecutivo','TipoEmpleado']].drop_duplicates(['AreaCalculo', 'Consecutivo'])
area_calculo_sba_renal_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
195            5            2           VC
198            5            3           VC
207            5            4           VC

In [168]:
area_calculo_sba_renal_vc_drop_duplicates = area_calculo_sba_renal_drop_duplicates[area_calculo_sba_renal_drop_duplicates['TipoEmpleado'] == 'VC']
area_calculo_sba_renal_vc_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
195            5            2           VC
198            5            3           VC
207            5            4           VC

In [169]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

df_renal_ambulatorio_vc = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'VC']
df_renal_ambulatorio_vc

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08
1,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08
2,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07
3,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07
4,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08
5,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08
6,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08
7,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08
8,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08
9,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08

In [170]:
# Calcular

main = df_renal_ambulatorio_vc.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})
main = main.merge(
    area_calculo_sba_renal_vc_drop_duplicates,
    on=['TipoEmpleado'],
    how='left'
)
main

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,Presupuesto,RealVentaTotal,Real,AreaCalculo,Consecutivo
0,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08,5,2
1,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08,5,3
2,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08,5,4
3,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08,5,2
4,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08,5,3
5,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08,5,4
6,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07,5,2
7,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07,5,3
8,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07,5,4
9,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07,5,2
10,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07,5,3
11,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07,5,4
12,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08,5,2
13,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08,5,3
14,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08,5,4
15,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08,5,2
16,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08,5,3
17,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08,5,4
18,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08,5,2
19,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08,5,3
20,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08,5,4
21,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08,5,2
22,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08,5,3
23,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08,5,4
24,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08,5,2
25,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08,5,3
26,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08,5,4
27,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08,5,2
28,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08,5,3
29,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08,5,4

In [171]:
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_cluster_sub = pd.concat([
     venta_cobrada_portafolio_cluster_sub.copy(),
     main.copy()
   ], 
   ignore_index=True
 )
# venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaCobradaPortafolioClusterSub,2024-01-01,5.408822e+07,2.503668e+07,2.16
1,1111111_1,VentaCobradaPortafolioClusterSub,2024-02-01,7.408183e+07,6.006774e+07,1.23
2,1111111_1,VentaCobradaPortafolioClusterSub,2024-03-01,8.370854e+07,9.802602e+07,0.85
3,1111111_1,VentaCobradaPortafolioClusterSub,2024-04-01,1.014772e+08,1.359843e+08,0.75
4,1111111_1,VentaCobradaPortafolioClusterSub,2024-05-01,1.820101e+08,1.743966e+08,1.04
...,...,...,...,...,...,...
893,5032456_4,VentaCobradaPortafolioClusterSub,2024-01-01,1.546378e+08,1.145047e+08,1.35
894,5032456_4,VentaCobradaPortafolioClusterSub,2024-02-01,4.682954e+08,2.312616e+08,2.02
895,5032456_4,VentaCobradaPortafolioClusterSub,2024-03-01,5.719714e+08,3.780914e+08,1.51
896,5032456_4,VentaCobradaPortafolioClusterSub,2024-04-01,7.335896e+08,5.337475e+08,1.37
897,5032456_4,VentaCobradaPortafolioClusterSub,2024-05-01,8.379389e+08,6.910402e+08,1.21

## 23. Venta Facturada Portafolio Cluster (VentaFacturadaPortafolioCluster)

In [172]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (Venta)

# Merge de tablas
drop_cols = ['Recaudo', 'ZonaGeografica', 'Canal']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['CodigoEmpleado', 'AreaCalculo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioCluster'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster = main.copy()
main = None
venta_facturada_portafolio_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaFacturadaPortafolioCluster,2024-01-01,1.225302e+08,2.175246e+08,0.56
1,1111111,VentaFacturadaPortafolioCluster,2024-02-01,3.214868e+08,4.795848e+08,0.67
2,1111111,VentaFacturadaPortafolioCluster,2024-03-01,5.950513e+08,8.072137e+08,0.74
3,1111111,VentaFacturadaPortafolioCluster,2024-04-01,7.414232e+08,1.109253e+09,0.67
4,1111111,VentaFacturadaPortafolioCluster,2024-05-01,1.451896e+09,1.444687e+09,1.00
...,...,...,...,...,...,...
167,5043875,VentaFacturadaPortafolioCluster,2024-05-01,1.434151e+09,1.725630e+09,0.83
168,79625102,VentaFacturadaPortafolioCluster,2024-02-01,2.341397e+08,2.680889e+08,0.87
169,79625102,VentaFacturadaPortafolioCluster,2024-03-01,3.244427e+08,5.808592e+08,0.56
170,79625102,VentaFacturadaPortafolioCluster,2024-04-01,4.592916e+08,9.383110e+08,0.49
171,79625102,VentaFacturadaPortafolioCluster,2024-05-01,5.609398e+08,1.295763e+09,0.43

In [173]:
venta_facturada_portafolio_cluster[
    (venta_facturada_portafolio_cluster['Contexto'] == '1111115')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
15,1111115,VentaFacturadaPortafolioCluster,2024-01-01,3.071608e+08,3.167592e+08,0.97
16,1111115,VentaFacturadaPortafolioCluster,2024-02-01,7.372830e+08,6.998930e+08,1.05
17,1111115,VentaFacturadaPortafolioCluster,2024-03-01,1.160424e+09,1.185585e+09,0.98
18,1111115,VentaFacturadaPortafolioCluster,2024-04-01,1.642744e+09,1.561220e+09,1.05
19,1111115,VentaFacturadaPortafolioCluster,2024-05-01,2.242844e+09,2.042742e+09,1.10

## 24. Venta Facturada Portafolio Cluster sub (VentaFacturadaPortafolioClusterSub)

In [174]:
drop_cols = ['Recaudo', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Venta': 'Presupuesto'}).drop(columns=['index']),
    real.rename(columns={'Venta': 'Real'}).drop(columns=['index']),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]
main

,CodigoEmpleado,Division,Cluster,GrupoProducto,SBA,Fecha,Presupuesto,Real,TipoEmpleado,AreaCalculo,FechaIngreso,Consecutivo
0,1111111,AE,16,001,30,2024-01-01,2.761586e+07,2.895000e+06,VC,3.0,2022-04-01,3.0
1,1111111,AE,16,001,30,2024-02-01,3.682115e+07,5.076750e+06,VC,3.0,2022-04-01,3.0
2,1111111,AE,16,001,30,2024-03-01,3.682115e+07,6.682242e+07,VC,3.0,2022-04-01,3.0
3,1111111,AE,16,001,30,2024-04-01,3.682115e+07,5.322000e+05,VC,3.0,2022-04-01,3.0
4,1111111,AE,16,001,30,2024-05-01,3.682115e+07,3.691634e+07,VC,3.0,2022-04-01,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2577,53069050,HC,0,610,02,2024-05-01,3.818916e+07,2.366738e+07,GU,7.0,2021-03-01,3.0
2578,79625102,BA,22,A35,87,2024-02-01,2.680889e+08,2.341397e+08,VE,11.0,2024-02-01,1.0
2579,79625102,BA,22,A35,87,2024-03-01,3.127703e+08,9.030304e+07,VE,11.0,2024-02-01,1.0
2580,79625102,BA,22,A35,87,2024-04-01,3.574518e+08,1.348489e+08,VE,11.0,2024-02-01,1.0
2581,79625102,BA,22,A35,87,2024-05-01,3.574518e+08,1.016482e+08,VE,11.0,2024-02-01,1.0

In [175]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    main,
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,Division,Cluster,GrupoProducto,SBA,Fecha,Presupuesto,Real,TipoEmpleado,AreaCalculo,FechaIngreso,Consecutivo
0,1111111,323007332,0.1,AE,16,001,30,2024-01-01,2.761586e+07,2.895000e+06,VC,3.0,2022-04-01,3.0
1,1111111,323007333,0.1,AE,16,001,30,2024-01-01,2.761586e+07,2.895000e+06,VC,3.0,2022-04-01,3.0
2,1111111,323010170,0.8,AE,16,001,30,2024-01-01,2.761586e+07,2.895000e+06,VC,3.0,2022-04-01,3.0
3,1111111,323007332,0.1,AE,16,001,30,2024-02-01,3.682115e+07,5.076750e+06,VC,3.0,2022-04-01,3.0
4,1111111,323007333,0.1,AE,16,001,30,2024-02-01,3.682115e+07,5.076750e+06,VC,3.0,2022-04-01,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6277,53069050,323015095,0.8,HC,0,610,02,2024-05-01,3.818916e+07,2.366738e+07,GU,7.0,2021-03-01,3.0
6278,79625102,323007330,1.0,BA,22,A35,87,2024-02-01,2.680889e+08,2.341397e+08,VE,11.0,2024-02-01,1.0
6279,79625102,323007330,1.0,BA,22,A35,87,2024-03-01,3.127703e+08,9.030304e+07,VE,11.0,2024-02-01,1.0
6280,79625102,323007330,1.0,BA,22,A35,87,2024-04-01,3.574518e+08,1.348489e+08,VE,11.0,2024-02-01,1.0
6281,79625102,323007330,1.0,BA,22,A35,87,2024-05-01,3.574518e+08,1.016482e+08,VE,11.0,2024-02-01,1.0

In [176]:
venta_facturada_portafolio_cluster_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'VentaFacturadaPortafolioClusterSub')
venta_facturada_portafolio_cluster_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1111111_1,2024-01-01,805,AE,323007332,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub
1,1111111_1,2024-01-01,805,AE,323007333,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub
2,1111111_1,2024-01-01,805,AE,323010170,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub
3,1111111_1,2024-01-01,M06,AE,323007332,2.362315e+06,1.075307e+07,VentaFacturadaPortafolioClusterSub
4,1111111_1,2024-01-01,M06,AE,323007333,2.362315e+06,1.075307e+07,VentaFacturadaPortafolioClusterSub
...,...,...,...,...,...,...,...,...
4201,53069050_3,2024-05-01,610,HC,323015095,1.341899e+08,1.850790e+08,VentaFacturadaPortafolioClusterSub
4202,79625102_1,2024-02-01,A35,BA,323007330,2.341397e+08,2.680889e+08,VentaFacturadaPortafolioClusterSub
4203,79625102_1,2024-03-01,A35,BA,323007330,3.244427e+08,5.808592e+08,VentaFacturadaPortafolioClusterSub
4204,79625102_1,2024-04-01,A35,BA,323007330,4.592916e+08,9.383110e+08,VentaFacturadaPortafolioClusterSub
4205,79625102_1,2024-05-01,A35,BA,323007330,5.609398e+08,1.295763e+09,VentaFacturadaPortafolioClusterSub

In [177]:
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main

,index,TipoEmpleado,AreaCalculo,Consecutivo,Cluster,Fecha,Real,Presupuesto
0,0,GD,3.0,1.0,0,2024-01-01,6.085548e+06,6.612392e+06
1,1,GD,3.0,1.0,0,2024-02-01,8.528429e+06,6.612392e+06
2,2,GD,3.0,1.0,0,2024-03-01,6.798960e+06,6.612392e+06
3,3,GD,3.0,1.0,0,2024-04-01,1.009536e+07,6.612392e+06
4,4,GD,3.0,1.0,0,2024-05-01,7.395932e+06,7.557019e+06
...,...,...,...,...,...,...,...,...
1008,1008,VE,10.0,1.0,0,2024-05-01,4.948040e+06,4.578999e+06
1009,1009,VE,11.0,1.0,22,2024-02-01,2.341397e+08,2.680889e+08
1010,1010,VE,11.0,1.0,22,2024-03-01,9.030304e+07,3.127703e+08
1011,1011,VE,11.0,1.0,22,2024-04-01,1.348489e+08,3.574518e+08
1012,1012,VE,11.0,1.0,22,2024-05-01,1.016482e+08,3.574518e+08

In [178]:
main[
    (main['TipoEmpleado'] == 'VC') &
    (main['AreaCalculo'] == 3)
]

,index,TipoEmpleado,AreaCalculo,Consecutivo,Cluster,Fecha,Real,Presupuesto
20,20,VC,3.0,1.0,1,2024-01-01,1637199.36,1.675847e+07
21,21,VC,3.0,1.0,1,2024-02-01,6071333.14,2.275071e+07
22,22,VC,3.0,1.0,1,2024-03-01,50039845.60,2.396896e+07
23,23,VC,3.0,1.0,1,2024-04-01,15200439.10,2.396896e+07
24,24,VC,3.0,1.0,1,2024-05-01,18432451.28,2.457809e+07
...,...,...,...,...,...,...,...,...
489,489,VC,3.0,6.0,9,2024-01-01,27326975.80,2.125903e+07
490,490,VC,3.0,6.0,9,2024-02-01,17408371.00,2.125903e+07
491,491,VC,3.0,6.0,9,2024-03-01,13362616.74,3.794326e+07
492,492,VC,3.0,6.0,9,2024-04-01,15892689.60,2.475062e+07
493,493,VC,3.0,6.0,9,2024-05-01,10542516.80,2.808747e+07

In [179]:
for x in ['1111135', '1111134']:
    _x = df_clusters_empleado[
        (df_clusters_empleado['CodigoEmpleado'] == x)
    ]
    print(_x)

   Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
31       2        1111135           VC            3
   Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
20      12        1111134           VC            4

In [180]:


### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###
main

     index CodigoEmpleado  Consecutivo      Fecha         Real   Presupuesto
0        0        1111111          1.0 2024-01-01   80350030.0  2.364146e+07
1        1        1111111          1.0 2024-02-01   32548380.0  3.331413e+07
2        2        1111111          1.0 2024-03-01   33815900.5  3.869066e+07
3        3        1111111          1.0 2024-04-01   24743521.5  3.869066e+07
4        4        1111111          1.0 2024-05-01  187752144.2  4.137893e+07
..     ...            ...          ...        ...          ...           ...
943    943        9990011          5.0 2024-01-01          0.0  3.514714e+06
944    944        9990011          5.0 2024-02-01          0.0  3.514714e+06
945    945        9990011          5.0 2024-03-01          0.0  4.100499e+06
946    946        9990011          5.0 2024-04-01          0.0  4.100499e+06
947    947        9990011          5.0 2024-05-01          0.0  4.686285e+06

[948 rows x 6 columns]

In [181]:
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster_sub = main.copy()
main = None
venta_facturada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaPortafolioClusterSub,2024-01-01,80350030.0,2.364146e+07,3.40
1,1111111_1,VentaFacturadaPortafolioClusterSub,2024-02-01,112898410.0,5.695559e+07,1.98
2,1111111_1,VentaFacturadaPortafolioClusterSub,2024-03-01,146714310.5,9.564625e+07,1.53
3,1111111_1,VentaFacturadaPortafolioClusterSub,2024-04-01,171457832.0,1.343369e+08,1.28
4,1111111_1,VentaFacturadaPortafolioClusterSub,2024-05-01,359209976.2,1.757158e+08,2.04
...,...,...,...,...,...,...
943,9990011_5,VentaFacturadaPortafolioClusterSub,2024-01-01,0.0,3.514714e+06,0.00
944,9990011_5,VentaFacturadaPortafolioClusterSub,2024-02-01,0.0,7.029427e+06,0.00
945,9990011_5,VentaFacturadaPortafolioClusterSub,2024-03-01,0.0,1.112993e+07,0.00
946,9990011_5,VentaFacturadaPortafolioClusterSub,2024-04-01,0.0,1.523043e+07,0.00
947,9990011_5,VentaFacturadaPortafolioClusterSub,2024-05-01,0.0,1.991671e+07,0.00

In [182]:
venta_facturada_portafolio_cluster_sub[venta_facturada_portafolio_cluster_sub['Contexto'].str.contains('1111135')]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
340,1111135_1,VentaFacturadaPortafolioClusterSub,2024-02-01,2.756052e+07,1.601994e+07,1.72
341,1111135_1,VentaFacturadaPortafolioClusterSub,2024-03-01,5.221814e+07,3.285128e+07,1.59
342,1111135_1,VentaFacturadaPortafolioClusterSub,2024-04-01,7.648298e+07,4.968262e+07,1.54
343,1111135_1,VentaFacturadaPortafolioClusterSub,2024-05-01,8.728160e+07,6.691966e+07,1.30
344,1111135_2,VentaFacturadaPortafolioClusterSub,2024-02-01,1.220403e+08,2.510121e+07,4.86
345,1111135_2,VentaFacturadaPortafolioClusterSub,2024-03-01,1.329454e+08,5.248434e+07,2.53
346,1111135_2,VentaFacturadaPortafolioClusterSub,2024-04-01,1.567116e+08,8.214940e+07,1.91
347,1111135_2,VentaFacturadaPortafolioClusterSub,2024-05-01,1.812997e+08,1.140964e+08,1.59
348,1111135_3,VentaFacturadaPortafolioClusterSub,2024-02-01,-1.443112e+07,5.403409e+07,-0.27
349,1111135_3,VentaFacturadaPortafolioClusterSub,2024-03-01,1.790653e+08,1.090737e+08,1.64
350,1111135_3,VentaFacturadaPortafolioClusterSub,2024-04-01,2.583186e+08,1.641133e+08,1.57
351,1111135_3,VentaFacturadaPortafolioClusterSub,2024-05-01,3.315152e+08,2.196557e+08,1.51
352,1111135_4,VentaFacturadaPortafolioClusterSub,2024-02-01,1.965204e+07,1.605317e+07,1.22
353,1111135_4,VentaFacturadaPortafolioClusterSub,2024-03-01,1.169725e+08,3.919303e+07,2.98
354,1111135_4,VentaFacturadaPortafolioClusterSub,2024-04-01,1.852451e+08,5.901210e+07,3.14
355,1111135_4,VentaFacturadaPortafolioClusterSub,2024-05-01,1.922363e+08,8.198691e+07,2.34
356,1111135_5,VentaFacturadaPortafolioClusterSub,2024-02-01,9.990445e+06,1.160499e+07,0.86
357,1111135_5,VentaFacturadaPortafolioClusterSub,2024-03-01,1.795494e+07,2.320998e+07,0.77
358,1111135_5,VentaFacturadaPortafolioClusterSub,2024-04-01,1.919386e+07,3.481498e+07,0.55
359,1111135_5,VentaFacturadaPortafolioClusterSub,2024-05-01,2.921425e+07,4.807783e+07,0.61
360,1111135_6,VentaFacturadaPortafolioClusterSub,2024-02-01,5.666452e+07,3.543201e+07,1.60
361,1111135_6,VentaFacturadaPortafolioClusterSub,2024-03-01,8.779346e+07,9.940712e+07,0.88
362,1111135_6,VentaFacturadaPortafolioClusterSub,2024-04-01,1.179882e+08,1.406953e+08,0.84
363,1111135_6,VentaFacturadaPortafolioClusterSub,2024-05-01,1.462551e+08,1.876921e+08,0.78

In [183]:
df_empleados[df_empleados['CodigoEmpleado'] == '1111135']

,TipoEmpleado,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo
52,VC,1111135,32893962,irma.gomez@bbraun.com,Irma,Gomez,2500000.0,2024-02-01,NaT,3

## 25. Venta cobrada y facturada portafolio (VentaCobradaPortafolioPais, VentaFacturadaPortafolioZonaSub, VentaCobradaPortafolioZona, VentaCobradaPortafolioClusterSub, VentaFacturadaPorfafolioCluster)

In [184]:
def pre_merge_venta_cobrada_zona_hospitalaria_sub(x):
    x['Consecutivo'] = x['Consecutivo'].astype('str')
    return x

### 25.1 Para VE

In [185]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='VE']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_real = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_presupuesto = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.1.1 VentaCobradaPortafolioPais

In [186]:
recaudo_real_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_ve,
    right=recaudo_real_ve,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)

# TODO Validar si los resultados anteriores a fecha de ingreso se ignoran para TODOS

main['Real'].fillna(0.0, inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

main['AreaCalculo'] = main['AreaCalculo'].astype('str')
main['Contexto'] = 'VE_' + main['AreaCalculo']
main['Variable'] = 'VentaCobradaPortafolioPais'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_pais_ve = main.copy()
main = None

venta_cobrada_portafolio_pais_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_1,VentaCobradaPortafolioPais,2024-01-01,1.519447e+09,1.125896e+09,1.35
1,VE_1,VentaCobradaPortafolioPais,2024-02-01,2.627839e+09,2.367510e+09,1.11
2,VE_1,VentaCobradaPortafolioPais,2024-03-01,4.167335e+09,3.718585e+09,1.12
3,VE_1,VentaCobradaPortafolioPais,2024-04-01,4.938056e+09,5.180909e+09,0.95
4,VE_1,VentaCobradaPortafolioPais,2024-05-01,6.578882e+09,6.752694e+09,0.97
5,VE_2,VentaCobradaPortafolioPais,2024-01-01,1.107398e+09,1.411192e+09,0.78
6,VE_2,VentaCobradaPortafolioPais,2024-02-01,2.044345e+09,3.287688e+09,0.62
7,VE_2,VentaCobradaPortafolioPais,2024-03-01,3.116972e+09,4.981118e+09,0.63
8,VE_2,VentaCobradaPortafolioPais,2024-04-01,4.259414e+09,6.674548e+09,0.64
9,VE_2,VentaCobradaPortafolioPais,2024-05-01,5.468739e+09,8.179820e+09,0.67
10,VE_3,VentaCobradaPortafolioPais,2024-01-01,8.711519e+08,7.125074e+08,1.22
11,VE_3,VentaCobradaPortafolioPais,2024-02-01,1.606844e+09,1.670751e+09,0.96
12,VE_3,VentaCobradaPortafolioPais,2024-03-01,2.076502e+09,2.571881e+09,0.81
13,VE_3,VentaCobradaPortafolioPais,2024-04-01,3.277300e+09,3.473599e+09,0.94
14,VE_3,VentaCobradaPortafolioPais,2024-05-01,3.518929e+09,4.303790e+09,0.82
15,VE_4,VentaCobradaPortafolioPais,2024-01-01,4.509959e+09,5.113560e+09,0.88
16,VE_4,VentaCobradaPortafolioPais,2024-02-01,8.828723e+09,1.052792e+10,0.84
17,VE_4,VentaCobradaPortafolioPais,2024-03-01,1.333115e+10,1.589234e+10,0.84
18,VE_4,VentaCobradaPortafolioPais,2024-04-01,1.798782e+10,2.070511e+10,0.87
19,VE_4,VentaCobradaPortafolioPais,2024-05-01,2.336319e+10,2.551787e+10,0.92
20,VE_5,VentaCobradaPortafolioPais,2024-01-01,6.501573e+09,7.812079e+09,0.83
21,VE_5,VentaCobradaPortafolioPais,2024-02-01,1.333410e+10,1.608369e+10,0.83
22,VE_5,VentaCobradaPortafolioPais,2024-03-01,2.067964e+10,2.430537e+10,0.85
23,VE_5,VentaCobradaPortafolioPais,2024-04-01,2.789592e+10,3.165792e+10,0.88
24,VE_5,VentaCobradaPortafolioPais,2024-05-01,3.709023e+10,3.901046e+10,0.95
25,VE_7,VentaCobradaPortafolioPais,2024-01-01,1.705092e+09,1.891978e+09,0.90
26,VE_7,VentaCobradaPortafolioPais,2024-02-01,3.050015e+09,3.845194e+09,0.79
27,VE_7,VentaCobradaPortafolioPais,2024-03-01,4.921542e+09,5.787226e+09,0.85
28,VE_7,VentaCobradaPortafolioPais,2024-04-01,6.566485e+09,7.567911e+09,0.87
29,VE_7,VentaCobradaPortafolioPais,2024-05-01,8.668995e+09,9.348596e+09,0.93
30,VE_8,VentaCobradaPortafolioPais,2024-01-01,2.509108e+08,2.591390e+08,0.97
31,VE_8,VentaCobradaPortafolioPais,2024-02-01,5.011744e+08,5.182781e+08,0.97
32,VE_8,VentaCobradaPortafolioPais,2024-03-01,7.497993e+08,1.071794e+09,0.70
33,VE_8,VentaCobradaPortafolioPais,2024-04-01,1.035134e+09,1.418904e+09,0.73
34,VE_8,VentaCobradaPortafolioPais,2024-05-01,1.303614e+09,1.766013e+09,0.74
35,VE_9,VentaCobradaPortafolioPais,2024-01-01,1.126608e+08,6.729453e+07,1.67
36,VE_9,VentaCobradaPortafolioPais,2024-02-01,3.886020e+08,1.345891e+08,2.89
37,VE_9,VentaCobradaPortafolioPais,2024-03-01,4.434665e+08,2.288014e+08,1.94
38,VE_9,VentaCobradaPortafolioPais,2024-04-01,4.703332e+08,3.364726e+08,1.40
39,VE_9,VentaCobradaPortafolioPais,2024-05-01,5.526753e+08,4.441439e+08,1.24
40,VE_10,VentaCobradaPortafolioPais,2024-01-01,4.187411e+08,2.200229e+08,1.90
41,VE_10,VentaCobradaPortafolioPais,2024-02-01,5.536879e+08,4.033753e+08,1.37
42,VE_10,VentaCobradaPortafolioPais,2024-03-01,7.064814e+08,6.600687e+08,1.07
43,VE_10,VentaCobradaPortafolioPais,2024-04-01,9.108667e+08,9.167621e+08,0.99
44,VE_10,VentaCobradaPortafolioPais,2024-05-01,1.177281e+09,1.246796e+09,0.94
45,VE_11,VentaCobradaPortafolioPais,2024-01-01,1.508773e+08,9.510563e+07,1.59
46,VE_11,VentaCobradaPortafolioPais,2024-02-01,4.008114e+08,1.428018e+08,2.81
47,VE_11,VentaCobradaPortafolioPais,2024-03-01,5.869608e+08,2.079481e+08,2.82
48,VE_11,VentaCobradaPortafolioPais,2024-04-01,6.713568e+08,3.473333e+08,1.93
49,VE_11,VentaCobradaPortafolioPais,2024-05-01,8.940642e+08,6.039009e+08,1.48
50,VE_12,VentaCobradaPortafolioPais,2024-01-01,6.185799e+08,4.868918e+08,1.27
51,VE_12,VentaCobradaPortafolioPais,2024-02-01,9.123673e+08,1.151118e+09,0.79
52,VE_12,VentaCobradaPortafolioPais,2024-03-01,1.178097e+09,1.807563e+09,0.65
53,VE_12,VentaCobradaPortafolioPais,2024-04-01,1.623342e+09,2.464009e+09,0.66
54,VE_12,VentaCobradaPortafolioPais,2024-05-01,2.199771e+09,3.090120e+09,0.71

In [187]:
venta_cobrada_portafolio_pais_ve[
    (venta_cobrada_portafolio_pais_ve['Contexto'] == 'VE_4')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
15,VE_4,VentaCobradaPortafolioPais,2024-01-01,4.509959e+09,5.113560e+09,0.88
16,VE_4,VentaCobradaPortafolioPais,2024-02-01,8.828723e+09,1.052792e+10,0.84
17,VE_4,VentaCobradaPortafolioPais,2024-03-01,1.333115e+10,1.589234e+10,0.84
18,VE_4,VentaCobradaPortafolioPais,2024-04-01,1.798782e+10,2.070511e+10,0.87
19,VE_4,VentaCobradaPortafolioPais,2024-05-01,2.336319e+10,2.551787e+10,0.92

In [188]:
venta_cobrada_portafolio_pais_ve[
    (venta_cobrada_portafolio_pais_ve['Contexto'] == 'VE_7')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
25,VE_7,VentaCobradaPortafolioPais,2024-01-01,1.705092e+09,1.891978e+09,0.90
26,VE_7,VentaCobradaPortafolioPais,2024-02-01,3.050015e+09,3.845194e+09,0.79
27,VE_7,VentaCobradaPortafolioPais,2024-03-01,4.921542e+09,5.787226e+09,0.85
28,VE_7,VentaCobradaPortafolioPais,2024-04-01,6.566485e+09,7.567911e+09,0.87
29,VE_7,VentaCobradaPortafolioPais,2024-05-01,8.668995e+09,9.348596e+09,0.93

#### 25.1.2 VentaCobradaPortafolioZona

In [189]:
print(venta_recaudo_presupuesto_original_ve_real)

recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###


main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZona'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_ve = main.copy()
main = None

venta_cobrada_portafolio_zona_ve

      AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado  \
0               2            1       AE           CEK  35           VE
1               2            1       AE           CEK  35           VE
2               4            1       HC           630  08           VE
3               4            1       HC           630  08           VE
4               4            1       HC           630  08           VE
...           ...          ...      ...           ...  ..          ...
4985           12            2       AE           M06  30           VE
4986           12            2       AE           M06  30           VE
4987           12            2       AE           M06  30           VE
4988           12            2       AE           M06  30           VE
4989           12            2       AE           M06  30           VE

     ZonaGeografica Cluster             Canal      Fecha       Venta  \
0            Centro       0  DISTRIBUIDOR AMB 2024-01-01   1050000.0
1            Centro       0  DISTRIBUIDOR AMB 2024-02-01         0.0
2             Norte      16      DISTRIBUIDOR 2024-01-01   3681875.0
3             Norte      16      DISTRIBUIDOR 2024-02-01   5799000.0
4             Norte      16      DISTRIBUIDOR 2024-03-01   1712050.0
...             ...     ...               ...        ...         ...
4985         Centro       3          HOSPITAL 2024-01-01  24381100.0
4986         Centro       3          HOSPITAL 2024-02-01  -1219056.0
4987   Suroccidente       8          HOSPITAL 2024-02-01  12179700.0
4988   Suroccidente       8          HOSPITAL 2024-03-01  23141400.0
4989   Suroccidente       8          HOSPITAL 2024-04-01  48287200.0

         Recaudo
0            0.0
1      1050000.0
2      7123400.0
3       711000.0
4            0.0
...          ...
4985         0.0
4986  23162044.0
4987         0.0
4988         0.0
4989         0.0

[4990 rows x 12 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177,VentaCobradaPortafolioZona,2024-01-01,1.126608e+08,6.729453e+07,1.67
1,1010166177,VentaCobradaPortafolioZona,2024-02-01,3.886020e+08,1.345891e+08,2.89
2,1010166177,VentaCobradaPortafolioZona,2024-03-01,4.434665e+08,2.288014e+08,1.94
3,1010166177,VentaCobradaPortafolioZona,2024-04-01,4.703332e+08,3.364726e+08,1.40
4,1010166177,VentaCobradaPortafolioZona,2024-05-01,5.526753e+08,4.441439e+08,1.24
...,...,...,...,...,...,...
94,94487610,VentaCobradaPortafolioZona,2024-01-01,1.681252e+09,2.120542e+09,0.79
95,94487610,VentaCobradaPortafolioZona,2024-02-01,3.338564e+09,4.365821e+09,0.76
96,94487610,VentaCobradaPortafolioZona,2024-03-01,5.759871e+09,6.600581e+09,0.87
97,94487610,VentaCobradaPortafolioZona,2024-04-01,7.489619e+09,8.596385e+09,0.87
98,94487610,VentaCobradaPortafolioZona,2024-05-01,9.530384e+09,1.059219e+10,0.90

In [190]:
def _get_or_create_zona_cluster(empleado, cluster, zona):
    if not empleado or not (cluster or zona):
        return False
    return True

_get_or_create_zona_cluster(True, True, None)

True

#### 25.1.3 VentaFacturadaPortafolioZonaSub

In [191]:
venta_real_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_zona_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_zona_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_zona_consecutivo_ve,
    right=venta_real_zona_consecutivo_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_zona_sub_ve = main.copy()
main = None

venta_facturada_portafolio_zona_sub_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177_1,VentaFacturadaPortafolioZonaSub,2024-01-01,5.527091e+07,9.500404e+07,0.58
1,1010166177_1,VentaFacturadaPortafolioZonaSub,2024-02-01,3.157478e+08,1.900081e+08,1.66
2,1010166177_1,VentaFacturadaPortafolioZonaSub,2024-03-01,1.629182e+09,3.008461e+08,5.42
3,1010166177_1,VentaFacturadaPortafolioZonaSub,2024-04-01,1.746318e+09,4.116842e+08,4.24
4,1010166177_1,VentaFacturadaPortafolioZonaSub,2024-05-01,1.814526e+09,5.383562e+08,3.37
...,...,...,...,...,...,...
309,94487610_5,VentaFacturadaPortafolioZonaSub,2024-01-01,1.053427e+08,1.245082e+08,0.85
310,94487610_5,VentaFacturadaPortafolioZonaSub,2024-02-01,3.630410e+08,2.747767e+08,1.32
311,94487610_5,VentaFacturadaPortafolioZonaSub,2024-03-01,6.450965e+08,4.357787e+08,1.48
312,94487610_5,VentaFacturadaPortafolioZonaSub,2024-04-01,9.224827e+08,5.860473e+08,1.57
313,94487610_5,VentaFacturadaPortafolioZonaSub,2024-05-01,1.204079e+09,7.792497e+08,1.55

#### 25.1.4 VentaCobradaPortafolioCluster

In [192]:
recaudo_real_cluster_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_cluster_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_cluster_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_cluster_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_cluster_ve,
    right=recaudo_real_cluster_ve,
    on=['Cluster', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_ve = main.copy()
main = None

venta_cobrada_portafolio_cluster_ve

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002699,VentaCobradaPortafolioCluster,2024-01-01,8.494401e+08,1.101739e+09,0.77
1,5002699,VentaCobradaPortafolioCluster,2024-02-01,1.450868e+09,2.240767e+09,0.65
2,5002699,VentaCobradaPortafolioCluster,2024-03-01,2.733574e+09,3.370025e+09,0.81
3,5002699,VentaCobradaPortafolioCluster,2024-04-01,3.624458e+09,4.406956e+09,0.82
4,5002699,VentaCobradaPortafolioCluster,2024-05-01,4.948375e+09,5.443887e+09,0.91
5,5004589,VentaCobradaPortafolioCluster,2024-01-01,2.488415e+08,3.147500e+08,0.79
6,5004589,VentaCobradaPortafolioCluster,2024-02-01,5.098494e+08,6.411688e+08,0.80
7,5004589,VentaCobradaPortafolioCluster,2024-03-01,7.894658e+08,9.627646e+08,0.82
8,5004589,VentaCobradaPortafolioCluster,2024-04-01,9.993203e+08,1.259000e+09,0.79
9,5004589,VentaCobradaPortafolioCluster,2024-05-01,1.388662e+09,1.555235e+09,0.89
10,79625102,VentaCobradaPortafolioCluster,2024-02-01,2.499341e+08,4.769614e+07,5.24
11,79625102,VentaCobradaPortafolioCluster,2024-03-01,4.360834e+08,1.128425e+08,3.86
12,79625102,VentaCobradaPortafolioCluster,2024-04-01,5.204794e+08,2.522276e+08,2.06
13,79625102,VentaCobradaPortafolioCluster,2024-05-01,7.431869e+08,5.087952e+08,1.46

#### 25.1.5 VentaFacturadaPortafolioClusterSub

In [193]:
venta_real_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_cluster_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_cluster_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_cluster_consecutivo_ve,
    right=venta_real_cluster_consecutivo_ve,
    on=['Cluster', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaFacturadaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_cluster_sub_ve = main.copy()
main = None

venta_facturada_portafolio_cluster_sub_ve

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002699_1,VentaFacturadaPortafolioClusterSub,2024-01-01,4.392000e+06,2.432441e+06,1.81
1,5002699_1,VentaFacturadaPortafolioClusterSub,2024-02-01,4.172400e+06,6.486509e+06,0.64
2,5002699_1,VentaFacturadaPortafolioClusterSub,2024-03-01,4.172400e+06,1.216220e+07,0.34
3,5002699_1,VentaFacturadaPortafolioClusterSub,2024-04-01,6.865776e+06,1.864871e+07,0.37
4,5002699_1,VentaFacturadaPortafolioClusterSub,2024-05-01,6.869352e+06,2.594604e+07,0.26
5,5002699_2,VentaFacturadaPortafolioClusterSub,2024-01-01,2.295488e+08,2.486888e+08,0.92
6,5002699_2,VentaFacturadaPortafolioClusterSub,2024-02-01,7.297256e+08,5.538979e+08,1.32
7,5002699_2,VentaFacturadaPortafolioClusterSub,2024-03-01,1.081830e+09,1.056928e+09,1.02
8,5002699_2,VentaFacturadaPortafolioClusterSub,2024-04-01,1.526775e+09,1.497785e+09,1.02
9,5002699_2,VentaFacturadaPortafolioClusterSub,2024-05-01,1.823246e+09,1.916034e+09,0.95
10,5002699_3,VentaFacturadaPortafolioClusterSub,2024-01-01,2.490693e+08,4.413835e+08,0.56
11,5002699_3,VentaFacturadaPortafolioClusterSub,2024-02-01,9.792451e+08,9.740878e+08,1.01
12,5002699_3,VentaFacturadaPortafolioClusterSub,2024-03-01,1.671225e+09,1.544842e+09,1.08
13,5002699_3,VentaFacturadaPortafolioClusterSub,2024-04-01,2.452811e+09,2.077547e+09,1.18
14,5002699_3,VentaFacturadaPortafolioClusterSub,2024-05-01,3.056270e+09,2.762452e+09,1.11
15,5004589_1,VentaFacturadaPortafolioClusterSub,2024-02-01,2.216400e+06,0.000000e+00,inf
16,5004589_1,VentaFacturadaPortafolioClusterSub,2024-03-01,5.816820e+06,0.000000e+00,inf
17,5004589_1,VentaFacturadaPortafolioClusterSub,2024-04-01,1.013634e+07,0.000000e+00,inf
18,5004589_1,VentaFacturadaPortafolioClusterSub,2024-05-01,1.489914e+07,0.000000e+00,inf
19,5004589_2,VentaFacturadaPortafolioClusterSub,2024-01-01,1.005649e+08,6.275345e+07,1.60
20,5004589_2,VentaFacturadaPortafolioClusterSub,2024-02-01,1.972989e+08,1.397690e+08,1.41
21,5004589_2,VentaFacturadaPortafolioClusterSub,2024-03-01,2.896053e+08,2.667022e+08,1.09
22,5004589_2,VentaFacturadaPortafolioClusterSub,2024-04-01,4.145616e+08,3.779469e+08,1.10
23,5004589_2,VentaFacturadaPortafolioClusterSub,2024-05-01,5.480428e+08,4.834868e+08,1.13
24,5004589_3,VentaFacturadaPortafolioClusterSub,2024-01-01,1.302255e+08,1.381214e+08,0.94
25,5004589_3,VentaFacturadaPortafolioClusterSub,2024-02-01,3.223213e+08,3.048195e+08,1.06
26,5004589_3,VentaFacturadaPortafolioClusterSub,2024-03-01,5.603010e+08,4.834248e+08,1.16
27,5004589_3,VentaFacturadaPortafolioClusterSub,2024-04-01,8.264358e+08,6.501229e+08,1.27
28,5004589_3,VentaFacturadaPortafolioClusterSub,2024-05-01,1.130645e+09,8.644492e+08,1.31
29,79625102_1,VentaFacturadaPortafolioClusterSub,2024-02-01,2.341397e+08,2.680889e+08,0.87
30,79625102_1,VentaFacturadaPortafolioClusterSub,2024-03-01,3.244427e+08,5.808592e+08,0.56
31,79625102_1,VentaFacturadaPortafolioClusterSub,2024-04-01,4.592916e+08,9.383110e+08,0.49
32,79625102_1,VentaFacturadaPortafolioClusterSub,2024-05-01,5.609398e+08,1.295763e+09,0.43

### 25.2 Para GC

In [194]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GC']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_real = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_presupuesto = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.2.1 VentaCobradaZonaHospitalarioSub

In [195]:
recaudo_real_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gc = recaudo_real_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gc = recaudo_presupuesto_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gc,
    right=recaudo_real_zona_sub_ch_gc,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GC'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_cobrada_zona_hospitalario_sub_gc = main.copy()
main = None
resultado_cualitativos_variable = None

venta_cobrada_zona_hospitalario_sub_gc

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 25.3 Para GD

In [196]:
area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.3.1 VentaCobradaZonaHospitalarioSub

In [197]:
recaudo_real_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gd = recaudo_real_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gd.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gd = recaudo_presupuesto_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gd.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gd,
    right=recaudo_real_zona_sub_ch_gd,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GD'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = dataframe_loader.sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_zona_hospitalario_sub_gd = main.copy()
main = None

venta_cobrada_zona_hospitalario_sub_gd

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []


## 26. Venta Facturada Nacional Canal Hospitalario (VentaFacturadaPaisHospitalario)

In [198]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()
main = main.drop(columns=['Zona'])

# Calcular
main = main.groupby(['Fecha'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPaisHospitalario'

# Formatear
main.reset_index(inplace=True)
main['Contexto']= 'BBMCO'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_pais_ch = main.copy()
main = None
venta_facturada_pais_ch

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 27. Venta Facturada Zona Hospitalario (VentaFacturadaZonaHospitalario)

In [199]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()

# Calcular
main = main.groupby(['Fecha', 'Zona'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaHospitalario'

# Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_zona_ch = main.copy()
main = None
venta_facturada_zona_ch

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 28. Rentabilidad Zona Hospitalario CM2 (RentabilidadZonaHospitalarioCM2)

In [200]:
main = df_rentabilidad_zona.copy()

# Calcular
main = main.groupby(['Zona', 'Fecha'], as_index =False)[['Real', 'Presupuesto']].apply(sum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadZonaHospitalarioCM2'

#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Zona - Fecha - Rentabilidad

# No hay datos

rentabilidad_zona_hospitalario_cm2 =  main.copy()
main = None
rentabilidad_zona_hospitalario_cm2

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 29. Venta Facturada Braun País (VentaFacturadaBraunPais)

In [201]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','CodigoEmpleado', 'ZonaGeografica','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Calcular
main['Contexto']= 'BBMCO'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)

# main = convertir_a_euros(main)

main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPais'


#Formatear
main.reset_index(inplace=True)

main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]




venta_facturada_braun_pais = main.copy()
main = None
venta_facturada_braun_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaBraunPais,2024-01-01,1.300322e+10,1.322696e+10,0.98
1,BBMCO,VentaFacturadaBraunPais,2024-02-01,2.892989e+10,2.934280e+10,0.99
2,BBMCO,VentaFacturadaBraunPais,2024-03-01,4.752460e+10,4.942121e+10,0.96
3,BBMCO,VentaFacturadaBraunPais,2024-04-01,6.540249e+10,6.610984e+10,0.99
4,BBMCO,VentaFacturadaBraunPais,2024-05-01,8.284682e+10,8.646749e+10,0.96

## 30. Rentabilidad Compañía CM3 (RentabilidadCompaniaCM3)

In [202]:
# Rentabilidad Real / Presupuesto
# Filtar paras CM3 compañía BBMCO
# Totalizar nivel país

main = df_rentabilidad.copy()
main.query('Compania == "BBMCO" and ClaseRentabilidad == "CMIII"', inplace=True)
main.drop(columns=['GrupoProducto', 'SBA', 'ClaseRentabilidad'], inplace=True)
main = main.groupby(['Compania', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadCompaniaCM3'


#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Compania':'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

rentabilidad_compania_cm3 = main.copy()
main= None
rentabilidad_compania_cm3

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 31. Venta Facturada Grupo clientes (KAM) VentaFacturadaGrupoClientesKAMS

In [203]:
venta_recaudo_kams_kam = df_venta_recaudo_kams[df_venta_recaudo_kams['TipoEmpleado'] == 'KAM']
venta_recaudo_kams_kam

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
0,KAM,2,1,2024-01-01,6.676407e+08,7.058871e+08,8.250058e+08,1.238306e+09
1,KAM,2,1,2024-02-01,7.161375e+08,9.612079e+08,7.544683e+08,1.311148e+09
2,KAM,2,1,2024-03-01,1.098697e+09,1.426793e+09,1.028989e+09,1.311148e+09
3,KAM,2,1,2024-04-01,9.236437e+08,9.311702e+08,1.447600e+09,1.165465e+09
4,KAM,2,1,2024-05-01,9.750424e+08,1.261585e+09,1.150838e+09,1.165465e+09
5,KAM,2,2,2024-01-01,2.314848e+09,1.713096e+09,3.128263e+09,3.005208e+09
6,KAM,2,2,2024-02-01,2.463997e+09,2.332727e+09,3.060929e+09,3.181985e+09
7,KAM,2,2,2024-03-01,3.137501e+09,3.462641e+09,2.507223e+09,3.181985e+09
8,KAM,2,2,2024-04-01,2.943462e+09,2.259829e+09,2.413560e+09,2.828431e+09
9,KAM,2,2,2024-05-01,3.245135e+09,3.061704e+09,3.155375e+09,2.828431e+09
10,KAM,2,3,2024-01-01,7.666924e+08,1.011063e+09,9.648359e+08,1.289106e+09
11,KAM,2,3,2024-02-01,1.295610e+09,1.137446e+09,9.414755e+08,1.364935e+09
12,KAM,2,3,2024-03-01,1.084271e+09,1.263829e+09,1.068282e+09,1.364935e+09
13,KAM,2,3,2024-04-01,1.192669e+09,1.042659e+09,1.244076e+09,1.213276e+09
14,KAM,2,3,2024-05-01,1.065424e+09,1.358616e+09,2.190198e+09,1.213276e+09
15,KAM,3,1,2024-01-01,2.336746e+09,2.346066e+09,2.153250e+09,3.361376e+09
16,KAM,3,1,2024-02-01,2.913636e+09,2.796602e+09,3.304046e+09,3.543461e+09
17,KAM,3,1,2024-03-01,2.358894e+09,3.443676e+09,2.810054e+09,3.535914e+09
18,KAM,3,1,2024-04-01,4.225926e+09,2.720194e+09,2.721073e+09,3.163648e+09
19,KAM,3,1,2024-05-01,3.053496e+09,3.484130e+09,5.364129e+09,3.163648e+09
20,KAM,3,2,2024-01-01,4.942717e+08,8.813119e+08,1.469727e+09,9.263984e+08
21,KAM,3,2,2024-02-01,1.172451e+09,1.114637e+09,1.001412e+09,1.138718e+09
22,KAM,3,2,2024-03-01,1.079644e+09,1.288099e+09,6.704431e+08,1.130220e+09
23,KAM,3,2,2024-04-01,7.197784e+08,1.315638e+09,2.549836e+08,1.172340e+09
24,KAM,3,2,2024-05-01,9.482669e+08,1.409765e+09,8.823559e+08,1.155983e+09
25,KAM,3,3,2024-01-01,1.042911e+08,2.205255e+08,2.442811e+08,1.743312e+08
26,KAM,3,3,2024-02-01,2.579535e+08,3.170974e+08,2.444432e+08,1.319832e+08
27,KAM,3,3,2024-03-01,1.660321e+08,3.981507e+08,2.461966e+08,2.247796e+08
28,KAM,3,3,2024-04-01,2.262815e+08,3.917085e+08,1.480967e+08,2.337638e+08
29,KAM,3,3,2024-05-01,1.456031e+08,4.102896e+08,3.683924e+08,3.345715e+08

In [204]:
main = venta_recaudo_kams_kam.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMS'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams = main
main = None
venta_facturada_grupo_clientes_kams

# Contexto: TipoEmpleado_AreaCalculo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2,VentaFacturadaGrupoClientesKAMS,2024-01-01,3.749182e+09,3.430046e+09,1.09
1,kam_2,VentaFacturadaGrupoClientesKAMS,2024-02-01,8.224926e+09,7.861427e+09,1.05
2,kam_2,VentaFacturadaGrupoClientesKAMS,2024-03-01,1.354540e+10,1.401469e+10,0.97
3,kam_2,VentaFacturadaGrupoClientesKAMS,2024-04-01,1.860517e+10,1.824835e+10,1.02
4,kam_2,VentaFacturadaGrupoClientesKAMS,2024-05-01,2.389077e+10,2.393025e+10,1.00
5,kam_3,VentaFacturadaGrupoClientesKAMS,2024-01-01,2.935309e+09,3.447903e+09,0.85
6,kam_3,VentaFacturadaGrupoClientesKAMS,2024-02-01,7.279349e+09,7.676240e+09,0.95
7,kam_3,VentaFacturadaGrupoClientesKAMS,2024-03-01,1.088392e+10,1.280617e+10,0.85
8,kam_3,VentaFacturadaGrupoClientesKAMS,2024-04-01,1.605591e+10,1.723371e+10,0.93
9,kam_3,VentaFacturadaGrupoClientesKAMS,2024-05-01,2.020327e+10,2.253789e+10,0.90

In [205]:
venta_facturada_grupo_clientes_kams[
    (venta_facturada_grupo_clientes_kams['Contexto'] == 'kam_2')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2,VentaFacturadaGrupoClientesKAMS,2024-01-01,3.749182e+09,3.430046e+09,1.09
1,kam_2,VentaFacturadaGrupoClientesKAMS,2024-02-01,8.224926e+09,7.861427e+09,1.05
2,kam_2,VentaFacturadaGrupoClientesKAMS,2024-03-01,1.354540e+10,1.401469e+10,0.97
3,kam_2,VentaFacturadaGrupoClientesKAMS,2024-04-01,1.860517e+10,1.824835e+10,1.02
4,kam_2,VentaFacturadaGrupoClientesKAMS,2024-05-01,2.389077e+10,2.393025e+10,1.00

## 32. Venta Cobrada Grupo clientes (KAM) VentaCobradaGrupoClientesKAMSSub

In [206]:
venta_recaudo_kams_kam.head()

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
0,KAM,2,1,2024-01-01,6.676407e+08,7.058871e+08,8.250058e+08,1.238306e+09
1,KAM,2,1,2024-02-01,7.161375e+08,9.612079e+08,7.544683e+08,1.311148e+09
2,KAM,2,1,2024-03-01,1.098697e+09,1.426793e+09,1.028989e+09,1.311148e+09
3,KAM,2,1,2024-04-01,9.236437e+08,9.311702e+08,1.447600e+09,1.165465e+09
4,KAM,2,1,2024-05-01,9.750424e+08,1.261585e+09,1.150838e+09,1.165465e+09

In [207]:
main = venta_recaudo_kams_kam.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMS'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams = main
main = None
venta_facturada_grupo_clientes_kams

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2,VentaFacturadaGrupoClientesKAMS,2024-01-01,3.749182e+09,3.430046e+09,1.09
1,kam_2,VentaFacturadaGrupoClientesKAMS,2024-02-01,8.224926e+09,7.861427e+09,1.05
2,kam_2,VentaFacturadaGrupoClientesKAMS,2024-03-01,1.354540e+10,1.401469e+10,0.97
3,kam_2,VentaFacturadaGrupoClientesKAMS,2024-04-01,1.860517e+10,1.824835e+10,1.02
4,kam_2,VentaFacturadaGrupoClientesKAMS,2024-05-01,2.389077e+10,2.393025e+10,1.00
5,kam_3,VentaFacturadaGrupoClientesKAMS,2024-01-01,2.935309e+09,3.447903e+09,0.85
6,kam_3,VentaFacturadaGrupoClientesKAMS,2024-02-01,7.279349e+09,7.676240e+09,0.95
7,kam_3,VentaFacturadaGrupoClientesKAMS,2024-03-01,1.088392e+10,1.280617e+10,0.85
8,kam_3,VentaFacturadaGrupoClientesKAMS,2024-04-01,1.605591e+10,1.723371e+10,0.93
9,kam_3,VentaFacturadaGrupoClientesKAMS,2024-05-01,2.020327e+10,2.253789e+10,0.90

In [208]:
main = venta_recaudo_kams_kam.drop(columns=['VentaReal', 'VentaPresupuesto'])
main.rename(columns={'RecaudoReal': 'Real', 'RecaudoPresupuesto':'Presupuesto'}, inplace=True)
main

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,Real,Presupuesto
0,KAM,2,1,2024-01-01,8.250058e+08,1.238306e+09
1,KAM,2,1,2024-02-01,7.544683e+08,1.311148e+09
2,KAM,2,1,2024-03-01,1.028989e+09,1.311148e+09
3,KAM,2,1,2024-04-01,1.447600e+09,1.165465e+09
4,KAM,2,1,2024-05-01,1.150838e+09,1.165465e+09
5,KAM,2,2,2024-01-01,3.128263e+09,3.005208e+09
6,KAM,2,2,2024-02-01,3.060929e+09,3.181985e+09
7,KAM,2,2,2024-03-01,2.507223e+09,3.181985e+09
8,KAM,2,2,2024-04-01,2.413560e+09,2.828431e+09
9,KAM,2,2,2024-05-01,3.155375e+09,2.828431e+09
10,KAM,2,3,2024-01-01,9.648359e+08,1.289106e+09
11,KAM,2,3,2024-02-01,9.414755e+08,1.364935e+09
12,KAM,2,3,2024-03-01,1.068282e+09,1.364935e+09
13,KAM,2,3,2024-04-01,1.244076e+09,1.213276e+09
14,KAM,2,3,2024-05-01,2.190198e+09,1.213276e+09
15,KAM,3,1,2024-01-01,2.153250e+09,3.361376e+09
16,KAM,3,1,2024-02-01,3.304046e+09,3.543461e+09
17,KAM,3,1,2024-03-01,2.810054e+09,3.535914e+09
18,KAM,3,1,2024-04-01,2.721073e+09,3.163648e+09
19,KAM,3,1,2024-05-01,5.364129e+09,3.163648e+09
20,KAM,3,2,2024-01-01,1.469727e+09,9.263984e+08
21,KAM,3,2,2024-02-01,1.001412e+09,1.138718e+09
22,KAM,3,2,2024-03-01,6.704431e+08,1.130220e+09
23,KAM,3,2,2024-04-01,2.549836e+08,1.172340e+09
24,KAM,3,2,2024-05-01,8.823559e+08,1.155983e+09
25,KAM,3,3,2024-01-01,2.442811e+08,1.743312e+08
26,KAM,3,3,2024-02-01,2.444432e+08,1.319832e+08
27,KAM,3,3,2024-03-01,2.461966e+08,2.247796e+08
28,KAM,3,3,2024-04-01,1.480967e+08,2.337638e+08
29,KAM,3,3,2024-05-01,3.683924e+08,3.345715e+08

In [209]:
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str') + '_'+ main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaCobradaGrupoClientesKAMSSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_grupo_clientes_kams_sub = main
main = None
venta_cobrada_grupo_clientes_kams_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2_1,VentaCobradaGrupoClientesKAMSSub,2024-01-01,8.250058e+08,1.238306e+09,0.67
1,kam_2_1,VentaCobradaGrupoClientesKAMSSub,2024-02-01,1.579474e+09,2.549454e+09,0.62
2,kam_2_1,VentaCobradaGrupoClientesKAMSSub,2024-03-01,2.608463e+09,3.860602e+09,0.68
3,kam_2_1,VentaCobradaGrupoClientesKAMSSub,2024-04-01,4.056063e+09,5.026066e+09,0.81
4,kam_2_1,VentaCobradaGrupoClientesKAMSSub,2024-05-01,5.206901e+09,6.191531e+09,0.84
5,kam_2_2,VentaCobradaGrupoClientesKAMSSub,2024-01-01,3.128263e+09,3.005208e+09,1.04
6,kam_2_2,VentaCobradaGrupoClientesKAMSSub,2024-02-01,6.189192e+09,6.187193e+09,1.00
7,kam_2_2,VentaCobradaGrupoClientesKAMSSub,2024-03-01,8.696415e+09,9.369177e+09,0.93
8,kam_2_2,VentaCobradaGrupoClientesKAMSSub,2024-04-01,1.110997e+10,1.219761e+10,0.91
9,kam_2_2,VentaCobradaGrupoClientesKAMSSub,2024-05-01,1.426535e+10,1.502604e+10,0.95
10,kam_2_3,VentaCobradaGrupoClientesKAMSSub,2024-01-01,9.648359e+08,1.289106e+09,0.75
11,kam_2_3,VentaCobradaGrupoClientesKAMSSub,2024-02-01,1.906311e+09,2.654041e+09,0.72
12,kam_2_3,VentaCobradaGrupoClientesKAMSSub,2024-03-01,2.974594e+09,4.018976e+09,0.74
13,kam_2_3,VentaCobradaGrupoClientesKAMSSub,2024-04-01,4.218670e+09,5.232252e+09,0.81
14,kam_2_3,VentaCobradaGrupoClientesKAMSSub,2024-05-01,6.408868e+09,6.445528e+09,0.99
15,kam_3_1,VentaCobradaGrupoClientesKAMSSub,2024-01-01,2.153250e+09,3.361376e+09,0.64
16,kam_3_1,VentaCobradaGrupoClientesKAMSSub,2024-02-01,5.457296e+09,6.904836e+09,0.79
17,kam_3_1,VentaCobradaGrupoClientesKAMSSub,2024-03-01,8.267349e+09,1.044075e+10,0.79
18,kam_3_1,VentaCobradaGrupoClientesKAMSSub,2024-04-01,1.098842e+10,1.360440e+10,0.81
19,kam_3_1,VentaCobradaGrupoClientesKAMSSub,2024-05-01,1.635255e+10,1.676805e+10,0.98
20,kam_3_2,VentaCobradaGrupoClientesKAMSSub,2024-01-01,1.469727e+09,9.263984e+08,1.59
21,kam_3_2,VentaCobradaGrupoClientesKAMSSub,2024-02-01,2.471139e+09,2.065117e+09,1.20
22,kam_3_2,VentaCobradaGrupoClientesKAMSSub,2024-03-01,3.141582e+09,3.195337e+09,0.98
23,kam_3_2,VentaCobradaGrupoClientesKAMSSub,2024-04-01,3.396566e+09,4.367677e+09,0.78
24,kam_3_2,VentaCobradaGrupoClientesKAMSSub,2024-05-01,4.278922e+09,5.523660e+09,0.77
25,kam_3_3,VentaCobradaGrupoClientesKAMSSub,2024-01-01,2.442811e+08,1.743312e+08,1.40
26,kam_3_3,VentaCobradaGrupoClientesKAMSSub,2024-02-01,4.887243e+08,3.063143e+08,1.60
27,kam_3_3,VentaCobradaGrupoClientesKAMSSub,2024-03-01,7.349210e+08,5.310939e+08,1.38
28,kam_3_3,VentaCobradaGrupoClientesKAMSSub,2024-04-01,8.830177e+08,7.648577e+08,1.15
29,kam_3_3,VentaCobradaGrupoClientesKAMSSub,2024-05-01,1.251410e+09,1.099429e+09,1.14

## 32.1 Venta Facturada Grupo clientes (KAM) VentaFacturadaGrupoClientesKAMSSub (2024)

In [210]:
venta_recaudo_kams_kam.head()

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
0,KAM,2,1,2024-01-01,6.676407e+08,7.058871e+08,8.250058e+08,1.238306e+09
1,KAM,2,1,2024-02-01,7.161375e+08,9.612079e+08,7.544683e+08,1.311148e+09
2,KAM,2,1,2024-03-01,1.098697e+09,1.426793e+09,1.028989e+09,1.311148e+09
3,KAM,2,1,2024-04-01,9.236437e+08,9.311702e+08,1.447600e+09,1.165465e+09
4,KAM,2,1,2024-05-01,9.750424e+08,1.261585e+09,1.150838e+09,1.165465e+09

In [211]:
main = venta_recaudo_kams_kam.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main = main.merge(
    df_empleados
)
main.reset_index(inplace=True)
main['Contexto'] = main['CodigoEmpleado']
main

,index,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,Real,Presupuesto,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,0,KAM,2,1,2024-01-01,6.676407e+08,7.058871e+08,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
1,1,KAM,2,1,2024-02-01,7.161375e+08,9.612079e+08,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
2,2,KAM,2,1,2024-03-01,1.098697e+09,1.426793e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
3,3,KAM,2,1,2024-04-01,9.236437e+08,9.311702e+08,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
4,4,KAM,2,1,2024-05-01,9.750424e+08,1.261585e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
5,5,KAM,2,2,2024-01-01,2.314848e+09,1.713096e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
6,6,KAM,2,2,2024-02-01,2.463997e+09,2.332727e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
7,7,KAM,2,2,2024-03-01,3.137501e+09,3.462641e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
8,8,KAM,2,2,2024-04-01,2.943462e+09,2.259829e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
9,9,KAM,2,2,2024-05-01,3.245135e+09,3.061704e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
10,10,KAM,2,3,2024-01-01,7.666924e+08,1.011063e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
11,11,KAM,2,3,2024-02-01,1.295610e+09,1.137446e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
12,12,KAM,2,3,2024-03-01,1.084271e+09,1.263829e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
13,13,KAM,2,3,2024-04-01,1.192669e+09,1.042659e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
14,14,KAM,2,3,2024-05-01,1.065424e+09,1.358616e+09,5004293,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293
15,15,KAM,3,1,2024-01-01,2.336746e+09,2.346066e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
16,16,KAM,3,1,2024-02-01,2.913636e+09,2.796602e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
17,17,KAM,3,1,2024-03-01,2.358894e+09,3.443676e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
18,18,KAM,3,1,2024-04-01,4.225926e+09,2.720194e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
19,19,KAM,3,1,2024-05-01,3.053496e+09,3.484130e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
20,20,KAM,3,2,2024-01-01,4.942717e+08,8.813119e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
21,21,KAM,3,2,2024-02-01,1.172451e+09,1.114637e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
22,22,KAM,3,2,2024-03-01,1.079644e+09,1.288099e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
23,23,KAM,3,2,2024-04-01,7.197784e+08,1.315638e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
24,24,KAM,3,2,2024-05-01,9.482669e+08,1.409765e+09,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
25,25,KAM,3,3,2024-01-01,1.042911e+08,2.205255e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
26,26,KAM,3,3,2024-02-01,2.579535e+08,3.170974e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
27,27,KAM,3,3,2024-03-01,1.660321e+08,3.981507e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
28,28,KAM,3,3,2024-04-01,2.262815e+08,3.917085e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142
29,29,KAM,3,3,2024-05-01,1.456031e+08,4.102896e+08,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142

In [212]:
main_centro_costo = pd.merge(
    area_calculo_sba_completo,
    main,
    on=['AreaCalculo', 'Consecutivo', 'TipoEmpleado'],
    how='right'
).merge(
    df_empleados_centros_costos,
    on=['CodigoEmpleado'],
    how='left'
)
main_centro_costo

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,index,Fecha,Real,Presupuesto,...,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto,CodigoCentroCosto,PorcentajeAsignacion
0,2,1,HC,630,08,KAM,0,2024-01-01,6.676407e+08,7.058871e+08,...,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293,323015090,1.00
1,2,1,HC,630,08,KAM,1,2024-02-01,7.161375e+08,9.612079e+08,...,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293,323015090,1.00
2,2,1,HC,630,08,KAM,2,2024-03-01,1.098697e+09,1.426793e+09,...,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293,323015090,1.00
3,2,1,HC,630,08,KAM,3,2024-04-01,9.236437e+08,9.311702e+08,...,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293,323015090,1.00
4,2,1,HC,630,08,KAM,4,2024-05-01,9.750424e+08,1.261585e+09,...,1053784354,angela.serna@bbraun.com,ANGELA MARIA,SERNA CASTRILLON,2500000.0,2013-06-17,NaT,5004293,323015090,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,3,3,NaN,NaN,NaN,KAM,28,2024-04-01,2.262815e+08,3.917085e+08,...,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142,323010160,0.25
61,3,3,NaN,NaN,NaN,KAM,28,2024-04-01,2.262815e+08,3.917085e+08,...,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142,323015060,0.70
62,3,3,NaN,NaN,NaN,KAM,29,2024-05-01,1.456031e+08,4.102896e+08,...,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142,323007334,0.05
63,3,3,NaN,NaN,NaN,KAM,29,2024-05-01,1.456031e+08,4.102896e+08,...,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142,323010160,0.25
64,3,3,NaN,NaN,NaN,KAM,29,2024-05-01,1.456031e+08,4.102896e+08,...,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,42897142,323015060,0.70

In [213]:
venta_facturada_grupo_clientes_kam_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'VentaFacturadaGrupoClientesKAMSSub')
venta_facturada_grupo_clientes_kam_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,5004293_1,2024-01-01,630,HC,323015090,6.676407e+08,7.058871e+08,VentaFacturadaGrupoClientesKAMSSub
1,5004293_1,2024-02-01,630,HC,323015090,1.383778e+09,1.667095e+09,VentaFacturadaGrupoClientesKAMSSub
2,5004293_1,2024-03-01,630,HC,323015090,2.482475e+09,3.093888e+09,VentaFacturadaGrupoClientesKAMSSub
3,5004293_1,2024-04-01,630,HC,323015090,3.406119e+09,4.025058e+09,VentaFacturadaGrupoClientesKAMSSub
4,5004293_1,2024-05-01,630,HC,323015090,4.381161e+09,5.286644e+09,VentaFacturadaGrupoClientesKAMSSub
5,5004293_2,2024-01-01,630,HC,323015090,2.314848e+09,1.713096e+09,VentaFacturadaGrupoClientesKAMSSub
6,5004293_2,2024-01-01,CDK,HC,323015090,2.314848e+09,1.713096e+09,VentaFacturadaGrupoClientesKAMSSub
7,5004293_2,2024-02-01,630,HC,323015090,4.778845e+09,4.045823e+09,VentaFacturadaGrupoClientesKAMSSub
8,5004293_2,2024-02-01,CDK,HC,323015090,4.778845e+09,4.045823e+09,VentaFacturadaGrupoClientesKAMSSub
9,5004293_2,2024-03-01,630,HC,323015090,7.916346e+09,7.508463e+09,VentaFacturadaGrupoClientesKAMSSub
10,5004293_2,2024-03-01,CDK,HC,323015090,7.916346e+09,7.508463e+09,VentaFacturadaGrupoClientesKAMSSub
11,5004293_2,2024-04-01,630,HC,323015090,1.085981e+10,9.768292e+09,VentaFacturadaGrupoClientesKAMSSub
12,5004293_2,2024-04-01,CDK,HC,323015090,1.085981e+10,9.768292e+09,VentaFacturadaGrupoClientesKAMSSub
13,5004293_2,2024-05-01,630,HC,323015090,1.410494e+10,1.283000e+10,VentaFacturadaGrupoClientesKAMSSub
14,5004293_2,2024-05-01,CDK,HC,323015090,1.410494e+10,1.283000e+10,VentaFacturadaGrupoClientesKAMSSub
15,5004293_3,2024-01-01,620,HC,323015090,7.666924e+08,1.011063e+09,VentaFacturadaGrupoClientesKAMSSub
16,5004293_3,2024-02-01,620,HC,323015090,2.062303e+09,2.148509e+09,VentaFacturadaGrupoClientesKAMSSub
17,5004293_3,2024-03-01,620,HC,323015090,3.146574e+09,3.412338e+09,VentaFacturadaGrupoClientesKAMSSub
18,5004293_3,2024-04-01,620,HC,323015090,4.339242e+09,4.454997e+09,VentaFacturadaGrupoClientesKAMSSub
19,5004293_3,2024-05-01,620,HC,323015090,5.404667e+09,5.813613e+09,VentaFacturadaGrupoClientesKAMSSub

In [214]:
df_empleados[
    (df_empleados['TipoEmpleado'] == 'KAM') &
    (df_empleados['AreaCalculo'] == 3)
]

,TipoEmpleado,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo
73,KAM,42897142,42897142,silvia.marin@bbraun.com,SILVIA ELENA,MARIN ESCOBAR,3000000.0,2019-08-01,NaT,3

In [215]:
# main['Real'] = main.groupby(['Contexto', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
# main['Presupuesto'] = main.groupby(['Contexto', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

# main['Contexto'] = main['Contexto'].str.lower() + '_'+ main['Consecutivo'].astype(int).astype('str')
# main['Variable'] = 'VentaFacturadaGrupoClientesKAMSSub'
# main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
# main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# venta_facturada_grupo_clientes_kams_sub = main
# main = None
# venta_facturada_grupo_clientes_kams_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo

In [216]:
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str') + '_'+ main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMSSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams_sub = main
main = None
venta_facturada_grupo_clientes_kams_sub

# # Contexto: TipoEmpleado_AreaCalculo_Consecutivo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_2_1,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,6.676407e+08,7.058871e+08,0.95
1,kam_2_1,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,1.383778e+09,1.667095e+09,0.83
2,kam_2_1,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,2.482475e+09,3.093888e+09,0.80
3,kam_2_1,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,3.406119e+09,4.025058e+09,0.85
4,kam_2_1,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,4.381161e+09,5.286644e+09,0.83
5,kam_2_2,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,2.314848e+09,1.713096e+09,1.35
6,kam_2_2,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,4.778845e+09,4.045823e+09,1.18
7,kam_2_2,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,7.916346e+09,7.508463e+09,1.05
8,kam_2_2,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,1.085981e+10,9.768292e+09,1.11
9,kam_2_2,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,1.410494e+10,1.283000e+10,1.10
10,kam_2_3,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,7.666924e+08,1.011063e+09,0.76
11,kam_2_3,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,2.062303e+09,2.148509e+09,0.96
12,kam_2_3,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,3.146574e+09,3.412338e+09,0.92
13,kam_2_3,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,4.339242e+09,4.454997e+09,0.97
14,kam_2_3,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,5.404667e+09,5.813613e+09,0.93
15,kam_3_1,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,2.336746e+09,2.346066e+09,1.00
16,kam_3_1,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,5.250382e+09,5.142668e+09,1.02
17,kam_3_1,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,7.609276e+09,8.586344e+09,0.89
18,kam_3_1,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,1.183520e+10,1.130654e+10,1.05
19,kam_3_1,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,1.488870e+10,1.479067e+10,1.01
20,kam_3_2,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,4.942717e+08,8.813119e+08,0.56
21,kam_3_2,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,1.666722e+09,1.995949e+09,0.84
22,kam_3_2,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,2.746367e+09,3.284048e+09,0.84
23,kam_3_2,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,3.466145e+09,4.599686e+09,0.75
24,kam_3_2,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,4.414412e+09,6.009451e+09,0.73
25,kam_3_3,VentaFacturadaGrupoClientesKAMSSub,2024-01-01,1.042911e+08,2.205255e+08,0.47
26,kam_3_3,VentaFacturadaGrupoClientesKAMSSub,2024-02-01,3.622446e+08,5.376230e+08,0.67
27,kam_3_3,VentaFacturadaGrupoClientesKAMSSub,2024-03-01,5.282767e+08,9.357736e+08,0.56
28,kam_3_3,VentaFacturadaGrupoClientesKAMSSub,2024-04-01,7.545582e+08,1.327482e+09,0.57
29,kam_3_3,VentaFacturadaGrupoClientesKAMSSub,2024-05-01,9.001613e+08,1.737772e+09,0.52

## 33. KPIs Surgical

In [217]:
### Cálculo de resultados cualitativos precargados
main = df_resultados_variables_cualitativas[df_resultados_variables_cualitativas['Variable'] == 'KpisSurgical'].copy()
main['Contexto'] = main['CodigoEmpleado'].str.lower() + '_' + main['Consecutivo'].astype(int).astype('str')
main['Real'] = np.nan
main['Presupuesto'] = np.nan
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###
kpis_surgical = main
main = None
kpis_surgical

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1013587064_1,KpisSurgical,2024-03-01,NaN,NaN,0.94
1,20759929_1,KpisSurgical,2024-03-01,NaN,NaN,0.94
2,1113625698_1,KpisSurgical,2024-03-01,NaN,NaN,0.94
3,79539822_1,KpisSurgical,2024-03-01,NaN,NaN,0.94
4,53007777_1,KpisSurgical,2024-03-01,NaN,NaN,0.94
...,...,...,...,...,...,...
103,1026292468_1,KpisSurgical,2024-05-01,NaN,NaN,0.94
104,1026292468_2,KpisSurgical,2024-05-01,NaN,NaN,1.15
105,1032400978_2,KpisSurgical,2024-05-01,NaN,NaN,1.15
106,1032400978_3,KpisSurgical,2024-05-01,NaN,NaN,1.01
107,1026292468_3,KpisSurgical,2024-05-01,NaN,NaN,1.01

# Nuevos rubros 2023

## 34. VentaCobradaPortafolioZonaClusterSub

In [218]:
df_area_calculo_sba_centros_costos_ve = df_area_calculo_sba_centros_costos[
    df_area_calculo_sba_centros_costos['TipoEmpleado'] == 'VE'
]
df_area_calculo_sba_centros_costos_ve =  df_area_calculo_sba_centros_costos_ve.rename(columns={'ConsecutivoParrilla':'Consecutivo'})

df_area_calculo_sba_centros_costos_ve.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 193 to 222
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TipoEmpleado       30 non-null     object
 1   AreaCalculo        30 non-null     int32
 2   Consecutivo        30 non-null     int64
 3   Division           30 non-null     object
 4   GrupoProducto      30 non-null     object
 5   SBA                11 non-null     object
 6   CodigoCentroCosto  30 non-null     float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 1.8+ KB

In [219]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'VE']
area_calculo_sba_completo_ve.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 218 to 253
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AreaCalculo    61 non-null     int32
 1   Consecutivo    61 non-null     int32
 2   Division       61 non-null     object
 3   GrupoProducto  61 non-null     object
 4   SBA            61 non-null     object
 5   TipoEmpleado   61 non-null     object
dtypes: int32(2), object(4)
memory usage: 2.9+ KB

In [220]:
area_calculo_sba_completo_ve.merge(
    df_area_calculo_sba_centros_costos_ve.fillna(''),
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
).head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto
0,1,1,AE,005,,VE,323010140.0
1,1,1,AE,M07,,VE,323010140.0
2,1,2,AE,M08,,VE,323010140.0
3,2,1,AE,003,,VE,323007260.0
4,2,1,AE,CEK,35,VE,323010140.0

In [221]:
df_area_calculo_sba_centros_costos_ve = area_calculo_sba_completo_ve.merge(
    df_centros_costos_grupos_productos_divisiones,
    on=['Division','GrupoProducto'],
    how='left'
)
df_area_calculo_sba_centros_costos_ve

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto
0,1,1,AE,005,,VE,323010140
1,1,1,AE,M07,,VE,323010140
2,1,2,AE,M08,,VE,323010140
3,2,1,AE,003,,VE,323007260
4,2,1,AE,CEK,35,VE,323010140
...,...,...,...,...,...,...,...
56,10,1,BA,A32,84,VE,323007333
57,11,1,BA,A35,87,VE,323007330
58,12,1,AE,805,30,VE,323007290
59,12,2,AE,M06,31,VE,323007290
60,12,2,AE,M06,30,VE,323007290

In [222]:
venta_recaudo_presupuesto_original_ve_real.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,2,1,AE,CEK,35,VE,Centro,0,DISTRIBUIDOR AMB,2024-01-01,1050000.0,0.0
1,2,1,AE,CEK,35,VE,Centro,0,DISTRIBUIDOR AMB,2024-02-01,0.0,1050000.0
2,4,1,HC,630,08,VE,Norte,16,DISTRIBUIDOR,2024-01-01,3681875.0,7123400.0
3,4,1,HC,630,08,VE,Norte,16,DISTRIBUIDOR,2024-02-01,5799000.0,711000.0
4,4,1,HC,630,08,VE,Norte,16,DISTRIBUIDOR,2024-03-01,1712050.0,0.0

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto

In [223]:
# Se remplaza lógica de área de cálculo SBA
# drop_cols = ['Canal', 'TipoEmpleado','Venta']
# venta_recaudo_presupuesto_original_ve_real_zona_cluster = pd.merge(
#     left=area_calculo_sba_completo_ve,
#     right=venta_recaudo_presupuesto_original_ve_real,
#     on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
#     how='left'
# )

# venta_recaudo_presupuesto_original_ve_real_zona_cluster

In [224]:
drop_cols = ['Canal', 'TipoEmpleado','Venta']
venta_recaudo_presupuesto_original_ve_real_zona_cluster = pd.merge(
    left=df_area_calculo_sba_centros_costos_ve,
    right=venta_recaudo_presupuesto_original_ve_real,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
)

venta_recaudo_presupuesto_original_ve_real_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,DISTRIBUIDOR AMB,2024-01-01,1050000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5006,12,2,AE,M06,30,VE,323007290,Centro,3,HOSPITAL,2024-01-01,24381100.0,0.0
5007,12,2,AE,M06,30,VE,323007290,Centro,3,HOSPITAL,2024-02-01,-1219056.0,23162044.0
5008,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-02-01,12179700.0,0.0
5009,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-03-01,23141400.0,0.0
5010,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-04-01,48287200.0,0.0

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto y Empleado

In [225]:
# Se remplaza lógica de área de cálculo SBA
# venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster = pd.merge(
#     left=area_calculo_sba_completo_ve,
#     right=venta_recaudo_presupuesto_original_ve_presupuesto,
#     on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
#     how='left'
# )
# venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster

In [226]:
df_area_calculo_sba_centros_costos_ve[df_area_calculo_sba_centros_costos_ve['AreaCalculo'] == 11]

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto
27,11,1,BA,A35,,VE,323007330
57,11,1,BA,A35,87,VE,323007330

In [227]:
venta_recaudo_presupuesto_original_ve_presupuesto[
    (venta_recaudo_presupuesto_original_ve_presupuesto['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_presupuesto['Fecha']=="2024-01-01") &
    (venta_recaudo_presupuesto_original_ve_presupuesto['ZonaGeografica']=="Centro")
]

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
6897,11,1,BA,A35,87,VE,Centro,22,DISTRIBUIDOR,2024-01-01,6.727533e+06,4.773240e+06
6902,11,1,BA,A35,87,VE,Centro,22,HOSPITAL,2024-01-01,6.781320e+05,4.811403e+05
6907,11,1,BA,A35,87,VE,Centro,22,OPL,2024-01-01,8.487866e+07,6.022212e+07
6912,11,1,BA,A35,87,VE,Centro,22,RENAL AMB,2024-01-01,0.000000e+00,0.000000e+00
6917,11,1,BA,A35,87,VE,Centro,22,TELEVENTAS DISTRIBUIDOR,2024-01-01,1.510806e+07,1.071930e+07

In [228]:
venta_recaudo_presupuesto_original_ve_presupuesto[
    (venta_recaudo_presupuesto_original_ve_presupuesto['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_presupuesto['Fecha']=="2024-01-01") &
    (venta_recaudo_presupuesto_original_ve_presupuesto['ZonaGeografica']=="Centro")
]['Venta'].sum()

107392391.60783994

In [229]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster = pd.merge(
    left=df_area_calculo_sba_centros_costos_ve, 
    right=venta_recaudo_presupuesto_original_ve_presupuesto,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
)
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,DISTRIBUIDOR AMB,2024-01-01,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7378,12,2,AE,M06,30,VE,323007290,Centro,3,HOSPITAL,2024-01-01,0.0,0.0
7379,12,2,AE,M06,30,VE,323007290,Centro,3,HOSPITAL,2024-02-01,0.0,0.0
7380,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-02-01,0.0,0.0
7381,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-03-01,0.0,0.0
7382,12,2,AE,M06,30,VE,323007290,Suroccidente,8,HOSPITAL,2024-04-01,0.0,0.0

In [230]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['Fecha']=="2024-01-01") &
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['ZonaGeografica']=="Centro")
]

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
6916,11,1,BA,A35,87,VE,323007330,Centro,22,DISTRIBUIDOR,2024-01-01,6.727533e+06,4.773240e+06
6921,11,1,BA,A35,87,VE,323007330,Centro,22,HOSPITAL,2024-01-01,6.781320e+05,4.811403e+05
6926,11,1,BA,A35,87,VE,323007330,Centro,22,OPL,2024-01-01,8.487866e+07,6.022212e+07
6931,11,1,BA,A35,87,VE,323007330,Centro,22,RENAL AMB,2024-01-01,0.000000e+00,0.000000e+00
6936,11,1,BA,A35,87,VE,323007330,Centro,22,TELEVENTAS DISTRIBUIDOR,2024-01-01,1.510806e+07,1.071930e+07

In [231]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['Fecha']=="2024-01-01")
]['Venta'].sum()

134044433.4970858

In [232]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['Fecha']=="2024-01-01")
]['Recaudo'].sum()

95105634.9713295

In [233]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_real_zona_cluster['AreaCalculo']==11) &
    (venta_recaudo_presupuesto_original_ve_real_zona_cluster['Fecha']=="2024-01-01")
]

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
4689,11,1,BA,A35,87,VE,323007330,Centro,22,DISTRIBUIDOR,2024-01-01,12730830.0,10582830.0
4696,11,1,BA,A35,87,VE,323007330,Centro,22,OPL,2024-01-01,9295347.6,104948268.0
4701,11,1,BA,A35,87,VE,323007330,Centro,22,RENAL AMB,2024-01-01,3780000.0,0.0
4706,11,1,BA,A35,87,VE,323007330,Centro,22,TELEVENTAS DISTRIBUIDOR,2024-01-01,4977000.0,21597000.0
4711,11,1,BA,A35,87,VE,323007330,Norte,22,DISTRIBUIDOR,2024-01-01,-276510.0,5253690.0
4715,11,1,BA,A35,87,VE,323007330,Norte,22,OPL,2024-01-01,731581.2,5092218.0
4722,11,1,BA,A35,87,VE,323007330,Suroccidente,22,DISTRIBUIDOR,2024-01-01,11310000.0,0.0
4727,11,1,BA,A35,87,VE,323007330,Suroccidente,22,OPL,2024-01-01,310111.2,3403314.0

In [234]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_real_zona_cluster['AreaCalculo']==11)
]['Recaudo'].sum()

894064232.4699999

In [235]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_real_zona_cluster['AreaCalculo']==11) 
]['Venta'].sum()

603798137.47

In [236]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo', 'Division','GrupoProducto', 'SBA','CodigoCentroCosto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_ve

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Real
0,1,Centro,2024-01-01,0,1,AE,005,33,323010140,1304800.0
1,1,Centro,2024-01-01,0,1,AE,M07,33,323010140,17477400.0
2,1,Centro,2024-01-01,0,2,AE,M08,33,323010140,5209600.0
3,1,Centro,2024-01-01,1,1,AE,005,33,323010140,392400.0
4,1,Centro,2024-01-01,1,1,AE,M07,33,323010140,246356800.0
...,...,...,...,...,...,...,...,...,...,...
2444,12,Suroccidente,2024-05-01,12,1,AE,805,30,323007290,498370.0
2445,12,Suroccidente,2024-05-01,12,2,AE,M06,31,323007290,5550400.0
2446,12,Suroccidente,2024-05-01,8,1,AE,805,30,323007290,45308440.0
2447,12,Suroccidente,2024-05-01,8,2,AE,M06,31,323007290,43975900.0
2448,12,Suroccidente,2024-05-01,9,1,AE,805,30,323007290,0.0

In [237]:
recaudo_real_zona_ve[
    (recaudo_real_zona_ve['AreaCalculo']==11) &
    (recaudo_real_zona_ve['Fecha']=="2024-01-01")
]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Real
2254,11,Centro,2024-01-01,22,1,BA,A35,87,323007330,137128098.0
2259,11,Norte,2024-01-01,22,1,BA,A35,87,323007330,10345908.0
2264,11,Suroccidente,2024-01-01,22,1,BA,A35,87,323007330,3403314.0

In [238]:
recaudo_real_zona_ve[
    (recaudo_real_zona_ve['AreaCalculo']==11) &
    (recaudo_real_zona_ve['Fecha']=="2024-01-01")
]['Real'].sum()

150877320.0

In [239]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['AreaCalculo']==11)
]['Venta'].sum()

1429807290.635582

In [240]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster[
    (venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster['AreaCalculo']==11)
]['Recaudo'].sum()

603900860.7794359

In [241]:
recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo', 'Division','GrupoProducto', 'SBA', 'CodigoCentroCosto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)
recaudo_presupuesto_zona_ve

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto
0,1,Centro,2024-01-01,0,1,AE,005,33,323010140,1.380577e+05
1,1,Centro,2024-01-01,0,1,AE,M07,33,323010140,1.888562e+06
2,1,Centro,2024-01-01,0,2,AE,M08,33,323010140,0.000000e+00
3,1,Centro,2024-01-01,1,1,AE,005,33,323010140,5.950000e+05
4,1,Centro,2024-01-01,1,1,AE,M07,33,323010140,1.466669e+08
...,...,...,...,...,...,...,...,...,...,...
3120,12,Suroccidente,2024-05-01,12,2,AE,M06,31,323007290,1.090889e+07
3121,12,Suroccidente,2024-05-01,8,1,AE,805,30,323007290,5.337964e+07
3122,12,Suroccidente,2024-05-01,8,2,AE,M06,31,323007290,2.037706e+07
3123,12,Suroccidente,2024-05-01,9,1,AE,805,30,323007290,2.301873e+07
3124,12,Suroccidente,2024-05-01,9,2,AE,M06,31,323007290,2.484000e+06

In [242]:
recaudo_presupuesto_zona_ve[
    (recaudo_presupuesto_zona_ve['AreaCalculo']==11) &
    (recaudo_presupuesto_zona_ve['Fecha']=="2024-01-01")
]['Presupuesto'].sum()

95105634.97132948

In [243]:
# recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
# recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

# recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
# recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha', 'Cluster', 'Consecutivo', 'GrupoProducto', 'Division', 'SBA', 'CodigoCentroCosto'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto,Real
0,1,Centro,2024-01-01,0,1,AE,005,33,323010140,1.380577e+05,1304800.0
1,1,Centro,2024-01-01,0,1,AE,M07,33,323010140,1.888562e+06,17477400.0
2,1,Centro,2024-01-01,0,2,AE,M08,33,323010140,0.000000e+00,5209600.0
3,1,Centro,2024-01-01,1,1,AE,005,33,323010140,5.950000e+05,392400.0
4,1,Centro,2024-01-01,1,1,AE,M07,33,323010140,1.466669e+08,246356800.0
...,...,...,...,...,...,...,...,...,...,...,...
3120,12,Suroccidente,2024-05-01,12,2,AE,M06,31,323007290,1.090889e+07,5550400.0
3121,12,Suroccidente,2024-05-01,8,1,AE,805,30,323007290,5.337964e+07,45308440.0
3122,12,Suroccidente,2024-05-01,8,2,AE,M06,31,323007290,2.037706e+07,43975900.0
3123,12,Suroccidente,2024-05-01,9,1,AE,805,30,323007290,2.301873e+07,0.0
3124,12,Suroccidente,2024-05-01,9,2,AE,M06,31,323007290,2.484000e+06,0.0

In [244]:
main[
    (main['Fecha'] == '2024-04-01') &
    (main['AreaCalculo'] == 11)
]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto,Real
2892,11,Centro,2024-04-01,22,1,BA,A35,87,323007330,1.116712e+08,68956842.0
2897,11,Norte,2024-04-01,22,1,BA,A35,87,323007330,1.564804e+07,3862686.0
2902,11,Suroccidente,2024-04-01,22,1,BA,A35,87,323007330,1.206590e+07,11576472.0

In [245]:
main[
    (main['Fecha'] == '2024-01-01') &
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

95105634.97132948

In [246]:
main[
    (main['Fecha'] == '2024-01-01') &
    (main['AreaCalculo'] == 11)
]['Real'].sum()

150877320.0

In [247]:
# df_zonas_clusters_empleado[
#     (df_zonas_clusters_empleado['CodigoEmpleado'] == '79625102') &
#     (df_zonas_clusters_empleado['TipoEmpleado'] == 'VE') &
#     (df_zonas_clusters_empleado['AreaCalculo'] == 11)
# ]

In [248]:
# main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
# main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas

main = pd.merge(
    main,
    df_zonas_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona', 'Cluster']].rename(columns={'Zona': 'ZonaGeografica'}),
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica', 'Cluster'],
    how='inner'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='inner'
)

# main = main[main['Fecha'] >= main['FechaIngreso']]
main

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
0,2,Centro,2024-01-01,0,1,AE,003,35,323007260,3.068835e+07,12306551.0,VE,5003527,2012-02-20
1,2,Centro,2024-01-01,0,1,AE,CEK,35,323010140,0.000000e+00,0.0,VE,5003527,2012-02-20
2,2,Centro,2024-01-01,0,2,AE,801,32,323007350,2.738245e+05,0.0,VE,5003527,2012-02-20
3,2,Centro,2024-01-01,0,3,AE,006,36,323007300,5.358631e+05,0.0,VE,5003527,2012-02-20
4,2,Centro,2024-02-01,0,1,AE,003,35,323007260,4.091781e+07,22112149.0,VE,5003527,2012-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,12,Suroccidente,2024-03-01,9,2,AE,M06,31,323007290,2.208000e+06,0.0,VE,1111125,2023-04-01
3090,12,Suroccidente,2024-04-01,9,1,AE,805,30,323007290,2.589608e+07,1367700.0,VE,1111125,2023-04-01
3091,12,Suroccidente,2024-04-01,9,2,AE,M06,31,323007290,2.208000e+06,0.0,VE,1111125,2023-04-01
3092,12,Suroccidente,2024-05-01,9,1,AE,805,30,323007290,2.301873e+07,0.0,VE,1111125,2023-04-01
3093,12,Suroccidente,2024-05-01,9,2,AE,M06,31,323007290,2.484000e+06,0.0,VE,1111125,2023-04-01

In [249]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-01-01') &
    (main['AreaCalculo'] == 11)
]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
2858,11,Centro,2024-01-01,22,1,BA,A35,87,323007330,7.619579e+07,137128098.0,VE,79625102,2024-02-01
2863,11,Norte,2024-01-01,22,1,BA,A35,87,323007330,1.067701e+07,10345908.0,VE,79625102,2024-02-01
2868,11,Suroccidente,2024-01-01,22,1,BA,A35,87,323007330,8.232834e+06,3403314.0,VE,79625102,2024-02-01

In [250]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-01-01')&
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

95105634.97132948

In [251]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-01-01')&
    (main['AreaCalculo'] == 11)
]['Real'].sum()

150877320.0

In [252]:
venta_cobrada_portafolio_zona_cluster_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main, 'VentaCobradaPortafolioZonaClusterSub')
venta_cobrada_portafolio_zona_cluster_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1010166177_1,2024-01-01,660,BA,323007337,1.012985e+07,4.646023e+06,VentaCobradaPortafolioZonaClusterSub
1,1010166177_1,2024-01-01,902,BA,323007337,0.000000e+00,2.093894e+05,VentaCobradaPortafolioZonaClusterSub
2,1010166177_1,2024-01-01,A45,BA,323007337,1.025310e+08,6.243911e+07,VentaCobradaPortafolioZonaClusterSub
3,1010166177_1,2024-02-01,660,BA,323007337,2.020898e+07,9.292047e+06,VentaCobradaPortafolioZonaClusterSub
4,1010166177_1,2024-02-01,902,BA,323007337,0.000000e+00,4.187787e+05,VentaCobradaPortafolioZonaClusterSub
...,...,...,...,...,...,...,...,...
387,94487610_5,2024-01-01,610,HC,323015040,8.632128e+07,1.788196e+08,VentaCobradaPortafolioZonaClusterSub
388,94487610_5,2024-02-01,610,HC,323015040,1.937137e+08,3.681579e+08,VentaCobradaPortafolioZonaClusterSub
389,94487610_5,2024-03-01,610,HC,323015040,3.723552e+08,5.469775e+08,VentaCobradaPortafolioZonaClusterSub
390,94487610_5,2024-04-01,610,HC,323015040,5.266445e+08,7.152782e+08,VentaCobradaPortafolioZonaClusterSub
391,94487610_5,2024-05-01,610,HC,323015040,7.553147e+08,8.835790e+08,VentaCobradaPortafolioZonaClusterSub

In [253]:
# main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
# main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)
main_copy = main.copy()

main = main.groupby(['CodigoEmpleado', 'Fecha', 'Consecutivo'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZonaClusterSub'
# main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_cluster_sub = main.copy()
main = None

venta_cobrada_portafolio_zona_cluster_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177_1,VentaCobradaPortafolioZonaClusterSub,2024-01-01,1.126608e+08,6.729453e+07,1.67
1,1010166177_1,VentaCobradaPortafolioZonaClusterSub,2024-02-01,3.886020e+08,1.345891e+08,2.89
2,1010166177_1,VentaCobradaPortafolioZonaClusterSub,2024-03-01,4.434665e+08,2.288014e+08,1.94
3,1010166177_1,VentaCobradaPortafolioZonaClusterSub,2024-04-01,4.703332e+08,3.364726e+08,1.40
4,1010166177_1,VentaCobradaPortafolioZonaClusterSub,2024-05-01,5.526753e+08,4.441439e+08,1.24

In [254]:
venta_cobrada_portafolio_zona_cluster_sub[
    venta_cobrada_portafolio_zona_cluster_sub['Contexto'].str.contains('1060654227')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
30,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2024-01-01,8.348378e+07,1.545485e+08,0.54
31,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2024-01-01,3.315200e+08,3.024293e+08,1.10
32,1060654227_3,VentaCobradaPortafolioZonaClusterSub,2024-01-01,2.391944e+07,3.880593e+07,0.62
33,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2024-02-01,1.453628e+08,3.181881e+08,0.46
34,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2024-02-01,3.720897e+08,6.226485e+08,0.60
35,1060654227_3,VentaCobradaPortafolioZonaClusterSub,2024-02-01,3.775776e+07,7.989456e+07,0.47
36,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2024-03-01,1.827682e+08,4.818278e+08,0.38
37,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2024-03-01,5.716570e+08,9.428678e+08,0.61
38,1060654227_3,VentaCobradaPortafolioZonaClusterSub,2024-03-01,6.124948e+07,1.187005e+08,0.52
39,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2024-04-01,7.558010e+08,6.272852e+08,1.20
40,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2024-04-01,8.284209e+08,1.227507e+09,0.67
41,1060654227_3,VentaCobradaPortafolioZonaClusterSub,2024-04-01,8.388153e+07,1.552237e+08,0.54
42,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2024-05-01,8.556662e+08,7.727426e+08,1.11
43,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2024-05-01,1.199983e+09,1.512146e+09,0.79
44,1060654227_3,VentaCobradaPortafolioZonaClusterSub,2024-05-01,9.661620e+07,1.917469e+08,0.50

## 34.1 VentaCobradaPortafolioZonaCluster

In [255]:
main = main_copy.copy()
main[
    (main['CodigoEmpleado'] == '79625102') &
    (main['Fecha'] == '2024-04-01')
]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,SBA,CodigoCentroCosto,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso,Contexto
2861,11,Centro,2024-04-01,22,1,BA,A35,87,323007330,1.116712e+08,68956842.0,VE,79625102,2024-02-01,79625102_1
2866,11,Norte,2024-04-01,22,1,BA,A35,87,323007330,1.564804e+07,3862686.0,VE,79625102,2024-02-01,79625102_1
2871,11,Suroccidente,2024-04-01,22,1,BA,A35,87,323007330,1.206590e+07,11576472.0,VE,79625102,2024-02-01,79625102_1

In [256]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-01-01')&
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

95105634.97132948

In [257]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-01-01')&
    (main['AreaCalculo'] == 11)
]['Real'].sum()

150877320.0

In [258]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-02-01')&
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

47696144.38359253

In [259]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-02-01')&
    (main['AreaCalculo'] == 11)
]['Real'].sum()

249934083.16

In [260]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-03-01')&
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

65146339.73495975

In [261]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-03-01')&
    (main['AreaCalculo'] == 11)
]['Real'].sum()

186149354.88

In [262]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-04-01')&
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

139385152.08620545

In [263]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['Fecha'] == '2024-04-01')&
    (main['AreaCalculo'] == 11)
]['Real'].sum()

84396000.0

In [264]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['AreaCalculo'] == 11)
]['Presupuesto'].sum()

603900860.779436

In [265]:
main[
    (main['TipoEmpleado'] == 'VE') &
    (main['AreaCalculo'] == 11)
]['Real'].sum()

894064232.47

In [266]:
main = main_copy.copy()

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Contexto'] = main['CodigoEmpleado']

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZonaCluster'
# main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_cluster = main.copy()
main = None

venta_cobrada_portafolio_zona_cluster.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177,VentaCobradaPortafolioZonaCluster,2024-01-01,1.126608e+08,6.729453e+07,1.67
1,1010166177,VentaCobradaPortafolioZonaCluster,2024-02-01,3.886020e+08,1.345891e+08,2.89
2,1010166177,VentaCobradaPortafolioZonaCluster,2024-03-01,4.434665e+08,2.288014e+08,1.94
3,1010166177,VentaCobradaPortafolioZonaCluster,2024-04-01,4.703332e+08,3.364726e+08,1.40
4,1010166177,VentaCobradaPortafolioZonaCluster,2024-05-01,5.526753e+08,4.441439e+08,1.24

In [267]:
venta_cobrada_portafolio_zona_cluster[venta_cobrada_portafolio_zona_cluster['Contexto'] == '79625102']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
115,79625102,VentaCobradaPortafolioZonaCluster,2024-01-01,1.508773e+08,9.510563e+07,1.59
116,79625102,VentaCobradaPortafolioZonaCluster,2024-02-01,4.008114e+08,1.428018e+08,2.81
117,79625102,VentaCobradaPortafolioZonaCluster,2024-03-01,5.869608e+08,2.079481e+08,2.82
118,79625102,VentaCobradaPortafolioZonaCluster,2024-04-01,6.713568e+08,3.473333e+08,1.93
119,79625102,VentaCobradaPortafolioZonaCluster,2024-05-01,8.940642e+08,6.039009e+08,1.48

## 35. VentaCobradaUnidadNegocioSub

In [268]:
# main = None

# venta_cobrada_portafolio_cluster_sub = main
# main = None
# venta_cobrada_portafolio_cluster_sub

# # Contexto:

## 36. VentaCobradaZonaPaisSub

In [269]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GC') |
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD')
]

area_calculo_sba_completo_gc_without_dup = area_calculo_sba_completo_gc[['TipoEmpleado','Consecutivo', 'Division']].drop_duplicates()
area_calculo_sba_completo_gc_without_dup.head()

   TipoEmpleado  Consecutivo Division
20           GC            1       HC
21           GC            2       AE
22           GC            3       BA
29           GD            1       AE
39           GD            1       HC

### Se hace merge entre area de cálculo por GC y Venta Recaudo

In [270]:
drop_cols = ['Venta'] #'GrupoProducto', 'SBA'
recaudo_real_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_real,
    on=['Division'],
    how='left'
)
recaudo_real_zona_gc = recaudo_real_zona_gc.dropna(subset=['ZonaGeografica']).drop(columns=drop_cols)
recaudo_real_zona_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Real
0,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,629700.00
1,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,0.00
2,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,2533500.00
3,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1268000.00
4,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,5766720.00
...,...,...,...,...,...,...,...,...,...,...,...
8817,GD,1,BA,9990005,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,2364013.20
8818,GD,1,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-04-01,1942577.45
8819,GD,1,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-05-01,7264529.96
8820,GD,1,BA,9990005,5,Centro,A34,OPL,85,2024-04-01,3311534.80
8821,GD,1,BA,9990005,5,Centro,A34,OPL,85,2024-05-01,11259234.00

In [271]:
recaudo_presupuesto_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_presupuesto,
    on=['Division'],
    how='left'
)

recaudo_presupuesto_zona_gc = recaudo_presupuesto_zona_gc.drop(columns=drop_cols).dropna(subset=['ZonaGeografica'])
recaudo_presupuesto_zona_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)
recaudo_presupuesto_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto
0,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,1.324442e+06
1,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.402351e+06
2,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.324442e+06
3,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.246534e+06
4,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.246534e+06
...,...,...,...,...,...,...,...,...,...,...,...
13285,GD,1,BA,9990005,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,1.869107e+05
13286,GD,1,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-04-01,8.540319e+06
13287,GD,1,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-05-01,8.540319e+06
13288,GD,1,BA,9990005,5,Centro,A34,OPL,85,2024-04-01,4.757964e+06
13289,GD,1,BA,9990005,5,Centro,A34,OPL,85,2024-05-01,4.757964e+06

### Se hace merge entre recaudo presupuesto y recaudo real

In [272]:
main = pd.merge(
    left=recaudo_presupuesto_zona_gc,
    right=recaudo_real_zona_gc,
    on=['ZonaGeografica', 'Fecha', 'Consecutivo', 'Division', 'CodigoEmpleado', 'TipoEmpleado', 'Cluster', 'GrupoProducto', 'SBA', 'Canal'],
    how='outer'
)
main = main.dropna(subset=['ZonaGeografica']).drop(columns=['CodigoEmpleado'])
main

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real
0,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,1.324442e+06,629700.00
1,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.402351e+06,0.00
2,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.324442e+06,2533500.00
3,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.246534e+06,1268000.00
4,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.246534e+06,5766720.00
...,...,...,...,...,...,...,...,...,...,...,...
13285,GD,1,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,1.869107e+05,2364013.20
13286,GD,1,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,8.540319e+06,1942577.45
13287,GD,1,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,8.540319e+06,7264529.96
13288,GD,1,BA,5,Centro,A34,OPL,85,2024-04-01,4.757964e+06,3311534.80
13289,GD,1,BA,5,Centro,A34,OPL,85,2024-05-01,4.757964e+06,11259234.00

In [273]:
df_zonas_empleado_gc = df_zonas_empleado[
    (df_zonas_empleado['TipoEmpleado']== 'GC') |
    (df_zonas_empleado['TipoEmpleado']== 'GD')
]
df_zonas_empleado_gc

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
8         Centro        5016692           GD            2
10         Norte        5002711           GC            3
44        Centro        5004298           GC            1
64  Suroccidente        5005980           GC            2
70  Suroccidente        5036358           GD            3

## Se hace merge entre el dataframe anterior y zonas empleados para obtener los código de los GC

In [274]:
main = main.merge(
    df_zonas_empleado_gc.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'TipoEmpleado'],
    how='left'
)
main['Real'].fillna(0.0, inplace=True)
main.dropna(subset=['CodigoEmpleado'])

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,CodigoEmpleado,AreaCalculo
0,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,1.324442e+06,629700.00,5002711,3.0
1,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.402351e+06,0.00,5002711,3.0
2,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.324442e+06,2533500.00,5002711,3.0
3,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.246534e+06,1268000.00,5002711,3.0
4,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.246534e+06,5766720.00,5002711,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13285,GD,1,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,1.869107e+05,2364013.20,5016692,2.0
13286,GD,1,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,8.540319e+06,1942577.45,5016692,2.0
13287,GD,1,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,8.540319e+06,7264529.96,5016692,2.0
13288,GD,1,BA,5,Centro,A34,OPL,85,2024-04-01,4.757964e+06,3311534.80,5016692,2.0
13289,GD,1,BA,5,Centro,A34,OPL,85,2024-05-01,4.757964e+06,11259234.00,5016692,2.0

In [275]:
# main[
#     (main['CodigoEmpleado'] == '5002711') &
#     (main['Consecutivo'] == 1)
# ].to_excel("VentaCobradaZonaPaisSub.xlsx")

In [276]:
venta_cobrada_zona_pais_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main=main, variable='VentaCobradaZonaPaisSub').copy()
venta_cobrada_zona_pais_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub
...,...,...,...,...,...,...,...,...
615,nan_1,2024-05-01,A35,BA,323007330,4.342213e+07,6.779678e+07,VentaCobradaZonaPaisSub
616,nan_1,2024-05-01,A45,BA,323007337,0.000000e+00,8.157450e+07,VentaCobradaZonaPaisSub
617,nan_1,2024-05-01,M06,AE,323007290,3.464179e+08,2.696928e+08,VentaCobradaZonaPaisSub
618,nan_1,2024-05-01,M07,AE,323010140,1.148183e+09,9.012488e+08,VentaCobradaZonaPaisSub
619,nan_1,2024-05-01,M08,AE,323010140,7.402098e+08,6.903149e+08,VentaCobradaZonaPaisSub

In [277]:
main_copy = main.copy()
# Calcular
main['Contexto']= main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaPaisSub'

#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto','PorcentajeCumplimiento']]

venta_cobrada_zona_pais_sub = main
main = None
venta_cobrada_zona_pais_sub

# Contexto: Código de empleado, gerentes de canal.

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaPaisSub,2024-01-01,3.784505e+09,3.817880e+09,0.99
1,5002711_1,VentaCobradaZonaPaisSub,2024-02-01,7.780378e+09,7.846545e+09,0.99
2,5002711_1,VentaCobradaZonaPaisSub,2024-03-01,1.117600e+10,1.187179e+10,0.94
3,5002711_1,VentaCobradaZonaPaisSub,2024-04-01,1.488131e+10,1.546509e+10,0.96
4,5002711_1,VentaCobradaZonaPaisSub,2024-05-01,1.878196e+10,1.905839e+10,0.99
5,5002711_2,VentaCobradaZonaPaisSub,2024-01-01,8.045920e+08,9.625402e+08,0.84
6,5002711_2,VentaCobradaZonaPaisSub,2024-02-01,1.706114e+09,2.188867e+09,0.78
7,5002711_2,VentaCobradaZonaPaisSub,2024-03-01,2.558230e+09,3.387526e+09,0.76
8,5002711_2,VentaCobradaZonaPaisSub,2024-04-01,3.463853e+09,4.613757e+09,0.75
9,5002711_2,VentaCobradaZonaPaisSub,2024-05-01,4.389758e+09,5.796882e+09,0.76
10,5002711_3,VentaCobradaZonaPaisSub,2024-01-01,1.372062e+08,1.316694e+08,1.04
11,5002711_3,VentaCobradaZonaPaisSub,2024-02-01,2.477243e+08,2.513766e+08,0.99
12,5002711_3,VentaCobradaZonaPaisSub,2024-03-01,3.237476e+08,4.680589e+08,0.69
13,5002711_3,VentaCobradaZonaPaisSub,2024-04-01,4.361305e+08,6.423934e+08,0.68
14,5002711_3,VentaCobradaZonaPaisSub,2024-05-01,5.675119e+08,8.431630e+08,0.67
15,5004298_1,VentaCobradaZonaPaisSub,2024-01-01,4.161543e+09,5.254125e+09,0.79
16,5004298_1,VentaCobradaZonaPaisSub,2024-02-01,8.950843e+09,1.079381e+10,0.83
17,5004298_1,VentaCobradaZonaPaisSub,2024-03-01,1.342629e+10,1.632443e+10,0.82
18,5004298_1,VentaCobradaZonaPaisSub,2024-04-01,1.828754e+10,2.126949e+10,0.86
19,5004298_1,VentaCobradaZonaPaisSub,2024-05-01,2.520366e+10,2.621455e+10,0.96
20,5004298_2,VentaCobradaZonaPaisSub,2024-01-01,1.838602e+09,1.553571e+09,1.18
21,5004298_2,VentaCobradaZonaPaisSub,2024-02-01,3.216853e+09,3.512980e+09,0.92
22,5004298_2,VentaCobradaZonaPaisSub,2024-03-01,4.777525e+09,5.410194e+09,0.88
23,5004298_2,VentaCobradaZonaPaisSub,2024-04-01,6.878783e+09,7.357281e+09,0.93
24,5004298_2,VentaCobradaZonaPaisSub,2024-05-01,8.680105e+09,9.229376e+09,0.94
25,5004298_3,VentaCobradaZonaPaisSub,2024-01-01,4.418589e+08,3.244355e+08,1.36
26,5004298_3,VentaCobradaZonaPaisSub,2024-02-01,1.083459e+09,5.941357e+08,1.82
27,5004298_3,VentaCobradaZonaPaisSub,2024-03-01,1.528672e+09,1.047504e+09,1.46
28,5004298_3,VentaCobradaZonaPaisSub,2024-04-01,1.851852e+09,1.485568e+09,1.25
29,5004298_3,VentaCobradaZonaPaisSub,2024-05-01,2.413648e+09,2.051018e+09,1.18
30,5005980_1,VentaCobradaZonaPaisSub,2024-01-01,3.708565e+09,4.047997e+09,0.92
31,5005980_1,VentaCobradaZonaPaisSub,2024-02-01,6.451927e+09,8.321363e+09,0.78
32,5005980_1,VentaCobradaZonaPaisSub,2024-03-01,1.040937e+10,1.259602e+10,0.83
33,5005980_1,VentaCobradaZonaPaisSub,2024-04-01,1.377789e+10,1.640590e+10,0.84
34,5005980_1,VentaCobradaZonaPaisSub,2024-05-01,1.751125e+10,2.021578e+10,0.87
35,5005980_2,VentaCobradaZonaPaisSub,2024-01-01,1.473382e+09,1.220375e+09,1.21
36,5005980_2,VentaCobradaZonaPaisSub,2024-02-01,2.268428e+09,2.775219e+09,0.82
37,5005980_2,VentaCobradaZonaPaisSub,2024-03-01,3.203151e+09,4.281427e+09,0.75
38,5005980_2,VentaCobradaZonaPaisSub,2024-04-01,3.755475e+09,5.822026e+09,0.65
39,5005980_2,VentaCobradaZonaPaisSub,2024-05-01,4.696457e+09,7.300166e+09,0.64
40,5005980_3,VentaCobradaZonaPaisSub,2024-01-01,3.541249e+08,1.854571e+08,1.91
41,5005980_3,VentaCobradaZonaPaisSub,2024-02-01,5.130929e+08,3.535319e+08,1.45
42,5005980_3,VentaCobradaZonaPaisSub,2024-03-01,6.342887e+08,6.530493e+08,0.97
43,5005980_3,VentaCobradaZonaPaisSub,2024-04-01,7.997080e+08,8.915105e+08,0.90
44,5005980_3,VentaCobradaZonaPaisSub,2024-05-01,9.464751e+08,1.166672e+09,0.81
45,5016692_1,VentaCobradaZonaPaisSub,2024-01-01,6.442004e+09,7.132131e+09,0.90
46,5016692_1,VentaCobradaZonaPaisSub,2024-02-01,1.325116e+10,1.490092e+10,0.89
47,5016692_1,VentaCobradaZonaPaisSub,2024-03-01,1.973249e+10,2.278213e+10,0.87
48,5016692_1,VentaCobradaZonaPaisSub,2024-04-01,2.701818e+10,3.011234e+10,0.90
49,5016692_1,VentaCobradaZonaPaisSub,2024-05-01,3.629742e+10,3.749495e+10,0.97
50,5036358_1,VentaCobradaZonaPaisSub,2024-01-01,5.536072e+09,5.453830e+09,1.02
51,5036358_1,VentaCobradaZonaPaisSub,2024-02-01,9.233448e+09,1.145011e+10,0.81
52,5036358_1,VentaCobradaZonaPaisSub,2024-03-01,1.424681e+10,1.753049e+10,0.81
53,5036358_1,VentaCobradaZonaPaisSub,2024-04-01,1.833307e+10,2.311943e+10,0.79
54,5036358_1,VentaCobradaZonaPaisSub,2024-05-01,2.315419e+10,2.868261e+10,0.81

In [278]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '6474959_1']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [279]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '6474959_2']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [280]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_3']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
10,5002711_3,VentaCobradaZonaPaisSub,2024-01-01,1.372062e+08,1.316694e+08,1.04
11,5002711_3,VentaCobradaZonaPaisSub,2024-02-01,2.477243e+08,2.513766e+08,0.99
12,5002711_3,VentaCobradaZonaPaisSub,2024-03-01,3.237476e+08,4.680589e+08,0.69
13,5002711_3,VentaCobradaZonaPaisSub,2024-04-01,4.361305e+08,6.423934e+08,0.68
14,5002711_3,VentaCobradaZonaPaisSub,2024-05-01,5.675119e+08,8.431630e+08,0.67

## 36.1 VentaCobradaZonaPais

In [281]:
main = main_copy
# Calcular
main['Contexto']= main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaPais'

#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto','PorcentajeCumplimiento']]

venta_cobrada_zona_pais = main
main = None
venta_cobrada_zona_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711,VentaCobradaZonaPais,2024-01-01,4.726303e+09,4.912090e+09,0.96
1,5002711,VentaCobradaZonaPais,2024-02-01,9.734216e+09,1.028679e+10,0.95
2,5002711,VentaCobradaZonaPais,2024-03-01,1.405798e+10,1.572738e+10,0.89
3,5002711,VentaCobradaZonaPais,2024-04-01,1.878129e+10,2.072124e+10,0.91
4,5002711,VentaCobradaZonaPais,2024-05-01,2.373923e+10,2.569844e+10,0.92
5,5004298,VentaCobradaZonaPais,2024-01-01,6.442004e+09,7.132131e+09,0.90
6,5004298,VentaCobradaZonaPais,2024-02-01,1.325116e+10,1.490092e+10,0.89
7,5004298,VentaCobradaZonaPais,2024-03-01,1.973249e+10,2.278213e+10,0.87
8,5004298,VentaCobradaZonaPais,2024-04-01,2.701818e+10,3.011234e+10,0.90
9,5004298,VentaCobradaZonaPais,2024-05-01,3.629742e+10,3.749495e+10,0.97
10,5005980,VentaCobradaZonaPais,2024-01-01,5.536072e+09,5.453830e+09,1.02
11,5005980,VentaCobradaZonaPais,2024-02-01,9.233448e+09,1.145011e+10,0.81
12,5005980,VentaCobradaZonaPais,2024-03-01,1.424681e+10,1.753049e+10,0.81
13,5005980,VentaCobradaZonaPais,2024-04-01,1.833307e+10,2.311943e+10,0.79
14,5005980,VentaCobradaZonaPais,2024-05-01,2.315419e+10,2.868261e+10,0.81
15,5016692,VentaCobradaZonaPais,2024-01-01,6.442004e+09,7.132131e+09,0.90
16,5016692,VentaCobradaZonaPais,2024-02-01,1.325116e+10,1.490092e+10,0.89
17,5016692,VentaCobradaZonaPais,2024-03-01,1.973249e+10,2.278213e+10,0.87
18,5016692,VentaCobradaZonaPais,2024-04-01,2.701818e+10,3.011234e+10,0.90
19,5016692,VentaCobradaZonaPais,2024-05-01,3.629742e+10,3.749495e+10,0.97
20,5036358,VentaCobradaZonaPais,2024-01-01,5.536072e+09,5.453830e+09,1.02
21,5036358,VentaCobradaZonaPais,2024-02-01,9.233448e+09,1.145011e+10,0.81
22,5036358,VentaCobradaZonaPais,2024-03-01,1.424681e+10,1.753049e+10,0.81
23,5036358,VentaCobradaZonaPais,2024-04-01,1.833307e+10,2.311943e+10,0.79
24,5036358,VentaCobradaZonaPais,2024-05-01,2.315419e+10,2.868261e+10,0.81

## 36. VentaFacturadaPortafolioRenal

In [282]:
# Aplica VC5

In [283]:
area_calculo_sba_completo.head()

   AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0            1            1    BBMCO         BBMCO  BBMCO           AD
1            2            1    BBMCO         BBMCO  BBMCO           AD
2            3            1    BBMCO         BBMCO  BBMCO           AD
3            4            1    BBMCO         BBMCO  BBMCO           AD
4            1            1    BBMCO         BBMCO  BBMCO          AD1

In [284]:
df_renal_ambulatorio.head()

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08
1,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08
2,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07
3,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07
4,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08

In [285]:
7.384809+1044514+8.649572

1044530.034381

In [286]:
# Calcular

main = df_renal_ambulatorio.rename(columns={'PlanVentaTotal': 'Presupuesto', 'RealVentaTotal': 'Real'})

main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioRenal'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_renal = main.copy()
main = None
venta_facturada_portafolio_renal

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111117,VentaFacturadaPortafolioRenal,2024-01-01,5.527091e+07,9.500404e+07,0.58
1,1111117,VentaFacturadaPortafolioRenal,2024-02-01,3.157478e+08,1.900081e+08,1.66
2,1111117,VentaFacturadaPortafolioRenal,2024-03-01,1.629182e+09,3.008461e+08,5.42
3,1111117,VentaFacturadaPortafolioRenal,2024-04-01,1.746318e+09,4.116842e+08,4.24
4,1111117,VentaFacturadaPortafolioRenal,2024-05-01,1.814526e+09,5.383562e+08,3.37
5,5032456,VentaFacturadaPortafolioRenal,2024-01-01,5.527091e+07,9.500404e+07,0.58
6,5032456,VentaFacturadaPortafolioRenal,2024-02-01,3.157478e+08,1.900081e+08,1.66
7,5032456,VentaFacturadaPortafolioRenal,2024-03-01,1.629182e+09,3.008461e+08,5.42
8,5032456,VentaFacturadaPortafolioRenal,2024-04-01,1.746318e+09,4.116842e+08,4.24
9,5032456,VentaFacturadaPortafolioRenal,2024-05-01,1.814526e+09,5.383562e+08,3.37

## 36.1 VentaCobradaPortafolioRenal

In [287]:
# Calcular

main = df_renal_ambulatorio.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})

main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioRenal'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_cobrada_portafolio_renal = main.copy()
main = None
venta_cobrada_portafolio_renal

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111117,VentaCobradaPortafolioRenal,2024-01-01,1.896538e+08,1.382946e+08,1.37
1,1111117,VentaCobradaPortafolioRenal,2024-02-01,5.281956e+08,2.782896e+08,1.90
2,1111117,VentaCobradaPortafolioRenal,2024-03-01,6.096273e+08,4.613509e+08,1.32
3,1111117,VentaCobradaPortafolioRenal,2024-04-01,6.910522e+08,6.431962e+08,1.07
4,1111117,VentaCobradaPortafolioRenal,2024-05-01,8.571691e+08,8.276971e+08,1.04
5,5032456,VentaCobradaPortafolioRenal,2024-01-01,1.546378e+08,1.145047e+08,1.35
6,5032456,VentaCobradaPortafolioRenal,2024-02-01,4.682954e+08,2.312616e+08,2.02
7,5032456,VentaCobradaPortafolioRenal,2024-03-01,5.719714e+08,3.780914e+08,1.51
8,5032456,VentaCobradaPortafolioRenal,2024-04-01,7.335896e+08,5.337475e+08,1.37
9,5032456,VentaCobradaPortafolioRenal,2024-05-01,8.379389e+08,6.910402e+08,1.21

## 36.2 VentaFacturadaPortafolioRenalSub

In [288]:
renal_ambulatorio = df_renal_ambulatorio.copy()
renal_ambulatorio['Consecutivo'] = '1'
renal_ambulatorio

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal,Consecutivo
0,1111117,VC,2024-01-01,9.500404e+07,1.382946e+08,5.527091e+07,1.896538e+08,1
1,1111117,VC,2024-02-01,9.500404e+07,1.399950e+08,2.604769e+08,3.385418e+08,1
2,1111117,VC,2024-03-01,1.108380e+08,1.830613e+08,1.313434e+09,8.143166e+07,1
3,1111117,VC,2024-04-01,1.108380e+08,1.818452e+08,1.171361e+08,8.142487e+07,1
4,1111117,VC,2024-05-01,1.266720e+08,1.845009e+08,6.820843e+07,1.661170e+08,1
5,5032456,VC,2024-01-01,9.500404e+07,1.145047e+08,5.527091e+07,1.546378e+08,1
6,5032456,VC,2024-02-01,9.500404e+07,1.167569e+08,2.604769e+08,3.136576e+08,1
7,5032456,VC,2024-03-01,1.108380e+08,1.468298e+08,1.313434e+09,1.036759e+08,1
8,5032456,VC,2024-04-01,1.108380e+08,1.556561e+08,1.171361e+08,1.616182e+08,1
9,5032456,VC,2024-05-01,1.266720e+08,1.572927e+08,6.820843e+07,1.043492e+08,1

In [289]:
# Calcular

main = renal_ambulatorio.rename(columns={'PlanVentaTotal': 'Presupuesto', 'RealVentaTotal': 'Real'})

main['Contexto'] = main['CodigoEmpleado'].str.cat(main['Consecutivo'],sep="_")

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioRenalSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_renal_sub = main.copy()
main = None
venta_facturada_portafolio_renal_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111117_1,VentaFacturadaPortafolioRenalSub,2024-01-01,5.527091e+07,9.500404e+07,0.58
1,1111117_1,VentaFacturadaPortafolioRenalSub,2024-02-01,3.157478e+08,1.900081e+08,1.66
2,1111117_1,VentaFacturadaPortafolioRenalSub,2024-03-01,1.629182e+09,3.008461e+08,5.42
3,1111117_1,VentaFacturadaPortafolioRenalSub,2024-04-01,1.746318e+09,4.116842e+08,4.24
4,1111117_1,VentaFacturadaPortafolioRenalSub,2024-05-01,1.814526e+09,5.383562e+08,3.37
5,5032456_1,VentaFacturadaPortafolioRenalSub,2024-01-01,5.527091e+07,9.500404e+07,0.58
6,5032456_1,VentaFacturadaPortafolioRenalSub,2024-02-01,3.157478e+08,1.900081e+08,1.66
7,5032456_1,VentaFacturadaPortafolioRenalSub,2024-03-01,1.629182e+09,3.008461e+08,5.42
8,5032456_1,VentaFacturadaPortafolioRenalSub,2024-04-01,1.746318e+09,4.116842e+08,4.24
9,5032456_1,VentaFacturadaPortafolioRenalSub,2024-05-01,1.814526e+09,5.383562e+08,3.37

## 37. VentaFacturadaPortafolioZonaCluster

In [290]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,DISTRIBUIDOR AMB,2024-01-01,1050000.0,0.0

In [291]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,DISTRIBUIDOR AMB,2024-01-01,0.0,0.0

In [292]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
# drop_cols = ['Recaudo', 'Division','CodigoEmpleado','GrupoProducto', 'Canal', 'SBA']
real = venta_recaudo_presupuesto_original_ve_real_zona_cluster.copy()
ppto = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.copy()

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['AreaCalculo','Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['AreaCalculo', 'Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)
main = main.merge(
    df_zonas_clusters_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]
main

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
100,2,2024-01-01,Centro,0,2.878420e+07,31284195.00,VE,5003527,2012-02-20
102,2,2024-01-01,Centro,0,2.878420e+07,31284195.00,VE,1014204375,2024-01-01
104,2,2024-01-01,Centro,1,7.121296e+07,26568622.00,VE,1014204375,2024-01-01
106,2,2024-01-01,Centro,2,1.216927e+07,10111779.44,VE,1014204375,2024-01-01
107,2,2024-01-01,Centro,20,4.859000e+06,2918088.00,VE,5003527,2012-02-20
...,...,...,...,...,...,...,...,...,...
1509,12,2024-05-01,Suroccidente,10,5.348748e+07,15424183.88,VE,1111125,2023-04-01
1510,12,2024-05-01,Suroccidente,11,2.699579e+07,18742601.60,VE,1111125,2023-04-01
1511,12,2024-05-01,Suroccidente,12,2.019356e+07,82839.48,VE,1111125,2023-04-01
1512,12,2024-05-01,Suroccidente,8,7.893582e+07,26474886.00,VE,1111125,2023-04-01
1513,12,2024-05-01,Suroccidente,9,2.718802e+07,1307400.00,VE,1111125,2023-04-01

In [293]:
main['Real'].fillna(0, inplace=True)

# Calcular

main['Contexto'] = main['CodigoEmpleado']
# + '_' +  main['ZonaGeografica'].astype('str')
main
# main['Contexto']= 'VFPZ'

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso,Contexto
100,2,2024-01-01,Centro,0,2.878420e+07,31284195.00,VE,5003527,2012-02-20,5003527
102,2,2024-01-01,Centro,0,2.878420e+07,31284195.00,VE,1014204375,2024-01-01,1014204375
104,2,2024-01-01,Centro,1,7.121296e+07,26568622.00,VE,1014204375,2024-01-01,1014204375
106,2,2024-01-01,Centro,2,1.216927e+07,10111779.44,VE,1014204375,2024-01-01,1014204375
107,2,2024-01-01,Centro,20,4.859000e+06,2918088.00,VE,5003527,2012-02-20,5003527
...,...,...,...,...,...,...,...,...,...,...
1509,12,2024-05-01,Suroccidente,10,5.348748e+07,15424183.88,VE,1111125,2023-04-01,1111125
1510,12,2024-05-01,Suroccidente,11,2.699579e+07,18742601.60,VE,1111125,2023-04-01,1111125
1511,12,2024-05-01,Suroccidente,12,2.019356e+07,82839.48,VE,1111125,2023-04-01,1111125
1512,12,2024-05-01,Suroccidente,8,7.893582e+07,26474886.00,VE,1111125,2023-04-01,1111125
1513,12,2024-05-01,Suroccidente,9,2.718802e+07,1307400.00,VE,1111125,2023-04-01,1111125

In [294]:
# Calcular

# main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['ZonaGeografica'].astype(int).astype('str')
# main['Contexto']= 'VFPZ'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaCluster'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_zona_cluster = main.copy()
main = None
venta_facturada_portafolio_zona_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177,VentaFacturadaPortafolioZonaCluster,2024-01-01,5.527091e+07,9.500404e+07,0.58
1,1010166177,VentaFacturadaPortafolioZonaCluster,2024-02-01,3.157478e+08,1.900081e+08,1.66
2,1010166177,VentaFacturadaPortafolioZonaCluster,2024-03-01,1.629182e+09,3.008461e+08,5.42
3,1010166177,VentaFacturadaPortafolioZonaCluster,2024-04-01,1.746318e+09,4.116842e+08,4.24
4,1010166177,VentaFacturadaPortafolioZonaCluster,2024-05-01,1.814526e+09,5.383562e+08,3.37
...,...,...,...,...,...,...
119,94487610,VentaFacturadaPortafolioZonaCluster,2024-01-01,1.483311e+09,1.647427e+09,0.90
120,94487610,VentaFacturadaPortafolioZonaCluster,2024-02-01,3.572904e+09,3.510980e+09,1.02
121,94487610,VentaFacturadaPortafolioZonaCluster,2024-03-01,5.526530e+09,5.575631e+09,0.99
122,94487610,VentaFacturadaPortafolioZonaCluster,2024-04-01,8.102302e+09,7.296410e+09,1.11
123,94487610,VentaFacturadaPortafolioZonaCluster,2024-05-01,1.013784e+10,9.536035e+09,1.06

In [295]:
venta_facturada_portafolio_zona_cluster[venta_facturada_portafolio_zona_cluster['Contexto'].str.contains('1060654227') ]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
15,1060654227,VentaFacturadaPortafolioZonaCluster,2024-01-01,2.837577e+08,2.875165e+08,0.99
16,1060654227,VentaFacturadaPortafolioZonaCluster,2024-02-01,6.342118e+08,6.748455e+08,0.94
17,1060654227,VentaFacturadaPortafolioZonaCluster,2024-03-01,1.061542e+09,1.236321e+09,0.86
18,1060654227,VentaFacturadaPortafolioZonaCluster,2024-04-01,1.339392e+09,1.612565e+09,0.83
19,1060654227,VentaFacturadaPortafolioZonaCluster,2024-05-01,1.628549e+09,2.120061e+09,0.77

In [296]:
venta_facturada_portafolio_zona_cluster[venta_facturada_portafolio_zona_cluster['Contexto'].str.contains('5041369') ]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
100,5041369,VentaFacturadaPortafolioZonaCluster,2024-01-01,6.449267e+08,8.530393e+08,0.76
101,5041369,VentaFacturadaPortafolioZonaCluster,2024-02-01,1.859646e+09,1.998761e+09,0.93
102,5041369,VentaFacturadaPortafolioZonaCluster,2024-03-01,3.316288e+09,3.648371e+09,0.91
103,5041369,VentaFacturadaPortafolioZonaCluster,2024-04-01,4.731534e+09,4.762154e+09,0.99
104,5041369,VentaFacturadaPortafolioZonaCluster,2024-05-01,6.477571e+09,6.262602e+09,1.03

## 37.1 VentaFacturadaPortafolioZonaClusterSub

In [297]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
# drop_cols = ['Recaudo', 'Division','CodigoEmpleado','GrupoProducto', 'Canal', 'SBA']

ppto = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.copy()
real = venta_recaudo_presupuesto_original_ve_real_zona_cluster.copy()

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['AreaCalculo','Fecha', 'ZonaGeografica', 'Cluster', 'Consecutivo', 'GrupoProducto', 'Division'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['AreaCalculo', 'Fecha', 'ZonaGeografica', 'Cluster', 'Consecutivo', 'GrupoProducto', 'Division'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica', 'Cluster','AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division'],
    how='outer'
)

main = main.merge(
    df_zonas_clusters_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo'], how='left')

# main = main[main['Fecha'] >= main['FechaIngreso']]
main['Real'].fillna(0, inplace=True)
main['Contexto']= main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Consecutivo,GrupoProducto,Division,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso,Contexto
0,1,2024-01-01,Centro,0,1,005,AE,1.624208e+05,0.00,NaN,NaN,NaT,NaN
1,1,2024-01-01,Centro,0,1,M07,AE,2.221838e+06,0.00,NaN,NaN,NaT,NaN
2,1,2024-01-01,Centro,0,2,M08,AE,0.000000e+00,0.00,NaN,NaN,NaT,NaN
3,1,2024-01-01,Centro,1,1,005,AE,7.000000e+05,0.00,NaN,NaN,NaT,NaN
4,1,2024-01-01,Centro,1,1,M07,AE,1.725493e+08,14500800.00,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3464,12,2024-05-01,Suroccidente,12,2,M06,AE,1.185749e+07,109069.48,VE,1111125,2023-04-01,1111125_2
3465,12,2024-05-01,Suroccidente,8,1,805,AE,5.678685e+07,17327600.00,VE,1111125,2023-04-01,1111125_1
3466,12,2024-05-01,Suroccidente,8,2,M06,AE,2.214897e+07,9147286.00,VE,1111125,2023-04-01,1111125_2
3467,12,2024-05-01,Suroccidente,9,1,805,AE,2.448802e+07,1307400.00,VE,1111125,2023-04-01,1111125_1
3468,12,2024-05-01,Suroccidente,9,2,M06,AE,2.700000e+06,0.00,VE,1111125,2023-04-01,1111125_2

### TODO ( Remplazar lógica provisional para VE9)

In [298]:
main = main[(main['AreaCalculo'] != 9) & ((main['TipoEmpleado'] == 'VE') |(main['TipoEmpleado'] != 'VE'))]
main

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Consecutivo,GrupoProducto,Division,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso,Contexto
0,1,2024-01-01,Centro,0,1,005,AE,1.624208e+05,0.00,NaN,NaN,NaT,NaN
1,1,2024-01-01,Centro,0,1,M07,AE,2.221838e+06,0.00,NaN,NaN,NaT,NaN
2,1,2024-01-01,Centro,0,2,M08,AE,0.000000e+00,0.00,NaN,NaN,NaT,NaN
3,1,2024-01-01,Centro,1,1,005,AE,7.000000e+05,0.00,NaN,NaN,NaT,NaN
4,1,2024-01-01,Centro,1,1,M07,AE,1.725493e+08,14500800.00,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3464,12,2024-05-01,Suroccidente,12,2,M06,AE,1.185749e+07,109069.48,VE,1111125,2023-04-01,1111125_2
3465,12,2024-05-01,Suroccidente,8,1,805,AE,5.678685e+07,17327600.00,VE,1111125,2023-04-01,1111125_1
3466,12,2024-05-01,Suroccidente,8,2,M06,AE,2.214897e+07,9147286.00,VE,1111125,2023-04-01,1111125_2
3467,12,2024-05-01,Suroccidente,9,1,805,AE,2.448802e+07,1307400.00,VE,1111125,2023-04-01,1111125_1
3468,12,2024-05-01,Suroccidente,9,2,M06,AE,2.700000e+06,0.00,VE,1111125,2023-04-01,1111125_2

In [299]:
_main =main[
    (main['TipoEmpleado'] == 'VE') & (main['AreaCalculo'] == 9)
]
_main

Empty DataFrame
Columns: [AreaCalculo, Fecha, ZonaGeografica, Cluster, Consecutivo, GrupoProducto, Division, Presupuesto, Real, TipoEmpleado, CodigoEmpleado, FechaIngreso, Contexto]
Index: []

In [300]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    main,
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,AreaCalculo,Fecha,ZonaGeografica,Cluster,Consecutivo,GrupoProducto,Division,Presupuesto,Real,TipoEmpleado,FechaIngreso,Contexto
0,NaN,NaN,NaN,1,2024-01-01,Centro,0,1,005,AE,1.624208e+05,0.0,NaN,NaT,NaN
1,NaN,NaN,NaN,1,2024-01-01,Centro,0,1,M07,AE,2.221838e+06,0.0,NaN,NaT,NaN
2,NaN,NaN,NaN,1,2024-01-01,Centro,0,2,M08,AE,0.000000e+00,0.0,NaN,NaT,NaN
3,NaN,NaN,NaN,1,2024-01-01,Centro,1,1,005,AE,7.000000e+05,0.0,NaN,NaT,NaN
4,NaN,NaN,NaN,1,2024-01-01,Centro,1,1,M07,AE,1.725493e+08,14500800.0,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4554,1111125,323007290,0.6,12,2024-05-01,Suroccidente,8,2,M06,AE,2.214897e+07,9147286.0,VE,2023-04-01,1111125_2
4555,1111125,323007280,0.4,12,2024-05-01,Suroccidente,9,1,805,AE,2.448802e+07,1307400.0,VE,2023-04-01,1111125_1
4556,1111125,323007290,0.6,12,2024-05-01,Suroccidente,9,1,805,AE,2.448802e+07,1307400.0,VE,2023-04-01,1111125_1
4557,1111125,323007280,0.4,12,2024-05-01,Suroccidente,9,2,M06,AE,2.700000e+06,0.0,VE,2023-04-01,1111125_2
4558,1111125,323007290,0.6,12,2024-05-01,Suroccidente,9,2,M06,AE,2.700000e+06,0.0,VE,2023-04-01,1111125_2

In [301]:
venta_facturada_portafolio_zona_cluster_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'VentaFacturadaPortafolioZonaClusterSub')
venta_facturada_portafolio_zona_cluster_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1014204375_1,2024-01-01,003,AE,323007260,1.194662e+08,3.434041e+08,VentaFacturadaPortafolioZonaClusterSub
1,1014204375_1,2024-01-01,003,AE,323007300,1.194662e+08,3.434041e+08,VentaFacturadaPortafolioZonaClusterSub
2,1014204375_1,2024-01-01,003,AE,323007350,1.194662e+08,3.434041e+08,VentaFacturadaPortafolioZonaClusterSub
3,1014204375_1,2024-01-01,CEK,AE,323007260,1.050000e+06,0.000000e+00,VentaFacturadaPortafolioZonaClusterSub
4,1014204375_1,2024-01-01,CEK,AE,323007300,1.050000e+06,0.000000e+00,VentaFacturadaPortafolioZonaClusterSub
...,...,...,...,...,...,...,...,...
595,94487610_5,2024-01-01,610,HC,323015045,1.053427e+08,1.245082e+08,VentaFacturadaPortafolioZonaClusterSub
596,94487610_5,2024-02-01,610,HC,323015045,3.630410e+08,2.747767e+08,VentaFacturadaPortafolioZonaClusterSub
597,94487610_5,2024-03-01,610,HC,323015045,6.450965e+08,4.357787e+08,VentaFacturadaPortafolioZonaClusterSub
598,94487610_5,2024-04-01,610,HC,323015045,9.224827e+08,5.860473e+08,VentaFacturadaPortafolioZonaClusterSub
599,94487610_5,2024-05-01,610,HC,323015045,1.204079e+09,7.792497e+08,VentaFacturadaPortafolioZonaClusterSub

In [302]:
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaClusterSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_zona_cluster_sub = main.copy()
main = None
venta_facturada_portafolio_zona_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1014204375_1,VentaFacturadaPortafolioZonaClusterSub,2024-01-01,1.205162e+08,3.434041e+08,0.35
1,1014204375_1,VentaFacturadaPortafolioZonaClusterSub,2024-02-01,4.480789e+08,6.815251e+08,0.66
2,1014204375_1,VentaFacturadaPortafolioZonaClusterSub,2024-03-01,9.046916e+08,1.178140e+09,0.77
3,1014204375_1,VentaFacturadaPortafolioZonaClusterSub,2024-04-01,1.235905e+09,1.526828e+09,0.81
4,1014204375_1,VentaFacturadaPortafolioZonaClusterSub,2024-05-01,1.552471e+09,1.981178e+09,0.78
...,...,...,...,...,...,...
430,94487610_5,VentaFacturadaPortafolioZonaClusterSub,2024-01-01,1.053427e+08,1.245082e+08,0.85
431,94487610_5,VentaFacturadaPortafolioZonaClusterSub,2024-02-01,3.630410e+08,2.747767e+08,1.32
432,94487610_5,VentaFacturadaPortafolioZonaClusterSub,2024-03-01,6.450965e+08,4.357787e+08,1.48
433,94487610_5,VentaFacturadaPortafolioZonaClusterSub,2024-04-01,9.224827e+08,5.860473e+08,1.57
434,94487610_5,VentaFacturadaPortafolioZonaClusterSub,2024-05-01,1.204079e+09,7.792497e+08,1.55

In [303]:
venta_facturada_portafolio_zona_cluster_sub[venta_facturada_portafolio_zona_cluster_sub['Contexto'] == '79625102_1']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
405,79625102_1,VentaFacturadaPortafolioZonaClusterSub,2024-01-01,4.285836e+07,1.340444e+08,0.32
406,79625102_1,VentaFacturadaPortafolioZonaClusterSub,2024-02-01,2.769980e+08,4.021333e+08,0.69
407,79625102_1,VentaFacturadaPortafolioZonaClusterSub,2024-03-01,3.673011e+08,7.149036e+08,0.51
408,79625102_1,VentaFacturadaPortafolioZonaClusterSub,2024-04-01,5.021500e+08,1.072355e+09,0.47
409,79625102_1,VentaFacturadaPortafolioZonaClusterSub,2024-05-01,6.037981e+08,1.429807e+09,0.42

## 37.2 VentaFacturadaPortafolioZonaClusterSub (VE)

In [304]:
df_empleados.columns

Index(['TipoEmpleado', 'CodigoEmpleado', 'Identificacion', 'CorreoElectronico',
       'Nombre', 'Apellidos', 'SalarioVariable', 'FechaIngreso', 'FechaRetiro',
       'AreaCalculo'],
      dtype='object')

In [305]:
venta_recaudo_kams_ve = df_venta_recaudo_kams[df_venta_recaudo_kams['TipoEmpleado'] == 'VE']
venta_recaudo_kams_ve

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
30,VE,9,1,2024-01-01,1.749444e+07,7.881388e+07,4.918243e+07,5.582650e+07
31,VE,9,1,2024-02-01,3.986905e+07,7.881388e+07,2.946601e+07,5.582650e+07
32,VE,9,1,2024-03-01,2.748734e+07,9.194953e+07,3.867564e+07,7.815710e+07
33,VE,9,1,2024-04-01,4.058229e+07,9.194953e+07,5.007972e+06,8.932240e+07
34,VE,9,1,2024-05-01,4.223158e+07,1.050852e+08,4.676447e+07,8.932240e+07
35,VE,9,2,2024-01-01,3.777647e+07,1.619015e+07,6.347840e+07,1.146803e+07
36,VE,9,2,2024-02-01,2.206078e+08,1.619015e+07,2.464752e+08,1.146803e+07
37,VE,9,2,2024-03-01,1.285947e+09,1.888851e+07,1.618881e+07,1.605524e+07
38,VE,9,2,2024-04-01,7.655384e+07,1.888851e+07,2.185872e+07,1.834884e+07
39,VE,9,2,2024-05-01,2.597685e+07,2.158687e+07,3.557767e+07,1.834884e+07

In [306]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar

main = venta_recaudo_kams_ve.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main = main.merge(
    df_empleados,
    on=['TipoEmpleado', 'AreaCalculo'],
    how='left'
)
main.reset_index(inplace=True)

main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['Contexto']= main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaPortafolioZonaClusterSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_portafolio_zona_cluster_sub_ve = main
main = None
venta_facturada_portafolio_zona_cluster_sub_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177_1,VentaFacturadaPortafolioZonaClusterSub,2024-01-01,1.749444e+07,7.881388e+07,0.22
1,1010166177_1,VentaFacturadaPortafolioZonaClusterSub,2024-02-01,5.736350e+07,1.576278e+08,0.36
2,1010166177_1,VentaFacturadaPortafolioZonaClusterSub,2024-03-01,8.485084e+07,2.495773e+08,0.34
3,1010166177_1,VentaFacturadaPortafolioZonaClusterSub,2024-04-01,1.254331e+08,3.415268e+08,0.37
4,1010166177_1,VentaFacturadaPortafolioZonaClusterSub,2024-05-01,1.676647e+08,4.466120e+08,0.38
5,1010166177_2,VentaFacturadaPortafolioZonaClusterSub,2024-01-01,3.777647e+07,1.619015e+07,2.33
6,1010166177_2,VentaFacturadaPortafolioZonaClusterSub,2024-02-01,2.583843e+08,3.238031e+07,7.98
7,1010166177_2,VentaFacturadaPortafolioZonaClusterSub,2024-03-01,1.544331e+09,5.126882e+07,30.12
8,1010166177_2,VentaFacturadaPortafolioZonaClusterSub,2024-04-01,1.620885e+09,7.015734e+07,23.10
9,1010166177_2,VentaFacturadaPortafolioZonaClusterSub,2024-05-01,1.646862e+09,9.174421e+07,17.95

## 38. VentaFacturadaZonaPais

In [307]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real = real.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica'],
    how='left'
)    

main = main.merge(
    df_zonas_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Calcular
main['Contexto']= main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha','Real','Presupuesto','PorcentajeCumplimiento']]

venta_facturada_zona_pais = main.copy()
main = None
venta_facturada_zona_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1010166177,VentaFacturadaZonaPais,2024-01-01,1.300322e+10,1.322696e+10,0.98
1,1010166177,VentaFacturadaZonaPais,2024-02-01,2.892989e+10,2.934280e+10,0.99
2,1010166177,VentaFacturadaZonaPais,2024-03-01,4.752460e+10,4.942121e+10,0.96
3,1010166177,VentaFacturadaZonaPais,2024-04-01,6.540249e+10,6.610984e+10,0.99
4,1010166177,VentaFacturadaZonaPais,2024-05-01,8.284682e+10,8.646749e+10,0.96
...,...,...,...,...,...,...
295,9990011,VentaFacturadaZonaPais,2024-01-01,3.302592e+09,4.051953e+09,0.82
296,9990011,VentaFacturadaZonaPais,2024-02-01,8.105237e+09,9.009514e+09,0.90
297,9990011,VentaFacturadaZonaPais,2024-03-01,1.314490e+10,1.533023e+10,0.86
298,9990011,VentaFacturadaZonaPais,2024-04-01,1.889613e+10,2.045656e+10,0.92
299,9990011,VentaFacturadaZonaPais,2024-05-01,2.390656e+10,2.676893e+10,0.89

In [308]:
venta_facturada_zona_pais[venta_facturada_zona_pais['Contexto'] == '1111115']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
30,1111115,VentaFacturadaZonaPais,2024-01-01,3.953729e+09,3.697709e+09,1.07
31,1111115,VentaFacturadaZonaPais,2024-02-01,7.207093e+09,8.163115e+09,0.88
32,1111115,VentaFacturadaZonaPais,2024-03-01,1.376116e+10,1.370427e+10,1.00
33,1111115,VentaFacturadaZonaPais,2024-04-01,1.872734e+10,1.826974e+10,1.03
34,1111115,VentaFacturadaZonaPais,2024-05-01,2.429362e+10,2.387875e+10,1.02

In [309]:
venta_facturada_zona_pais[venta_facturada_zona_pais['Contexto'] == '1111124']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
55,1111124,VentaFacturadaZonaPais,2024-01-01,3.953729e+09,3.697709e+09,1.07
56,1111124,VentaFacturadaZonaPais,2024-02-01,7.207093e+09,8.163115e+09,0.88
57,1111124,VentaFacturadaZonaPais,2024-03-01,1.376116e+10,1.370427e+10,1.00
58,1111124,VentaFacturadaZonaPais,2024-04-01,1.872734e+10,1.826974e+10,1.03
59,1111124,VentaFacturadaZonaPais,2024-05-01,2.429362e+10,2.387875e+10,1.02

# Nuevos Rubros 2024

## 38.1 VentaFacturadaZonaPaisSub

In [310]:
df_venta_recaudo_real

,CodigoEmpleado,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Venta,Recaudo
0,1111111,AE,16,Norte,001,HOSPITAL,30,2024-01-01,2895000.00,0.00
1,1111111,AE,16,Norte,001,HOSPITAL,30,2024-02-01,5076750.00,233200.00
2,1111111,AE,16,Norte,001,HOSPITAL,30,2024-03-01,66822420.00,233200.00
3,1111111,AE,16,Norte,001,HOSPITAL,30,2024-04-01,532200.00,0.00
4,1111111,AE,16,Norte,001,HOSPITAL,30,2024-05-01,36916344.00,148800.00
...,...,...,...,...,...,...,...,...,...,...
4406,9990005,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,746844.00,2364013.20
4407,9990005,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,3515927.45,1942577.45
4408,9990005,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,5623789.96,7264529.96
4409,9990005,BA,5,Centro,A34,OPL,85,2024-04-01,3191287.40,3311534.80
4410,9990005,BA,5,Centro,A34,OPL,85,2024-05-01,1867302.50,11259234.00

In [311]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'GC']
area_calculo_sba_completo_gc_without_dup = area_calculo_sba_completo_gc[['TipoEmpleado','Consecutivo', 'Division']].drop_duplicates()
area_calculo_sba_completo_gc_without_dup.head()

   TipoEmpleado  Consecutivo Division
20           GC            1       HC
21           GC            2       AE
22           GC            3       BA

In [312]:
drop_cols = ['Recaudo'] #'GrupoProducto', 'SBA'
facturado_real_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_real,
    on=['Division'],
    how='left'
)
facturado_real_zona_gc = facturado_real_zona_gc.dropna(subset=['ZonaGeografica']).drop(columns=drop_cols)
facturado_real_zona_gc.rename(columns={'Venta': 'Real'}, inplace=True)
facturado_real_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Real
0,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,3101880.00
1,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,3614160.00
2,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,3820100.00
3,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,0.00
4,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,3862320.00
...,...,...,...,...,...,...,...,...,...,...,...
4406,GC,3,BA,9990005,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,746844.00
4407,GC,3,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-04-01,3515927.45
4408,GC,3,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-05-01,5623789.96
4409,GC,3,BA,9990005,5,Centro,A34,OPL,85,2024-04-01,3191287.40
4410,GC,3,BA,9990005,5,Centro,A34,OPL,85,2024-05-01,1867302.50

In [313]:
facturado_real_zona_gc[
    (facturado_real_zona_gc['ZonaGeografica'] == 'Centro') &
    (facturado_real_zona_gc['Fecha'] == '2023-12-01') &
    (facturado_real_zona_gc['Consecutivo'] == 1)
]['Real'].sum()

0.0

In [314]:
facturado_presupuesto_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_presupuesto,
    on=['Division'],
    how='left'
)

facturado_presupuesto_zona_gc = facturado_presupuesto_zona_gc.drop(columns=drop_cols).dropna(subset=['ZonaGeografica'])
facturado_presupuesto_zona_gc.rename(columns={'Venta': 'Presupuesto'}, inplace=True)
facturado_presupuesto_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto
0,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05
1,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06
2,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.192475e+06
3,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.112977e+06
4,GC,1,HC,1111115,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.430970e+06
...,...,...,...,...,...,...,...,...,...,...,...
6640,GC,3,BA,9990005,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,2.031638e+05
6641,GC,3,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-04-01,8.122586e+06
6642,GC,3,BA,9990005,5,Centro,A34,HOSPITAL,85,2024-05-01,9.282956e+06
6643,GC,3,BA,9990005,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06
6644,GC,3,BA,9990005,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06

In [315]:
facturado_presupuesto_zona_gc[
    (facturado_presupuesto_zona_gc['ZonaGeografica'] == 'Centro') &
    (facturado_presupuesto_zona_gc['Fecha'] == '2023 -12-01') &
    (facturado_presupuesto_zona_gc['Consecutivo'] == 1)
]['Presupuesto'].sum()

0.0

In [316]:
main = pd.merge(
    left=facturado_presupuesto_zona_gc,
    right=facturado_real_zona_gc,
    on=['ZonaGeografica', 'Fecha', 'Consecutivo', 'Division', 'CodigoEmpleado', 'TipoEmpleado', 'Cluster', 'GrupoProducto', 'SBA', 'Canal'],
    how='outer'
)
main = main.dropna(subset=['ZonaGeografica']).drop(columns=['CodigoEmpleado'])
main

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real
0,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.00
1,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06,3614160.00
2,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.192475e+06,3820100.00
3,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.112977e+06,0.00
4,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.430970e+06,3862320.00
...,...,...,...,...,...,...,...,...,...,...,...
6640,GC,3,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,2.031638e+05,746844.00
6641,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,8.122586e+06,3515927.45
6642,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,9.282956e+06,5623789.96
6643,GC,3,BA,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06,3191287.40
6644,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.50

In [317]:
df_zonas_empleado_gc = df_zonas_empleado[
    (df_zonas_empleado['TipoEmpleado']== 'GC')
]
df_zonas_empleado_gc

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
10         Norte        5002711           GC            3
44        Centro        5004298           GC            1
64  Suroccidente        5005980           GC            2

In [318]:
df_parrillas[df_parrillas['Variable'] == 'VentaFacturadaZonaPaisSub']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
122,5002711,VentaFacturadaZonaPaisSub,5002711_1,0.26,1,VentaFacturadaZonaPaisSub,Hospital Care
123,5002711,VentaFacturadaZonaPaisSub,5002711_2,0.10,2,VentaFacturadaZonaPaisSub,Aesculap
124,5002711,VentaFacturadaZonaPaisSub,5002711_3,0.04,3,VentaFacturadaZonaPaisSub,Avitum
703,5004298,VentaFacturadaZonaPaisSub,5004298_1,0.26,1,VentaFacturadaZonaPaisSub,Hospital Care
704,5004298,VentaFacturadaZonaPaisSub,5004298_2,0.10,2,VentaFacturadaZonaPaisSub,Aesculap
705,5004298,VentaFacturadaZonaPaisSub,5004298_3,0.04,3,VentaFacturadaZonaPaisSub,Avitum
1174,5005980,VentaFacturadaZonaPaisSub,5005980_1,0.26,1,VentaFacturadaZonaPaisSub,Hospital Care
1175,5005980,VentaFacturadaZonaPaisSub,5005980_2,0.10,2,VentaFacturadaZonaPaisSub,Aesculap
1176,5005980,VentaFacturadaZonaPaisSub,5005980_3,0.04,3,VentaFacturadaZonaPaisSub,Avitum

In [319]:
main = main.merge(
    df_zonas_empleado_gc.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'TipoEmpleado'],
    how='left'
)
main['Real'].fillna(0.0, inplace=True)
main.dropna(subset=['CodigoEmpleado'])

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,CodigoEmpleado,AreaCalculo
0,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.00,5002711,3
1,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06,3614160.00,5002711,3
2,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.192475e+06,3820100.00,5002711,3
3,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.112977e+06,0.00,5002711,3
4,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.430970e+06,3862320.00,5002711,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,GC,3,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,2.031638e+05,746844.00,5004298,1
6641,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,8.122586e+06,3515927.45,5004298,1
6642,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,9.282956e+06,5623789.96,5004298,1
6643,GC,3,BA,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06,3191287.40,5004298,1
6644,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.50,5004298,1

In [320]:
main[
    (main['ZonaGeografica'] == 'Centro') &
    (main['Fecha'] == '2023-12-01') &
    (main['Consecutivo'] == 1)
]['Real'].sum()

0.0

In [321]:
main[
    (main['ZonaGeografica'] == 'Centro') &
    (main['Fecha'] == '2023-12-01') &
    (main['Consecutivo'] == 1)
]['Presupuesto'].sum()

0.0

In [322]:
# venta_cobrada_zona_pais_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main=main, variable='VentaFacturadaZonaPaisSub').copy()
# venta_cobrada_zona_pais_sub_centro_costo

In [323]:
venta_facturada_zona_pais_sub = main.copy()
venta_facturada_zona_pais_sub['Consecutivo'] = venta_facturada_zona_pais_sub['Consecutivo'].astype(int).astype('str')
venta_facturada_zona_pais_sub['Contexto'] = venta_facturada_zona_pais_sub['CodigoEmpleado'].str.cat(venta_facturada_zona_pais_sub['Consecutivo'],sep="_")
venta_facturada_zona_pais_sub

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,CodigoEmpleado,AreaCalculo,Contexto
0,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.00,5002711,3,5002711_1
1,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06,3614160.00,5002711,3,5002711_1
2,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-03-01,1.192475e+06,3820100.00,5002711,3,5002711_1
3,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-04-01,1.112977e+06,0.00,5002711,3,5002711_1
4,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-05-01,1.430970e+06,3862320.00,5002711,3,5002711_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,GC,3,BA,5,Centro,A34,DISTRIBUIDOR,85,2024-05-01,2.031638e+05,746844.00,5004298,1,5004298_3
6641,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-04-01,8.122586e+06,3515927.45,5004298,1,5004298_3
6642,GC,3,BA,5,Centro,A34,HOSPITAL,85,2024-05-01,9.282956e+06,5623789.96,5004298,1,5004298_3
6643,GC,3,BA,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06,3191287.40,5004298,1,5004298_3
6644,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.50,5004298,1,5004298_3

In [324]:
venta_facturada_zona_pais_sub[venta_facturada_zona_pais_sub['Contexto'] == '5002711_1']['Real'].sum()

17830903816.84

In [325]:
venta_facturada_zona_pais_sub[venta_facturada_zona_pais_sub['Contexto'] == '5002711_2']['Real'].sum()

4657673137.08

In [326]:
venta_facturada_zona_pais_sub[venta_facturada_zona_pais_sub['Contexto'] == '5002711_3']['Real'].sum()

1805041749.869999

In [327]:
venta_facturada_zona_pais_sub[venta_facturada_zona_pais_sub['ZonaGeografica'] == 'Norte']['Presupuesto'].sum()

23878748117.94062

In [328]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    venta_facturada_zona_pais_sub.copy(),
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,AreaCalculo,Contexto
0,5002711,323007336,0.05,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.0,3,5002711_1
1,5002711,323010170,0.25,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.0,3,5002711_1
2,5002711,323015070,0.70,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-01-01,9.221808e+05,3101880.0,3,5002711_1
3,5002711,323007336,0.05,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06,3614160.0,3,5002711_1
4,5002711,323010170,0.25,GC,1,HC,16,Norte,610,DISTRIBUIDOR,01,2024-02-01,1.112977e+06,3614160.0,3,5002711_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19930,5004298,323010165,0.25,GC,3,BA,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06,3191287.4,1,5004298_3
19931,5004298,323015065,0.70,GC,3,BA,5,Centro,A34,OPL,85,2024-04-01,4.525238e+06,3191287.4,1,5004298_3
19932,5004298,323007335,0.05,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.5,1,5004298_3
19933,5004298,323010165,0.25,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.5,1,5004298_3
19934,5004298,323015065,0.70,GC,3,BA,5,Centro,A34,OPL,85,2024-05-01,5.171700e+06,1867302.5,1,5004298_3

In [329]:
venta_facturada_zona_pais_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'VentaFacturadaZonaPaisSub')
venta_facturada_zona_pais_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,5002711_1,2024-01-01,610,HC,323007336,1.842463e+08,2.037596e+08,VentaFacturadaZonaPaisSub
1,5002711_1,2024-01-01,610,HC,323010170,1.842463e+08,2.037596e+08,VentaFacturadaZonaPaisSub
2,5002711_1,2024-01-01,610,HC,323015070,1.842463e+08,2.037596e+08,VentaFacturadaZonaPaisSub
3,5002711_1,2024-01-01,620,HC,323007336,2.009143e+09,1.654630e+09,VentaFacturadaZonaPaisSub
4,5002711_1,2024-01-01,620,HC,323010170,2.009143e+09,1.654630e+09,VentaFacturadaZonaPaisSub
...,...,...,...,...,...,...,...,...
928,5005980_3,2024-05-01,A35,BA,323010175,6.789611e+07,1.237715e+08,VentaFacturadaZonaPaisSub
929,5005980_3,2024-05-01,A35,BA,323015075,6.789611e+07,1.237715e+08,VentaFacturadaZonaPaisSub
930,5005980_3,2024-05-01,A45,BA,323007345,3.524000e+05,9.045773e+07,VentaFacturadaZonaPaisSub
931,5005980_3,2024-05-01,A45,BA,323010175,3.524000e+05,9.045773e+07,VentaFacturadaZonaPaisSub
932,5005980_3,2024-05-01,A45,BA,323015075,3.524000e+05,9.045773e+07,VentaFacturadaZonaPaisSub

In [330]:
venta_facturada_zona_pais_sub = venta_facturada_zona_pais_sub.groupby(['Fecha', 'Contexto', 'ZonaGeografica'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
venta_facturada_zona_pais_sub.reset_index(inplace=True)
venta_facturada_zona_pais_sub

    index      Fecha   Contexto ZonaGeografica          Real   Presupuesto
0       0 2024-01-01  5002711_1          Norte  3.298322e+09  2.657754e+09
1       1 2024-01-01  5002711_2          Norte  5.612182e+08  8.816129e+08
2       2 2024-01-01  5002711_3          Norte  9.418959e+07  1.583419e+08
3       3 2024-01-01  5004298_1         Centro  3.987052e+09  3.675086e+09
4       4 2024-01-01  5004298_2         Centro  1.537628e+09  1.393148e+09
5       5 2024-01-01  5004298_3         Centro  2.222204e+08  4.090594e+08
6       6 2024-01-01  5005980_1   Suroccidente  2.406756e+09  2.740147e+09
7       7 2024-01-01  5005980_2   Suroccidente  8.072436e+08  1.089992e+09
8       8 2024-01-01  5005980_3   Suroccidente  8.859221e+07  2.218138e+08
9       9 2024-02-01  5002711_1          Norte  2.493975e+09  3.179247e+09
10     10 2024-02-01  5002711_2          Norte  6.689564e+08  1.112770e+09
11     11 2024-02-01  5002711_3          Norte  9.043250e+07  1.733904e+08
12     12 2024-02-01  5004298_1         Centro  4.902897e+09  4.376743e+09
13     13 2024-02-01  5004298_2         Centro  2.298511e+09  1.799684e+09
14     14 2024-02-01  5004298_3         Centro  6.692536e+08  5.164518e+08
15     15 2024-02-01  5005980_1   Suroccidente  3.503061e+09  3.335529e+09
16     16 2024-02-01  5005980_2   Suroccidente  1.191121e+09  1.388614e+09
17     17 2024-02-01  5005980_3   Suroccidente  1.084633e+08  2.334174e+08
18     18 2024-03-01  5002711_1          Norte  4.082257e+09  3.947922e+09
19     19 2024-03-01  5002711_2          Norte  1.113946e+09  1.353356e+09
20     20 2024-03-01  5002711_3          Norte  1.357862e+09  2.398792e+08
21     21 2024-03-01  5004298_1         Centro  4.522394e+09  5.387522e+09
22     22 2024-03-01  5004298_2         Centro  2.126810e+09  2.175183e+09
23     23 2024-03-01  5004298_3         Centro  3.517701e+08  6.538269e+08
24     24 2024-03-01  5005980_1   Suroccidente  3.777428e+09  4.266289e+09
25     25 2024-03-01  5005980_2   Suroccidente  1.112979e+09  1.738275e+09
26     26 2024-03-01  5005980_3   Suroccidente  1.492578e+08  3.161534e+08
27     27 2024-04-01  5002711_1          Norte  3.933217e+09  3.064609e+09
28     28 2024-04-01  5002711_2          Norte  9.008029e+08  1.302106e+09
29     29 2024-04-01  5002711_3          Norte  1.321596e+08  1.987481e+08
30     30 2024-04-01  5004298_1         Centro  5.243204e+09  4.247120e+09
31     31 2024-04-01  5004298_2         Centro  1.524476e+09  2.132596e+09
32     32 2024-04-01  5004298_3         Centro  3.928081e+08  6.171175e+08
33     33 2024-04-01  5005980_1   Suroccidente  4.194630e+09  3.215973e+09
34     34 2024-04-01  5005980_2   Suroccidente  1.365305e+09  1.650944e+09
35     35 2024-04-01  5005980_3   Suroccidente  1.912906e+08  2.594142e+08
36     36 2024-05-01  5002711_1          Norte  4.023133e+09  3.955932e+09
37     37 2024-05-01  5002711_2          Norte  1.412750e+09  1.432549e+09
38     38 2024-05-01  5002711_3          Norte  1.303978e+08  2.205316e+08
39     39 2024-05-01  5004298_1         Centro  4.925167e+09  5.446251e+09
40     40 2024-05-01  5004298_2         Centro  1.617734e+09  2.326391e+09
41     41 2024-05-01  5004298_3         Centro  3.247129e+08  6.636263e+08
42     42 2024-05-01  5005980_1   Suroccidente  4.028554e+09  4.181586e+09
43     43 2024-05-01  5005980_2   Suroccidente  7.863430e+08  1.839181e+09
44     44 2024-05-01  5005980_3   Suroccidente  1.955350e+08  2.916034e+08

In [331]:
venta_facturada_zona_pais_sub[
    (venta_facturada_zona_pais_sub['ZonaGeografica'] == 'Norte')
]

    index      Fecha   Contexto ZonaGeografica          Real   Presupuesto
0       0 2024-01-01  5002711_1          Norte  3.298322e+09  2.657754e+09
1       1 2024-01-01  5002711_2          Norte  5.612182e+08  8.816129e+08
2       2 2024-01-01  5002711_3          Norte  9.418959e+07  1.583419e+08
9       9 2024-02-01  5002711_1          Norte  2.493975e+09  3.179247e+09
10     10 2024-02-01  5002711_2          Norte  6.689564e+08  1.112770e+09
11     11 2024-02-01  5002711_3          Norte  9.043250e+07  1.733904e+08
18     18 2024-03-01  5002711_1          Norte  4.082257e+09  3.947922e+09
19     19 2024-03-01  5002711_2          Norte  1.113946e+09  1.353356e+09
20     20 2024-03-01  5002711_3          Norte  1.357862e+09  2.398792e+08
27     27 2024-04-01  5002711_1          Norte  3.933217e+09  3.064609e+09
28     28 2024-04-01  5002711_2          Norte  9.008029e+08  1.302106e+09
29     29 2024-04-01  5002711_3          Norte  1.321596e+08  1.987481e+08
36     36 2024-05-01  5002711_1          Norte  4.023133e+09  3.955932e+09
37     37 2024-05-01  5002711_2          Norte  1.412750e+09  1.432549e+09
38     38 2024-05-01  5002711_3          Norte  1.303978e+08  2.205316e+08

In [332]:
# venta_facturada_zona_pais_sub = venta_facturada_zona_pais_sub1.copy()

In [333]:
# venta_facturada_zona_pais_sub1 = venta_facturada_zona_pais_sub
# venta_facturada_zona_pais_sub1.head()

In [334]:
venta_facturada_zona_pais_sub['Real'].fillna(0.0, inplace=True)
venta_facturada_zona_pais_sub['Presupuesto'].fillna(0.0, inplace=True)

venta_facturada_zona_pais_sub['Presupuesto'] = venta_facturada_zona_pais_sub.groupby(['Contexto', 'ZonaGeografica'])['Presupuesto'].transform(pd.Series.cumsum)
venta_facturada_zona_pais_sub['Real'] = venta_facturada_zona_pais_sub.groupby(['Contexto', 'ZonaGeografica'])['Real'].transform(pd.Series.cumsum)

venta_facturada_zona_pais_sub.head()

   index      Fecha   Contexto ZonaGeografica          Real   Presupuesto
0      0 2024-01-01  5002711_1          Norte  3.298322e+09  2.657754e+09
1      1 2024-01-01  5002711_2          Norte  5.612182e+08  8.816129e+08
2      2 2024-01-01  5002711_3          Norte  9.418959e+07  1.583419e+08
3      3 2024-01-01  5004298_1         Centro  3.987052e+09  3.675086e+09
4      4 2024-01-01  5004298_2         Centro  1.537628e+09  1.393148e+09

In [335]:
venta_facturada_zona_pais_sub[
    (venta_facturada_zona_pais_sub['ZonaGeografica'] == 'Norte') 
]

    index      Fecha   Contexto ZonaGeografica          Real   Presupuesto
0       0 2024-01-01  5002711_1          Norte  3.298322e+09  2.657754e+09
1       1 2024-01-01  5002711_2          Norte  5.612182e+08  8.816129e+08
2       2 2024-01-01  5002711_3          Norte  9.418959e+07  1.583419e+08
9       9 2024-02-01  5002711_1          Norte  5.792297e+09  5.837001e+09
10     10 2024-02-01  5002711_2          Norte  1.230175e+09  1.994382e+09
11     11 2024-02-01  5002711_3          Norte  1.846221e+08  3.317322e+08
18     18 2024-03-01  5002711_1          Norte  9.874553e+09  9.784922e+09
19     19 2024-03-01  5002711_2          Norte  2.344120e+09  3.347739e+09
20     20 2024-03-01  5002711_3          Norte  1.542484e+09  5.716114e+08
27     27 2024-04-01  5002711_1          Norte  1.380777e+10  1.284953e+10
28     28 2024-04-01  5002711_2          Norte  3.244923e+09  4.649844e+09
29     29 2024-04-01  5002711_3          Norte  1.674644e+09  7.703596e+08
36     36 2024-05-01  5002711_1          Norte  1.783090e+10  1.680546e+10
37     37 2024-05-01  5002711_2          Norte  4.657673e+09  6.082393e+09
38     38 2024-05-01  5002711_3          Norte  1.805042e+09  9.908912e+08

In [336]:
venta_facturada_zona_pais_sub['PorcentajeCumplimiento'] = venta_facturada_zona_pais_sub['Real'] / venta_facturada_zona_pais_sub['Presupuesto']
venta_facturada_zona_pais_sub['PorcentajeCumplimiento'] = venta_facturada_zona_pais_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
venta_facturada_zona_pais_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)

# venta_facturada_zona_pais_sub = convertir_a_euros(venta_facturada_zona_pais_sub)

venta_facturada_zona_pais_sub['Variable'] = 'VentaFacturadaZonaPaisSub'

# venta_facturada_zona_pais_sub = venta_facturada_zona_pais_sub[colums_name]

venta_facturada_zona_pais_sub = venta_facturada_zona_pais_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_zona_pais_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaFacturadaZonaPaisSub,2024-01-01,3.298322e+09,2.657754e+09,1.24
1,5002711_2,VentaFacturadaZonaPaisSub,2024-01-01,5.612182e+08,8.816129e+08,0.64
2,5002711_3,VentaFacturadaZonaPaisSub,2024-01-01,9.418959e+07,1.583419e+08,0.59
3,5004298_1,VentaFacturadaZonaPaisSub,2024-01-01,3.987052e+09,3.675086e+09,1.08
4,5004298_2,VentaFacturadaZonaPaisSub,2024-01-01,1.537628e+09,1.393148e+09,1.10
5,5004298_3,VentaFacturadaZonaPaisSub,2024-01-01,2.222204e+08,4.090594e+08,0.54
6,5005980_1,VentaFacturadaZonaPaisSub,2024-01-01,2.406756e+09,2.740147e+09,0.88
7,5005980_2,VentaFacturadaZonaPaisSub,2024-01-01,8.072436e+08,1.089992e+09,0.74
8,5005980_3,VentaFacturadaZonaPaisSub,2024-01-01,8.859221e+07,2.218138e+08,0.40
9,5002711_1,VentaFacturadaZonaPaisSub,2024-02-01,5.792297e+09,5.837001e+09,0.99
10,5002711_2,VentaFacturadaZonaPaisSub,2024-02-01,1.230175e+09,1.994382e+09,0.62
11,5002711_3,VentaFacturadaZonaPaisSub,2024-02-01,1.846221e+08,3.317322e+08,0.56
12,5004298_1,VentaFacturadaZonaPaisSub,2024-02-01,8.889950e+09,8.051829e+09,1.10
13,5004298_2,VentaFacturadaZonaPaisSub,2024-02-01,3.836139e+09,3.192832e+09,1.20
14,5004298_3,VentaFacturadaZonaPaisSub,2024-02-01,8.914740e+08,9.255112e+08,0.96
15,5005980_1,VentaFacturadaZonaPaisSub,2024-02-01,5.909817e+09,6.075676e+09,0.97
16,5005980_2,VentaFacturadaZonaPaisSub,2024-02-01,1.998365e+09,2.478606e+09,0.81
17,5005980_3,VentaFacturadaZonaPaisSub,2024-02-01,1.970555e+08,4.552313e+08,0.43
18,5002711_1,VentaFacturadaZonaPaisSub,2024-03-01,9.874553e+09,9.784922e+09,1.01
19,5002711_2,VentaFacturadaZonaPaisSub,2024-03-01,2.344120e+09,3.347739e+09,0.70
20,5002711_3,VentaFacturadaZonaPaisSub,2024-03-01,1.542484e+09,5.716114e+08,2.70
21,5004298_1,VentaFacturadaZonaPaisSub,2024-03-01,1.341234e+10,1.343935e+10,1.00
22,5004298_2,VentaFacturadaZonaPaisSub,2024-03-01,5.962949e+09,5.368016e+09,1.11
23,5004298_3,VentaFacturadaZonaPaisSub,2024-03-01,1.243244e+09,1.579338e+09,0.79
24,5005980_1,VentaFacturadaZonaPaisSub,2024-03-01,9.687245e+09,1.034197e+10,0.94
25,5005980_2,VentaFacturadaZonaPaisSub,2024-03-01,3.111344e+09,4.216881e+09,0.74
26,5005980_3,VentaFacturadaZonaPaisSub,2024-03-01,3.463133e+08,7.713847e+08,0.45
27,5002711_1,VentaFacturadaZonaPaisSub,2024-04-01,1.380777e+10,1.284953e+10,1.07
28,5002711_2,VentaFacturadaZonaPaisSub,2024-04-01,3.244923e+09,4.649844e+09,0.70
29,5002711_3,VentaFacturadaZonaPaisSub,2024-04-01,1.674644e+09,7.703596e+08,2.17
30,5004298_1,VentaFacturadaZonaPaisSub,2024-04-01,1.865555e+10,1.768647e+10,1.05
31,5004298_2,VentaFacturadaZonaPaisSub,2024-04-01,7.487426e+09,7.500612e+09,1.00
32,5004298_3,VentaFacturadaZonaPaisSub,2024-04-01,1.636052e+09,2.196456e+09,0.74
33,5005980_1,VentaFacturadaZonaPaisSub,2024-04-01,1.388188e+10,1.355794e+10,1.02
34,5005980_2,VentaFacturadaZonaPaisSub,2024-04-01,4.476649e+09,5.867825e+09,0.76
35,5005980_3,VentaFacturadaZonaPaisSub,2024-04-01,5.376039e+08,1.030799e+09,0.52
36,5002711_1,VentaFacturadaZonaPaisSub,2024-05-01,1.783090e+10,1.680546e+10,1.06
37,5002711_2,VentaFacturadaZonaPaisSub,2024-05-01,4.657673e+09,6.082393e+09,0.77
38,5002711_3,VentaFacturadaZonaPaisSub,2024-05-01,1.805042e+09,9.908912e+08,1.82
39,5004298_1,VentaFacturadaZonaPaisSub,2024-05-01,2.358071e+10,2.313272e+10,1.02
40,5004298_2,VentaFacturadaZonaPaisSub,2024-05-01,9.105160e+09,9.827002e+09,0.93
41,5004298_3,VentaFacturadaZonaPaisSub,2024-05-01,1.960765e+09,2.860082e+09,0.69
42,5005980_1,VentaFacturadaZonaPaisSub,2024-05-01,1.791043e+10,1.773953e+10,1.01
43,5005980_2,VentaFacturadaZonaPaisSub,2024-05-01,5.262992e+09,7.707006e+09,0.68
44,5005980_3,VentaFacturadaZonaPaisSub,2024-05-01,7.331389e+08,1.322402e+09,0.55

In [337]:
venta_facturada_zona_pais_sub[
    (venta_facturada_zona_pais_sub['Fecha'] == '2024-03-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
18,5002711_1,VentaFacturadaZonaPaisSub,2024-03-01,9.874553e+09,9.784922e+09,1.01
19,5002711_2,VentaFacturadaZonaPaisSub,2024-03-01,2.344120e+09,3.347739e+09,0.70
20,5002711_3,VentaFacturadaZonaPaisSub,2024-03-01,1.542484e+09,5.716114e+08,2.70
21,5004298_1,VentaFacturadaZonaPaisSub,2024-03-01,1.341234e+10,1.343935e+10,1.00
22,5004298_2,VentaFacturadaZonaPaisSub,2024-03-01,5.962949e+09,5.368016e+09,1.11
23,5004298_3,VentaFacturadaZonaPaisSub,2024-03-01,1.243244e+09,1.579338e+09,0.79
24,5005980_1,VentaFacturadaZonaPaisSub,2024-03-01,9.687245e+09,1.034197e+10,0.94
25,5005980_2,VentaFacturadaZonaPaisSub,2024-03-01,3.111344e+09,4.216881e+09,0.74
26,5005980_3,VentaFacturadaZonaPaisSub,2024-03-01,3.463133e+08,7.713847e+08,0.45

## 39 VentaFacturadaBraunPaisSub

In [338]:
len(df_parrillas[df_parrillas['Nombre variable'] == 'VentaFacturadaBraunPaisSUB'])

38

In [339]:
# df_parrillas[df_parrillas['Nombre variable'] == 'VentaFacturadaBraunPaisSUB'].merge(
#     df_empleados,
#     how='left'
# )

In [340]:
df_venta_otras_companias

  Compania      Fecha          Real   Presupuesto
0    BBMCO 2024-03-01  1.120332e+07  1.062285e+07
1    BBMCO 2024-04-01  1.547450e+07  1.420999e+07
2    BBMCO 2024-05-01  1.964573e+07  1.858577e+07
3    BBMEC 2024-03-01  8.356750e+06  7.406224e+06
4    BBMEC 2024-04-01  1.071505e+07  1.011131e+07
5    BBMEC 2024-05-01  1.331828e+07  1.288313e+07

In [341]:
df_recaudo_otras_companias

Empty DataFrame
Columns: [Compania, Fecha, Real, Presupuesto]
Index: []

In [342]:
area_calculo_sba_completo

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO         BBMCO  BBMCO           AD
1              2            1    BBMCO         BBMCO  BBMCO           AD
2              3            1    BBMCO         BBMCO  BBMCO           AD
3              4            1    BBMCO         BBMCO  BBMCO           AD
4              1            1    BBMCO         BBMCO  BBMCO          AD1
..           ...          ...      ...           ...    ...          ...
249           10            1       BA           A32     84           VE
250           11            1       BA           A35     87           VE
251           12            1       AE           805     30           VE
252           12            2       AE           M06     31           VE
253           12            2       AE           M06     30           VE

[721 rows x 6 columns]

In [343]:
# df_parrillas[df_parrillas['Nombre variable'] == 'VentaFacturadaBraunPaisSUB'].merge(
#     df_empleados,
#     how='left'
# ).merge(
#     area_calculo_sba_completo,
#     how='left'
# )

In [344]:
area_calculo_sba_completo_bbmco_bbmec = area_calculo_sba_completo[
    ((area_calculo_sba_completo['TipoEmpleado']=='AD4') | (area_calculo_sba_completo['TipoEmpleado']=='MK')) &
    ((area_calculo_sba_completo['Division']=='BBMCO') | (area_calculo_sba_completo['Division']=='BBMEC'))
]
area_calculo_sba_completo_bbmco_bbmec

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
16             1            1    BBMCO         BBMCO  BBMCO          AD4
17             1            2    BBMEC         BBMEC  BBMEC          AD4
18             2            1    BBMCO         BBMCO  BBMCO          AD4
142            7            1    BBMCO         BBMCO  BBMCO           MK
143            7            2    BBMEC         BBMEC  BBMEC           MK
144            8            1    BBMCO                                MK
145            9            1    BBMCO                                MK

In [345]:
area_calculo_sba_completo_bbmco_bbmec = df_parrillas[df_parrillas['Nombre variable'] == 'VentaFacturadaBraunPaisSUB'].merge(
    df_empleados,
    how='left'
).merge(
    area_calculo_sba_completo,
    how='left'
)
area_calculo_sba_completo_bbmco_bbmec.head()

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo,Division,GrupoProducto,SBA
0,53002714,VentaFacturadaBraunPaisSUB,53002714_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,RODRIGO,BELTRAN FORERO,3500000.0,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO
2,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,AD4,80133890,rodrigo.beltran@bbraun.com,RODRIGO,BELTRAN FORERO,3500000.0,2018-12-01,NaT,1.0,BBMEC,BBMEC,BBMEC
3,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,79641686,ricardo.benavides@bbraun.com,RICARDO,BENAVIDES,1000000.0,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO
4,53154461,VentaFacturadaBraunPaisSUB,53154461_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD1,53154461,yeimy.calderon@bbraun.com,Yeimy Andrea,Calderon Martinez,600000.0,2023-03-01,NaT,5.0,BBMCO,BBMCO,BBMCO

In [346]:
main = pd.merge(
    left=area_calculo_sba_completo_bbmco_bbmec,
    right=df_venta_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division'],
    how='inner'
)
main

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,Identificacion,CorreoElectronico,...,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo,Division,GrupoProducto,SBA,Fecha,Real,Presupuesto
0,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,3500000.0,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07
1,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,3500000.0,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07
2,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,3500000.0,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-05-01,1.964573e+07,1.858577e+07
3,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,79641686,ricardo.benavides@bbraun.com,...,1000000.0,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07
4,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,79641686,ricardo.benavides@bbraun.com,...,1000000.0,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,AD4,80133890,rodrigo.beltran@bbraun.com,...,3500000.0,2018-12-01,NaT,1.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07
77,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,AD4,80133890,rodrigo.beltran@bbraun.com,...,3500000.0,2018-12-01,NaT,1.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07
78,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,1500000.0,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-03-01,8.356750e+06,7.406224e+06
79,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,1500000.0,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07
80,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,1500000.0,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07

In [347]:
# main = main.merge(df_empleados)
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPaisSUB'
main['Contexto'] = main['CodigoEmpleado'].astype(str).str.cat(main['Consecutivo'].astype(str), sep="_")
main

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,Identificacion,CorreoElectronico,...,FechaIngreso,FechaRetiro,AreaCalculo,Division,GrupoProducto,SBA,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07,1.05
1,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07,1.09
2,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,80133890,rodrigo.beltran@bbraun.com,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-05-01,1.964573e+07,1.858577e+07,1.06
3,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,79641686,ricardo.benavides@bbraun.com,...,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07,1.05
4,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,79641686,ricardo.benavides@bbraun.com,...,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07,1.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,AD4,80133890,rodrigo.beltran@bbraun.com,...,2018-12-01,NaT,1.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07,1.06
77,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,AD4,80133890,rodrigo.beltran@bbraun.com,...,2018-12-01,NaT,1.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07,1.03
78,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-03-01,8.356750e+06,7.406224e+06,1.13
79,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07,1.06
80,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,52266432,ana.pachon@bbraun.com,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07,1.03

In [348]:
main[['CodigoEmpleado','TipoEmpleado', 'AreaCalculo']]

   CodigoEmpleado TipoEmpleado  AreaCalculo
0        80133890          AD4          1.0
1        80133890          AD4          1.0
2        80133890          AD4          1.0
3        79641686           AD          2.0
4        79641686           AD          2.0
..            ...          ...          ...
76       80133890          AD4          1.0
77       80133890          AD4          1.0
78       52266432           MK          7.0
79       52266432           MK          7.0
80       52266432           MK          7.0

[81 rows x 3 columns]

In [349]:
df_empleados_centros_costos

    CodigoEmpleado CodigoCentroCosto  PorcentajeAsignacion
0       1000972927         323007320                  1.00
1       1010166177         323007337                  1.00
2       1010227511         323015035                  1.00
3       1013583607         323007280                  0.40
4       1013583607         323007290                  0.60
..             ...               ...                   ...
242        1111135         323010165                  0.80
243        1111119         323007337                  0.05
244        1111119         323015070                  0.95
245        1111134         323007337                  0.05
246        1111134         323015070                  0.95

[247 rows x 3 columns]

In [350]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    main,
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,...,FechaIngreso,FechaRetiro,AreaCalculo,Division,GrupoProducto,SBA,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,80133890,323004040,1.00,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07,1.05
1,80133890,323004040,1.00,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07,1.09
2,80133890,323004040,1.00,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO,AD4,...,2018-12-01,NaT,1.0,BBMCO,BBMCO,BBMCO,2024-05-01,1.964573e+07,1.858577e+07,1.06
3,79641686,323004010,1.00,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,...,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-03-01,1.120332e+07,1.062285e+07,1.05
4,79641686,323004010,1.00,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO,AD,...,2018-06-01,NaT,2.0,BBMCO,BBMCO,BBMCO,2024-04-01,1.547450e+07,1.420999e+07,1.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,52266432,323010160,0.25,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07,1.06
125,52266432,323015060,0.70,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-04-01,1.071505e+07,1.011131e+07,1.06
126,52266432,323007334,0.05,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07,1.03
127,52266432,323010160,0.25,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07,1.03
128,52266432,323015060,0.70,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC,MK,...,2022-05-01,NaT,7.0,BBMEC,BBMEC,BBMEC,2024-05-01,1.331828e+07,1.288313e+07,1.03

In [351]:
venta_facturada_braun_pais_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'VentaFacturadaBraunPaisSUB')
venta_facturada_braun_pais_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1018451704_1,2024-03-01,BBMCO,BBMCO,323004010,1.120332e+07,1.062285e+07,VentaFacturadaBraunPaisSUB
1,1018451704_1,2024-04-01,BBMCO,BBMCO,323004010,2.667782e+07,2.483285e+07,VentaFacturadaBraunPaisSUB
2,1018451704_1,2024-05-01,BBMCO,BBMCO,323004010,4.632354e+07,4.341862e+07,VentaFacturadaBraunPaisSUB
3,1022428619_1,2024-03-01,,BBMCO,323004035,1.120332e+07,1.062285e+07,VentaFacturadaBraunPaisSUB
4,1022428619_1,2024-03-01,,BBMCO,323010180,1.120332e+07,1.062285e+07,VentaFacturadaBraunPaisSUB
...,...,...,...,...,...,...,...,...
112,80133890_2,2024-04-01,BBMEC,BBMEC,323004040,1.907180e+07,1.751754e+07,VentaFacturadaBraunPaisSUB
113,80133890_2,2024-05-01,BBMEC,BBMEC,323004040,3.239008e+07,3.040066e+07,VentaFacturadaBraunPaisSUB
114,80201251_1,2024-03-01,BBMCO,BBMCO,323004040,1.120332e+07,1.062285e+07,VentaFacturadaBraunPaisSUB
115,80201251_1,2024-04-01,BBMCO,BBMCO,323004040,2.667782e+07,2.483285e+07,VentaFacturadaBraunPaisSUB
116,80201251_1,2024-05-01,BBMCO,BBMCO,323004040,4.632354e+07,4.341862e+07,VentaFacturadaBraunPaisSUB

In [352]:
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
venta_facturada_braun_pais_sub = main.copy()
main = None
venta_facturada_braun_pais_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,80133890_1,VentaFacturadaBraunPaisSUB,2024-03-01,1.120332e+07,1.062285e+07,1.05
1,80133890_1,VentaFacturadaBraunPaisSUB,2024-04-01,1.547450e+07,1.420999e+07,1.09
2,80133890_1,VentaFacturadaBraunPaisSUB,2024-05-01,1.964573e+07,1.858577e+07,1.06
3,79641686_1,VentaFacturadaBraunPaisSUB,2024-03-01,1.120332e+07,1.062285e+07,1.05
4,79641686_1,VentaFacturadaBraunPaisSUB,2024-04-01,1.547450e+07,1.420999e+07,1.09
...,...,...,...,...,...,...
76,80133890_2,VentaFacturadaBraunPaisSUB,2024-04-01,1.071505e+07,1.011131e+07,1.06
77,80133890_2,VentaFacturadaBraunPaisSUB,2024-05-01,1.331828e+07,1.288313e+07,1.03
78,52266432_2,VentaFacturadaBraunPaisSUB,2024-03-01,8.356750e+06,7.406224e+06,1.13
79,52266432_2,VentaFacturadaBraunPaisSUB,2024-04-01,1.071505e+07,1.011131e+07,1.06
80,52266432_2,VentaFacturadaBraunPaisSUB,2024-05-01,1.331828e+07,1.288313e+07,1.03

In [353]:
df_parrillas[df_parrillas['Variable'].str.contains('VentaFacturadaBraunPaisSUB')]

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
112,53002714,VentaFacturadaBraunPaisSUB,53002714_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
174,80133890,VentaFacturadaBraunPaisSUB,80133890_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO
175,80133890,VentaFacturadaBraunPaisSUB,80133890_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC
178,79641686,VentaFacturadaBraunPaisSUB,79641686_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
238,53154461,VentaFacturadaBraunPaisSUB,53154461_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
340,1121863542,VentaFacturadaBraunPaisSUB,1121863542_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
370,52193204,VentaFacturadaBraunPaisSUB,52193204_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
391,1027402807,VentaFacturadaBraunPaisSUB,1027402807_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
440,79950432,VentaFacturadaBraunPaisSUB,79950432_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
498,1022428619,VentaFacturadaBraunPaisSUB,1022428619_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
578,84086164,VentaFacturadaBraunPaisSUB,84086164_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
606,1037583151,VentaFacturadaBraunPaisSUB,1037583151_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
634,52057371,VentaFacturadaBraunPaisSUB,52057371_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
680,51789567,VentaFacturadaBraunPaisSUB,51789567_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
683,51790647,VentaFacturadaBraunPaisSUB,51790647_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
709,1018451704,VentaFacturadaBraunPaisSUB,1018451704_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
771,1015432392,VentaFacturadaBraunPaisSUB,1015432392_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
801,80201251,VentaFacturadaBraunPaisSUB,80201251_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
941,52266432,VentaFacturadaBraunPaisSUB,52266432_1,0.2,1,VentaFacturadaBraunPaisSUB,BBMCO
942,52266432,VentaFacturadaBraunPaisSUB,52266432_2,0.2,2,VentaFacturadaBraunPaisSUB,BBMEC
951,63504295,VentaFacturadaBraunPaisSUB,63504295_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
954,52353176,VentaFacturadaBraunPaisSUB,52353176_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1006,52875549,VentaFacturadaBraunPaisSUB,52875549_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1009,797582501,VentaFacturadaBraunPaisSUB,797582501_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1012,79758250,VentaFacturadaBraunPaisSUB,79758250_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1015,52733955,VentaFacturadaBraunPaisSUB,52733955_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1018,1098618755,VentaFacturadaBraunPaisSUB,1098618755_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1021,30405433,VentaFacturadaBraunPaisSUB,30405433_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1024,35410002,VentaFacturadaBraunPaisSUB,35410002_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1027,16659046,VentaFacturadaBraunPaisSUB,16659046_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1057,1032450706,VentaFacturadaBraunPaisSUB,1032450706_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1109,52197002,VentaFacturadaBraunPaisSUB,52197002_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1130,80037193,VentaFacturadaBraunPaisSUB,80037193_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1185,8520024,VentaFacturadaBraunPaisSUB,8520024_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1205,1098612757,VentaFacturadaBraunPaisSUB,1098612757_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1229,1019140853,VentaFacturadaBraunPaisSUB,1019140853_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1274,1032449509,VentaFacturadaBraunPaisSUB,1032449509_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO
1313,13874027,VentaFacturadaBraunPaisSUB,13874027_1,0.4,1,VentaFacturadaBraunPaisSUB,BBMCO

## 40 VentaFacturadaBraunPais

In [354]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','CodigoEmpleado', 'ZonaGeografica','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Calcular
main['Contexto']= 'BBMCO'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_braun_pais = main.copy()
main = None
venta_facturada_braun_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaBraunPais,2024-01-01,1.300322e+10,1.322696e+10,0.98
1,BBMCO,VentaFacturadaBraunPais,2024-02-01,2.892989e+10,2.934280e+10,0.99
2,BBMCO,VentaFacturadaBraunPais,2024-03-01,4.752460e+10,4.942121e+10,0.96
3,BBMCO,VentaFacturadaBraunPais,2024-04-01,6.540249e+10,6.610984e+10,0.99
4,BBMCO,VentaFacturadaBraunPais,2024-05-01,8.284682e+10,8.646749e+10,0.96

## 41 RentabilidadUnidadNegocioCM2COGsSUB

In [355]:
df_rentabilidad.copy()

,Compania,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto
0,BBMCO,001,30,CM2COGSP,2024-03-01,3.695338e+05,2.515874e+05
1,BBMCO,001,30,CM2COGSP,2024-04-01,4.844436e+05,3.436849e+05
2,BBMCO,001,30,CM2COGSP,2024-05-01,5.731556e+05,4.357824e+05
3,BBMCO,001,31,CM2COGSP,2024-03-01,7.797270e+04,3.762567e+04
4,BBMCO,001,31,CM2COGSP,2024-04-01,8.174259e+04,5.434819e+04
...,...,...,...,...,...,...,...
128,BBMCO,M08,33,CM2COGSP,2024-04-01,2.704056e+05,2.135984e+05
129,BBMCO,M08,33,CM2COGSP,2024-05-01,3.575923e+05,2.801999e+05
130,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-03-01,1.345765e+06,1.163000e+06
131,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-04-01,1.696398e+06,1.664589e+06
132,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-05-01,2.179288e+06,2.196836e+06

In [356]:
rentabilidad_gu = df_rentabilidad.copy()
rentabilidad_gu['TipoEmpleado'] = 'GU'
rentabilidad_gu = rentabilidad_gu.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu

,Compania,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto,TipoEmpleado,AreaCalculo
0,BBMCO,001,30,CM2COGSP,2024-03-01,3.695338e+05,2.515874e+05,GU,3.0
1,BBMCO,001,30,CM2COGSP,2024-04-01,4.844436e+05,3.436849e+05,GU,3.0
2,BBMCO,001,30,CM2COGSP,2024-05-01,5.731556e+05,4.357824e+05,GU,3.0
3,BBMCO,001,31,CM2COGSP,2024-03-01,7.797270e+04,3.762567e+04,GU,3.0
4,BBMCO,001,31,CM2COGSP,2024-04-01,8.174259e+04,5.434819e+04,GU,3.0
...,...,...,...,...,...,...,...,...,...
134,BBMCO,M08,33,CM2COGSP,2024-04-01,2.704056e+05,2.135984e+05,GU,1.0
135,BBMCO,M08,33,CM2COGSP,2024-05-01,3.575923e+05,2.801999e+05,GU,1.0
136,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-03-01,1.345765e+06,1.163000e+06,GU,NaN
137,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-04-01,1.696398e+06,1.664589e+06,GU,NaN
138,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-05-01,2.179288e+06,2.196836e+06,GU,NaN

In [357]:
area_calculo_sba_completo_gu

    AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
55            1            1       AE           M07               GU
56            1            2       AE           005               GU
57            1            2       AE           M08               GU
58            2            1       AE           003               GU
59            2            1       AE           CEK  35           GU
60            2            2       AE           801               GU
61            2            3       AE           006               GU
62            3            1       AE           001               GU
63            4            1       HC           630  08           GU
64            4            2       HC           630  03           GU
65            4            2       HC           630  12           GU
66            4            2       HC           630  19           GU
67            4            2       HC           CDK  03           GU
68            4            2       HC           CDK  12           GU
69            4            2       HC           CDK  30           GU
70            4            3       HC           610  02           GU
71            5            1       HC           620  13           GU
72            5            2       HC           620  16           GU
73            5            3       HC           620  36           GU
74            5            4       HC           620  15           GU
75            5            5       HC           610  02           GU
76            7            1       HC           640               GU
77            7            2       HC           680               GU
78            7            2       HC           681               GU
79            7            2       HC           681  03           GU
80            7            3       HC           610               GU
81            8            1       BA           A32               GU
82            8            2       BA           A33               GU
83            8            2       BA           A34               GU
84            8            3       BA           A35               GU
85           10            1       AE           805               GU
86           10            2       AE           M06               GU
49            1            1       AE           M07  33           GU
50            1            1       AE           M07  30           GU
51            1            2       AE           005  33           GU
52            1            2       AE           005  35           GU
53            1            2       AE           M08  33           GU
54            2            1       AE           003  35           GU
55            2            2       AE           801  30           GU
56            2            2       AE           801  32           GU
57            2            2       AE           801  33           GU
58            2            3       AE           006  36           GU
59            3            1       AE           001  30           GU
60            3            1       AE           001  31           GU
61            3            1       AE           001  33           GU
62            3            1       AE           001  32           GU
63            7            1       HC           640  03           GU
64            7            2       HC           680  03           GU
66            7            3       HC           610  01           GU
67            7            3       HC           610  02           GU
68            8            1       BA           A32  84           GU
69            8            2       BA           A33  86           GU
70            8            2       BA           A34  85           GU
71            8            3       BA           A35  87           GU
72           10            1       AE           805  30           GU
73           10            2       AE           M06  31           GU
74           10            2       AE           M06  30           GU

In [358]:
main_rentabilidad = rentabilidad_gu[
    rentabilidad_gu['ClaseRentabilidad'] == 'CM2COGSP'
]
main_rentabilidad.drop(columns='ClaseRentabilidad', inplace=True)

main_area_calculo = main_rentabilidad.merge(
    area_calculo_sba_completo_gu,
    how='left'
)

main = main_area_calculo.merge(
    df_empleados,
    how='left'
)
main.head()

C:\Users\Crisp\AppData\Local\Temp\ipykernel_30340\3475672571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_rentabilidad.drop(columns='ClaseRentabilidad', inplace=True)

,Compania,GrupoProducto,SBA,Fecha,Real,Presupuesto,TipoEmpleado,AreaCalculo,Consecutivo,Division,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro
0,BBMCO,001,30,2024-03-01,369533.842197,251587.388424,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT
1,BBMCO,001,30,2024-04-01,484443.578211,343684.893983,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT
2,BBMCO,001,30,2024-05-01,573155.598714,435782.399543,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT
3,BBMCO,001,31,2024-03-01,77972.702119,37625.672469,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT
4,BBMCO,001,31,2024-04-01,81742.589915,54348.193567,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT

In [359]:
main['Consecutivo'].fillna(0.0, inplace=True)
main['Contexto'] = main['CodigoEmpleado'].str.lower().str.cat(main['Consecutivo'].astype(int).astype(str), sep="_")
main

,Compania,GrupoProducto,SBA,Fecha,Real,Presupuesto,TipoEmpleado,AreaCalculo,Consecutivo,Division,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,BBMCO,001,30,2024-03-01,369533.842197,251587.388424,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
1,BBMCO,001,30,2024-04-01,484443.578211,343684.893983,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
2,BBMCO,001,30,2024-05-01,573155.598714,435782.399543,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
3,BBMCO,001,31,2024-03-01,77972.702119,37625.672469,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
4,BBMCO,001,31,2024-04-01,81742.589915,54348.193567,GU,3.0,1.0,AE,52900453,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,BBMCO,M07,33,2024-04-01,232166.417365,170100.943879,GU,1.0,1.0,AE,5004302,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_1
129,BBMCO,M07,33,2024-05-01,308768.462239,222933.034672,GU,1.0,1.0,AE,5004302,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_1
130,BBMCO,M08,33,2024-03-01,195947.707526,152277.592359,GU,1.0,2.0,AE,5004302,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2
131,BBMCO,M08,33,2024-04-01,270405.599235,213598.361043,GU,1.0,2.0,AE,5004302,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2
132,BBMCO,M08,33,2024-05-01,357592.295070,280199.915344,GU,1.0,2.0,AE,5004302,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2

In [360]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    main,
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,Compania,GrupoProducto,SBA,Fecha,Real,Presupuesto,TipoEmpleado,...,Consecutivo,Division,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,52900453,323007270,1.0,BBMCO,001,30,2024-03-01,369533.842197,251587.388424,GU,...,1.0,AE,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
1,52900453,323007270,1.0,BBMCO,001,30,2024-04-01,484443.578211,343684.893983,GU,...,1.0,AE,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
2,52900453,323007270,1.0,BBMCO,001,30,2024-05-01,573155.598714,435782.399543,GU,...,1.0,AE,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
3,52900453,323007270,1.0,BBMCO,001,31,2024-03-01,77972.702119,37625.672469,GU,...,1.0,AE,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
4,52900453,323007270,1.0,BBMCO,001,31,2024-04-01,81742.589915,54348.193567,GU,...,1.0,AE,52900453,diana.morales@bbraun.com,DIANA PATRICIA,MORALES MARTINEZ,3000000.0,2020-03-01,NaT,52900453_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,5004302,323010140,1.0,BBMCO,M07,33,2024-04-01,232166.417365,170100.943879,GU,...,1.0,AE,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_1
186,5004302,323010140,1.0,BBMCO,M07,33,2024-05-01,308768.462239,222933.034672,GU,...,1.0,AE,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_1
187,5004302,323010140,1.0,BBMCO,M08,33,2024-03-01,195947.707526,152277.592359,GU,...,2.0,AE,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2
188,5004302,323010140,1.0,BBMCO,M08,33,2024-04-01,270405.599235,213598.361043,GU,...,2.0,AE,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2
189,5004302,323010140,1.0,BBMCO,M08,33,2024-05-01,357592.295070,280199.915344,GU,...,2.0,AE,52507812,martha.vargas@bbraun.com,MARTHA LUCIA,VARGAS MARTINEZ,3000000.0,2011-12-14,NaT,5004302_2

In [361]:
rentabilidad_unidad_negocio_cm2cogs_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'RentabilidadUnidadNegocioCM2COGSSUB')
rentabilidad_unidad_negocio_cm2cogs_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1013583607_1,2024-03-01,805,AE,323007280,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB
1,1013583607_1,2024-03-01,805,AE,323007290,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB
2,1013583607_1,2024-04-01,805,AE,323007280,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB
3,1013583607_1,2024-04-01,805,AE,323007290,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB
4,1013583607_1,2024-05-01,805,AE,323007280,716717.704506,694280.875887,RentabilidadUnidadNegocioCM2COGSSUB
...,...,...,...,...,...,...,...,...
97,94460154_2,2024-05-01,A33,BA,323007337,23399.712828,20723.216486,RentabilidadUnidadNegocioCM2COGSSUB
98,94460154_2,2024-05-01,A34,BA,323007337,470369.985379,677503.485037,RentabilidadUnidadNegocioCM2COGSSUB
99,94460154_3,2024-03-01,A35,BA,323007337,64788.652349,110600.891998,RentabilidadUnidadNegocioCM2COGSSUB
100,94460154_3,2024-04-01,A35,BA,323007337,153573.270718,276453.474670,RentabilidadUnidadNegocioCM2COGSSUB
101,94460154_3,2024-05-01,A35,BA,323007337,260747.159038,497557.748016,RentabilidadUnidadNegocioCM2COGSSUB

In [362]:
main = main.groupby(
    ['Fecha', 'Contexto'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

main['Variable'] = 'RentabilidadUnidadNegocioCM2COGSSUB'
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
main.head()

,Fecha,Contexto,Real,Presupuesto,Variable,PorcentajeCumplimiento
0,2024-03-01,1013583607_1,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB,1.02
1,2024-03-01,1013583607_2,72736.342479,55276.774999,RentabilidadUnidadNegocioCM2COGSSUB,1.32
2,2024-03-01,5004302_1,160687.463093,117532.402214,RentabilidadUnidadNegocioCM2COGSSUB,1.37
3,2024-03-01,5004302_2,201317.065436,158381.253237,RentabilidadUnidadNegocioCM2COGSSUB,1.27
4,2024-03-01,5004306_1,202287.573344,170734.909837,RentabilidadUnidadNegocioCM2COGSSUB,1.18

In [363]:
# ### Cálculo de resultados cualitativos precargados
# main = dataframe_loader.sobreescribir_resultados_cualitativos(
#     main=main,
#     variable='RentabilidadUnidadNegocioCM2COGSSUB',
#     columnas_extra=['CodigoEmpleado', 'Consecutivo'],
#     columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
# )
# ###

# main

In [364]:
rentabilidad_unidad_negocio_cm2_cogs_sub = main.copy()

rentabilidad_unidad_negocio_cm2_cogs_sub = rentabilidad_unidad_negocio_cm2_cogs_sub[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
rentabilidad_unidad_negocio_cm2_cogs_sub = rentabilidad_unidad_negocio_cm2_cogs_sub.drop_duplicates()
rentabilidad_unidad_negocio_cm2_cogs_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,172273.580838,169713.102995,1.02
1,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,72736.342479,55276.774999,1.32
2,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,160687.463093,117532.402214,1.37
3,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,201317.065436,158381.253237,1.27
4,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,202287.573344,170734.909837,1.18

In [365]:
rentabilidad_unidad_negocio_cm2_cogs_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,172273.580838,1.697131e+05,1.02
1,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,72736.342479,5.527677e+04,1.32
2,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,160687.463093,1.175324e+05,1.37
3,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,201317.065436,1.583813e+05,1.27
4,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,202287.573344,1.707349e+05,1.18
5,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,168443.104478,1.961857e+05,0.86
6,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,12865.686238,1.567959e+04,0.82
7,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,447477.282130,2.924508e+05,1.53
8,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,4852.464550,3.416324e+03,1.42
9,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,175520.598413,1.224656e+05,1.43
10,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,303344.289973,2.019764e+05,1.50
11,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,391783.979718,3.833289e+05,1.02
12,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,351619.741791,7.923484e+05,0.44
13,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,257336.811224,1.948207e+05,1.32
14,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,70869.617435,9.863249e+04,0.72
15,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,116261.280654,1.762550e+05,0.66
16,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,64788.652349,1.106009e+05,0.59
17,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,242905.485665,2.314270e+05,1.05
18,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,110533.917193,8.157429e+04,1.36
19,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,232624.905654,1.648384e+05,1.41
20,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,276986.861613,2.219671e+05,1.25
21,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,294270.716461,2.211683e+05,1.33
22,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,195089.513234,3.165908e+05,0.62
23,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,20862.683516,2.439771e+04,0.86
24,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,566329.186295,4.026168e+05,1.41
25,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,19.640977,5.238364e+03,0.00
26,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,255761.296780,1.747971e+05,1.46
27,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,477960.745965,2.717800e+05,1.76
28,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,546753.651629,4.986085e+05,1.10
29,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,471653.887523,1.030864e+06,0.46
30,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,414152.268915,2.622326e+05,1.58
31,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,102510.133042,1.315100e+05,0.78
32,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,164848.127397,2.302729e+05,0.72
33,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,88784.618369,1.658526e+05,0.54
34,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,301538.638002,2.931408e+05,1.03
35,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,156326.175943,1.117920e+05,1.40
36,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,308968.645306,2.162672e+05,1.43
37,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,365065.515148,2.911031e+05,1.25
38,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,362658.264802,2.871495e+05,1.26
39,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,228447.820509,4.512954e+05,0.51
40,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,27197.737750,3.031822e+04,0.90
41,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,668799.367329,5.149844e+05,1.30
42,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,1447.291465,7.288158e+03,0.20
43,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,335354.875932,2.241900e+05,1.50
44,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,652348.177395,3.628252e+05,1.80
45,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,694073.165064,6.551274e+05,1.06
46,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,-150205.727240,1.353861e+06,-0.11
47,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,567104.113786,3.508304e+05,1.62
48,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,138221.249739,1.691129e+05,0.82
49,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,212660.290156,2.916989e+05,0.73
50,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,107173.888320,2.211043e+05,0.48

In [366]:
rentabilidad_unidad_negocio_cm2_cogs_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,172273.580838,1.697131e+05,1.02
1,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,72736.342479,5.527677e+04,1.32
2,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,160687.463093,1.175324e+05,1.37
3,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,201317.065436,1.583813e+05,1.27
4,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,202287.573344,1.707349e+05,1.18
5,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,168443.104478,1.961857e+05,0.86
6,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,12865.686238,1.567959e+04,0.82
7,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,447477.282130,2.924508e+05,1.53
8,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,4852.464550,3.416324e+03,1.42
9,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,175520.598413,1.224656e+05,1.43
10,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,303344.289973,2.019764e+05,1.50
11,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,391783.979718,3.833289e+05,1.02
12,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,351619.741791,7.923484e+05,0.44
13,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,257336.811224,1.948207e+05,1.32
14,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,70869.617435,9.863249e+04,0.72
15,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,116261.280654,1.762550e+05,0.66
16,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-03-01,64788.652349,1.106009e+05,0.59
17,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,242905.485665,2.314270e+05,1.05
18,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,110533.917193,8.157429e+04,1.36
19,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,232624.905654,1.648384e+05,1.41
20,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,276986.861613,2.219671e+05,1.25
21,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,294270.716461,2.211683e+05,1.33
22,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,195089.513234,3.165908e+05,0.62
23,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,20862.683516,2.439771e+04,0.86
24,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,566329.186295,4.026168e+05,1.41
25,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,19.640977,5.238364e+03,0.00
26,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,255761.296780,1.747971e+05,1.46
27,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,477960.745965,2.717800e+05,1.76
28,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,546753.651629,4.986085e+05,1.10
29,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,471653.887523,1.030864e+06,0.46
30,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,414152.268915,2.622326e+05,1.58
31,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,102510.133042,1.315100e+05,0.78
32,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,164848.127397,2.302729e+05,0.72
33,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-04-01,88784.618369,1.658526e+05,0.54
34,1013583607_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,301538.638002,2.931408e+05,1.03
35,1013583607_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,156326.175943,1.117920e+05,1.40
36,5004302_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,308968.645306,2.162672e+05,1.43
37,5004302_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,365065.515148,2.911031e+05,1.25
38,5004306_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,362658.264802,2.871495e+05,1.26
39,5004306_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,228447.820509,4.512954e+05,0.51
40,5004306_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,27197.737750,3.031822e+04,0.90
41,52900453_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,668799.367329,5.149844e+05,1.30
42,53069050_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,1447.291465,7.288158e+03,0.20
43,53069050_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,335354.875932,2.241900e+05,1.50
44,53069050_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,652348.177395,3.628252e+05,1.80
45,80220240_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,694073.165064,6.551274e+05,1.06
46,80220240_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,-150205.727240,1.353861e+06,-0.11
47,80220240_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,567104.113786,3.508304e+05,1.62
48,94460154_1,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,138221.249739,1.691129e+05,0.82
49,94460154_2,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,212660.290156,2.916989e+05,0.73
50,94460154_3,RentabilidadUnidadNegocioCM2COGSSUB,2024-05-01,107173.888320,2.211043e+05,0.48

In [367]:
df_parrillas[df_parrillas['Variable'] == 'RentabilidadUnidadNegocioCM2COGSSUB']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
36,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_1,0.04,1,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 640 Enteral Diets
37,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_2,0.10,2,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 680 Parenteral Nutrition
38,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 610 IV Drugs & LVP
254,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_1,0.10,1,RentabilidadUnidadNegocioCM2COGSSUB,ORS (003)
255,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_2,0.09,2,RentabilidadUnidadNegocioCM2COGSSUB,MIS (801)
256,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,iVT 006
302,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
303,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
304,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
360,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_1,0.10,1,RentabilidadUnidadNegocioCM2COGSSUB,ORS (003)
361,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_2,0.09,2,RentabilidadUnidadNegocioCM2COGSSUB,MIS (801)
362,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,iVT 006
386,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
387,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
388,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
458,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_1,0.04,1,RentabilidadUnidadNegocioCM2COGSSUB,13 Peripheral Access & Injection
459,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_2,0.04,2,RentabilidadUnidadNegocioCM2COGSSUB,16 Central Venous Access
460,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_3,0.04,3,RentabilidadUnidadNegocioCM2COGSSUB,36 Interventional Therapies (Ports)
461,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_4,0.07,4,RentabilidadUnidadNegocioCM2COGSSUB,15 Regional Anesthesia & Elastomerics
462,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_5,0.01,5,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
618,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
619,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
620,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
759,52900453,RentabilidadUnidadNegocioCM2COGSSUB,52900453_1,0.20,1,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 001 (inc instacount)
830,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
831,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
832,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
849,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
850,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
851,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
858,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
859,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
860,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
985,1013583607,RentabilidadUnidadNegocioCM2COGSSUB,1013583607_1,0.08,1,RentabilidadUnidadNegocioCM2COGSSUB,Motores 805
986,1013583607,RentabilidadUnidadNegocioCM2COGSSUB,1013583607_2,0.12,2,RentabilidadUnidadNegocioCM2COGSSUB,NE M06
1200,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_1,0.03,1,RentabilidadUnidadNegocioCM2COGSSUB,SBA08
1201,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_2,0.05,2,RentabilidadUnidadNegocioCM2COGSSUB,SBA12
1202,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_3,0.02,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA36
1284,5004302,RentabilidadUnidadNegocioCM2COGSSUB,5004302_1,0.08,1,RentabilidadUnidadNegocioCM2COGSSUB,OSS M07 implants
1285,5004302,RentabilidadUnidadNegocioCM2COGSSUB,5004302_2,0.12,2,RentabilidadUnidadNegocioCM2COGSSUB,OSS M05-M08 /implants

## 42 RentabilidadDivisionCM2COGsSub

In [368]:
df_rentabilidad.rename(columns={'Compania': 'Division'})

,Division,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto
0,BBMCO,001,30,CM2COGSP,2024-03-01,3.695338e+05,2.515874e+05
1,BBMCO,001,30,CM2COGSP,2024-04-01,4.844436e+05,3.436849e+05
2,BBMCO,001,30,CM2COGSP,2024-05-01,5.731556e+05,4.357824e+05
3,BBMCO,001,31,CM2COGSP,2024-03-01,7.797270e+04,3.762567e+04
4,BBMCO,001,31,CM2COGSP,2024-04-01,8.174259e+04,5.434819e+04
...,...,...,...,...,...,...,...
128,BBMCO,M08,33,CM2COGSP,2024-04-01,2.704056e+05,2.135984e+05
129,BBMCO,M08,33,CM2COGSP,2024-05-01,3.575923e+05,2.801999e+05
130,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-03-01,1.345765e+06,1.163000e+06
131,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-04-01,1.696398e+06,1.664589e+06
132,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-05-01,2.179288e+06,2.196836e+06

In [369]:
df_rentabilidad[
    (df_rentabilidad['Compania'] == 'BBMCO') &
    (df_rentabilidad['Fecha'] == '2024-05-01') &
    (df_rentabilidad['ClaseRentabilidad'] == 'CM2COGSP')
]

,Compania,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto
2,BBMCO,001,30,CM2COGSP,2024-05-01,5.731556e+05,4.357824e+05
5,BBMCO,001,31,CM2COGSP,2024-05-01,9.543298e+04,7.316103e+04
8,BBMCO,001,32,CM2COGSP,2024-05-01,2.711743e+02,8.016427e+02
11,BBMCO,001,33,CM2COGSP,2024-05-01,-6.038216e+01,5.239330e+03
14,BBMCO,003,35,CM2COGSP,2024-05-01,3.625425e+05,2.871495e+05
17,BBMCO,005,33,CM2COGSP,2024-05-01,6.241686e+03,8.510065e+03
20,BBMCO,005,35,CM2COGSP,2024-05-01,1.231534e+03,2.393148e+03
23,BBMCO,006,36,CM2COGSP,2024-05-01,2.719774e+04,3.031822e+04
26,BBMCO,610,01,CM2COGSP,2024-05-01,8.524406e+04,1.199480e+04
29,BBMCO,610,02,CM2COGSP,2024-05-01,5.671041e+05,3.508304e+05
32,BBMCO,620,13,CM2COGSP,2024-05-01,2.157247e+06,1.559949e+06
35,BBMCO,620,15,CM2COGSP,2024-05-01,1.693266e+06,1.321772e+06
38,BBMCO,620,16,CM2COGSP,2024-05-01,3.039180e+05,2.746113e+05
41,BBMCO,620,36,CM2COGSP,2024-05-01,1.050636e+06,9.856437e+05
42,BBMCO,620,89,CM2COGSP,2024-05-01,0.000000e+00,0.000000e+00
45,BBMCO,630,03,CM2COGSP,2024-05-01,-2.343577e+04,5.210728e+03
48,BBMCO,630,08,CM2COGSP,2024-05-01,6.940732e+05,6.551274e+05
51,BBMCO,630,12,CM2COGSP,2024-05-01,-1.328726e+05,1.348651e+06
54,BBMCO,640,03,CM2COGSP,2024-05-01,1.447291e+03,7.288158e+03
57,BBMCO,660,80,CM2COGSP,2024-05-01,3.252362e+03,8.989250e+01
60,BBMCO,660,81,CM2COGSP,2024-05-01,2.166379e+03,-2.079468e+02
63,BBMCO,680,03,CM2COGSP,2024-05-01,3.353549e+05,2.241900e+05
66,BBMCO,801,30,CM2COGSP,2024-05-01,0.000000e+00,2.059255e+03
69,BBMCO,801,32,CM2COGSP,2024-05-01,2.284478e+05,4.492357e+05
72,BBMCO,801,33,CM2COGSP,2024-05-01,0.000000e+00,4.299742e-01
75,BBMCO,805,30,CM2COGSP,2024-05-01,3.015386e+05,2.931408e+05
78,BBMCO,902,80,CM2COGSP,2024-05-01,0.000000e+00,8.657365e+00
81,BBMCO,A32,84,CM2COGSP,2024-05-01,1.382212e+05,1.691129e+05
84,BBMCO,A33,86,CM2COGSP,2024-05-01,9.984188e+03,8.788390e+03
87,BBMCO,A34,85,CM2COGSP,2024-05-01,2.026761e+05,2.829105e+05
90,BBMCO,A35,87,CM2COGSP,2024-05-01,1.071739e+05,2.211043e+05
93,BBMCO,A45,80,CM2COGSP,2024-05-01,8.134255e+04,-6.272695e+03
96,BBMCO,A45,81,CM2COGSP,2024-05-01,1.529511e+04,-1.531224e+03
99,BBMCO,A45,89,CM2COGSP,2024-05-01,1.396475e+04,1.428932e+04
105,BBMCO,CDK,03,CM2COGSP,2024-05-01,-7.848538e+01,0.000000e+00
108,BBMCO,CDK,12,CM2COGSP,2024-05-01,5.246363e+03,0.000000e+00
111,BBMCO,CDK,30,CM2COGSP,2024-05-01,9.347452e+02,0.000000e+00
114,BBMCO,CEK,35,CM2COGSP,2024-05-01,1.157630e+02,0.000000e+00
117,BBMCO,M06,30,CM2COGSP,2024-05-01,1.874780e+04,1.799324e+03
120,BBMCO,M06,31,CM2COGSP,2024-05-01,1.375784e+05,1.099926e+05
123,BBMCO,M07,30,CM2COGSP,2024-05-01,2.001831e+02,-6.665878e+03
126,BBMCO,M07,33,CM2COGSP,2024-05-01,3.087685e+05,2.229330e+05
129,BBMCO,M08,33,CM2COGSP,2024-05-01,3.575923e+05,2.801999e+05

In [370]:
df_rentabilidad['Compania'].drop_duplicates()

0      BBMCO
130    BBMEC
Name: Compania, dtype: object

In [371]:
# df_recaudo_otras_companias.rename(columns={'Compania': 'Division'})

In [372]:
df_area_calculo_sba[df_area_calculo_sba['TipoEmpleado'] == 'GD']

   TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto  SBA
29           GD            1            1       AE           001  NaN
30           GD            1            1       AE           003  NaN
31           GD            1            1       AE           005  NaN
32           GD            1            1       AE           006  NaN
33           GD            1            1       AE           801  NaN
34           GD            1            1       AE           805  NaN
35           GD            1            1       AE           CEK  NaN
36           GD            1            1       AE           M06  NaN
37           GD            1            1       AE           M07  NaN
38           GD            1            1       AE           M08  NaN
39           GD            2            1       HC           610  NaN
40           GD            2            1       HC           620  NaN
41           GD            2            1       HC           630  NaN
42           GD            2            1       HC           640  NaN
43           GD            2            1       HC           680  NaN
44           GD            2            1       HC           681  NaN
45           GD            2            1       HC           CDK   03
46           GD            2            1       HC           CDK   12
47           GD            2            1       HC           CDK   30
48           GD            3            1       BA           660  NaN
49           GD            3            1       BA           902  NaN
50           GD            3            1       BA           A32  NaN
51           GD            3            1       BA           A33  NaN
52           GD            3            1       BA           A34  NaN
53           GD            3            1       BA           A35  NaN
54           GD            3            1       BA           A45  NaN

In [373]:
area_calculo_sba_completo_gd.copy()

    AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
29            1            1       AE           001               GD
30            1            1       AE           003               GD
31            1            1       AE           005               GD
32            1            1       AE           006               GD
33            1            1       AE           801               GD
..          ...          ...      ...           ...  ..          ...
44            3            1       BA           A34  85           GD
45            3            1       BA           A35  87           GD
46            3            1       BA           A45  80           GD
47            3            1       BA           A45  81           GD
48            3            1       BA           A45  89           GD

[65 rows x 6 columns]

In [374]:
area_calculo_sba_completo_gd[area_calculo_sba_completo_gd['Division'] == 'AE']

    AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
29            1            1       AE           001               GD
30            1            1       AE           003               GD
31            1            1       AE           005               GD
32            1            1       AE           006               GD
33            1            1       AE           801               GD
34            1            1       AE           805               GD
35            1            1       AE           CEK               GD
36            1            1       AE           M06               GD
37            1            1       AE           M07               GD
38            1            1       AE           M08               GD
9             1            1       AE           001  30           GD
10            1            1       AE           001  31           GD
11            1            1       AE           001  33           GD
12            1            1       AE           001  32           GD
13            1            1       AE           003  35           GD
14            1            1       AE           005  33           GD
15            1            1       AE           005  35           GD
16            1            1       AE           006  36           GD
17            1            1       AE           801  30           GD
18            1            1       AE           801  32           GD
19            1            1       AE           801  33           GD
20            1            1       AE           805  30           GD
21            1            1       AE           CEK  35           GD
22            1            1       AE           M06  31           GD
23            1            1       AE           M06  30           GD
24            1            1       AE           M07  33           GD
25            1            1       AE           M07  30           GD
26            1            1       AE           M08  33           GD

In [375]:
area_calculo_sba_completo_gd_copy = area_calculo_sba_completo_gd.copy()
area_calculo_sba_completo_gd_copy['ClaseRentabilidad'] = 'CM2COGSP'
area_calculo_sba_completo_gd_copy

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad
29,1,1,AE,001,,GD,CM2COGSP
30,1,1,AE,003,,GD,CM2COGSP
31,1,1,AE,005,,GD,CM2COGSP
32,1,1,AE,006,,GD,CM2COGSP
33,1,1,AE,801,,GD,CM2COGSP
...,...,...,...,...,...,...,...
44,3,1,BA,A34,85,GD,CM2COGSP
45,3,1,BA,A35,87,GD,CM2COGSP
46,3,1,BA,A45,80,GD,CM2COGSP
47,3,1,BA,A45,81,GD,CM2COGSP
48,3,1,BA,A45,89,GD,CM2COGSP

In [376]:
area_calculo_sba_completo_gd_copy[area_calculo_sba_completo_gd_copy['Division'] == 'AE']

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad
29,1,1,AE,001,,GD,CM2COGSP
30,1,1,AE,003,,GD,CM2COGSP
31,1,1,AE,005,,GD,CM2COGSP
32,1,1,AE,006,,GD,CM2COGSP
33,1,1,AE,801,,GD,CM2COGSP
34,1,1,AE,805,,GD,CM2COGSP
35,1,1,AE,CEK,,GD,CM2COGSP
36,1,1,AE,M06,,GD,CM2COGSP
37,1,1,AE,M07,,GD,CM2COGSP
38,1,1,AE,M08,,GD,CM2COGSP
9,1,1,AE,001,30,GD,CM2COGSP
10,1,1,AE,001,31,GD,CM2COGSP
11,1,1,AE,001,33,GD,CM2COGSP
12,1,1,AE,001,32,GD,CM2COGSP
13,1,1,AE,003,35,GD,CM2COGSP
14,1,1,AE,005,33,GD,CM2COGSP
15,1,1,AE,005,35,GD,CM2COGSP
16,1,1,AE,006,36,GD,CM2COGSP
17,1,1,AE,801,30,GD,CM2COGSP
18,1,1,AE,801,32,GD,CM2COGSP
19,1,1,AE,801,33,GD,CM2COGSP
20,1,1,AE,805,30,GD,CM2COGSP
21,1,1,AE,CEK,35,GD,CM2COGSP
22,1,1,AE,M06,31,GD,CM2COGSP
23,1,1,AE,M06,30,GD,CM2COGSP
24,1,1,AE,M07,33,GD,CM2COGSP
25,1,1,AE,M07,30,GD,CM2COGSP
26,1,1,AE,M08,33,GD,CM2COGSP

In [377]:
df_parrillas[df_parrillas['Variable'] == 'RentabilidadDivisionCM2COGsSub']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
87,5016692,RentabilidadDivisionCM2COGsSub,5016692_1,0.2,1,RentabilidadDivisionCM2COGsSub,Hospital Care
449,291169471,RentabilidadDivisionCM2COGsSub,291169471_1,0.2,1,RentabilidadDivisionCM2COGsSub,Aesculap
643,6474959,RentabilidadDivisionCM2COGsSub,6474959_1,0.2,1,RentabilidadDivisionCM2COGsSub,Aesculap
768,5004470,RentabilidadDivisionCM2COGsSub,5004470_1,0.2,1,RentabilidadDivisionCM2COGsSub,Hospital Care
1304,5036358,RentabilidadDivisionCM2COGsSub,5036358_1,0.2,1,RentabilidadDivisionCM2COGsSub,Avitum

In [378]:
main = pd.merge(
    left=area_calculo_sba_completo_gd_copy[area_calculo_sba_completo_gd_copy['Division'] == 'AE'],
    right=df_rentabilidad[df_rentabilidad['ClaseRentabilidad'] == 'CM2COGSP'].drop(columns=['Compania']),
    on=['GrupoProducto', 'ClaseRentabilidad', 'SBA'],
    how = 'inner'
)
main

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad,Fecha,Real,Presupuesto
0,1,1,AE,001,30,GD,CM2COGSP,2024-03-01,369533.842197,251587.388424
1,1,1,AE,001,30,GD,CM2COGSP,2024-04-01,484443.578211,343684.893983
2,1,1,AE,001,30,GD,CM2COGSP,2024-05-01,573155.598714,435782.399543
3,1,1,AE,001,31,GD,CM2COGSP,2024-03-01,77972.702119,37625.672469
4,1,1,AE,001,31,GD,CM2COGSP,2024-04-01,81742.589915,54348.193567
5,1,1,AE,001,31,GD,CM2COGSP,2024-05-01,95432.976448,73161.029802
6,1,1,AE,001,33,GD,CM2COGSP,2024-03-01,-96.468199,2881.631417
7,1,1,AE,001,33,GD,CM2COGSP,2024-04-01,-78.048111,4016.819551
8,1,1,AE,001,33,GD,CM2COGSP,2024-05-01,-60.382164,5239.329850
9,1,1,AE,001,32,GD,CM2COGSP,2024-03-01,67.206012,356.108210
10,1,1,AE,001,32,GD,CM2COGSP,2024-04-01,221.066280,566.898720
11,1,1,AE,001,32,GD,CM2COGSP,2024-05-01,271.174331,801.642697
12,1,1,AE,003,35,GD,CM2COGSP,2024-03-01,202173.968951,170734.909837
13,1,1,AE,003,35,GD,CM2COGSP,2024-04-01,294155.508971,221168.302071
14,1,1,AE,003,35,GD,CM2COGSP,2024-05-01,362542.501850,287149.480813
15,1,1,AE,005,33,GD,CM2COGSP,2024-03-01,4666.988801,4680.535558
16,1,1,AE,005,33,GD,CM2COGSP,2024-04-01,5621.237818,6524.382899
17,1,1,AE,005,33,GD,CM2COGSP,2024-05-01,6241.685637,8510.064651
18,1,1,AE,005,35,GD,CM2COGSP,2024-03-01,702.369109,1423.125320
19,1,1,AE,005,35,GD,CM2COGSP,2024-04-01,960.024560,1844.319361
20,1,1,AE,005,35,GD,CM2COGSP,2024-05-01,1231.534441,2393.147959
21,1,1,AE,006,36,GD,CM2COGSP,2024-03-01,12865.686238,15679.594250
22,1,1,AE,006,36,GD,CM2COGSP,2024-04-01,20862.683516,24397.708895
23,1,1,AE,006,36,GD,CM2COGSP,2024-05-01,27197.737750,30318.219587
24,1,1,AE,801,30,GD,CM2COGSP,2024-03-01,0.000000,1192.200319
25,1,1,AE,801,30,GD,CM2COGSP,2024-04-01,0.000000,1625.727707
26,1,1,AE,801,30,GD,CM2COGSP,2024-05-01,0.000000,2059.255096
27,1,1,AE,801,32,GD,CM2COGSP,2024-03-01,168443.104478,194993.312236
28,1,1,AE,801,32,GD,CM2COGSP,2024-04-01,195089.513234,314964.742750
29,1,1,AE,801,32,GD,CM2COGSP,2024-05-01,228447.820509,449235.680140
30,1,1,AE,801,33,GD,CM2COGSP,2024-03-01,0.000000,0.236486
31,1,1,AE,801,33,GD,CM2COGSP,2024-04-01,0.000000,0.329647
32,1,1,AE,801,33,GD,CM2COGSP,2024-05-01,0.000000,0.429974
33,1,1,AE,805,30,GD,CM2COGSP,2024-03-01,172273.580838,169713.102995
34,1,1,AE,805,30,GD,CM2COGSP,2024-04-01,242905.485665,231426.958629
35,1,1,AE,805,30,GD,CM2COGSP,2024-05-01,301538.638002,293140.814263
36,1,1,AE,CEK,35,GD,CM2COGSP,2024-03-01,113.604393,0.000000
37,1,1,AE,CEK,35,GD,CM2COGSP,2024-04-01,115.207490,0.000000
38,1,1,AE,CEK,35,GD,CM2COGSP,2024-05-01,115.762952,0.000000
39,1,1,AE,M06,31,GD,CM2COGSP,2024-03-01,64922.857976,54235.060969
40,1,1,AE,M06,31,GD,CM2COGSP,2024-04-01,95947.889610,80153.766802
41,1,1,AE,M06,31,GD,CM2COGSP,2024-05-01,137578.378673,109992.648723
42,1,1,AE,M06,30,GD,CM2COGSP,2024-03-01,7813.484504,1041.714030
43,1,1,AE,M06,30,GD,CM2COGSP,2024-04-01,14586.027583,1420.519132
44,1,1,AE,M06,30,GD,CM2COGSP,2024-05-01,18747.797270,1799.324234
45,1,1,AE,M07,33,GD,CM2COGSP,2024-03-01,160103.625597,121391.595016
46,1,1,AE,M07,33,GD,CM2COGSP,2024-04-01,232166.417365,170100.943879
47,1,1,AE,M07,33,GD,CM2COGSP,2024-05-01,308768.462239,222933.034672
48,1,1,AE,M07,30,GD,CM2COGSP,2024-03-01,583.837496,-3859.192802
49,1,1,AE,M07,30,GD,CM2COGSP,2024-04-01,458.488289,-5262.535639
50,1,1,AE,M07,30,GD,CM2COGSP,2024-05-01,200.183067,-6665.878476
51,1,1,AE,M08,33,GD,CM2COGSP,2024-03-01,195947.707526,152277.592359
52,1,1,AE,M08,33,GD,CM2COGSP,2024-04-01,270405.599235,213598.361043
53,1,1,AE,M08,33,GD,CM2COGSP,2024-05-01,357592.295070,280199.915344

In [379]:
main[main['Fecha'] == '2024-05-01']

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad,Fecha,Real,Presupuesto
2,1,1,AE,001,30,GD,CM2COGSP,2024-05-01,573155.598714,435782.399543
5,1,1,AE,001,31,GD,CM2COGSP,2024-05-01,95432.976448,73161.029802
8,1,1,AE,001,33,GD,CM2COGSP,2024-05-01,-60.382164,5239.329850
11,1,1,AE,001,32,GD,CM2COGSP,2024-05-01,271.174331,801.642697
14,1,1,AE,003,35,GD,CM2COGSP,2024-05-01,362542.501850,287149.480813
17,1,1,AE,005,33,GD,CM2COGSP,2024-05-01,6241.685637,8510.064651
20,1,1,AE,005,35,GD,CM2COGSP,2024-05-01,1231.534441,2393.147959
23,1,1,AE,006,36,GD,CM2COGSP,2024-05-01,27197.737750,30318.219587
26,1,1,AE,801,30,GD,CM2COGSP,2024-05-01,0.000000,2059.255096
29,1,1,AE,801,32,GD,CM2COGSP,2024-05-01,228447.820509,449235.680140
32,1,1,AE,801,33,GD,CM2COGSP,2024-05-01,0.000000,0.429974
35,1,1,AE,805,30,GD,CM2COGSP,2024-05-01,301538.638002,293140.814263
38,1,1,AE,CEK,35,GD,CM2COGSP,2024-05-01,115.762952,0.000000
41,1,1,AE,M06,31,GD,CM2COGSP,2024-05-01,137578.378673,109992.648723
44,1,1,AE,M06,30,GD,CM2COGSP,2024-05-01,18747.797270,1799.324234
47,1,1,AE,M07,33,GD,CM2COGSP,2024-05-01,308768.462239,222933.034672
50,1,1,AE,M07,30,GD,CM2COGSP,2024-05-01,200.183067,-6665.878476
53,1,1,AE,M08,33,GD,CM2COGSP,2024-05-01,357592.295070,280199.915344

In [380]:
main[main['Fecha'] == '2024-05-01']['Real'].sum()

2419002.164788572

In [381]:
main[main['Fecha'] == '2024-05-01']['Presupuesto'].sum()

2196050.5388711123

In [382]:
# main = pd.merge(
#     left=area_calculo_sba_completo_gd.copy().drop(columns=['SBA']),
#     right=df_rentabilidad.copy().drop(columns=['ClaseRentabilidad', 'Compania']),
#     on=['GrupoProducto'],
#     how = 'left'
# )
# main

In [383]:
main = main.merge(
    df_empleados,
    how='left'
)
main

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad,Fecha,Real,Presupuesto,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro
0,1,1,AE,001,30,GD,CM2COGSP,2024-03-01,369533.842197,251587.388424,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
1,1,1,AE,001,30,GD,CM2COGSP,2024-04-01,484443.578211,343684.893983,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
2,1,1,AE,001,30,GD,CM2COGSP,2024-05-01,573155.598714,435782.399543,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
3,1,1,AE,001,31,GD,CM2COGSP,2024-03-01,77972.702119,37625.672469,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
4,1,1,AE,001,31,GD,CM2COGSP,2024-04-01,81742.589915,54348.193567,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
5,1,1,AE,001,31,GD,CM2COGSP,2024-05-01,95432.976448,73161.029802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
6,1,1,AE,001,33,GD,CM2COGSP,2024-03-01,-96.468199,2881.631417,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
7,1,1,AE,001,33,GD,CM2COGSP,2024-04-01,-78.048111,4016.819551,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
8,1,1,AE,001,33,GD,CM2COGSP,2024-05-01,-60.382164,5239.329850,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
9,1,1,AE,001,32,GD,CM2COGSP,2024-03-01,67.206012,356.108210,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
10,1,1,AE,001,32,GD,CM2COGSP,2024-04-01,221.066280,566.898720,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
11,1,1,AE,001,32,GD,CM2COGSP,2024-05-01,271.174331,801.642697,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
12,1,1,AE,003,35,GD,CM2COGSP,2024-03-01,202173.968951,170734.909837,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
13,1,1,AE,003,35,GD,CM2COGSP,2024-04-01,294155.508971,221168.302071,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
14,1,1,AE,003,35,GD,CM2COGSP,2024-05-01,362542.501850,287149.480813,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
15,1,1,AE,005,33,GD,CM2COGSP,2024-03-01,4666.988801,4680.535558,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
16,1,1,AE,005,33,GD,CM2COGSP,2024-04-01,5621.237818,6524.382899,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
17,1,1,AE,005,33,GD,CM2COGSP,2024-05-01,6241.685637,8510.064651,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
18,1,1,AE,005,35,GD,CM2COGSP,2024-03-01,702.369109,1423.125320,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
19,1,1,AE,005,35,GD,CM2COGSP,2024-04-01,960.024560,1844.319361,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
20,1,1,AE,005,35,GD,CM2COGSP,2024-05-01,1231.534441,2393.147959,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
21,1,1,AE,006,36,GD,CM2COGSP,2024-03-01,12865.686238,15679.594250,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
22,1,1,AE,006,36,GD,CM2COGSP,2024-04-01,20862.683516,24397.708895,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
23,1,1,AE,006,36,GD,CM2COGSP,2024-05-01,27197.737750,30318.219587,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
24,1,1,AE,801,30,GD,CM2COGSP,2024-03-01,0.000000,1192.200319,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
25,1,1,AE,801,30,GD,CM2COGSP,2024-04-01,0.000000,1625.727707,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
26,1,1,AE,801,30,GD,CM2COGSP,2024-05-01,0.000000,2059.255096,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
27,1,1,AE,801,32,GD,CM2COGSP,2024-03-01,168443.104478,194993.312236,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
28,1,1,AE,801,32,GD,CM2COGSP,2024-04-01,195089.513234,314964.742750,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
29,1,1,AE,801,32,GD,CM2COGSP,2024-05-01,228447.820509,449235.680140,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
30,1,1,AE,801,33,GD,CM2COGSP,2024-03-01,0.000000,0.236486,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
31,1,1,AE,801,33,GD,CM2COGSP,2024-04-01,0.000000,0.329647,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
32,1,1,AE,801,33,GD,CM2COGSP,2024-05-01,0.000000,0.429974,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
33,1,1,AE,805,30,GD,CM2COGSP,2024-03-01,172273.580838,169713.102995,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
34,1,1,AE,805,30,GD,CM2COGSP,2024-04-01,242905.485665,231426.958629,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
35,1,1,AE,805,30,GD,CM2COGSP,2024-05-01,301538.638002,293140.814263,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
36,1,1,AE,CEK,35,GD,CM2COGSP,2024-03-01,113.604393,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
37,1,1,AE,CEK,35,GD,CM2COGSP,2024-04-01,115.207490,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
38,1,1,AE,CEK,35,GD,CM2COGSP,2024-05-01,115.762952,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
39,1,1,AE,M06,31,GD,CM2COGSP,2024-03-01,64922.857976,54235.060969,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
40,1,1,AE,M06,31,GD,CM2COGSP,2024-04-01,95947.889610,80153.766802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
41,1,1,AE,M06,31,GD,CM2COGSP,2024-05-01,137578.378673,109992.648723,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
42,1,1,AE,M06,30,GD,CM2COGSP,2024-03-01,7813.484504,1041.714030,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
43,1,1,AE,M06,30,GD,CM2COGSP,2024-04-01,14586.027583,1420.519132,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
44,1,1,AE,M06,30,GD,CM2COGSP,2024-05-01,18747.797270,1799.324234,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
45,1,1,AE,M07,33,GD,CM2COGSP,2024-03-01,160103.625597,121391.595016,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
46,1,1,AE,M07,33,GD,CM2COGSP,2024-04-01,232166.417365,170100.943879,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
47,1,1,AE,M07,33,GD,CM2COGSP,2024-05-01,308768.462239,222933.034672,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
48,1,1,AE,M07,30,GD,CM2COGSP,2024-03-01,583.837496,-3859.192802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
49,1,1,AE,M07,30,GD,CM2COGSP,2024-04-01,458.488289,-5262.535639,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
50,1,1,AE,M07,30,GD,CM2COGSP,2024-05-01,200.183067,-6665.878476,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
51,1,1,AE,M08,33,GD,CM2COGSP,2024-03-01,195947.707526,152277.592359,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
52,1,1,AE,M08,33,GD,CM2COGSP,2024-04-01,270405.599235,213598.361043,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT
53,1,1,AE,M08,33,GD,CM2COGSP,2024-05-01,357592.295070,280199.915344,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT

In [384]:
main['CodigoEmpleado'].fillna(0, inplace=True)
main['Consecutivo'].fillna(0, inplace=True)

main['Contexto'] = main['CodigoEmpleado'].str.lower() + '_'+ main['Consecutivo'].astype(int).astype('str')
main

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad,Fecha,Real,Presupuesto,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,1,1,AE,001,30,GD,CM2COGSP,2024-03-01,369533.842197,251587.388424,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
1,1,1,AE,001,30,GD,CM2COGSP,2024-04-01,484443.578211,343684.893983,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
2,1,1,AE,001,30,GD,CM2COGSP,2024-05-01,573155.598714,435782.399543,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
3,1,1,AE,001,31,GD,CM2COGSP,2024-03-01,77972.702119,37625.672469,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
4,1,1,AE,001,31,GD,CM2COGSP,2024-04-01,81742.589915,54348.193567,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
5,1,1,AE,001,31,GD,CM2COGSP,2024-05-01,95432.976448,73161.029802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
6,1,1,AE,001,33,GD,CM2COGSP,2024-03-01,-96.468199,2881.631417,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
7,1,1,AE,001,33,GD,CM2COGSP,2024-04-01,-78.048111,4016.819551,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
8,1,1,AE,001,33,GD,CM2COGSP,2024-05-01,-60.382164,5239.329850,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
9,1,1,AE,001,32,GD,CM2COGSP,2024-03-01,67.206012,356.108210,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
10,1,1,AE,001,32,GD,CM2COGSP,2024-04-01,221.066280,566.898720,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
11,1,1,AE,001,32,GD,CM2COGSP,2024-05-01,271.174331,801.642697,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
12,1,1,AE,003,35,GD,CM2COGSP,2024-03-01,202173.968951,170734.909837,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
13,1,1,AE,003,35,GD,CM2COGSP,2024-04-01,294155.508971,221168.302071,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
14,1,1,AE,003,35,GD,CM2COGSP,2024-05-01,362542.501850,287149.480813,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
15,1,1,AE,005,33,GD,CM2COGSP,2024-03-01,4666.988801,4680.535558,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
16,1,1,AE,005,33,GD,CM2COGSP,2024-04-01,5621.237818,6524.382899,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
17,1,1,AE,005,33,GD,CM2COGSP,2024-05-01,6241.685637,8510.064651,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
18,1,1,AE,005,35,GD,CM2COGSP,2024-03-01,702.369109,1423.125320,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
19,1,1,AE,005,35,GD,CM2COGSP,2024-04-01,960.024560,1844.319361,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
20,1,1,AE,005,35,GD,CM2COGSP,2024-05-01,1231.534441,2393.147959,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
21,1,1,AE,006,36,GD,CM2COGSP,2024-03-01,12865.686238,15679.594250,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
22,1,1,AE,006,36,GD,CM2COGSP,2024-04-01,20862.683516,24397.708895,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
23,1,1,AE,006,36,GD,CM2COGSP,2024-05-01,27197.737750,30318.219587,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
24,1,1,AE,801,30,GD,CM2COGSP,2024-03-01,0.000000,1192.200319,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
25,1,1,AE,801,30,GD,CM2COGSP,2024-04-01,0.000000,1625.727707,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
26,1,1,AE,801,30,GD,CM2COGSP,2024-05-01,0.000000,2059.255096,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
27,1,1,AE,801,32,GD,CM2COGSP,2024-03-01,168443.104478,194993.312236,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
28,1,1,AE,801,32,GD,CM2COGSP,2024-04-01,195089.513234,314964.742750,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
29,1,1,AE,801,32,GD,CM2COGSP,2024-05-01,228447.820509,449235.680140,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
30,1,1,AE,801,33,GD,CM2COGSP,2024-03-01,0.000000,0.236486,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
31,1,1,AE,801,33,GD,CM2COGSP,2024-04-01,0.000000,0.329647,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
32,1,1,AE,801,33,GD,CM2COGSP,2024-05-01,0.000000,0.429974,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
33,1,1,AE,805,30,GD,CM2COGSP,2024-03-01,172273.580838,169713.102995,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
34,1,1,AE,805,30,GD,CM2COGSP,2024-04-01,242905.485665,231426.958629,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
35,1,1,AE,805,30,GD,CM2COGSP,2024-05-01,301538.638002,293140.814263,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
36,1,1,AE,CEK,35,GD,CM2COGSP,2024-03-01,113.604393,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
37,1,1,AE,CEK,35,GD,CM2COGSP,2024-04-01,115.207490,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
38,1,1,AE,CEK,35,GD,CM2COGSP,2024-05-01,115.762952,0.000000,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
39,1,1,AE,M06,31,GD,CM2COGSP,2024-03-01,64922.857976,54235.060969,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
40,1,1,AE,M06,31,GD,CM2COGSP,2024-04-01,95947.889610,80153.766802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
41,1,1,AE,M06,31,GD,CM2COGSP,2024-05-01,137578.378673,109992.648723,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
42,1,1,AE,M06,30,GD,CM2COGSP,2024-03-01,7813.484504,1041.714030,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
43,1,1,AE,M06,30,GD,CM2COGSP,2024-04-01,14586.027583,1420.519132,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
44,1,1,AE,M06,30,GD,CM2COGSP,2024-05-01,18747.797270,1799.324234,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
45,1,1,AE,M07,33,GD,CM2COGSP,2024-03-01,160103.625597,121391.595016,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
46,1,1,AE,M07,33,GD,CM2COGSP,2024-04-01,232166.417365,170100.943879,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
47,1,1,AE,M07,33,GD,CM2COGSP,2024-05-01,308768.462239,222933.034672,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
48,1,1,AE,M07,30,GD,CM2COGSP,2024-03-01,583.837496,-3859.192802,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
49,1,1,AE,M07,30,GD,CM2COGSP,2024-04-01,458.488289,-5262.535639,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
50,1,1,AE,M07,30,GD,CM2COGSP,2024-05-01,200.183067,-6665.878476,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
51,1,1,AE,M08,33,GD,CM2COGSP,2024-03-01,195947.707526,152277.592359,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
52,1,1,AE,M08,33,GD,CM2COGSP,2024-04-01,270405.599235,213598.361043,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
53,1,1,AE,M08,33,GD,CM2COGSP,2024-05-01,357592.295070,280199.915344,291169471,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1

In [385]:
main_centro_costo = pd.merge(
    df_empleados_centros_costos,
    main,
    on=['CodigoEmpleado'],
    how='right'
)
main_centro_costo

,CodigoEmpleado,CodigoCentroCosto,PorcentajeAsignacion,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ClaseRentabilidad,...,Real,Presupuesto,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,Contexto
0,291169471,NaN,NaN,1,1,AE,001,30,GD,CM2COGSP,...,369533.842197,251587.388424,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
1,291169471,NaN,NaN,1,1,AE,001,30,GD,CM2COGSP,...,484443.578211,343684.893983,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
2,291169471,NaN,NaN,1,1,AE,001,30,GD,CM2COGSP,...,573155.598714,435782.399543,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
3,291169471,NaN,NaN,1,1,AE,001,31,GD,CM2COGSP,...,77972.702119,37625.672469,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
4,291169471,NaN,NaN,1,1,AE,001,31,GD,CM2COGSP,...,81742.589915,54348.193567,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
5,291169471,NaN,NaN,1,1,AE,001,31,GD,CM2COGSP,...,95432.976448,73161.029802,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
6,291169471,NaN,NaN,1,1,AE,001,33,GD,CM2COGSP,...,-96.468199,2881.631417,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
7,291169471,NaN,NaN,1,1,AE,001,33,GD,CM2COGSP,...,-78.048111,4016.819551,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
8,291169471,NaN,NaN,1,1,AE,001,33,GD,CM2COGSP,...,-60.382164,5239.329850,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
9,291169471,NaN,NaN,1,1,AE,001,32,GD,CM2COGSP,...,67.206012,356.108210,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
10,291169471,NaN,NaN,1,1,AE,001,32,GD,CM2COGSP,...,221.066280,566.898720,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
11,291169471,NaN,NaN,1,1,AE,001,32,GD,CM2COGSP,...,271.174331,801.642697,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
12,291169471,NaN,NaN,1,1,AE,003,35,GD,CM2COGSP,...,202173.968951,170734.909837,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
13,291169471,NaN,NaN,1,1,AE,003,35,GD,CM2COGSP,...,294155.508971,221168.302071,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
14,291169471,NaN,NaN,1,1,AE,003,35,GD,CM2COGSP,...,362542.501850,287149.480813,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
15,291169471,NaN,NaN,1,1,AE,005,33,GD,CM2COGSP,...,4666.988801,4680.535558,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
16,291169471,NaN,NaN,1,1,AE,005,33,GD,CM2COGSP,...,5621.237818,6524.382899,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
17,291169471,NaN,NaN,1,1,AE,005,33,GD,CM2COGSP,...,6241.685637,8510.064651,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
18,291169471,NaN,NaN,1,1,AE,005,35,GD,CM2COGSP,...,702.369109,1423.125320,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
19,291169471,NaN,NaN,1,1,AE,005,35,GD,CM2COGSP,...,960.024560,1844.319361,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
20,291169471,NaN,NaN,1,1,AE,005,35,GD,CM2COGSP,...,1231.534441,2393.147959,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
21,291169471,NaN,NaN,1,1,AE,006,36,GD,CM2COGSP,...,12865.686238,15679.594250,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
22,291169471,NaN,NaN,1,1,AE,006,36,GD,CM2COGSP,...,20862.683516,24397.708895,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
23,291169471,NaN,NaN,1,1,AE,006,36,GD,CM2COGSP,...,27197.737750,30318.219587,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
24,291169471,NaN,NaN,1,1,AE,801,30,GD,CM2COGSP,...,0.000000,1192.200319,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
25,291169471,NaN,NaN,1,1,AE,801,30,GD,CM2COGSP,...,0.000000,1625.727707,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
26,291169471,NaN,NaN,1,1,AE,801,30,GD,CM2COGSP,...,0.000000,2059.255096,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
27,291169471,NaN,NaN,1,1,AE,801,32,GD,CM2COGSP,...,168443.104478,194993.312236,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
28,291169471,NaN,NaN,1,1,AE,801,32,GD,CM2COGSP,...,195089.513234,314964.742750,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
29,291169471,NaN,NaN,1,1,AE,801,32,GD,CM2COGSP,...,228447.820509,449235.680140,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
30,291169471,NaN,NaN,1,1,AE,801,33,GD,CM2COGSP,...,0.000000,0.236486,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
31,291169471,NaN,NaN,1,1,AE,801,33,GD,CM2COGSP,...,0.000000,0.329647,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
32,291169471,NaN,NaN,1,1,AE,801,33,GD,CM2COGSP,...,0.000000,0.429974,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
33,291169471,NaN,NaN,1,1,AE,805,30,GD,CM2COGSP,...,172273.580838,169713.102995,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
34,291169471,NaN,NaN,1,1,AE,805,30,GD,CM2COGSP,...,242905.485665,231426.958629,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
35,291169471,NaN,NaN,1,1,AE,805,30,GD,CM2COGSP,...,301538.638002,293140.814263,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
36,291169471,NaN,NaN,1,1,AE,CEK,35,GD,CM2COGSP,...,113.604393,0.000000,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
37,291169471,NaN,NaN,1,1,AE,CEK,35,GD,CM2COGSP,...,115.207490,0.000000,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
38,291169471,NaN,NaN,1,1,AE,CEK,35,GD,CM2COGSP,...,115.762952,0.000000,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
39,291169471,NaN,NaN,1,1,AE,M06,31,GD,CM2COGSP,...,64922.857976,54235.060969,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
40,291169471,NaN,NaN,1,1,AE,M06,31,GD,CM2COGSP,...,95947.889610,80153.766802,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
41,291169471,NaN,NaN,1,1,AE,M06,31,GD,CM2COGSP,...,137578.378673,109992.648723,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
42,291169471,NaN,NaN,1,1,AE,M06,30,GD,CM2COGSP,...,7813.484504,1041.714030,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
43,291169471,NaN,NaN,1,1,AE,M06,30,GD,CM2COGSP,...,14586.027583,1420.519132,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
44,291169471,NaN,NaN,1,1,AE,M06,30,GD,CM2COGSP,...,18747.797270,1799.324234,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
45,291169471,NaN,NaN,1,1,AE,M07,33,GD,CM2COGSP,...,160103.625597,121391.595016,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
46,291169471,NaN,NaN,1,1,AE,M07,33,GD,CM2COGSP,...,232166.417365,170100.943879,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
47,291169471,NaN,NaN,1,1,AE,M07,33,GD,CM2COGSP,...,308768.462239,222933.034672,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
48,291169471,NaN,NaN,1,1,AE,M07,30,GD,CM2COGSP,...,583.837496,-3859.192802,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
49,291169471,NaN,NaN,1,1,AE,M07,30,GD,CM2COGSP,...,458.488289,-5262.535639,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
50,291169471,NaN,NaN,1,1,AE,M07,30,GD,CM2COGSP,...,200.183067,-6665.878476,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
51,291169471,NaN,NaN,1,1,AE,M08,33,GD,CM2COGSP,...,195947.707526,152277.592359,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
52,291169471,NaN,NaN,1,1,AE,M08,33,GD,CM2COGSP,...,270405.599235,213598.361043,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1
53,291169471,NaN,NaN,1,1,AE,M08,33,GD,CM2COGSP,...,357592.295070,280199.915344,29116947,karina.fuenmayor@bbraun.com,Karina,Fuenmayor,6000000.0,2024-05-01,NaT,291169471_1

In [386]:
main_centro_costo['Consecutivo'] = main_centro_costo['Consecutivo'].astype(int).astype('str')

In [387]:
main[main['Fecha'] == '2024-05-01']['Real'].sum()

2419002.164788572

In [388]:
rentabilidad_division_cm2cogs_sub_centro_costo = dataframe_loader.f_calculo_centro_costo_variable(main_centro_costo, 'RentabilidadDivisionCM2COGsSub')
rentabilidad_division_cm2cogs_sub_centro_costo

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\shared_functions.py:746: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

Empty DataFrame
Columns: [Real, Presupuesto, Variable]
Index: []

In [389]:
# main['Contexto'] = main['Division']
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
# main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
# main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main

      Contexto      Fecha          Real   Presupuesto
0  291169471_1 2024-03-01  1.438088e+06  1.175955e+06
1  291169471_1 2024-04-01  1.939603e+06  1.664580e+06
2  291169471_1 2024-05-01  2.419002e+06  2.196051e+06

In [390]:
main['PorcentajeCumplimiento'] = main['Real']/main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadDivisionCM2COGsSub'

# main['Contexto'] = main['Division']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

rentabilidad_division_cm2_cogs_sub = main.copy()

main = None
rentabilidad_division_cm2_cogs_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,291169471_1,RentabilidadDivisionCM2COGsSub,2024-03-01,1.438088e+06,1.175955e+06,1.22
1,291169471_1,RentabilidadDivisionCM2COGsSub,2024-04-01,1.939603e+06,1.664580e+06,1.17
2,291169471_1,RentabilidadDivisionCM2COGsSub,2024-05-01,2.419002e+06,2.196051e+06,1.10

In [391]:
rentabilidad_division_cm2_cogs_sub[rentabilidad_division_cm2_cogs_sub['Fecha'] == '2023-12-01']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [392]:
df_parrillas[df_parrillas['Variable'] =='RentabilidadDivisionCM2COGsSub']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
87,5016692,RentabilidadDivisionCM2COGsSub,5016692_1,0.2,1,RentabilidadDivisionCM2COGsSub,Hospital Care
449,291169471,RentabilidadDivisionCM2COGsSub,291169471_1,0.2,1,RentabilidadDivisionCM2COGsSub,Aesculap
643,6474959,RentabilidadDivisionCM2COGsSub,6474959_1,0.2,1,RentabilidadDivisionCM2COGsSub,Aesculap
768,5004470,RentabilidadDivisionCM2COGsSub,5004470_1,0.2,1,RentabilidadDivisionCM2COGsSub,Hospital Care
1304,5036358,RentabilidadDivisionCM2COGsSub,5036358_1,0.2,1,RentabilidadDivisionCM2COGsSub,Avitum

In [393]:
df_empleados[df_empleados['CodigoEmpleado'] == '6474959']

Empty DataFrame
Columns: [TipoEmpleado, CodigoEmpleado, Identificacion, CorreoElectronico, Nombre, Apellidos, SalarioVariable, FechaIngreso, FechaRetiro, AreaCalculo]
Index: []

In [394]:
df_empleados[df_empleados['CodigoEmpleado'] == '5004470']

Empty DataFrame
Columns: [TipoEmpleado, CodigoEmpleado, Identificacion, CorreoElectronico, Nombre, Apellidos, SalarioVariable, FechaIngreso, FechaRetiro, AreaCalculo]
Index: []

In [395]:
# rentabilidad_division_cm2cogs_gd = pd.merge(
#     left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CM2COGSP')],
#     right=area_calculo_sba_completo_gd,
#     on=['GrupoProducto', 'SBA'],
#     how='left'
# )
# rentabilidad_division_cm2_cogs_sub = rentabilidad_division_cm2cogs_gd.groupby(
#     ['Division', 'Consecutivo', 'Fecha'],
#     as_index=False
# ).agg({'Real': 'sum', 'Presupuesto': 'sum'})
# rentabilidad_division_cm2_cogs_sub['PorcentajeCumplimiento'] = rentabilidad_division_cm2_cogs_sub['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Presupuesto']
# rentabilidad_division_cm2_cogs_sub['PorcentajeCumplimiento'] = rentabilidad_division_cm2_cogs_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
# rentabilidad_division_cm2_cogs_sub

In [396]:
# rentabilidad_division_cm2_cogs_sub['Contexto'] = 'gd_' + rentabilidad_division_cm2_cogs_sub['Division'].astype('str').str.cat(rentabilidad_division_cm2_cogs_sub['Consecutivo'].astype('str'), sep="_")
# rentabilidad_division_cm2_cogs_sub['Variable'] = 'RentabilidadDivisionCM2COGsSub'
# rentabilidad_division_cm2_cogs_sub = rentabilidad_division_cm2_cogs_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# rentabilidad_division_cm2_cogs_sub

## 43 EBITCOGSPais

In [397]:
df_parrillas[df_parrillas['Contexto'] == 'EBITCOGSP']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
29,1030591908,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
35,53069050,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
85,5016692,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
109,1128460391,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
125,5002711,EBITCOGSPais,EBITCOGSP,0.3,0,EBITCOGSPais,NaN
209,1031152912,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
214,1073170831,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
243,52432847,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
253,5004297,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
280,1085293624,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
301,91285756,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
359,5004306,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
367,1014223273,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
375,10292470,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
385,94460154,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
424,1000972927,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
429,74084593,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
447,291169471,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
457,29116947,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
467,1016035661,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
538,32298388,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
547,80895530,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
554,80912937,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
559,53099695,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
583,1065589881,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
611,1013626510,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
617,80220240,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
625,5004300,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
641,6474959,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
650,1015417716,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
655,79891651,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
674,42897142,EBITCOGSPais,EBITCOGSP,0.3,0,EBITCOGSPais,NaN
696,1053833347,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
706,5004298,EBITCOGSPais,EBITCOGSP,0.3,0,EBITCOGSPais,NaN
720,1144180718,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
727,1047393705,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
758,52900453,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
766,5004470,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
798,71255098,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
829,5005071,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
837,1016088256,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
842,80665003,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
848,1113621770,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
857,5003954,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
984,1013583607,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
999,1098760371,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1032,52396266,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1039,5002773,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1093,53178763,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1114,1020815612,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1127,1010227511,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1157,1016077568,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1177,5005980,EBITCOGSPais,EBITCOGSP,0.3,0,EBITCOGSPais,NaN
1182,1099210739,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1196,5004293,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
1271,1032426388,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN
1283,5004302,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
1302,5036358,EBITCOGSPais,EBITCOGSP,0.2,0,EBITCOGSPais,NaN
1318,80857971,EBITCOGSPais,EBITCOGSP,0.4,0,EBITCOGSPais,NaN

In [398]:
ebit_cogs_pais = df_rentabilidad[(df_rentabilidad['Compania']=='BBMCO')&(df_rentabilidad['ClaseRentabilidad']=='EBITCOGSP')]

ebit_cogs_pais = ebit_cogs_pais.groupby(
    ['Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'] = cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_cm5_nivel_pais['Real'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'].transform(pd.Series.cumsum)

ebit_cogs_pais['PorcentajeCumplimiento'] = ebit_cogs_pais['Real'] / ebit_cogs_pais['Presupuesto']
ebit_cogs_pais['PorcentajeCumplimiento'] = ebit_cogs_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
ebit_cogs_pais['Contexto'] = 'EBITCOGSP'
ebit_cogs_pais['Variable'] = 'EBITCOGSPais'

ebit_cogs_pais.head()

,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Contexto,Variable
0,2024-03-01,2.980374e+06,2.534506e+06,1.18,EBITCOGSP,EBITCOGSPais
1,2024-04-01,3.789609e+06,3.390361e+06,1.12,EBITCOGSP,EBITCOGSPais
2,2024-05-01,5.433606e+06,4.434378e+06,1.23,EBITCOGSP,EBITCOGSPais

## 44 EBITCOGSPaisSUB

In [399]:
df_parrillas[
    (df_parrillas['Variable'] == 'EBITCOGSPaisSUB') &
    (df_parrillas['CodigoEmpleado'] == '1098612757')
]

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
1204,1098612757,EBITCOGSPaisSUB,1098612757_1,0.4,1,EBITCOGSPaisSUB,BBMCO

In [400]:
area_calculo_sba_completo[area_calculo_sba_completo['Division'] == 'BBMCO']

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO         BBMCO  BBMCO           AD
1              2            1    BBMCO         BBMCO  BBMCO           AD
2              3            1    BBMCO         BBMCO  BBMCO           AD
3              4            1    BBMCO         BBMCO  BBMCO           AD
4              1            1    BBMCO         BBMCO  BBMCO          AD1
5              2            1    BBMCO         BBMCO  BBMCO          AD1
6              3            1    BBMCO         BBMCO  BBMCO          AD1
7              4            1    BBMCO         BBMCO  BBMCO          AD1
8              5            1    BBMCO         BBMCO  BBMCO          AD1
9             10            1    BBMCO         BBMCO  BBMCO          AD1
10            11            1    BBMCO         BBMCO  BBMCO          AD1
13             1            1    BBMCO         BBMCO  BBMCO          AD3
14             2            1    BBMCO         BBMCO  BBMCO          AD3
15             3            1    BBMCO         BBMCO  BBMCO          AD3
16             1            1    BBMCO         BBMCO  BBMCO          AD4
18             2            1    BBMCO         BBMCO  BBMCO          AD4
19             1            1    BBMCO         BBMCO  BBMCO          AD5
142            7            1    BBMCO         BBMCO  BBMCO           MK
144            8            1    BBMCO                                MK
145            9            1    BBMCO                                MK

In [401]:
area_calculo_sba_completo[area_calculo_sba_completo['Division'] == 'BBMEC']

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
17             1            2    BBMEC         BBMEC  BBMEC          AD4
143            7            2    BBMEC         BBMEC  BBMEC           MK

In [402]:
df_rentabilidad[df_rentabilidad['ClaseRentabilidad'] == 'EBITCOGSP']

,Compania,GrupoProducto,SBA,ClaseRentabilidad,Fecha,Real,Presupuesto
100,BBMCO,BBMCO,BBMCO,EBITCOGSP,2024-03-01,2.980374e+06,2.534506e+06
101,BBMCO,BBMCO,BBMCO,EBITCOGSP,2024-04-01,3.789609e+06,3.390361e+06
102,BBMCO,BBMCO,BBMCO,EBITCOGSP,2024-05-01,5.433606e+06,4.434378e+06
130,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-03-01,1.345765e+06,1.163000e+06
131,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-04-01,1.696398e+06,1.664589e+06
132,BBMEC,BBMEC,BBMEC,EBITCOGSP,2024-05-01,2.179288e+06,2.196836e+06

In [403]:
ebit_cogs_pais_sub = df_rentabilidad[df_rentabilidad['ClaseRentabilidad'] == 'EBITCOGSP'].rename(columns={'Compania':'Division'}).merge(
    area_calculo_sba_completo.drop(columns=['GrupoProducto', 'SBA']),
    on=['Division']
)
ebit_cogs_pais_sub.drop(columns='ClaseRentabilidad', inplace=True)
ebit_cogs_pais_sub

,Division,GrupoProducto,SBA,Fecha,Real,Presupuesto,AreaCalculo,Consecutivo,TipoEmpleado
0,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,1,1,AD
1,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,2,1,AD
2,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,3,1,AD
3,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,4,1,AD
4,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,1,1,AD1
...,...,...,...,...,...,...,...,...,...
61,BBMEC,BBMEC,BBMEC,2024-03-01,1.345765e+06,1.163000e+06,7,2,MK
62,BBMEC,BBMEC,BBMEC,2024-04-01,1.696398e+06,1.664589e+06,1,2,AD4
63,BBMEC,BBMEC,BBMEC,2024-04-01,1.696398e+06,1.664589e+06,7,2,MK
64,BBMEC,BBMEC,BBMEC,2024-05-01,2.179288e+06,2.196836e+06,1,2,AD4
65,BBMEC,BBMEC,BBMEC,2024-05-01,2.179288e+06,2.196836e+06,7,2,MK

In [404]:
ebit_cogs_pais_sub = ebit_cogs_pais_sub.merge(
        df_parrillas[df_parrillas['Variable'] == 'EBITCOGSPaisSUB'].merge(
        df_empleados
    )
)
ebit_cogs_pais_sub

,Division,GrupoProducto,SBA,Fecha,Real,Presupuesto,AreaCalculo,Consecutivo,TipoEmpleado,CodigoEmpleado,...,Porcentaje,Nombre variable,Nombre consecutivo,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro
0,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,1,1,AD,51790647,...,0.4,EBITCOGSPaisSUB,BBMCO,51790647,sonia.martin@bbraun.com,SONIA AHIDE,MARTIN AVILA,3392000.0,1989-07-10,NaT
1,BBMCO,BBMCO,BBMCO,2024-04-01,3.789609e+06,3.390361e+06,1,1,AD,51790647,...,0.4,EBITCOGSPaisSUB,BBMCO,51790647,sonia.martin@bbraun.com,SONIA AHIDE,MARTIN AVILA,3392000.0,1989-07-10,NaT
2,BBMCO,BBMCO,BBMCO,2024-05-01,5.433606e+06,4.434378e+06,1,1,AD,51790647,...,0.4,EBITCOGSPaisSUB,BBMCO,51790647,sonia.martin@bbraun.com,SONIA AHIDE,MARTIN AVILA,3392000.0,1989-07-10,NaT
3,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,2,1,AD,79641686,...,0.4,EBITCOGSPaisSUB,BBMCO,79641686,ricardo.benavides@bbraun.com,RICARDO,BENAVIDES,1000000.0,2018-06-01,NaT
4,BBMCO,BBMCO,BBMCO,2024-03-01,2.980374e+06,2.534506e+06,2,1,AD,52057371,...,0.4,EBITCOGSPaisSUB,BBMCO,52057371,nubia.jimenez@bbraun.com,NUBIA YANNETH,JIMENEZ MOLINA,1083000.0,2004-02-23,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,BBMEC,BBMEC,BBMEC,2024-04-01,1.696398e+06,1.664589e+06,1,2,AD4,80133890,...,0.2,EBITCOGSPaisSUB,BBMEC,80133890,rodrigo.beltran@bbraun.com,RODRIGO,BELTRAN FORERO,3500000.0,2018-12-01,NaT
77,BBMEC,BBMEC,BBMEC,2024-05-01,2.179288e+06,2.196836e+06,1,2,AD4,80133890,...,0.2,EBITCOGSPaisSUB,BBMEC,80133890,rodrigo.beltran@bbraun.com,RODRIGO,BELTRAN FORERO,3500000.0,2018-12-01,NaT
78,BBMEC,BBMEC,BBMEC,2024-03-01,1.345765e+06,1.163000e+06,7,2,MK,52266432,...,0.2,EBITCOGSPaisSUB,BBMEC,52266432,ana.pachon@bbraun.com,Ana Maria,Pachon Espitia,1500000.0,2022-05-01,NaT
79,BBMEC,BBMEC,BBMEC,2024-04-01,1.696398e+06,1.664589e+06,7,2,MK,52266432,...,0.2,EBITCOGSPaisSUB,BBMEC,52266432,ana.pachon@bbraun.com,Ana Maria,Pachon Espitia,1500000.0,2022-05-01,NaT
80,BBMEC,BBMEC,BBMEC,2024-05-01,2.179288e+06,2.196836e+06,7,2,MK,52266432,...,0.2,EBITCOGSPaisSUB,BBMEC,52266432,ana.pachon@bbraun.com,Ana Maria,Pachon Espitia,1500000.0,2022-05-01,NaT

In [405]:
ebit_cogs_pais_sub['Variable'] = 'EBITCOGSPaisSUB'
### Cálculo de resultados cualitativos precargados

ebit_cogs_pais_sub['PorcentajeCumplimiento'] = ebit_cogs_pais_sub['Real'] / ebit_cogs_pais_sub['Presupuesto']
ebit_cogs_pais_sub['PorcentajeCumplimiento'] = ebit_cogs_pais_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

# ebit_cogs_pais_sub = dataframe_loader.sobreescribir_resultados_cualitativos(
#     main=ebit_cogs_pais_sub,
#     variable='EBITCOGSPaisSUB',
#     columnas_extra=['TipoEmpleado', 'Consecutivo'],
#     columnas_extra_merge=['TipoEmpleado', 'Consecutivo'],
#     pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4']
# )
# ###

ebit_cogs_pais_sub['Consecutivo'] = ebit_cogs_pais_sub['Consecutivo'].astype(int).astype('str')
ebit_cogs_pais_sub['Contexto'] = ebit_cogs_pais_sub['CodigoEmpleado'] + '_'+ ebit_cogs_pais_sub['Consecutivo']

ebit_cogs_pais_sub = ebit_cogs_pais_sub[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

ebit_cogs_pais_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,51790647_1,EBITCOGSPaisSUB,2024-03-01,2.980374e+06,2.534506e+06,1.18
1,51790647_1,EBITCOGSPaisSUB,2024-04-01,3.789609e+06,3.390361e+06,1.12
2,51790647_1,EBITCOGSPaisSUB,2024-05-01,5.433606e+06,4.434378e+06,1.23
3,79641686_1,EBITCOGSPaisSUB,2024-03-01,2.980374e+06,2.534506e+06,1.18
4,52057371_1,EBITCOGSPaisSUB,2024-03-01,2.980374e+06,2.534506e+06,1.18

In [406]:
ebit_cogs_pais_sub[ebit_cogs_pais_sub['Contexto'] == '1098612757_1' ]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
30,1098612757_1,EBITCOGSPaisSUB,2024-03-01,2.980374e+06,2.534506e+06,1.18
31,1098612757_1,EBITCOGSPaisSUB,2024-04-01,3.789609e+06,3.390361e+06,1.12
32,1098612757_1,EBITCOGSPaisSUB,2024-05-01,5.433606e+06,4.434378e+06,1.23

## Cálculo de Maestra de Resultados

In [407]:
maestra_resultados = pd.concat([
    cumplimiento_objetivos_cualitativos, # cumplimiento_cualitativos,
    cumplimiento_recaudo_por_zona, # cumplimiento_cobro_por_zona,
    cumplimiento_venta_individual,
    cumplimiento_venta_individual_sub,
    cumplimiento_recaudo_individual,
    cumplimiento_recaudo_individual_sub, # cumplimiento_cobro_empleado_consecutivo,
    cumplimiento_venta_por_area_calculo, # cumplimiento_venta_por_area_calculo,
    cumplimiento_venta_por_area_calculo_sub,
    cumplimiento_recaudo_por_area_calculo, # cumplimiento_cobro_por_area_calculo,
    cumplimiento_recaudo_por_area_calculo_sub,
    cumplimiento_recaudo_nivel_pais, # cumplimiento_cobro_pais,
    cumplimiento_venta_por_unidad_negocio_gu,
    cumplimiento_venta_por_unidad_negocio_gu_sub,
    cumplimiento_recaudo_por_unidad_negocio_gu, # cumplimiento_cobro_area_calculo_gu,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    cumplimiento_venta_por_unidad_negocio_mk,
    cumplimiento_venta_por_unidad_negocio_mk_sub,
    cumplimiento_recaudo_por_unidad_negocio_mk, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_recaudo_por_unidad_negocio_mk_sub, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    cumplimiento_recaudo_por_division, # cumplimiento_cobro_division,
    cumplimiento_recaudo_por_division_sub_mk, # cumplimiento_cobro_division_sub,
    cumplimiento_recaudo_otras_companias_mk, # cumplimiento_cobro_compañias_mk,
    cumplimiento_recaudo_por_division_sub_gd, # cumplimiento_recaudo_otras_companias_gd, # cumplimiento_cobro_division_sub_gd,
    cumplimiento_recaudo_por_division_sub_ad, # cumplimiento_cobro_division_sub_ad,
    cumplimiento_recaudo_otras_companias_ad, # cumplimiento_cobro_compañias_ad,
    cumplimiento_recaudo_por_division_sub_ad1, # cumplimiento_cobro_division_sub_ad1,
    cumplimiento_recaudo_otras_companias_ad1, # cumplimiento_cobro_compañias_ad1,
    cumplimiento_recaudo_por_division_sub_ad3, # cumplimiento_cobro_division_sub_ad3,
    cumplimiento_recaudo_otras_companias_ad3, # cumplimiento_cobro_compañias_ad3,
    cumplimiento_recaudo_por_division_sub_ad4, cumplimiento_recaudo_otras_companias_ad4, # cumplimiento_cobro_compañias_ad4,
    cumplimiento_recaudo_por_division_sub_ad5, cumplimiento_recaudo_otras_companias_ad5, # cumplimiento_cobro_compañias_ad5,
    cumplimiento_rentabilidad_cm5_nivel_pais, # rentabilidad_antes_de_impuestos,
    cumplimiento_rentabilidad_cm3_grupo_clientes_sub,  # rentabilidad_division_consecutivo,
    cumplimiento_rentabilidad_cm3_grupo_clientes, # rentabilidad_division,
    cumplimiento_rentabilidad_cm2_grupo_clientes, # rentabilidad_kam,
    cumplimiento_rentabilidad_cm5_ad, # rentabilidad_antes_de_impuestos_ad,
    cumplimiento_rentabilidad_cm5_ad1, # rentabilidad_antes_de_impuestos_ad1,
    cumplimiento_rentabilidad_cm5_ad2, # rentabilidad_antes_de_impuestos_ad2,
    cumplimiento_rentabilidad_cm5_ad3, # rentabilidad_antes_de_impuestos_ad3,
    cumplimiento_rentabilidad_cm5_ad4, # rentabilidad_antes_de_impuestos_ad4,
    cumplimiento_rentabilidad_cm5_ad5, # rentabilidad_antes_de_impuestos_ad5,
    cumplimiento_venta_previo_notas_credito_tp, # venta_credito_tp,
    cumplimiento_venta_servicios_mtto,
    # 2022
    venta_cobrada_braun_cluster,
    venta_cobrada_portafolio_cluster_sub, 
    venta_facturada_portafolio_cluster, 
    venta_cobrada_portafolio_pais_ve,
    venta_facturada_portafolio_zona_sub_ve,
    venta_cobrada_portafolio_zona_ve,
    venta_cobrada_portafolio_cluster_ve,
    venta_facturada_portafolio_cluster_sub_ve,
    venta_cobrada_zona_hospitalario_sub_gc,
    venta_cobrada_zona_hospitalario_sub_gd,
    venta_facturada_pais_ch,
    venta_facturada_zona_ch,
    rentabilidad_zona_hospitalario_cm2,
    venta_facturada_braun_pais,
    rentabilidad_compania_cm3,
    venta_cobrada_grupo_clientes_kams_sub,
    venta_facturada_grupo_clientes_kams,
    kpis_surgical,
    #2023
    venta_cobrada_portafolio_zona_cluster_sub,
    venta_facturada_portafolio_zona_cluster,
    venta_facturada_zona_pais,
    venta_cobrada_zona_pais_sub,
    venta_facturada_portafolio_renal,
    #2024
    venta_facturada_portafolio_renal_sub,
    venta_facturada_portafolio_zona_cluster_sub,
    venta_facturada_zona_pais_sub,
    venta_facturada_grupo_clientes_kams_sub,
    cumplimiento_rentabilidad_grupo_clientes_cm2_sub,
    venta_cobrada_portafolio_cluster,    #2024  VentaCobradaPortafolioClusterSub -> VentaCobradaPortafolioCluster
    venta_facturada_portafolio_cluster_sub, #2024 VentaFacturadaPortafolioCluster -> VentaFacturadaPortafolioClusterSub
    venta_cobrada_portafolio_zona_cluster,
    cumplimiento_facturada_por_division_sub_gd,
    venta_facturada_braun_pais_sub,
    rentabilidad_unidad_negocio_cm2_cogs_sub,
    ebit_cogs_pais,
    ebit_cogs_pais_sub,
    rentabilidad_division_cm2_cogs_sub,
    venta_cobrada_portafolio_renal,
    venta_facturada_portafolio_zona_cluster_sub_ve
])
maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
maestra_resultados.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004523,2024-01-01,0.8,ObjetivosCualitativos,NaN,NaN
1,5004523,2024-02-01,0.8,ObjetivosCualitativos,NaN,NaN
2,5004523,2024-03-01,0.8,ObjetivosCualitativos,NaN,NaN
3,5004523,2024-04-01,0.8,ObjetivosCualitativos,NaN,NaN
4,5004523,2024-05-01,0.8,ObjetivosCualitativos,NaN,NaN

In [408]:
maestra_resultados[
    (maestra_resultados['Contexto'].str.contains('1111117')) &
    (maestra_resultados['Fecha'] == '2024-05-01')
]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
514,1111117,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN
24,1111117,2024-05-01,0.88,VentaFacturadaZonaCargoIndividual,3.179236e+08,3.617851e+08
119,1111117_2,2024-05-01,0.19,VentaFacturadaZonaCargoIndividualSub,2.627932e+07,1.365182e+08
124,1111117_3,2024-05-01,1.25,VentaFacturadaZonaCargoIndividualSub,2.611994e+08,2.092517e+08
129,1111117_4,2024-05-01,1.90,VentaFacturadaZonaCargoIndividualSub,3.044491e+07,1.601519e+07
24,1111117,2024-05-01,0.79,VentasCobradaZonaCargoIndividual,3.044938e+08,3.835532e+08
119,1111117_2,2024-05-01,0.42,VentasCobradaZonaCargoIndividualSub,5.396118e+07,1.287454e+08
124,1111117_3,2024-05-01,0.95,VentasCobradaZonaCargoIndividualSub,2.258165e+08,2.376119e+08
129,1111117_4,2024-05-01,1.44,VentasCobradaZonaCargoIndividualSub,2.471617e+07,1.719594e+07
29,1111117,2024-05-01,0.86,VentaCobradaBraunCluster,3.632880e+08,4.212271e+08
872,1111117_2,2024-05-01,1.04,VentaCobradaPortafolioClusterSub,8.571691e+08,8.276971e+08
877,1111117_3,2024-05-01,1.04,VentaCobradaPortafolioClusterSub,8.571691e+08,8.276971e+08
882,1111117_4,2024-05-01,1.04,VentaCobradaPortafolioClusterSub,8.571691e+08,8.276971e+08
24,1111117,2024-05-01,0.88,VentaFacturadaPortafolioCluster,3.179236e+08,3.617851e+08
39,1111117,2024-05-01,0.94,VentaFacturadaZonaPais,5.855320e+10,6.258874e+10
4,1111117,2024-05-01,3.37,VentaFacturadaPortafolioRenal,1.814526e+09,5.383562e+08
4,1111117_1,2024-05-01,3.37,VentaFacturadaPortafolioRenalSub,1.814526e+09,5.383562e+08
24,1111117,2024-05-01,0.86,VentaCobradaPortafolioCluster,3.632880e+08,4.212271e+08
119,1111117_2,2024-05-01,0.19,VentaFacturadaPortafolioClusterSub,2.627932e+07,1.365182e+08
124,1111117_3,2024-05-01,1.25,VentaFacturadaPortafolioClusterSub,2.611994e+08,2.092517e+08
129,1111117_4,2024-05-01,1.90,VentaFacturadaPortafolioClusterSub,3.044491e+07,1.601519e+07
4,1111117,2024-05-01,1.04,VentaCobradaPortafolioRenal,8.571691e+08,8.276971e+08

In [409]:
maestra_resultados.to_excel('maestra_resultados_.xlsx')

In [410]:
maestra_resultados[maestra_resultados['Variable'] == "RentabilidadUnidadNegocioCM2COGSSUB"]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004293_1,2024-03-01,1.02,RentabilidadUnidadNegocioCM2COGSSUB,3.917840e+05,3.833289e+05
1,5004293_1,2024-04-01,1.10,RentabilidadUnidadNegocioCM2COGSSUB,5.467537e+05,4.986085e+05
2,5004293_1,2024-05-01,1.06,RentabilidadUnidadNegocioCM2COGSSUB,6.940732e+05,6.551274e+05
3,5004293_2,2024-03-01,0.45,RentabilidadUnidadNegocioCM2COGSSUB,3.516986e+05,7.892989e+05
4,5004293_2,2024-04-01,0.46,RentabilidadUnidadNegocioCM2COGSSUB,4.701977e+05,1.026897e+06
5,5004293_2,2024-05-01,-0.09,RentabilidadUnidadNegocioCM2COGSSUB,-1.276262e+05,1.348651e+06
6,5004293_3,2024-03-01,1.04,RentabilidadUnidadNegocioCM2COGSSUB,6.016633e+05,5.784983e+05
7,5004293_3,2024-04-01,1.11,RentabilidadUnidadNegocioCM2COGSSUB,8.390398e+05,7.552212e+05
8,5004293_3,2024-05-01,1.07,RentabilidadUnidadNegocioCM2COGSSUB,1.050636e+06,9.856437e+05
0,1013583607_1,2024-03-01,1.02,RentabilidadUnidadNegocioCM2COGSSUB,1.722736e+05,1.697131e+05
1,1013583607_2,2024-03-01,1.32,RentabilidadUnidadNegocioCM2COGSSUB,7.273634e+04,5.527677e+04
2,5004302_1,2024-03-01,1.37,RentabilidadUnidadNegocioCM2COGSSUB,1.606875e+05,1.175324e+05
3,5004302_2,2024-03-01,1.27,RentabilidadUnidadNegocioCM2COGSSUB,2.013171e+05,1.583813e+05
4,5004306_1,2024-03-01,1.18,RentabilidadUnidadNegocioCM2COGSSUB,2.022876e+05,1.707349e+05
5,5004306_2,2024-03-01,0.86,RentabilidadUnidadNegocioCM2COGSSUB,1.684431e+05,1.961857e+05
6,5004306_3,2024-03-01,0.82,RentabilidadUnidadNegocioCM2COGSSUB,1.286569e+04,1.567959e+04
7,52900453_1,2024-03-01,1.53,RentabilidadUnidadNegocioCM2COGSSUB,4.474773e+05,2.924508e+05
8,53069050_1,2024-03-01,1.42,RentabilidadUnidadNegocioCM2COGSSUB,4.852465e+03,3.416324e+03
9,53069050_2,2024-03-01,1.43,RentabilidadUnidadNegocioCM2COGSSUB,1.755206e+05,1.224656e+05
10,53069050_3,2024-03-01,1.50,RentabilidadUnidadNegocioCM2COGSSUB,3.033443e+05,2.019764e+05
11,80220240_1,2024-03-01,1.02,RentabilidadUnidadNegocioCM2COGSSUB,3.917840e+05,3.833289e+05
12,80220240_2,2024-03-01,0.44,RentabilidadUnidadNegocioCM2COGSSUB,3.516197e+05,7.923484e+05
13,80220240_3,2024-03-01,1.32,RentabilidadUnidadNegocioCM2COGSSUB,2.573368e+05,1.948207e+05
14,94460154_1,2024-03-01,0.72,RentabilidadUnidadNegocioCM2COGSSUB,7.086962e+04,9.863249e+04
15,94460154_2,2024-03-01,0.66,RentabilidadUnidadNegocioCM2COGSSUB,1.162613e+05,1.762550e+05
16,94460154_3,2024-03-01,0.59,RentabilidadUnidadNegocioCM2COGSSUB,6.478865e+04,1.106009e+05
17,1013583607_1,2024-04-01,1.05,RentabilidadUnidadNegocioCM2COGSSUB,2.429055e+05,2.314270e+05
18,1013583607_2,2024-04-01,1.36,RentabilidadUnidadNegocioCM2COGSSUB,1.105339e+05,8.157429e+04
19,5004302_1,2024-04-01,1.41,RentabilidadUnidadNegocioCM2COGSSUB,2.326249e+05,1.648384e+05
20,5004302_2,2024-04-01,1.25,RentabilidadUnidadNegocioCM2COGSSUB,2.769869e+05,2.219671e+05
21,5004306_1,2024-04-01,1.33,RentabilidadUnidadNegocioCM2COGSSUB,2.942707e+05,2.211683e+05
22,5004306_2,2024-04-01,0.62,RentabilidadUnidadNegocioCM2COGSSUB,1.950895e+05,3.165908e+05
23,5004306_3,2024-04-01,0.86,RentabilidadUnidadNegocioCM2COGSSUB,2.086268e+04,2.439771e+04
24,52900453_1,2024-04-01,1.41,RentabilidadUnidadNegocioCM2COGSSUB,5.663292e+05,4.026168e+05
25,53069050_1,2024-04-01,0.00,RentabilidadUnidadNegocioCM2COGSSUB,1.964098e+01,5.238364e+03
26,53069050_2,2024-04-01,1.46,RentabilidadUnidadNegocioCM2COGSSUB,2.557613e+05,1.747971e+05
27,53069050_3,2024-04-01,1.76,RentabilidadUnidadNegocioCM2COGSSUB,4.779607e+05,2.717800e+05
28,80220240_1,2024-04-01,1.10,RentabilidadUnidadNegocioCM2COGSSUB,5.467537e+05,4.986085e+05
29,80220240_2,2024-04-01,0.46,RentabilidadUnidadNegocioCM2COGSSUB,4.716539e+05,1.030864e+06
30,80220240_3,2024-04-01,1.58,RentabilidadUnidadNegocioCM2COGSSUB,4.141523e+05,2.622326e+05
31,94460154_1,2024-04-01,0.78,RentabilidadUnidadNegocioCM2COGSSUB,1.025101e+05,1.315100e+05
32,94460154_2,2024-04-01,0.72,RentabilidadUnidadNegocioCM2COGSSUB,1.648481e+05,2.302729e+05
33,94460154_3,2024-04-01,0.54,RentabilidadUnidadNegocioCM2COGSSUB,8.878462e+04,1.658526e+05
34,1013583607_1,2024-05-01,1.03,RentabilidadUnidadNegocioCM2COGSSUB,3.015386e+05,2.931408e+05
35,1013583607_2,2024-05-01,1.40,RentabilidadUnidadNegocioCM2COGSSUB,1.563262e+05,1.117920e+05
36,5004302_1,2024-05-01,1.43,RentabilidadUnidadNegocioCM2COGSSUB,3.089686e+05,2.162672e+05
37,5004302_2,2024-05-01,1.25,RentabilidadUnidadNegocioCM2COGSSUB,3.650655e+05,2.911031e+05
38,5004306_1,2024-05-01,1.26,RentabilidadUnidadNegocioCM2COGSSUB,3.626583e+05,2.871495e+05
39,5004306_2,2024-05-01,0.51,RentabilidadUnidadNegocioCM2COGSSUB,2.284478e+05,4.512954e+05
40,5004306_3,2024-05-01,0.90,RentabilidadUnidadNegocioCM2COGSSUB,2.719774e+04,3.031822e+04
41,52900453_1,2024-05-01,1.30,RentabilidadUnidadNegocioCM2COGSSUB,6.687994e+05,5.149844e+05
42,53069050_1,2024-05-01,0.20,RentabilidadUnidadNegocioCM2COGSSUB,1.447291e+03,7.288158e+03
43,53069050_2,2024-05-01,1.50,RentabilidadUnidadNegocioCM2COGSSUB,3.353549e+05,2.241900e+05
44,53069050_3,2024-05-01,1.80,RentabilidadUnidadNegocioCM2COGSSUB,6.523482e+05,3.628252e+05
45,80220240_1,2024-05-01,1.06,RentabilidadUnidadNegocioCM2COGSSUB,6.940732e+05,6.551274e+05
46,80220240_2,2024-05-01,-0.11,RentabilidadUnidadNegocioCM2COGSSUB,-1.502057e+05,1.353861e+06
47,80220240_3,2024-05-01,1.62,RentabilidadUnidadNegocioCM2COGSSUB,5.671041e+05,3.508304e+05
48,94460154_1,2024-05-01,0.82,RentabilidadUnidadNegocioCM2COGSSUB,1.382212e+05,1.691129e+05
49,94460154_2,2024-05-01,0.73,RentabilidadUnidadNegocioCM2COGSSUB,2.126603e+05,2.916989e+05
50,94460154_3,2024-05-01,0.48,RentabilidadUnidadNegocioCM2COGSSUB,1.071739e+05,2.211043e+05

In [411]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('1111117')]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
510,1111117,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN
511,1111117,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN
512,1111117,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN
513,1111117,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN
514,1111117,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN
...,...,...,...,...,...,...
0,1111117,2024-01-01,1.37,VentaCobradaPortafolioRenal,1.896538e+08,1.382946e+08
1,1111117,2024-02-01,1.90,VentaCobradaPortafolioRenal,5.281956e+08,2.782896e+08
2,1111117,2024-03-01,1.32,VentaCobradaPortafolioRenal,6.096273e+08,4.613509e+08
3,1111117,2024-04-01,1.07,VentaCobradaPortafolioRenal,6.910522e+08,6.431962e+08
4,1111117,2024-05-01,1.04,VentaCobradaPortafolioRenal,8.571691e+08,8.276971e+08

In [412]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('gd_3_5')]

Empty DataFrame
Columns: [Contexto, Fecha, PorcentajeCumplimiento, Variable, Real, Presupuesto]
Index: []

In [413]:
maestra_resultados[
    (maestra_resultados['Contexto'] == '1111128')
].head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
5,1111128,2024-01-01,0.8,ObjetivosCualitativos,NaN,NaN
6,1111128,2024-02-01,0.8,ObjetivosCualitativos,NaN,NaN
7,1111128,2024-03-01,0.8,ObjetivosCualitativos,NaN,NaN
8,1111128,2024-04-01,0.8,ObjetivosCualitativos,NaN,NaN
9,1111128,2024-05-01,0.8,ObjetivosCualitativos,NaN,NaN

### Cálculo de Maestra de Resultados Centro Costo

In [414]:
venta_cobrada_zona_pais_sub_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub

In [415]:
venta_cobrada_portafolio_cluster_sub_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1111111_1,2024-01-01,805,AE,323007290,47737215.0,1.514386e+07,VentaCobradaPortafolioClusterSub
1,1111111_1,2024-01-01,M06,AE,323007290,6351007.0,9.892825e+06,VentaCobradaPortafolioClusterSub
2,1111111_1,2024-02-01,805,AE,323007290,47987215.0,3.533567e+07,VentaCobradaPortafolioClusterSub
3,1111111_1,2024-02-01,M06,AE,323007290,26094611.0,2.473206e+07,VentaCobradaPortafolioClusterSub
4,1111111_1,2024-03-01,805,AE,323007290,49559215.0,5.350831e+07,VentaCobradaPortafolioClusterSub

In [416]:
venta_cobrada_portafolio_zona_cluster_sub_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1010166177_1,2024-01-01,660,BA,323007337,1.012985e+07,4.646023e+06,VentaCobradaPortafolioZonaClusterSub
1,1010166177_1,2024-01-01,902,BA,323007337,0.000000e+00,2.093894e+05,VentaCobradaPortafolioZonaClusterSub
2,1010166177_1,2024-01-01,A45,BA,323007337,1.025310e+08,6.243911e+07,VentaCobradaPortafolioZonaClusterSub
3,1010166177_1,2024-02-01,660,BA,323007337,2.020898e+07,9.292047e+06,VentaCobradaPortafolioZonaClusterSub
4,1010166177_1,2024-02-01,902,BA,323007337,0.000000e+00,4.187787e+05,VentaCobradaPortafolioZonaClusterSub

In [417]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AreaCalculo        534 non-null    object
 1   Division           534 non-null    object
 2   GrupoProducto      534 non-null    object
 3   Consecutivo        534 non-null    object
 4   Fecha              534 non-null    datetime64[ns]
 5   Presupuesto        530 non-null    float64
 6   Real               530 non-null    float64
 7   CodigoCentroCosto  530 non-null    object
 8   Contexto           534 non-null    object
 9   Variable           534 non-null    object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 45.9+ KB

In [418]:
maestra_resultados_centro_costo = pd.concat([
    #2023
    venta_cobrada_zona_pais_sub_centro_costo,
    cumplimiento_recaudo_por_division_sub_mk_centro_costo, 
    cumplimiento_recaudo_por_division_sub_gd_centro_costo,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo, 
    cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo,
    cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo, 
    cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo,
    venta_cobrada_portafolio_cluster_sub_centro_costo,
    venta_cobrada_portafolio_zona_cluster_sub_centro_costo,
    #2024
    venta_facturada_portafolio_cluster_sub_centro_costo,
    venta_facturada_braun_pais_sub_centro_costo,
    venta_facturada_zona_pais_sub_centro_costo,
    cumplimiento_facturada_por_division_sub_gd_centro_costo,
    rentabilidad_division_cm2cogs_sub_centro_costo,
    rentabilidad_unidad_negocio_cm2cogs_sub_centro_costo,
    venta_facturada_portafolio_zona_cluster_sub,
    venta_facturada_portafolio_zona_cluster_sub_centro_costo,
    venta_facturada_grupo_clientes_kam_sub_centro_costo
])

maestra_resultados_centro_costo['PorcentajeCumplimiento'] = maestra_resultados_centro_costo['Real']/maestra_resultados_centro_costo['Presupuesto']
# maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
# maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
# maestra_resultados.head()

In [419]:
maestra_resultados_centro_costo[maestra_resultados_centro_costo['Variable'] == 'RentabilidadUnidadNegocioCM2COGSSUB']

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
0,1013583607_1,2024-03-01,805,AE,323007280,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.015087
1,1013583607_1,2024-03-01,805,AE,323007290,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.015087
2,1013583607_1,2024-04-01,805,AE,323007280,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.034998
3,1013583607_1,2024-04-01,805,AE,323007290,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.034998
4,1013583607_1,2024-05-01,805,AE,323007280,716717.704506,694280.875887,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.032317
...,...,...,...,...,...,...,...,...,...,...,...,...
97,94460154_2,2024-05-01,A33,BA,323007337,23399.712828,20723.216486,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,1.129154
98,94460154_2,2024-05-01,A34,BA,323007337,470369.985379,677503.485037,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,0.694269
99,94460154_3,2024-03-01,A35,BA,323007337,64788.652349,110600.891998,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,0.585788
100,94460154_3,2024-04-01,A35,BA,323007337,153573.270718,276453.474670,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,0.555512
101,94460154_3,2024-05-01,A35,BA,323007337,260747.159038,497557.748016,RentabilidadUnidadNegocioCM2COGSSUB,NaN,NaN,NaN,0.524054

In [420]:
maestra_resultados_centro_costo[maestra_resultados_centro_costo['Contexto'].str.contains('mk_9_3')]

Empty DataFrame
Columns: [Contexto, Fecha, GrupoProducto, Division, CodigoCentroCosto, Real, Presupuesto, Variable, AreaCalculo, Consecutivo, TipoEmpleado, PorcentajeCumplimiento]
Index: []

In [421]:
maestra_resultados_centro_costo.to_excel('maestra_resultados_centro_costo_.xlsx')

In [422]:
maestra_resultados_centro_costo[
    
    pd.notna(maestra_resultados_centro_costo['AreaCalculo'])
]

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
0,mk_1_2,2024-01-01,001,AE,323007270,8.711519e+08,7.125074e+08,VentaCobradaDivisionSub,1,2,NaN,1.222657
1,mk_1_2,2024-02-01,001,AE,323007270,1.606844e+09,1.670751e+09,VentaCobradaDivisionSub,1,2,NaN,0.961749
2,mk_1_2,2024-03-01,001,AE,323007270,2.076502e+09,2.571881e+09,VentaCobradaDivisionSub,1,2,NaN,0.807387
3,mk_1_2,2024-04-01,001,AE,323007270,3.277300e+09,3.473599e+09,VentaCobradaDivisionSub,1,2,NaN,0.943488
4,mk_1_2,2024-05-01,001,AE,323007270,3.518929e+09,4.303790e+09,VentaCobradaDivisionSub,1,2,NaN,0.817635
...,...,...,...,...,...,...,...,...,...,...,...,...
105,gd_3_1,2024-01-01,A45,BA,323007337,3.898693e+07,8.814934e+07,VentaFacturadaDivisionSub,3,1,NaN,0.442283
106,gd_3_1,2024-02-01,A45,BA,323007337,2.887346e+08,1.762987e+08,VentaFacturadaDivisionSub,3,1,NaN,1.637758
107,gd_3_1,2024-03-01,A45,BA,323007337,1.594116e+09,2.791396e+08,VentaFacturadaDivisionSub,3,1,NaN,5.710819
108,gd_3_1,2024-04-01,A45,BA,323007337,1.677550e+09,3.819805e+08,VentaFacturadaDivisionSub,3,1,NaN,4.391716
109,gd_3_1,2024-05-01,A45,BA,323007337,1.726350e+09,4.995129e+08,VentaFacturadaDivisionSub,3,1,NaN,3.456067

In [423]:
maestra_resultados_centro_costo[maestra_resultados_centro_costo['Contexto'].str.contains('5004293')]

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
0,5004293_1,2024-01-01,630,HC,323015090,6.676407e+08,7.058871e+08,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.945818
1,5004293_1,2024-02-01,630,HC,323015090,1.383778e+09,1.667095e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.830054
2,5004293_1,2024-03-01,630,HC,323015090,2.482475e+09,3.093888e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.802380
3,5004293_1,2024-04-01,630,HC,323015090,3.406119e+09,4.025058e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.846229
4,5004293_1,2024-05-01,630,HC,323015090,4.381161e+09,5.286644e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.828723
5,5004293_2,2024-01-01,630,HC,323015090,2.314848e+09,1.713096e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.351266
6,5004293_2,2024-01-01,CDK,HC,323015090,2.314848e+09,1.713096e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.351266
7,5004293_2,2024-02-01,630,HC,323015090,4.778845e+09,4.045823e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.181180
8,5004293_2,2024-02-01,CDK,HC,323015090,4.778845e+09,4.045823e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.181180
9,5004293_2,2024-03-01,630,HC,323015090,7.916346e+09,7.508463e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.054323
10,5004293_2,2024-03-01,CDK,HC,323015090,7.916346e+09,7.508463e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.054323
11,5004293_2,2024-04-01,630,HC,323015090,1.085981e+10,9.768292e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.111741
12,5004293_2,2024-04-01,CDK,HC,323015090,1.085981e+10,9.768292e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.111741
13,5004293_2,2024-05-01,630,HC,323015090,1.410494e+10,1.283000e+10,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.099372
14,5004293_2,2024-05-01,CDK,HC,323015090,1.410494e+10,1.283000e+10,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,1.099372
15,5004293_3,2024-01-01,620,HC,323015090,7.666924e+08,1.011063e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.758303
16,5004293_3,2024-02-01,620,HC,323015090,2.062303e+09,2.148509e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.959876
17,5004293_3,2024-03-01,620,HC,323015090,3.146574e+09,3.412338e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.922117
18,5004293_3,2024-04-01,620,HC,323015090,4.339242e+09,4.454997e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.974017
19,5004293_3,2024-05-01,620,HC,323015090,5.404667e+09,5.813613e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.929657

In [424]:
maestra_resultados[maestra_resultados['Variable'] == 'EBITCOGSPaisSUB']

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,51790647_1,2024-03-01,1.18,EBITCOGSPaisSUB,2.980374e+06,2.534506e+06
1,51790647_1,2024-04-01,1.12,EBITCOGSPaisSUB,3.789609e+06,3.390361e+06
2,51790647_1,2024-05-01,1.23,EBITCOGSPaisSUB,5.433606e+06,4.434378e+06
3,79641686_1,2024-03-01,1.18,EBITCOGSPaisSUB,2.980374e+06,2.534506e+06
4,52057371_1,2024-03-01,1.18,EBITCOGSPaisSUB,2.980374e+06,2.534506e+06
...,...,...,...,...,...,...
76,80133890_2,2024-04-01,1.02,EBITCOGSPaisSUB,1.696398e+06,1.664589e+06
77,80133890_2,2024-05-01,0.99,EBITCOGSPaisSUB,2.179288e+06,2.196836e+06
78,52266432_2,2024-03-01,1.16,EBITCOGSPaisSUB,1.345765e+06,1.163000e+06
79,52266432_2,2024-04-01,1.02,EBITCOGSPaisSUB,1.696398e+06,1.664589e+06
80,52266432_2,2024-05-01,0.99,EBITCOGSPaisSUB,2.179288e+06,2.196836e+06

In [425]:
df_parrillas[df_parrillas['Variable'] == 'EBITCOGSPaisSUB']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
111,53002714,EBITCOGSPaisSUB,53002714_1,0.4,1,EBITCOGSPaisSUB,BBMCO
172,80133890,EBITCOGSPaisSUB,80133890_1,0.2,1,EBITCOGSPaisSUB,BBMCO
173,80133890,EBITCOGSPaisSUB,80133890_2,0.2,2,EBITCOGSPaisSUB,BBMEC
177,79641686,EBITCOGSPaisSUB,79641686_1,0.4,1,EBITCOGSPaisSUB,BBMCO
237,53154461,EBITCOGSPaisSUB,53154461_1,0.4,1,EBITCOGSPaisSUB,BBMCO
339,1121863542,EBITCOGSPaisSUB,1121863542_1,0.4,1,EBITCOGSPaisSUB,BBMCO
369,52193204,EBITCOGSPaisSUB,52193204_1,0.4,1,EBITCOGSPaisSUB,BBMCO
390,1027402807,EBITCOGSPaisSUB,1027402807_1,0.4,1,EBITCOGSPaisSUB,BBMCO
439,79950432,EBITCOGSPaisSUB,79950432_1,0.4,1,EBITCOGSPaisSUB,BBMCO
497,1022428619,EBITCOGSPaisSUB,1022428619_1,0.4,1,EBITCOGSPaisSUB,BBMCO
577,84086164,EBITCOGSPaisSUB,84086164_1,0.4,1,EBITCOGSPaisSUB,BBMCO
605,1037583151,EBITCOGSPaisSUB,1037583151_1,0.4,1,EBITCOGSPaisSUB,BBMCO
633,52057371,EBITCOGSPaisSUB,52057371_1,0.4,1,EBITCOGSPaisSUB,BBMCO
679,51789567,EBITCOGSPaisSUB,51789567_1,0.4,1,EBITCOGSPaisSUB,BBMCO
682,51790647,EBITCOGSPaisSUB,51790647_1,0.4,1,EBITCOGSPaisSUB,BBMCO
708,1018451704,EBITCOGSPaisSUB,1018451704_1,0.4,1,EBITCOGSPaisSUB,BBMCO
770,1015432392,EBITCOGSPaisSUB,1015432392_1,0.4,1,EBITCOGSPaisSUB,BBMCO
800,80201251,EBITCOGSPaisSUB,80201251_1,0.4,1,EBITCOGSPaisSUB,BBMCO
939,52266432,EBITCOGSPaisSUB,52266432_1,0.2,1,EBITCOGSPaisSUB,BBMCO
940,52266432,EBITCOGSPaisSUB,52266432_2,0.2,2,EBITCOGSPaisSUB,BBMEC
950,63504295,EBITCOGSPaisSUB,63504295_1,0.4,1,EBITCOGSPaisSUB,BBMCO
953,52353176,EBITCOGSPaisSUB,52353176_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1005,52875549,EBITCOGSPaisSUB,52875549_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1008,797582501,EBITCOGSPaisSUB,797582501_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1011,79758250,EBITCOGSPaisSUB,79758250_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1014,52733955,EBITCOGSPaisSUB,52733955_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1017,1098618755,EBITCOGSPaisSUB,1098618755_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1020,30405433,EBITCOGSPaisSUB,30405433_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1023,35410002,EBITCOGSPaisSUB,35410002_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1026,16659046,EBITCOGSPaisSUB,16659046_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1056,1032450706,EBITCOGSPaisSUB,1032450706_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1108,52197002,EBITCOGSPaisSUB,52197002_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1129,80037193,EBITCOGSPaisSUB,80037193_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1184,8520024,EBITCOGSPaisSUB,8520024_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1204,1098612757,EBITCOGSPaisSUB,1098612757_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1228,1019140853,EBITCOGSPaisSUB,1019140853_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1273,1032449509,EBITCOGSPaisSUB,1032449509_1,0.4,1,EBITCOGSPaisSUB,BBMCO
1312,13874027,EBITCOGSPaisSUB,13874027_1,0.4,1,EBITCOGSPaisSUB,BBMCO

In [426]:
maestra_resultados.reset_index(drop=True, inplace=True)
maestra_resultados_centro_costo.reset_index(drop=True, inplace=True)

In [427]:
maestra_resultados.reset_index(drop=True, inplace=True)
maestra_resultados_centro_costo.reset_index(drop=True, inplace=True)

calculo_daraframe = CalculoDataframes()

variables_convertir_euros = ['VentaFacturadaBraunPais', 'VentaFacturadaZonaPaisSub', 'VentaFacturadaDivisionSub', 'VentaFacturadaUnidadNegocioSub', 'VentaFacturadaGrupoClientesKAMSSub']
# Convertir las variables a euros en 'maestra_resultados'
maestra_resultados = calculo_daraframe.convertir_valores_a_euros(maestra_resultados, variables_convertir_euros)

# Convertir las variables a euros en 'maestra_resultados_centro_costo'
maestra_resultados_centro_costo = calculo_daraframe.convertir_valores_a_euros(maestra_resultados_centro_costo, variables_convertir_euros)

# ## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [428]:
# # Filtrar maestra_resultados para los registros no nulos en la columna 'TipoEmpleado'
# registros_no_nulos = maestra_resultados[maestra_resultados['TipoEmpleado'].notnull()]

# # Imprimir los registros no nulos
# print(registros_no_nulos)