# INICIO

In [1]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
print(base_dir)
#base_dir = '/data/notebook_files/'
sub_direct = ''
# sub_direct = 'archivos-fuente-78'
sub_direct = 'archivos-fuente-82'

folder_bbraun_source = os.path.join(base_dir, 'source', sub_direct)
print(folder_bbraun_source)
if base_dir not in sys.path:
    sys.path.append(base_dir)
if 'OUTPUT_FOLDER' not in locals():
    OUTPUT_FOLDER = os.path.join(base_dir, 'output')

if 'fecha_liquidacion' not in locals():
    fecha_liquidacion = '2023-11-01'
if 'meses_incentivos' not in locals():
    meses_incentivos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
if 'df_resultado_detallado_previo' not in locals():
    df_resultado_detallado_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosDetalladosPrevios.xlsx'),
        dtype={
            'Contexto': str,
            'Fecha': 'datetime64[ns]',
            'Variable': str,
            'PorcentajeCumplimiento': float,
            'Real': float,
            'Presupuesto': float,
            'CodigoEmpleado': str,
            'Porcentaje': float,
            'Consecutivo': int,
            'TipoEmpleado': str,
            'SalarioVariable': float,
            'AreaCalculo': int,
            'Apellidos': str,
            'Nombre': str,
            'FechaIngreso': 'datetime64[ns]',
            'FactorIncentivo': float,
            'FactorMes': int,
            'Liquidado': float,
            'DifMonths': int,
            'NuevoFactor': int,
            'ResultadoPresupuesto': float,
            'ResultadoRealMes': float,
            'PorcentajeCumplimientoMes': float
        }
    )
if 'df_resultado_liquidaciones_previo' not in locals():
    df_resultado_liquidaciones_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosLiquidacionesPrevios.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'SalarioVariable': float,
            'Fecha': 'datetime64[ns]',
            'FactorMes':int ,
            'PagoGarantizado': str,
            'Liquidado': float,
            'PagoReal': float
        }
    )
if 'df_empleados' not in locals():
    df_empleados = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Empleados.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'CodigoEmpleado': str,
            'Identificacion': str,
            'CorreoElectronico': str,
            'Nombre': str,
            'Apellidos': str,
            'SalarioVariable': float,
            'FechaIngreso': 'datetime64[ns]',
            # 'FechaRetiro': np.datetime64,
            # 'Zona': str,
            'AreaCalculo': int
        }
    )
    
if 'df_tipos_empleados' not in locals():
    df_tipos_empleados = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'TiposEmpleados.xlsx'),
        dtype={
            'CodigoTipoEmpleado': str,
            'CategoriaTipoEmpleado': str,
            'TextoPDF': str
        }
    )    
    
if 'df_clusters_empleado' not in locals():
    df_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClustersEmpleados.xlsx'),
        dtype={
            'Cluster': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_zonas_empleado' not in locals():
    df_zonas_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasEmpleados.xlsx'),
        dtype={
            'Zona': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_salarios_variables' not in locals():
    df_salarios_variables = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'SalariosVariables.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'SalarioVariable': float,
            'PromedioSalarioVariable': float
        }
    )
if 'df_parrillas' not in locals():
    df_parrillas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Parrillas.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Variable': str,
            'Contexto': str,
            'Porcentaje': float,
            'Consecutivo': int
        }
    )
if 'df_venta_recaudo_real' not in locals():
    df_venta_recaudo_real = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoReal.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_recaudo_presupuesto' not in locals():
    df_venta_recaudo_presupuesto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoPresupuesto.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_por_zona' not in locals():
    df_venta_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaPorZona.xlsx'),
        dtype={
            'Zona': str,
            # 'Fecha': np.datetime64,
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_por_zona' not in locals():
    df_recaudo_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoPorZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad' not in locals():
    df_rentabilidad = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Rentabilidad.xlsx'),
        dtype={
            'Compania': str,
            'GrupoProducto': str,
            'SBA': str,
            'ClaseRentabilidad': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_otras_companias' not in locals():
    df_venta_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_otras_companias' not in locals():
    df_recaudo_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )

if 'df_venta_recaudo_kams' not in locals():
    df_venta_recaudo_kams = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoKAMS.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Fecha': 'datetime64[ns]',
            'VentaReal': float,
            'VentaPresupuesto': float,
            'RecaudoReal': float,
            'RecaudoPresupuesto': float
        }
    )
if 'df_rentabilidad_kam' not in locals():
    df_rentabilidad_kam = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadKAM.xlsx'),
        dtype={
            'Division': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_servicios_mtto' not in locals():
    df_venta_servicios_mtto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaServiciosMtto.xlsx'),
        dtype={
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_objetivos_cualitativos' not in locals():
    df_objetivos_cualitativos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ObjetivosCualitativos.xlsx'),
        dtype={
            # 'Fecha': np.datetime64,
            'CodigoEmpleado': str,
            'PorcentajeCumplimiento': float
        }
    )
if 'df_incentivos_por_empleado' not in locals():
    df_incentivos_por_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'IncentivosPorEmpleado.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'Valor': float
        }
    )
if 'df_area_calculo_sba' not in locals():
    df_area_calculo_sba = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'AreaCalculoSBA.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str
        }
    )
if 'df_factores_liquidacion' not in locals():
    df_factores_liquidacion = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'FactoresLiquidacion.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'PorcentajeCumplimiento': float,
            'FactorIncentivo': float
        }
    )
if 'df_cluster_plan_real_recaudo' not in locals():
    df_cluster_plan_real_recaudo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClusterPlanRealRecaudo.xlsx'),
        dtype={
            'Cluster': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_zona_plan_real_venta_ch' not in locals():
    df_zona_plan_real_venta_ch = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonaPlanRealVentaCH.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad_zona' not in locals():
    df_rentabilidad_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_resultados_variables_cualitativas' not in locals():
    df_resultados_variables_cualitativas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosVariablesCualitativas.xlsx'),
        dtype={
            'Variable': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'PorcentajeCumplimiento': float,
            'Fecha': 'datetime64[ns]'
        }
    )

if 'df_zonas_clusters_empleado' not in locals():
    df_zonas_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasClustersEmpleados.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Zona': str,
            'Cluster': str,
        }
    )
    
if 'df_centros_costos' not in locals():
    df_centros_costos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'CentrosCostos.xlsx'),
        dtype={
            'CodigoCentroCosto': str,
            'NombreCentroCosto': str,
        }
    )
    
if 'df_empleados_centros_costos' not in locals():
    df_empleados_centros_costos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'EmpleadosCentrosCostos.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'CodigoCentroCosto': str,
            'PorcentajeAsignacion': float,
        }
    )
    
if 'df_centros_costos_grupos_productos_divisiones' not in locals():
    df_centros_costos_grupos_productos_divisiones = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'CentroCostoGrupoProductoDivision.xlsx'),
        dtype={
            'Divison': str,
            'GrupoProducto': str,
            'CodigoCentroCosto': str
        }
    )
    
if 'df_parrillas_tipos_calculos' not in locals():
    df_parrillas_tipos_calculos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ParrillaTipoCalculo.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'AreaCalculo': int,
            'CodigoRubro': str,
            'NombreRubro': str,
            'TipoCalculo': str,
        }
    )
    
if 'df_area_calculo_sba_centros_costos' not in locals():
    df_area_calculo_sba_centros_costos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'AreaCalculoSBACentrosCostos.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str
        }
    )
    
# if 'df_gd_canales' not in locals():
#     df_gd_canales = pd.read_excel(
#         io=os.path.join(folder_bbraun_source, 'ResultadosGDCanales.xlsx'),
#         dtype={
#             'CodigoEmpleado': str,
#             'Fecha': 'datetime64[ns]',
#             'Consecutivo': int,
#             'PlanVentaFacturada': float,
#             'RealVentaTotal': float,
#             'PlanVentaCobrada': float,
#             'RealVentaCobrada': float,
#         }
#     )
    
if 'df_renal_ambulatorio' not in locals():
    df_renal_ambulatorio = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosVCRenalAmbulatorio.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'PlanVentaTotal': float,
            'RealVentaTotal': float,
            'PlanVentaCobradaRenal': float,
            'RealVentaCobradaRenal': float,
        }
    )

if 'codigos_ve_vc' not in locals():
    codigos_ve_vc = ['5002700']

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter
C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\source\archivos-fuente-82

In [2]:
df_venta_recaudo_real['ZonaGeografica'] = df_venta_recaudo_real['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\3404041076.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_venta_recaudo_real['ZonaGeografica'] = df_venta_recaudo_real['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

In [3]:
df_venta_recaudo_real

,CodigoEmpleado,Division,Cluster,ZonaGeografica,Canal,GrupoProducto,SBA,Fecha,Venta,Recaudo
0,1094935408,HC,5,Centro,DISTRIBUIDOR,610,01,2023-09-01,617868.0,2204812.0
1,1094935408,HC,5,Centro,DISTRIBUIDOR,610,01,2023-11-01,4491776.0,847779.2
2,1094935408,HC,5,Centro,DISTRIBUIDOR,610,02,2023-09-01,166887.0,477283.0
3,1094935408,HC,5,Centro,DISTRIBUIDOR,610,02,2023-11-01,2713839.2,2102342.0
4,1094935408,HC,5,Centro,DISTRIBUIDOR,620,13,2023-09-01,32873536.5,29443476.5
...,...,...,...,...,...,...,...,...,...,...
9799,9990022,BA,22,Norte,OPL,A35,87,2023-11-01,-259175212.7,-193276002.0
9800,9990022,BA,22,Suroccidente,DISTRIBUIDOR,A35,87,2023-11-01,0.0,1204200.0
9801,9990022,BA,22,Suroccidente,Distribuidor,A35,87,2023-10-01,2529000.0,9226800.0
9802,9990022,BA,22,Suroccidente,OPL,A35,87,2023-10-01,33457200.0,0.0
9803,9990022,BA,22,Suroccidente,OPL,A35,87,2023-11-01,-23870859.7,10575510.0

In [4]:
df_venta_recaudo_presupuesto['ZonaGeografica'] = df_venta_recaudo_presupuesto['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2194734700.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_venta_recaudo_presupuesto['ZonaGeografica'] = df_venta_recaudo_presupuesto['ZonaGeografica'].str.replace(r'\b\w+\b', lambda x: x.group().title())

In [5]:
df_venta_recaudo_presupuesto

,CodigoEmpleado,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Venta,Recaudo
0,1094935408,BA,5,Centro,A45,No creado,81,2023-08-01,2.873712e+06,2.207011e+06
1,1094935408,BA,5,Centro,A45,No creado,81,2023-09-01,2.873712e+06,2.482887e+06
2,1094935408,BA,5,Centro,A45,No creado,81,2023-10-01,2.873712e+06,2.482887e+06
3,1094935408,BA,5,Centro,A45,No creado,81,2023-11-01,2.873712e+06,2.207011e+06
4,1094935408,HC,5,Centro,610,DISTRIBUIDOR,01,2023-09-01,6.985879e+05,5.437343e+05
...,...,...,...,...,...,...,...,...,...,...
14160,9990022,BA,22,Norte,A35,OPL,87,2023-11-01,2.222956e+07,1.011985e+07
14161,9990022,BA,22,Suroccidente,A35,Distribuidor,87,2023-10-01,1.388459e+07,1.824641e+07
14162,9990022,BA,22,Suroccidente,A35,Distribuidor,87,2023-11-01,2.805642e+07,1.277249e+07
14163,9990022,BA,22,Suroccidente,A35,OPL,87,2023-10-01,3.593424e+06,4.722291e+06
14164,9990022,BA,22,Suroccidente,A35,OPL,87,2023-11-01,7.261186e+06,3.305604e+06

### Se validan los dataframes de entrada

In [6]:
_dataframes_entrada = [
    {
        'df': df_empleados,
        'name': 'Empleados.xlsx'
    },
    {
        'df': df_clusters_empleado,
        'name': 'ClustersEmpleados.xlsx'
    },
    {
        'df': df_zonas_empleado,
        'name': 'ZonasEmpleados.xlsx'
    },
    {
        'df': df_zonas_clusters_empleado,
        'name': 'ZonasClustersEmpleados.xlsx'
    },
    {
        'df': df_salarios_variables,
        'name': 'SalariosVariables.xlsx'
    },
    {
        'df': df_parrillas,
        'name': 'Parrillas.xlsx'
    },
    {
        'df': df_venta_recaudo_real,
        'name': 'VentaRecaudoReal.xlsx'
    },
    {
        'df': df_venta_recaudo_presupuesto,
        'name': 'VentaRecaudoPresupuesto.xlsx'
    },
    {
        'df': df_venta_por_zona,
        'name': 'VentaPorZona.xlsx'
    },
    {
        'df': df_recaudo_por_zona,
        'name': 'RecaudoPorZona.xlsx'
    },
    {
        'df': df_rentabilidad,
        'name': 'Rentabilidad.xlsx'
    },
    {
        'df': df_venta_otras_companias,
        'name': 'VentaOtrasCompanias.xlsx'
    },
    {
        'df': df_recaudo_otras_companias,
        'name': 'RecaudoOtrasCompanias.xlsx'
    },
    {
        'df': df_venta_recaudo_kams,
        'name': 'VentaRecaudoKAMS.xlsx'
    },
    {
        'df': df_rentabilidad_kam,
        'name': 'RentabilidadKAM.xlsx'
    },
    {
        'df': df_objetivos_cualitativos,
        'name': 'ObjetivosCualitativos.xlsx',
    },
    {
        'df': df_venta_servicios_mtto,
        'name': 'VentaServiciosMtto.xlsx',
    },
    {
        'df': df_incentivos_por_empleado,
        'name': 'IncentivosPorEmpleado.xlsx'
    },
    {
        'df': df_area_calculo_sba,
        'name': 'AreaCalculoSBA.xlsx'
    },
    {
        'df': df_factores_liquidacion,
        'name': 'FactoresLiquidacion.xlsx'
    },
    {
        'df': df_cluster_plan_real_recaudo,
        'name': 'ClusterPlanRealRecaudo.xlsx'
    },
    {
        'df': df_zona_plan_real_venta_ch,
        'name': 'ZonaPlanRealVentaCH.xlsx'
    },
    {
        'df': df_rentabilidad_zona,
        'name': 'RentabilidadZona.xlsx'
    },
    {
        'df': df_resultados_variables_cualitativas,
        'name': 'ResultadosVariablesCualitativas.xlsx'
    },
#     {
#         'df': df_gd_canales,
#         'name': 'ResultadosGDCanales.xlsx'
#     },
#     {
#         'df': df_renal_ambulatorio,
#         'name': 'ResultadosVCRenalAmbulatorio.xlsx'
#     },
]
for df in _dataframes_entrada:
    print(f'*** {df["name"]} ***')
    print(' - Head:')
    print(df['df'].head())
    print('')

*** Empleados.xlsx ***
 - Head:
  TipoEmpleado CodigoEmpleado Identificacion            CorreoElectronico  \
0           VC        5004523       36952327    sobeyda.acosta@bbraun.com
1           MK     1030591908     1030591908                          NaN
2           GU       53069050       53069050   sylvia.altahona@bbraun.com
3           VE        5004589       43876232  catalina.alvarez@bbraun.com
4           VE        5004287     1073600365     diana.alvarez@bbraun.com

                Nombre         Apellidos  SalarioVariable FechaIngreso  \
0  SOBEYDA DEL SOCORRO   ACOSTA PORTILLO        2500000.0   2023-10-01
1        CARLOS ANDRES     ALARCON LOPEZ         500000.0   2023-07-01
2      SYLVIA CRISTINA  ALTAHONA BARRERA        3000000.0   2021-03-01
3       CATALINA MARIA   ALVAREZ CAICEDO        2200000.0   2018-11-01
4        DIANA MARCELA   ALVAREZ SALCEDO        2000000.0   2013-05-17

   FechaRetiro  AreaCalculo
0          NaN            3
1          NaN           13
2          NaN            7
3          NaN            7
4          NaN            4

*** ClustersEmpleados.xlsx ***
 - Head:
  Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
0       6        5004523           VC            3
1      15        5004589           VE            7
2      16        5004589           VE            7
3      17        5004589           VE            7
4      18        5004589           VE            7

*** ZonasEmpleados.xlsx ***
 - Head:
     Zona CodigoEmpleado TipoEmpleado  AreaCalculo
0  Centro        5004523           VC            3
1   Norte        5004589           VE            7
2  Centro        5004287           VE            4
3  Centro        5002697           VE            5
4  Centro        5016692           GD            2

*** ZonasClustersEmpleados.xlsx ***
 - Head:
  TipoEmpleado CodigoEmpleado  AreaCalculo    Zona Cluster
0           VE        5004287            4  Centro       0
1           VE        5004287            4  Centro      20
2           VE        5004287            4  Centro      21
3           VE        5004287            4  Centro       1
4           VE        5004287            4  Centro       2

*** SalariosVariables.xlsx ***
 - Head:
  CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
0        5004523 2023-10-01        2500000.0                2500000.0
1        5004523 2023-11-01        2500000.0                2500000.0
2     1030591908 2023-07-01         500000.0                 500000.0
3     1030591908 2023-08-01         500000.0                 500000.0
4     1030591908 2023-09-01         500000.0                 500000.0

*** Parrillas.xlsx ***
 - Head:
  CodigoEmpleado                          Variable   Contexto  Porcentaje  \
0        5004523            VentaFacturadaZonaPais    5004523        0.10
1        5004523   VentaFacturadaPortafolioCluster    5004523        0.30
2        5004523  VentaCobradaPortafolioClusterSub  5004523_1        0.08
3        5004523  VentaCobradaPortafolioClusterSub  5004523_2        0.08
4        5004523  VentaCobradaPortafolioClusterSub  5004523_3        0.08

   Consecutivo                                    Nombre variable  \
0            0                             VentaFacturadaZonaPais
1            0  Venta Facturada portafolio asignado en su cluster
2            1  Venta cobrada total en el portafolio asignado ...
3            2  Venta cobrada total en el portafolio asignado ...
4            3  Venta cobrada total en el portafolio asignado ...

                          Nombre consecutivo
0                                        NaN
1                                        NaN
2            Surgery & Interventions (Neuro)
3            Surgery & Interventions (Ortho)
4  Surgery & Interventions (Surgical Assets)

*** VentaRecaudoReal.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica         Canal GrupoProducto  \
0     1094935408       HC       5         Centro  DISTRIBUIDOR           610
1     1094935408       HC       5         Centro  DISTRIBUIDOR           610
2     1094935408       HC       5         Centro  DISTRIBUIDOR           610
3     1094935408       HC       5         Centro  DISTRIBUIDOR           610
4     1094935408       HC       5         Centro  DISTRIBUIDOR           620

  SBA      Fecha       Venta     Recaudo
0  01 2023-09-01    617868.0   2204812.0
1  01 2023-11-01   4491776.0    847779.2
2  02 2023-09-01    166887.0    477283.0
3  02 2023-11-01   2713839.2   2102342.0
4  13 2023-09-01  32873536.5  29443476.5

*** VentaRecaudoPresupuesto.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica GrupoProducto         Canal  \
0     1094935408       BA       5         Centro           A45     No creado
1     1094935408       BA       5         Centro           A45     No creado
2     1094935408       BA       5         Centro           A45     No creado
3     1094935408       BA       5         Centro           A45     No creado
4     1094935408       HC       5         Centro           610  DISTRIBUIDOR

  SBA      Fecha         Venta       Recaudo
0  81 2023-08-01  2.873712e+06  2.207011e+06
1  81 2023-09-01  2.873712e+06  2.482887e+06
2  81 2023-10-01  2.873712e+06  2.482887e+06
3  81 2023-11-01  2.873712e+06  2.207011e+06
4  01 2023-09-01  6.985879e+05  5.437343e+05

*** VentaPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** RecaudoPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** Rentabilidad.xlsx ***
 - Head:
  Compania GrupoProducto SBA ClaseRentabilidad      Fecha          Real  \
0    BBMCO           001  30              CMII 2023-03-01  5.733133e+08
1    BBMCO           001  30              CMII 2023-04-01  1.141104e+09
2    BBMCO           001  30              CMII 2023-05-01  1.374842e+09
3    BBMCO           001  30              CMII 2023-06-01  1.614389e+09
4    BBMCO           001  30              CMII 2023-07-01  1.904346e+09

    Presupuesto
0  6.637632e+08
1  9.292685e+08
2  1.194774e+09
3  1.460279e+09
4  2.674463e+09

*** VentaOtrasCompanias.xlsx ***
 - Head:
Empty DataFrame
Columns: [Compania, Fecha, Real, Presupuesto]
Index: []

*** RecaudoOtrasCompanias.xlsx ***
 - Head:
  Compania      Fecha          Real   Presupuesto
0    BBACO 2023-03-01  0.000000e+00  0.000000e+00
1    BBACO 2023-04-01  0.000000e+00  0.000000e+00
2    BBMCO 2023-03-01  3.992673e+10  4.648396e+10
3    BBMCO 2023-04-01  5.525573e+10  6.067049e+10
4    BBMCO 2023-05-01  7.298270e+10  7.454188e+10

*** VentaRecaudoKAMS.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo      Fecha  VentaReal  \
0          KAM            1            1 2023-04-01        0.0
1          KAM            1            1 2023-05-01        0.0
2          KAM            1            1 2023-06-01        0.0
3          KAM            1            1 2023-07-01        0.0
4          KAM            1            1 2023-08-01        0.0

   VentaPresupuesto  RecaudoReal  RecaudoPresupuesto
0               0.0          0.0                 0.0
1               0.0          0.0                 0.0
2               0.0          0.0                 0.0
3               0.0          0.0                 0.0
4               0.0          0.0                 0.0

*** RentabilidadKAM.xlsx ***
 - Head:
  Division      Fecha          Real   Presupuesto
0    BBMCO 2023-03-01  4.685733e+09  3.741742e+09
1    BBMCO 2023-04-01  1.001818e+09  1.371244e+09
2    BBMCO 2023-05-01  1.709344e+09  1.499185e+09
3    BBMCO 2023-06-01  1.755026e+09  1.475316e+09
4    BBMCO 2023-07-01  1.059752e+09  1.564893e+09

*** ObjetivosCualitativos.xlsx ***
 - Head:
Empty DataFrame
Columns: [Fecha, CodigoEmpleado, PorcentajeCumplimiento]
Index: []

*** VentaServiciosMtto.xlsx ***
 - Head:
Empty DataFrame
Columns: [Fecha, Real, Presupuesto]
Index: []

*** IncentivosPorEmpleado.xlsx ***
 - Head:
  CodigoEmpleado      Fecha      Valor
0     1000972927 2023-07-01  333600.00
1     1000972927 2023-08-01  508087.50
2     1000972927 2023-09-01  511968.75
3     1000972927 2023-10-01  362793.75
4     1000972927 2023-11-01       0.00

*** AreaCalculoSBA.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto    SBA
0           AD            1            1    BBMCO           NaN    NaN
1           AD            1            1       HC           NaN    NaN
2           AD            1            2       AE           NaN    NaN
3           AD            1            2    BBSCO         BBSCO  BBSCO
4           AD            1            2       OK           NaN    NaN

*** FactoresLiquidacion.xlsx ***
 - Head:
  TipoEmpleado  PorcentajeCumplimiento  FactorIncentivo
0           AD                    0.89             0.00
1           AD                    0.90             0.50
2           AD                    0.91             0.53
3           AD                    0.92             0.55
4           AD                    0.93             0.58

*** ClusterPlanRealRecaudo.xlsx ***
 - Head:
  Cluster      Fecha         Real   Presupuesto
0       0 2023-01-01  322176439.0  3.466814e+08
1       0 2023-02-01  242055516.0  3.645657e+08
2       0 2023-03-01  393631023.0  3.590231e+08
3       0 2023-04-01  390524759.1  3.221738e+08
4       0 2023-05-01  400812766.9  3.171875e+08

*** ZonaPlanRealVentaCH.xlsx ***
 - Head:
           Zona      Fecha          Real   Presupuesto
0        Centro 2023-01-01  9.662169e+09  9.707739e+09
1         Norte 2023-01-01  9.662169e+09  9.707739e+09
2         Norte 2023-02-01  2.659550e+10  2.435526e+10
3         Norte 2023-03-01  1.751581e+10  1.509334e+10
4  Suroccidente 2023-01-01  9.662169e+09  9.707739e+09

*** RentabilidadZona.xlsx ***
 - Head:
     Zona      Fecha          Real   Presupuesto
0  Centro 2023-03-01  5.655265e+09  5.488745e+09
1  Centro 2023-04-01  7.878331e+09  7.443486e+09
2  Centro 2023-05-01  1.055209e+10  9.698511e+09
3  Centro 2023-06-01  1.316727e+10  1.191287e+10
4  Centro 2023-07-01  1.516507e+10  1.422059e+10

*** ResultadosVariablesCualitativas.xlsx ***
 - Head:
       Variable CodigoEmpleado TipoEmpleado  AreaCalculo  Consecutivo  \
0  KpisSurgical       51790647           AD            1            1
1  KpisSurgical       51790647           AD            1            2
2  KpisSurgical       51790647           AD            1            3
3  KpisSurgical       79641686           AD            2            1
4  KpisSurgical       51789567           AD            2            1

   PorcentajeCumplimiento      Fecha
0                    0.94 2023-03-01
1                    1.13 2023-03-01
2                    1.09 2023-03-01
3                    0.94 2023-03-01
4                    0.94 2023-03-01

### Funciones útiles

In [7]:
def sobreescribir_resultados_cualitativos(main, variable, columnas_extra, columnas_extra_merge, pre_merge_lambda=None):
    print(columnas_extra, columnas_extra_merge)
    resultados_cualitativos_variable = df_resultados_variables_cualitativas[columnas_extra + ['Variable', 'Fecha', 'PorcentajeCumplimiento']]
    resultados_cualitativos_variable = resultados_cualitativos_variable[resultados_cualitativos_variable['Variable'] == variable]
    if pre_merge_lambda:
        resultados_cualitativos_variable = pre_merge_lambda(resultados_cualitativos_variable)
    main_df = pd.merge(
        left=main,
        right=resultados_cualitativos_variable.rename(columns={'PorcentajeCumplimiento': 'PorcentajeCumplimientoPrecargado'}),
        on=columnas_extra_merge+['Fecha', 'Variable'],
        how='outer'
    )
    main_df['Real'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Real'],
        np.nan
    )
    main_df['Presupuesto'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Presupuesto'],
        np.nan
    )
    main_df['PorcentajeCumplimiento'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['PorcentajeCumplimiento'],
        main_df['PorcentajeCumplimientoPrecargado']
    )
    main_df.drop(columns=['PorcentajeCumplimientoPrecargado'], inplace=True)

    return main_df

In [8]:
def f_calculo_centro_costo_variable(main , variable):
    if 'CodigoCentroCosto' not in main.columns:
        main = main.merge(
            df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
            on=['Division', 'GrupoProducto'],
            how='left'
        )
    main['Consecutivo'] = main['Consecutivo'].astype(str)
    main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')
    main['Contexto'] = main['CodigoEmpleado'] + '_' + main['Consecutivo']
    main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
    main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
    #     main['RealTotal'] = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real']].transform(pd.Series.sum)
    #     main['Porcentaje Aplicado'] = main['Real'] / main['RealTotal']
    main['Variable'] = variable
    return main

In [9]:
def f_calculo_centro_costo_variable_tipo_empleado(main, variable, tipo_empleado):
#     df_area_calculo_sba_centros_costos_tipo_empleado = (
#         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
#     )    
    
    main = main.merge(
        df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
        on=['Division', 'GrupoProducto'],
        how='left'
    )
    main['AreaCalculo'] = main['AreaCalculo'].astype(str)
    main['Consecutivo'] = main['Consecutivo'].astype(str)
    main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
    main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
#     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['Presupuesto'].transform(pd.Series.sum)
    
    main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
    main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
    main['Variable'] = variable
    return main

In [10]:
def validar_calculo_centro_costo(main, contexto, fecha):
    
    real = main[
        (main['Contexto'] == contexto) &
        (main['Fecha'] == fecha)
    ]['Real'].sum()
    
    presupuesto = main[
        (main['Contexto'] == contexto) &
        (main['Fecha'] == fecha)
    ]['Presupuesto'].sum()
    
    return real, presupuesto

In [11]:
def validar_calculo_centro_costo_division_sub(main, contexto, fecha):
    
    real = main[
        (main['Contexto'] == contexto) &
        (main['Fecha'] == fecha)
    ].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Real'].transform(pd.Series.cumsum)
    
    presupuesto = main[
        (main['Contexto'] == contexto) &
        (main['Fecha'] == fecha)
    ].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Presupuesto'].transform(pd.Series.cumsum)
    
    return real, presupuesto

In [12]:
# def f_calculo_centro_costo_variable_tipo_empleado(main, variable, tipo_empleado):
#     df_area_calculo_sba_centros_costos_tipo_empleado = (
#         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
#     )    
    
#     main = main.merge(
#         df_area_calculo_sba_centros_costos_tipo_empleado.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
#         on=['AreaCalculo','Division', 'Consecutivo', 'GrupoProducto'],
#         how='left'validar_calculo_centro_costo(cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo, 'mk_1_1', '2023-01-01')
#     )
#     main['AreaCalculo'] = main['AreaCalculo'].astype(str)
#     main['Consecutivo'] = main['Consecutivo'].astype(str)
#     main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
#     main = main.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
# #     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
# #     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['Presupuesto'].transform(pd.Series.sum)
    
#     main['Real'] = main.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
#     main['Presupuesto'] = main.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
#     main['Variable'] = variable
#     return main

### Completamos el dataframe de SBAs y Áreas de cálculo

In [13]:
productos_venta = df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA']]
productos_presupuesto = df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA']]
productos = pd.concat([productos_venta, productos_presupuesto])
productos = productos.drop_duplicates()

##
_area_calculo_sba_notnull = df_area_calculo_sba[
    (df_area_calculo_sba['SBA'].notnull()) |
    (df_area_calculo_sba['SBA'] != '')
]
##
_area_calculo_sba_por_grupo = df_area_calculo_sba[
    (df_area_calculo_sba['GrupoProducto'].isnull()) |
    (df_area_calculo_sba['GrupoProducto'] == '')
]
_area_calculo_sba_por_grupo = pd.merge(
    left=_area_calculo_sba_por_grupo[['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Division']],
    right=productos,
    on='Division',
    how='left'
)
##
_area_calculo_sba_por_sba = df_area_calculo_sba[
    (
        (df_area_calculo_sba['SBA'].isnull()) |
        (df_area_calculo_sba['SBA'] == '')
    ) &
    (
        (df_area_calculo_sba['GrupoProducto'].notnull()) |
        (df_area_calculo_sba['GrupoProducto'] != '')
    )
]
_area_calculo_sba_por_sba = pd.merge(
    left=_area_calculo_sba_por_sba[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'Division']],
    right=productos[['GrupoProducto', 'SBA']],
    on='GrupoProducto',
    how='left'
)

area_calculo_sba_completo = pd.concat([
    _area_calculo_sba_notnull,
    _area_calculo_sba_por_grupo,
    _area_calculo_sba_por_sba
])
area_calculo_sba_completo = area_calculo_sba_completo[['AreaCalculo', 'Consecutivo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado']]
area_calculo_sba_completo.fillna('', inplace=True)
area_calculo_sba_completo.drop_duplicates(inplace=True, subset=area_calculo_sba_completo.columns)
area_calculo_sba_completo.head()

   AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0            1            1    BBMCO                                AD
1            1            1       HC                                AD
2            1            2       AE                                AD
3            1            2    BBSCO         BBSCO  BBSCO           AD
4            1            2       OK                                AD

In [14]:
area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
    (area_calculo_sba_completo['AreaCalculo'] == 3) &
    (area_calculo_sba_completo['Consecutivo'] == 5)
]

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
143            3            5                                      GD

# Se calculan los resultados para la maestra de resultados

## 1. Objetivos cualitativos (ObjetivosCualitativos)

In [15]:
cumplimiento_objetivos_cualitativos = pd.DataFrame()
cumplimiento_objetivos_cualitativos['CodigoEmpleado'] = df_empleados['CodigoEmpleado']
cumplimiento_objetivos_cualitativos['merge'] = 1
##
fechas = pd.DataFrame(df_venta_recaudo_real['Fecha'].drop_duplicates())
fechas['merge'] = 1
##
cumplimiento_objetivos_cualitativos = cumplimiento_objetivos_cualitativos.merge(
    fechas,
    on='merge',
    how='left'
)
cumplimiento_objetivos_cualitativos.drop(columns='merge', inplace=True)

cumplimiento_objetivos_cualitativos = pd.merge(
    left=cumplimiento_objetivos_cualitativos,
    right=df_objetivos_cualitativos,
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

cumplimiento_objetivos_cualitativos['Variable'] = 'ObjetivosCualitativos'
cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'].fillna(0.94, inplace=True)
cumplimiento_objetivos_cualitativos.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_objetivos_cualitativos.head()

  Contexto      Fecha  PorcentajeCumplimiento               Variable
0  5004523 2023-09-01                    0.94  ObjetivosCualitativos
1  5004523 2023-11-01                    0.94  ObjetivosCualitativos
2  5004523 2023-08-01                    0.94  ObjetivosCualitativos
3  5004523 2023-10-01                    0.94  ObjetivosCualitativos
4  5004523 2023-07-01                    0.94  ObjetivosCualitativos

In [16]:
cumplimiento_objetivos_cualitativos[
    cumplimiento_objetivos_cualitativos['Contexto'] == '5004293'
]

     Contexto      Fecha  PorcentajeCumplimiento               Variable
1419  5004293 2023-09-01                    0.94  ObjetivosCualitativos
1420  5004293 2023-11-01                    0.94  ObjetivosCualitativos
1421  5004293 2023-08-01                    0.94  ObjetivosCualitativos
1422  5004293 2023-10-01                    0.94  ObjetivosCualitativos
1423  5004293 2023-07-01                    0.94  ObjetivosCualitativos
1424  5004293 2023-01-01                    0.94  ObjetivosCualitativos
1425  5004293 2023-02-01                    0.94  ObjetivosCualitativos
1426  5004293 2023-03-01                    0.94  ObjetivosCualitativos
1427  5004293 2023-04-01                    0.94  ObjetivosCualitativos
1428  5004293 2023-05-01                    0.94  ObjetivosCualitativos
1429  5004293 2023-06-01                    0.94  ObjetivosCualitativos

## 2. Objetivos de recaudo por zona (VentaCobradaZonaBraunCrossDivisional)
### TODO: Ahora el empleado tiene varias zonas

In [17]:
cumplimiento_recaudo_por_zona = df_recaudo_por_zona.copy()

cumplimiento_recaudo_por_zona['Real'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_zona['Presupuesto'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)

cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['Real'] / cumplimiento_recaudo_por_zona['Presupuesto']
cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_zona['Variable'] = 'VentaCobradaZonaBraunCrossDivisional'
cumplimiento_recaudo_por_zona.rename(columns={'Zona': 'Contexto'}, inplace=True)

cumplimiento_recaudo_por_zona = cumplimiento_recaudo_por_zona[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_zona.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 3. Objetivos de venta individuales (VentaFacturadaZonaCargoIndividual y VentaFacturadaZonaCargoIndividualSub)

In [18]:
df_venta_recaudo_real

,CodigoEmpleado,Division,Cluster,ZonaGeografica,Canal,GrupoProducto,SBA,Fecha,Venta,Recaudo
0,1094935408,HC,5,Centro,DISTRIBUIDOR,610,01,2023-09-01,617868.0,2204812.0
1,1094935408,HC,5,Centro,DISTRIBUIDOR,610,01,2023-11-01,4491776.0,847779.2
2,1094935408,HC,5,Centro,DISTRIBUIDOR,610,02,2023-09-01,166887.0,477283.0
3,1094935408,HC,5,Centro,DISTRIBUIDOR,610,02,2023-11-01,2713839.2,2102342.0
4,1094935408,HC,5,Centro,DISTRIBUIDOR,620,13,2023-09-01,32873536.5,29443476.5
...,...,...,...,...,...,...,...,...,...,...
9799,9990022,BA,22,Norte,OPL,A35,87,2023-11-01,-259175212.7,-193276002.0
9800,9990022,BA,22,Suroccidente,DISTRIBUIDOR,A35,87,2023-11-01,0.0,1204200.0
9801,9990022,BA,22,Suroccidente,Distribuidor,A35,87,2023-10-01,2529000.0,9226800.0
9802,9990022,BA,22,Suroccidente,OPL,A35,87,2023-10-01,33457200.0,0.0
9803,9990022,BA,22,Suroccidente,OPL,A35,87,2023-11-01,-23870859.7,10575510.0

In [19]:
# venta real con información
venta_recaudo_real_info = df_venta_recaudo_real.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

# venta presupuesto con información
venta_recaudo_presupuesto_info = df_venta_recaudo_presupuesto.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

In [20]:
_excepciones_venta_facturada = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# venta real por empleado por area de calculo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9


venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])
venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo',
                                                                           'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Venta']
venta_recaudo_real_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# venta presupuesto por empleado por area de calculo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Venta']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})


## VentaFacturadaZonaCargoIndividual
cumplimiento_venta_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual['Presupuesto'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Presupuesto'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['Real'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['Real'] / cumplimiento_venta_individual['Presupuesto']
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_venta_individual['Variable'] = 'VentaFacturadaZonaCargoIndividual'
cumplimiento_venta_individual = cumplimiento_venta_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual.head()

## VentaFacturadaZonaCargoIndividualSub
cumplimiento_venta_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

cumplimiento_venta_individual_sub['Presupuesto'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['Real'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['Real'] / cumplimiento_venta_individual_sub['Presupuesto']
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Consecutivo'] = cumplimiento_venta_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_venta_individual_sub['Contexto'] = cumplimiento_venta_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_venta_individual_sub['Consecutivo'],sep="_")
cumplimiento_venta_individual_sub['Variable'] = 'VentaFacturadaZonaCargoIndividualSub'

cumplimiento_venta_individual_sub = cumplimiento_venta_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408_1,VentaFacturadaZonaCargoIndividualSub,2023-08-01,6.606275e+07,5.796987e+07,1.14
1,1094935408_1,VentaFacturadaZonaCargoIndividualSub,2023-09-01,1.061535e+08,9.891464e+07,1.07
2,1094935408_1,VentaFacturadaZonaCargoIndividualSub,2023-10-01,1.606140e+08,1.543169e+08,1.04
3,1094935408_1,VentaFacturadaZonaCargoIndividualSub,2023-11-01,2.207641e+08,2.246658e+08,0.98
4,1094935408_2,VentaFacturadaZonaCargoIndividualSub,2023-08-01,3.031708e+08,2.732235e+08,1.11

## 4. Objetivos de recaudo individuales (VentasCobradaZonaCargoIndividual y VentasCobradaZonaCargoIndividualSub)

In [21]:
_excepciones_venta_recaudo = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# recaudo real por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])

venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Recaudo']
venta_recaudo_real_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# recaudo presupuesto por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])

venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Recaudo']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})

## VentasCobradaZonaCargoIndividual
cumplimiento_recaudo_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual['Presupuesto'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['Real'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['Real'] / cumplimiento_recaudo_individual['Presupuesto']
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_recaudo_individual['Variable'] = 'VentasCobradaZonaCargoIndividual'
cumplimiento_recaudo_individual = cumplimiento_recaudo_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual.head()


## VentasCobradaZonaCargoIndividualSub
cumplimiento_recaudo_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

_excepciones_recaudo_sub = []

for excepcion in _excepciones_recaudo_sub:
    cumplimiento_recaudo_individual_sub['Presupuesto'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorPresupuesto'],
        cumplimiento_recaudo_individual_sub['Presupuesto']
    )
    cumplimiento_recaudo_individual_sub['Real'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorReal'],
        cumplimiento_recaudo_individual_sub['Real']
    )


cumplimiento_recaudo_individual_sub['Presupuesto'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['Real'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['Real'] / cumplimiento_recaudo_individual_sub['Presupuesto']
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Consecutivo'] = cumplimiento_recaudo_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_recaudo_individual_sub['Contexto'] = cumplimiento_recaudo_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_recaudo_individual_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_individual_sub['Variable'] = 'VentasCobradaZonaCargoIndividualSub'
cumplimiento_recaudo_individual_sub = cumplimiento_recaudo_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408_1,VentasCobradaZonaCargoIndividualSub,2023-08-01,2.328134e+07,4.614871e+07,0.50
1,1094935408_1,VentasCobradaZonaCargoIndividualSub,2023-09-01,8.967384e+07,9.537401e+07,0.94
2,1094935408_1,VentasCobradaZonaCargoIndividualSub,2023-10-01,1.286091e+08,1.507525e+08,0.85
3,1094935408_1,VentasCobradaZonaCargoIndividualSub,2023-11-01,1.997119e+08,1.969012e+08,1.01
4,1094935408_2,VentasCobradaZonaCargoIndividualSub,2023-08-01,3.839254e+08,3.278682e+08,1.17

## 5. Objetivos de venta por área de cálculo (VentaFacturadaPorAreaCalculo y VentaFacturadaPorAreaCalculoSub)

In [22]:
area_calculo_sba_completo_ve7 = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'VE')&
    (area_calculo_sba_completo['AreaCalculo'] == 7)
][['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'GrupoProducto', 'SBA']]

In [23]:
resultados_venta_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_real_sub = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_real = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})


resultados_venta_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_presupuesto_sub = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_presupuesto = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})

## VentaFacturadaPorAreaCalculo
cumplimiento_venta_por_area_calculo = pd.merge(
    left=resultados_venta_area_calculo_presupuesto.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_venta_por_area_calculo['Variable'] = 'VentaFacturadaPorAreaCalculo'
cumplimiento_venta_por_area_calculo['Contexto'] = cumplimiento_venta_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo['Real'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['Presupuesto'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_venta_por_area_calculo = cumplimiento_venta_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo.head()

## VentaFacturadaPorAreaCalculoSub
cumplimiento_venta_por_area_calculo_sub = pd.merge(
    left=resultados_venta_area_calculo_presupuesto_sub.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real_sub.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)


cumplimiento_venta_por_area_calculo_sub['Variable'] = 'VentaFacturadaPorAreaCalculoSub'
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_venta_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_venta_por_area_calculo_sub['Real'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['Presupuesto'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo_sub['Real'] / cumplimiento_venta_por_area_calculo_sub['Presupuesto']

cumplimiento_venta_por_area_calculo_sub = cumplimiento_venta_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-01-01,561120.0,2.265190e+07,0.024771
1,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-02-01,561120.0,4.218192e+07,0.013302
2,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-03-01,-165720.0,7.479677e+07,-0.002216
3,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-04-01,-165720.0,9.877219e+07,-0.001678
4,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-05-01,-165720.0,1.241436e+08,-0.001335

## 6. Objetivos de recaudo por área de cálculo (VentasCobradaPorAreaCalculo y VentasCobradaPorAreaCalculoSub)

In [24]:
resultados_recaudo_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_real_sub = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_real = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})


resultados_recaudo_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_presupuesto_sub = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_presupuesto = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})

## VentasCobradaPorAreaCalculo
cumplimiento_recaudo_por_area_calculo = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo['Variable'] = 'VentasCobradaPorAreaCalculo'
cumplimiento_recaudo_por_area_calculo['Contexto'] = cumplimiento_recaudo_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo['Real'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['Presupuesto'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_recaudo_por_area_calculo = cumplimiento_recaudo_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

## VentasCobradaPorAreaCalculoSub
cumplimiento_recaudo_por_area_calculo_sub = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto_sub.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real_sub.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo_sub['Variable'] = 'VentasCobradaPorAreaCalculoSub'
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_recaudo_por_area_calculo_sub['Real'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['Presupuesto'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo_sub['Real'] / cumplimiento_recaudo_por_area_calculo_sub['Presupuesto']

cumplimiento_recaudo_por_area_calculo_sub = cumplimiento_recaudo_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_recaudo_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-01-01,9943200.0,2.870494e+07,0.346393
1,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-02-01,7799803.0,5.581516e+07,0.139743
2,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-03-01,7799803.0,8.452010e+07,0.092283
3,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-04-01,8080363.0,1.100356e+08,0.073434
4,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-05-01,8080363.0,1.355511e+08,0.059611

## 7. Objetivos de recaudo a nivel país (VentaCobradaBraunPais)

In [25]:
# recaudo real pais
venta_recaudo_real_pais = df_venta_recaudo_real.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_pais['Real'] = venta_recaudo_real_pais['Recaudo']
venta_recaudo_real_pais.drop(columns=['Recaudo'], inplace=True)

# recaudo presupuesto pais
venta_recaudo_presupuesto_pais = df_venta_recaudo_presupuesto.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_pais['Presupuesto'] = venta_recaudo_presupuesto_pais['Recaudo']
venta_recaudo_presupuesto_pais.drop(columns=['Recaudo'], inplace=True)

##
cumplimiento_recaudo_nivel_pais = pd.merge(
    left=venta_recaudo_presupuesto_pais,
    right=venta_recaudo_real_pais,
    on=['Fecha'],
    how='left'
)
cumplimiento_recaudo_nivel_pais['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_nivel_pais['Real'] = cumplimiento_recaudo_nivel_pais['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['Presupuesto'] = cumplimiento_recaudo_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['Real'] / cumplimiento_recaudo_nivel_pais['Presupuesto']
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_nivel_pais['Contexto'] = 'Pais'
cumplimiento_recaudo_nivel_pais['Variable'] = 'VentaCobradaBraunPais'
cumplimiento_recaudo_nivel_pais = cumplimiento_recaudo_nivel_pais[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_nivel_pais.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2023-01-01,1.356524e+10,1.496945e+10,0.91
1,Pais,VentaCobradaBraunPais,2023-02-01,2.665112e+10,3.087311e+10,0.86
2,Pais,VentaCobradaBraunPais,2023-03-01,3.992673e+10,4.648396e+10,0.86
3,Pais,VentaCobradaBraunPais,2023-04-01,5.525573e+10,6.067049e+10,0.91
4,Pais,VentaCobradaBraunPais,2023-05-01,7.298270e+10,7.454188e+10,0.98

## 8. Objetivos de recaudo por unidad de negocio (VentaCobradaUnidadNegocio y VentaCobradaUnidadNegocioSub)

### 8.1. Para GU (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [26]:
area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GU']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_real = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_presupuesto = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

##### VentaFacturadaUnidadNegocio

In [27]:
venta_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu['Real'] = venta_real_area_calculo_gu['Venta']
venta_real_area_calculo_gu.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu['Presupuesto'] = venta_presupuesto_area_calculo_gu['Venta']
venta_presupuesto_area_calculo_gu.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu = pd.merge(
    left=venta_presupuesto_area_calculo_gu,
    right=venta_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu['Real'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['Real'] / cumplimiento_venta_por_unidad_negocio_gu['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_gu['Variable'] = 'VentaFacturadaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_gu = cumplimiento_venta_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,VentaFacturadaUnidadNegocio,2023-01-01,6.098946e+08,5.390604e+08,1.13
1,gu_1,VentaFacturadaUnidadNegocio,2023-02-01,1.655549e+09,1.101995e+09,1.50
2,gu_1,VentaFacturadaUnidadNegocio,2023-03-01,3.292849e+09,2.083446e+09,1.58
3,gu_1,VentaFacturadaUnidadNegocio,2023-04-01,4.570788e+09,2.779014e+09,1.64
4,gu_1,VentaFacturadaUnidadNegocio,2023-05-01,6.028747e+09,3.659914e+09,1.65

##### VentaFacturadaUnidadNegocioSub

In [28]:
venta_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu_sub['Real'] = venta_real_area_calculo_gu_sub['Venta']
venta_real_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu_sub['Presupuesto'] = venta_presupuesto_area_calculo_gu_sub['Venta']
venta_presupuesto_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu_sub = pd.merge(
    left=venta_presupuesto_area_calculo_gu_sub,
    right=venta_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu_sub

,AreaCalculo,Consecutivo,Fecha,Division,GrupoProducto,Presupuesto,Real
0,1,1,2023-01-01,AE,M07,2.861669e+08,2.731315e+08
1,1,1,2023-02-01,AE,M07,2.984616e+08,5.840780e+08
2,1,1,2023-03-01,AE,M07,5.222239e+08,9.150770e+08
3,1,1,2023-04-01,AE,M07,3.684425e+08,6.529023e+08
4,1,1,2023-05-01,AE,M07,4.677608e+08,7.623301e+08
...,...,...,...,...,...,...,...
259,10,2,2023-07-01,AE,M06,1.132377e+08,1.432323e+08
260,10,2,2023-08-01,AE,M06,1.132377e+08,2.220497e+08
261,10,2,2023-09-01,AE,M06,1.132377e+08,1.640992e+08
262,10,2,2023-10-01,AE,M06,1.455913e+08,1.811393e+08
263,10,2,2023-11-01,AE,M06,2.232401e+08,2.152496e+08

In [29]:
cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo = (
    f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_venta_por_unidad_negocio_gu_sub, 'VentaFacturadaUnidadNegocioSub', 'GU')
)
cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo.head(20)

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,gu_10_1,2023-01-01,805,AE,323007290,6.121487e+07,1.160704e+08,VentaFacturadaUnidadNegocioSub
1,gu_10_1,2023-02-01,805,AE,323007290,5.291913e+08,3.191936e+08,VentaFacturadaUnidadNegocioSub
2,gu_10_1,2023-03-01,805,AE,323007290,7.811084e+08,5.803520e+08,VentaFacturadaUnidadNegocioSub
3,gu_10_1,2023-04-01,805,AE,323007290,1.047979e+09,8.124928e+08,VentaFacturadaUnidadNegocioSub
4,gu_10_1,2023-05-01,805,AE,323007290,1.245786e+09,1.044634e+09,VentaFacturadaUnidadNegocioSub
5,gu_10_1,2023-06-01,805,AE,323007290,1.433220e+09,1.276774e+09,VentaFacturadaUnidadNegocioSub
6,gu_10_1,2023-07-01,805,AE,323007290,1.704681e+09,1.891028e+09,VentaFacturadaUnidadNegocioSub
7,gu_10_1,2023-08-01,805,AE,323007290,1.963934e+09,2.145292e+09,VentaFacturadaUnidadNegocioSub
8,gu_10_1,2023-09-01,805,AE,323007290,2.152065e+09,2.344967e+09,VentaFacturadaUnidadNegocioSub
9,gu_10_1,2023-10-01,805,AE,323007290,2.481963e+09,2.693178e+09,VentaFacturadaUnidadNegocioSub
10,gu_10_1,2023-11-01,805,AE,323007290,3.040775e+09,2.954337e+09,VentaFacturadaUnidadNegocioSub
11,gu_10_2,2023-01-01,M06,AE,323007290,8.927899e+07,4.367740e+07,VentaFacturadaUnidadNegocioSub
12,gu_10_2,2023-02-01,M06,AE,323007290,1.850931e+08,1.569151e+08,VentaFacturadaUnidadNegocioSub
13,gu_10_2,2023-03-01,M06,AE,323007290,3.749990e+08,3.186833e+08,VentaFacturadaUnidadNegocioSub
14,gu_10_2,2023-04-01,M06,AE,323007290,5.246196e+08,5.128050e+08,VentaFacturadaUnidadNegocioSub
15,gu_10_2,2023-05-01,M06,AE,323007290,7.553581e+08,6.179543e+08,VentaFacturadaUnidadNegocioSub
16,gu_10_2,2023-06-01,M06,AE,323007290,9.292940e+08,7.958993e+08,VentaFacturadaUnidadNegocioSub
17,gu_10_2,2023-07-01,M06,AE,323007290,1.072526e+09,9.091370e+08,VentaFacturadaUnidadNegocioSub
18,gu_10_2,2023-08-01,M06,AE,323007290,1.294576e+09,1.022375e+09,VentaFacturadaUnidadNegocioSub
19,gu_10_2,2023-09-01,M06,AE,323007290,1.458675e+09,1.135612e+09,VentaFacturadaUnidadNegocioSub

In [30]:
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] / cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_por_unidad_negocio_gu_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_gu_sub = cumplimiento_venta_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-01-01,2.731315e+08,2.861669e+08,0.95
1,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-02-01,8.572095e+08,5.846285e+08,1.47
2,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-03-01,1.772286e+09,1.106852e+09,1.60
3,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-04-01,2.425189e+09,1.475295e+09,1.64
4,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-05-01,3.187519e+09,1.943056e+09,1.64

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

##### VentaCobradaUnidadNegocio

In [31]:
recaudo_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu['Real'] = recaudo_real_area_calculo_gu['Recaudo']
recaudo_real_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu['Presupuesto'] = recaudo_presupuesto_area_calculo_gu['Recaudo']
recaudo_presupuesto_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu,
    right=recaudo_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu['Variable'] = 'VentaCobradaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_gu = cumplimiento_recaudo_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,VentaCobradaUnidadNegocio,2023-01-01,7.209191e+08,7.071964e+08,1.02
1,gu_1,VentaCobradaUnidadNegocio,2023-02-01,1.620202e+09,1.650125e+09,0.98
2,gu_1,VentaCobradaUnidadNegocio,2023-03-01,2.297356e+09,2.498761e+09,0.92
3,gu_1,VentaCobradaUnidadNegocio,2023-04-01,3.324012e+09,3.347396e+09,0.99
4,gu_1,VentaCobradaUnidadNegocio,2023-05-01,4.531091e+09,4.101739e+09,1.10

##### VentaCobradaUnidadNegocioSub

In [32]:
recaudo_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu_sub['Real'] = recaudo_real_area_calculo_gu_sub['Recaudo']
recaudo_real_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_gu_sub['Recaudo']
recaudo_presupuesto_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu_sub,
    right=recaudo_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu_sub

,AreaCalculo,Consecutivo,Fecha,Division,GrupoProducto,Presupuesto,Real
0,1,1,2023-01-01,AE,M07,3.751049e+08,3.546930e+08
1,1,1,2023-02-01,AE,M07,5.001398e+08,5.549727e+08
2,1,1,2023-03-01,AE,M07,4.501258e+08,3.037907e+08
3,1,1,2023-04-01,AE,M07,4.501258e+08,6.205272e+08
4,1,1,2023-05-01,AE,M07,4.001119e+08,6.057234e+08
...,...,...,...,...,...,...,...
259,10,2,2023-07-01,AE,M06,1.397677e+08,1.851629e+08
260,10,2,2023-08-01,AE,M06,1.320028e+08,1.131460e+08
261,10,2,2023-09-01,AE,M06,1.242379e+08,1.854329e+08
262,10,2,2023-10-01,AE,M06,1.242379e+08,2.133799e+08
263,10,2,2023-11-01,AE,M06,1.242379e+08,1.684103e+08

In [33]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo = (
    f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_recaudo_por_unidad_negocio_gu_sub, 'VentaCobradaUnidadNegocioSub', 'GU')
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo.head(20)

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,gu_10_1,2023-01-01,805,AE,323007290,2.494700e+08,2.089267e+08,VentaCobradaUnidadNegocioSub
1,gu_10_1,2023-02-01,805,AE,323007290,3.702046e+08,4.874957e+08,VentaCobradaUnidadNegocioSub
2,gu_10_1,2023-03-01,805,AE,323007290,5.122511e+08,7.382077e+08,VentaCobradaUnidadNegocioSub
3,gu_10_1,2023-04-01,805,AE,323007290,1.055279e+09,9.889198e+08,VentaCobradaUnidadNegocioSub
4,gu_10_1,2023-05-01,805,AE,323007290,1.352648e+09,1.211775e+09,VentaCobradaUnidadNegocioSub
5,gu_10_1,2023-06-01,805,AE,323007290,1.509881e+09,1.406773e+09,VentaCobradaUnidadNegocioSub
6,gu_10_1,2023-07-01,805,AE,323007290,1.771555e+09,1.657485e+09,VentaCobradaUnidadNegocioSub
7,gu_10_1,2023-08-01,805,AE,323007290,1.908024e+09,2.066099e+09,VentaCobradaUnidadNegocioSub
8,gu_10_1,2023-09-01,805,AE,323007290,2.005915e+09,2.338049e+09,VentaCobradaUnidadNegocioSub
9,gu_10_1,2023-10-01,805,AE,323007290,2.336780e+09,2.585451e+09,VentaCobradaUnidadNegocioSub
10,gu_10_1,2023-11-01,805,AE,323007290,2.633608e+09,2.808306e+09,VentaCobradaUnidadNegocioSub
11,gu_10_2,2023-01-01,M06,AE,323007290,1.038770e+08,1.164731e+08,VentaCobradaUnidadNegocioSub
12,gu_10_2,2023-02-01,M06,AE,323007290,2.228349e+08,2.717705e+08,VentaCobradaUnidadNegocioSub
13,gu_10_2,2023-03-01,M06,AE,323007290,4.008910e+08,4.115382e+08,VentaCobradaUnidadNegocioSub
14,gu_10_2,2023-04-01,M06,AE,323007290,5.610382e+08,5.513059e+08,VentaCobradaUnidadNegocioSub
15,gu_10_2,2023-05-01,M06,AE,323007290,7.751609e+08,6.755438e+08,VentaCobradaUnidadNegocioSub
16,gu_10_2,2023-06-01,M06,AE,323007290,9.567631e+08,7.842520e+08,VentaCobradaUnidadNegocioSub
17,gu_10_2,2023-07-01,M06,AE,323007290,1.141926e+09,9.240197e+08,VentaCobradaUnidadNegocioSub
18,gu_10_2,2023-08-01,M06,AE,323007290,1.255072e+09,1.056023e+09,VentaCobradaUnidadNegocioSub
19,gu_10_2,2023-09-01,M06,AE,323007290,1.440505e+09,1.180260e+09,VentaCobradaUnidadNegocioSub

In [34]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaCobradaUnidadNegocioSub,2023-01-01,3.546930e+08,3.751049e+08,0.95
1,gu_1_1,VentaCobradaUnidadNegocioSub,2023-02-01,9.096657e+08,8.752447e+08,1.04
2,gu_1_1,VentaCobradaUnidadNegocioSub,2023-03-01,1.213456e+09,1.325371e+09,0.92
3,gu_1_1,VentaCobradaUnidadNegocioSub,2023-04-01,1.833984e+09,1.775496e+09,1.03
4,gu_1_1,VentaCobradaUnidadNegocioSub,2023-05-01,2.439707e+09,2.175608e+09,1.12

In [35]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub[
    (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Fecha'] == '2023-01-01') &
     (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] == 'gu_8_3')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
198,gu_8_3,VentaCobradaUnidadNegocioSub,2023-01-01,58366583.0,1.887867e+08,0.31

In [36]:
cumplimiento_recaudo_por_unidad_negocio_gu_sub[
    (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Fecha'] == '2023-01-01') &
     (cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] == 'gu_1_1')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaCobradaUnidadNegocioSub,2023-01-01,354693025.0,3.751049e+08,0.95

### 8.2. Para MK (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [37]:
area_calculo_sba_completo_mk = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='MK']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_real = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_presupuesto = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

##### VentaFacturadaUnidadNegocio

In [38]:
venta_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk['Real'] = venta_real_area_calculo_mk['Venta']
venta_real_area_calculo_mk.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk['Presupuesto'] = venta_presupuesto_area_calculo_mk['Venta']
venta_presupuesto_area_calculo_mk.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk = pd.merge(
    left=venta_presupuesto_area_calculo_mk,
    right=venta_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk['Real'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['Real'] / cumplimiento_venta_por_unidad_negocio_mk['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk['Variable'] = 'VentaFacturadaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_mk = cumplimiento_venta_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,VentaFacturadaUnidadNegocio,2023-01-01,9.277768e+09,9.265658e+09,1.00
1,mk_1,VentaFacturadaUnidadNegocio,2023-02-01,2.187143e+10,2.090353e+10,1.05
2,mk_1,VentaFacturadaUnidadNegocio,2023-03-01,3.867112e+10,3.543050e+10,1.09
3,mk_1,VentaFacturadaUnidadNegocio,2023-04-01,5.242771e+10,4.784033e+10,1.10
4,mk_1,VentaFacturadaUnidadNegocio,2023-05-01,6.841663e+10,6.214429e+10,1.10

##### VentaFacturadaUnidadNegocioSub

In [39]:
venta_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Division', 'GrupoProducto','Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk_sub['Real'] = venta_real_area_calculo_mk_sub['Venta']
venta_real_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Division', 'GrupoProducto', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk_sub['Presupuesto'] = venta_presupuesto_area_calculo_mk_sub['Venta']
venta_presupuesto_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk_sub = pd.merge(
    left=venta_presupuesto_area_calculo_mk_sub,
    right=venta_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Division', 'GrupoProducto' ,'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk_sub

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2023-01-01,2.826202e+08,2.678068e+08
1,1,AE,001,2,2023-02-01,5.242385e+08,3.984240e+08
2,1,AE,001,2,2023-03-01,6.876220e+08,1.319727e+09
3,1,AE,001,2,2023-04-01,6.520544e+08,1.624976e+09
4,1,AE,001,2,2023-05-01,5.796445e+08,6.174308e+08
...,...,...,...,...,...,...,...
2239,13,HC,CDK,1,2023-06-01,0.000000e+00,1.135818e+07
2240,13,HC,CDK,1,2023-07-01,0.000000e+00,1.577460e+05
2241,13,HC,CDK,1,2023-08-01,0.000000e+00,1.710200e+06
2242,13,HC,CDK,1,2023-09-01,0.000000e+00,1.700000e+05
2243,13,HC,CDK,1,2023-11-01,0.000000e+00,1.206260e+07

In [40]:
def f_calculo_centro_costo_variable_tipo_empleado(main, variable, tipo_empleado):
#     df_area_calculo_sba_centros_costos_tipo_empleado = (
#         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
#     )    
    
    main = main.merge(
        df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
        on=['Division', 'GrupoProducto'],
        how='left'
    )
    main['AreaCalculo'] = main['AreaCalculo'].astype(str)
    main['Consecutivo'] = main['Consecutivo'].astype(str)
    main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
    main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
#     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['Presupuesto'].transform(pd.Series.sum)
    
    main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
    main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
    main['Variable'] = variable
    return main

In [41]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo = (
    f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_venta_por_unidad_negocio_mk_sub, 'VentaFacturadaUnidadNegocioSub', 'MK')
)
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,mk_10_1,2023-01-01,610,HC,323015040,6.568240e+08,5.833564e+08,VentaFacturadaUnidadNegocioSub
1,mk_10_1,2023-01-01,620,HC,323015045,4.804641e+09,3.924308e+09,VentaFacturadaUnidadNegocioSub
2,mk_10_1,2023-01-01,630,HC,323015050,1.637913e+09,2.312863e+09,VentaFacturadaUnidadNegocioSub
3,mk_10_1,2023-01-01,640,HC,323015055,5.611200e+05,2.265190e+07,VentaFacturadaUnidadNegocioSub
4,mk_10_1,2023-01-01,680,HC,323015055,3.947382e+08,6.501377e+08,VentaFacturadaUnidadNegocioSub

In [42]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.columns

Index(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto',
       'Real', 'Presupuesto', 'Variable'],
      dtype='object')

In [43]:
 pd.DataFrame(cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo.columns, columns=['Columna']).to_excel("cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo_columns.xlsx")

In [44]:
cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo[
    (cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo['Contexto'] == 'mk_1_1') &
    (cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo['Fecha'] == '2023-01-01')
]

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
836,mk_1_1,2023-01-01,610,HC,323015040,6.568240e+08,5.833564e+08,VentaFacturadaUnidadNegocioSub
837,mk_1_1,2023-01-01,620,HC,323015045,4.804641e+09,3.924308e+09,VentaFacturadaUnidadNegocioSub
838,mk_1_1,2023-01-01,630,HC,323015050,1.637913e+09,2.312863e+09,VentaFacturadaUnidadNegocioSub
839,mk_1_1,2023-01-01,640,HC,323015055,5.611200e+05,2.265190e+07,VentaFacturadaUnidadNegocioSub
840,mk_1_1,2023-01-01,680,HC,323015055,3.947382e+08,6.501377e+08,VentaFacturadaUnidadNegocioSub
841,mk_1_1,2023-01-01,CDK,HC,323015050,-9.800000e+03,0.000000e+00,VentaFacturadaUnidadNegocioSub

In [45]:
validar_calculo_centro_costo(cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo, 'mk_1_1', '2023-01-01')

(7494666954.09188, 7493317289.719999)

In [46]:
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(
    ['AreaCalculo' ,'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] / cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk_sub[
    (cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] == 'mk_1_1')
]

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-01-01,7.494667e+09,7.493317e+09,1.00
1,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-02-01,1.697826e+10,1.670469e+10,1.02
2,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-03-01,2.886666e+10,2.780108e+10,1.04
3,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-04-01,3.803350e+10,3.700096e+10,1.03
4,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-05-01,4.993444e+10,4.813185e+10,1.04
5,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-06-01,6.288719e+10,5.887074e+10,1.07
6,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-07-01,7.449418e+10,7.000027e+10,1.06
7,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-08-01,8.657320e+10,7.963791e+10,1.09
8,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-09-01,9.870653e+10,9.174311e+10,1.08
9,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-10-01,1.099027e+11,1.035298e+11,1.06
10,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-11-01,1.252232e+11,1.175739e+11,1.07

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

##### VentaCobradaUnidadNegocio

In [47]:
recaudo_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk['Real'] = recaudo_real_area_calculo_mk['Recaudo']
recaudo_real_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk['Presupuesto'] = recaudo_presupuesto_area_calculo_mk['Recaudo']
recaudo_presupuesto_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk,
    right=recaudo_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk['Variable'] = 'VentaCobradaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_mk = cumplimiento_recaudo_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,VentaCobradaUnidadNegocio,2023-01-01,1.313698e+10,1.438089e+10,0.91
1,mk_1,VentaCobradaUnidadNegocio,2023-02-01,2.570935e+10,2.961752e+10,0.87
2,mk_1,VentaCobradaUnidadNegocio,2023-03-01,3.838194e+10,4.449039e+10,0.86
3,mk_1,VentaCobradaUnidadNegocio,2023-04-01,5.296299e+10,5.813602e+10,0.91
4,mk_1,VentaCobradaUnidadNegocio,2023-05-01,7.016701e+10,7.141195e+10,0.98

##### VentaCobradaUnidadNegocioSub

In [48]:
recaudo_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Division', 'GrupoProducto','Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk_sub['Real'] = recaudo_real_area_calculo_mk_sub['Recaudo']
recaudo_real_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Division', 'GrupoProducto', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_mk_sub['Recaudo']
recaudo_presupuesto_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk_sub

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2023-01-01,5.394510e+08,8.561033e+08
1,1,AE,001,2,2023-02-01,7.192680e+08,7.993196e+08
2,1,AE,001,2,2023-03-01,6.473412e+08,3.929548e+08
3,1,AE,001,2,2023-04-01,6.473412e+08,3.607035e+08
4,1,AE,001,2,2023-05-01,5.754144e+08,1.904594e+09
...,...,...,...,...,...,...,...
2239,13,HC,CDK,1,2023-06-01,0.000000e+00,0.000000e+00
2240,13,HC,CDK,1,2023-07-01,0.000000e+00,7.199220e+05
2241,13,HC,CDK,1,2023-08-01,0.000000e+00,1.862000e+05
2242,13,HC,CDK,1,2023-09-01,0.000000e+00,2.165000e+06
2243,13,HC,CDK,1,2023-11-01,0.000000e+00,2.185000e+05

In [49]:
cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo = (
    f_calculo_centro_costo_variable_tipo_empleado(cumplimiento_recaudo_por_unidad_negocio_mk_sub, 'VentaCobradaUnidadNegocioSub', 'MK')
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,mk_10_1,2023-01-01,610,HC,323015040,6.707129e+08,9.680138e+08,VentaCobradaUnidadNegocioSub
1,mk_10_1,2023-01-01,620,HC,323015045,4.809499e+09,5.651004e+09,VentaCobradaUnidadNegocioSub
2,mk_10_1,2023-01-01,630,HC,323015050,3.725970e+09,4.057662e+09,VentaCobradaUnidadNegocioSub
3,mk_10_1,2023-01-01,640,HC,323015055,9.943200e+06,2.870494e+07,VentaCobradaUnidadNegocioSub
4,mk_10_1,2023-01-01,680,HC,323015055,5.254973e+08,8.238673e+08,VentaCobradaUnidadNegocioSub
...,...,...,...,...,...,...,...,...
2239,mk_9_3,2023-11-01,A32,BA,323007333,2.171817e+09,1.965549e+09,VentaCobradaUnidadNegocioSub
2240,mk_9_3,2023-11-01,A33,BA,323007331,1.424910e+08,1.893987e+08,VentaCobradaUnidadNegocioSub
2241,mk_9_3,2023-11-01,A34,BA,323007332,2.705847e+09,2.916725e+09,VentaCobradaUnidadNegocioSub
2242,mk_9_3,2023-11-01,A35,BA,323007330,2.053799e+09,2.110643e+09,VentaCobradaUnidadNegocioSub
2243,mk_9_3,2023-11-01,A45,BA,323007337,6.534654e+08,7.544854e+08,VentaCobradaUnidadNegocioSub

In [50]:
validar_calculo_centro_costo(cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo, 'mk_1_1', '2023-02-01')

(19264414179.0, 23011139219.370003)

In [51]:
cumplimiento_recaudo_por_unidad_negocio_mk_sub = (
    cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(
        ['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False
    )[['Real', 'Presupuesto']].apply(sum)
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_mk_sub = cumplimiento_recaudo_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaUnidadNegocioSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,mk_1_1,VentaCobradaUnidadNegocioSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,mk_1_1,VentaCobradaUnidadNegocioSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,mk_1_1,VentaCobradaUnidadNegocioSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,mk_1_1,VentaCobradaUnidadNegocioSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

## 9. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

### 9.1. Para GU (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [52]:
rentabilidad_gu = df_rentabilidad.copy()
rentabilidad_gu['TipoEmpleado'] = 'GU'
rentabilidad_gu = rentabilidad_gu.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu = rentabilidad_gu.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['Real'] / rentabilidad_gu['Presupuesto']
rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_gu.head()

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,Real,Presupuesto,PorcentajeCumplimiento
0,GU,CMII,2023-03-01,1.0,9.871364e+08,7.003097e+08,1.41
1,GU,CMII,2023-03-01,2.0,1.335904e+09,1.189271e+09,1.12
2,GU,CMII,2023-03-01,3.0,7.816211e+08,7.963739e+08,0.98
3,GU,CMII,2023-03-01,4.0,2.395765e+09,3.618737e+09,0.66
4,GU,CMII,2023-03-01,5.0,5.658240e+09,4.538195e+09,1.25

In [53]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = rentabilidad_gu[
    rentabilidad_gu['ClaseRentabilidad'] == 'CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'],
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'] = \
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Contexto'] = 'gu_' + \
                                                                  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[
                                                                      'AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\851338189.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\851338189.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,RentabilidadUnidadNegocioCM2,2023-03-01,9.871364e+08,7.003097e+08,1.41
1,gu_2,RentabilidadUnidadNegocioCM2,2023-03-01,1.335904e+09,1.189271e+09,1.12
2,gu_3,RentabilidadUnidadNegocioCM2,2023-03-01,7.816211e+08,7.963739e+08,0.98
3,gu_4,RentabilidadUnidadNegocioCM2,2023-03-01,2.395765e+09,3.618737e+09,0.66
4,gu_5,RentabilidadUnidadNegocioCM2,2023-03-01,5.658240e+09,4.538195e+09,1.25

In [54]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = rentabilidad_gu[
    rentabilidad_gu['ClaseRentabilidad'] == 'CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'],
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'] = \
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Contexto'] = 'gu_' + \
                                                                  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[
                                                                      'AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[
    ['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2914380515.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2914380515.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,RentabilidadUnidadNegocioCM3,2023-03-01,-3.562312e+08,-3.074421e+08,1.16
1,gu_2,RentabilidadUnidadNegocioCM3,2023-03-01,2.977882e+08,-4.827851e+07,-6.17
2,gu_3,RentabilidadUnidadNegocioCM3,2023-03-01,1.248919e+08,3.696510e+07,3.38
3,gu_4,RentabilidadUnidadNegocioCM3,2023-03-01,-3.688780e+08,8.458015e+08,-0.44
4,gu_5,RentabilidadUnidadNegocioCM3,2023-03-01,2.783923e+09,2.183797e+09,1.27

### 9.2. Para MK (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [55]:
rentabilidad_mk = df_rentabilidad.copy()
rentabilidad_mk['TipoEmpleado'] = 'MK'
rentabilidad_mk = rentabilidad_mk.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk = rentabilidad_mk.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['Real']/rentabilidad_mk['Presupuesto']
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2916835292.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2916835292.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2916835292.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\2916835292.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,RentabilidadUnidadNegocioCM3,2023-03-01,1.777163e+09,2.074373e+09,0.86
1,mk_2,RentabilidadUnidadNegocioCM3,2023-03-01,3.151280e+07,1.255245e+09,0.03
2,mk_3,RentabilidadUnidadNegocioCM3,2023-03-01,2.107605e+08,1.475892e+09,0.14
3,mk_4,RentabilidadUnidadNegocioCM3,2023-03-01,2.107605e+08,1.475892e+09,0.14
4,mk_5,RentabilidadUnidadNegocioCM3,2023-03-01,8.586860e+07,1.438927e+09,0.06

## 10. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

### 10.1. Para GU (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [56]:
def f_calculo_centro_costo_variable_rentabilidad(main, variable, clase_rentabilidad, tipo_empleado):
    main = main.merge(
        df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
        on=['Division', 'GrupoProducto'],
        how='left'
    )
    main['Consecutivo'] = main['Consecutivo'].astype(int).astype('str')
    main['AreaCalculo'] = main['AreaCalculo'].astype(int).astype('str')
    main['Contexto'] = tipo_empleado.lower()+'_' + main['AreaCalculo'] + '_' +main['Consecutivo']
    main = main.groupby(
        ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo', 'CodigoCentroCosto', 'Contexto'],
        as_index=False
    ).agg({'Real': 'sum', 'Presupuesto': 'sum'})
    main = main[main['ClaseRentabilidad']==clase_rentabilidad]
    main.drop(columns='ClaseRentabilidad', inplace=True)
    main['Variable'] = variable
    return main

def calculo_porcentaje_cumplimiento(main, variable, tipo_empleado):

    main = main.groupby(
        ['TipoEmpleado', 'Fecha', 'AreaCalculo', 'Consecutivo', 'Variable'],
        as_index=False
    ).agg({'Real': 'sum', 'Presupuesto': 'sum'})
    
    main['PorcentajeCumplimiento'] = (
        main['Real']/
        main['Presupuesto'])
    main['PorcentajeCumplimiento'] = (
        main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
    )
    ### Cálculo de resultados cualitativos precargados
    main = sobreescribir_resultados_cualitativos(
        main=main,
        variable=variable,
        columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
        columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
        pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == tipo_empleado]
    )
    ###
    main['Consecutivo'] = main['Consecutivo'].astype(int).astype('str')
    main['AreaCalculo'] = main['AreaCalculo'].astype(int).astype('str')
    
    main['Contexto'] = tipo_empleado.lower()+'_' + main['AreaCalculo'] + '_' +main['Consecutivo']
    main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
    return main

In [57]:
#Calculamos la rentabilidad para GU adicionando toda la info de area_calculo_sba_completo
rentabilidad_gu_sub = df_rentabilidad.copy()
rentabilidad_gu_sub['TipoEmpleado'] = 'GU'
rentabilidad_gu_sub = rentabilidad_gu_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu_sub = rentabilidad_gu_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
rentabilidad_gu_sub

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,GrupoProducto,Division,Consecutivo,Real,Presupuesto
0,GU,CMII,2023-03-01,1.0,005,AE,2.0,3.719610e+07,2.968738e+07
1,GU,CMII,2023-03-01,1.0,M07,AE,1.0,4.667504e+08,3.716427e+08
2,GU,CMII,2023-03-01,1.0,M08,AE,2.0,4.831899e+08,2.989797e+08
3,GU,CMII,2023-03-01,2.0,003,AE,1.0,8.666748e+08,8.686596e+08
4,GU,CMII,2023-03-01,2.0,006,AE,3.0,4.585791e+07,3.399915e+07
...,...,...,...,...,...,...,...,...,...
463,GU,CMIII,2023-11-01,8.0,A33,BA,3.0,-7.698514e+07,-5.707202e+07
464,GU,CMIII,2023-11-01,8.0,A34,BA,2.0,3.480166e+08,4.793489e+08
465,GU,CMIII,2023-11-01,8.0,A35,BA,3.0,4.188476e+08,4.464598e+08
466,GU,CMIII,2023-11-01,10.0,805,AE,1.0,6.200195e+08,7.242510e+08
467,GU,CMIII,2023-11-01,10.0,M06,AE,2.0,2.572751e+08,2.490429e+08

In [58]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo = (
    f_calculo_centro_costo_variable_rentabilidad(rentabilidad_gu_sub, 'RentabilidadUnidadNegocioCM2Sub', 'CMII', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo

,TipoEmpleado,Fecha,AreaCalculo,Consecutivo,CodigoCentroCosto,Contexto,Real,Presupuesto,Variable
0,GU,2023-03-01,1,1,323010140,gu_1_1,4.667504e+08,3.716427e+08,RentabilidadUnidadNegocioCM2Sub
1,GU,2023-03-01,1,2,323010140,gu_1_2,5.203860e+08,3.286670e+08,RentabilidadUnidadNegocioCM2Sub
2,GU,2023-03-01,10,1,323007290,gu_10_1,3.636392e+08,3.125877e+08,RentabilidadUnidadNegocioCM2Sub
3,GU,2023-03-01,10,2,323007290,gu_10_2,2.006660e+08,1.616646e+08,RentabilidadUnidadNegocioCM2Sub
4,GU,2023-03-01,2,1,323007260,gu_2_1,8.666748e+08,8.686596e+08,RentabilidadUnidadNegocioCM2Sub
...,...,...,...,...,...,...,...,...,...
211,GU,2023-11-01,7,2,323015100,gu_7_2,1.351533e+07,0.000000e+00,RentabilidadUnidadNegocioCM2Sub
212,GU,2023-11-01,8,1,323007333,gu_8_1,1.135382e+09,8.548941e+08,RentabilidadUnidadNegocioCM2Sub
213,GU,2023-11-01,8,2,323007332,gu_8_2,1.600104e+09,1.609926e+09,RentabilidadUnidadNegocioCM2Sub
214,GU,2023-11-01,8,3,323007330,gu_8_3,9.551148e+08,9.388484e+08,RentabilidadUnidadNegocioCM2Sub
215,GU,2023-11-01,8,3,323007331,gu_8_3,6.629910e+07,8.267905e+07,RentabilidadUnidadNegocioCM2Sub

In [59]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo[
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo['Contexto'] == 'gu_2_3'
]

,TipoEmpleado,Fecha,AreaCalculo,Consecutivo,CodigoCentroCosto,Contexto,Real,Presupuesto,Variable
7,GU,2023-03-01,2,3,323007300,gu_2_3,4.585791e+07,3.399915e+07,RentabilidadUnidadNegocioCM2Sub
31,GU,2023-04-01,2,3,323007300,gu_2_3,7.238629e+07,4.709045e+07,RentabilidadUnidadNegocioCM2Sub
55,GU,2023-05-01,2,3,323007300,gu_2_3,9.138567e+07,6.193408e+07,RentabilidadUnidadNegocioCM2Sub
79,GU,2023-06-01,2,3,323007300,gu_2_3,1.018135e+08,7.573751e+07,RentabilidadUnidadNegocioCM2Sub
103,GU,2023-07-01,2,3,323007300,gu_2_3,1.212826e+08,8.786003e+07,RentabilidadUnidadNegocioCM2Sub
127,GU,2023-08-01,2,3,323007300,gu_2_3,1.385607e+08,9.978693e+07,RentabilidadUnidadNegocioCM2Sub
151,GU,2023-09-01,2,3,323007300,gu_2_3,1.533382e+08,1.136932e+08,RentabilidadUnidadNegocioCM2Sub
175,GU,2023-10-01,2,3,323007300,gu_2_3,1.544262e+08,1.272609e+08,RentabilidadUnidadNegocioCM2Sub
199,GU,2023-11-01,2,3,323007300,gu_2_3,1.952213e+08,1.440756e+08,RentabilidadUnidadNegocioCM2Sub

In [60]:
validar_calculo_centro_costo(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 'gu_2_3', '2023-03-01')

(45857907.2161952, 33999149.5627426)

In [61]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo = (
    f_calculo_centro_costo_variable_rentabilidad(rentabilidad_gu_sub, 'RentabilidadUnidadNegocioCM3Sub', 'CMIII', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo

,TipoEmpleado,Fecha,AreaCalculo,Consecutivo,CodigoCentroCosto,Contexto,Real,Presupuesto,Variable
216,GU,2023-03-01,1,1,323010140,gu_1_1,-2.580070e+08,-1.647386e+08,RentabilidadUnidadNegocioCM3Sub
217,GU,2023-03-01,1,2,323010140,gu_1_2,-9.822414e+07,-1.427035e+08,RentabilidadUnidadNegocioCM3Sub
218,GU,2023-03-01,10,1,323007290,gu_10_1,1.188086e+08,6.823995e+07,RentabilidadUnidadNegocioCM3Sub
219,GU,2023-03-01,10,2,323007290,gu_10_2,5.817485e+07,1.855487e+07,RentabilidadUnidadNegocioCM3Sub
220,GU,2023-03-01,2,1,323007260,gu_2_1,1.747972e+08,9.348195e+06,RentabilidadUnidadNegocioCM3Sub
...,...,...,...,...,...,...,...,...,...
427,GU,2023-11-01,7,2,323015100,gu_7_2,1.351533e+07,0.000000e+00,RentabilidadUnidadNegocioCM3Sub
428,GU,2023-11-01,8,1,323007333,gu_8_1,-8.475672e+07,-1.563402e+08,RentabilidadUnidadNegocioCM3Sub
429,GU,2023-11-01,8,2,323007332,gu_8_2,3.480166e+08,4.793489e+08,RentabilidadUnidadNegocioCM3Sub
430,GU,2023-11-01,8,3,323007330,gu_8_3,4.188476e+08,4.464598e+08,RentabilidadUnidadNegocioCM3Sub
431,GU,2023-11-01,8,3,323007331,gu_8_3,-7.698514e+07,-5.707202e+07,RentabilidadUnidadNegocioCM3Sub

In [62]:
validar_calculo_centro_costo(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 'gu_2_3', '2023-03-01')

(29365696.215779, 20106743.3124515)

In [63]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = (
    calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 'RentabilidadUnidadNegocioCM2Sub', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,RentabilidadUnidadNegocioCM2Sub,2023-03-01,4.667504e+08,3.716427e+08,1.26
1,gu_1_2,RentabilidadUnidadNegocioCM2Sub,2023-03-01,5.203860e+08,3.286670e+08,1.58
2,gu_10_1,RentabilidadUnidadNegocioCM2Sub,2023-03-01,3.636392e+08,3.125877e+08,1.16
3,gu_10_2,RentabilidadUnidadNegocioCM2Sub,2023-03-01,2.006660e+08,1.616646e+08,1.24
4,gu_2_1,RentabilidadUnidadNegocioCM2Sub,2023-03-01,8.663552e+08,8.686596e+08,1.00

In [64]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = (
    calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 'RentabilidadUnidadNegocioCM3Sub', 'GU')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-2.580070e+08,-1.647386e+08,1.57
1,gu_1_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-9.822414e+07,-1.427035e+08,0.69
2,gu_10_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.188086e+08,6.823995e+07,1.74
3,gu_10_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,5.817485e+07,1.855487e+07,3.14
4,gu_2_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.744776e+08,9.348195e+06,18.66

### 10.2. Para MK (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [65]:
#Calculamos la rentabilidad para MK adicionando toda la info de area_calculo_sba_completo
rentabilidad_mk_sub = df_rentabilidad.copy()
rentabilidad_mk_sub['TipoEmpleado'] = 'MK'
rentabilidad_mk_sub = rentabilidad_mk_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Division', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk_sub = rentabilidad_mk_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'GrupoProducto', 'Division','Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
rentabilidad_mk_sub

,TipoEmpleado,ClaseRentabilidad,Fecha,AreaCalculo,GrupoProducto,Division,Consecutivo,Real,Presupuesto
0,MK,CMII,2023-03-01,1.0,001,AE,2.0,7.816211e+08,7.963739e+08
1,MK,CMII,2023-03-01,1.0,003,AE,2.0,8.666748e+08,8.686596e+08
2,MK,CMII,2023-03-01,1.0,005,AE,2.0,3.719610e+07,2.968738e+07
3,MK,CMII,2023-03-01,1.0,006,AE,2.0,4.585791e+07,3.399915e+07
4,MK,CMII,2023-03-01,1.0,610,HC,1.0,6.030459e+08,5.751129e+08
...,...,...,...,...,...,...,...,...,...
3973,MK,CMIII,2023-11-01,13.0,CDK,HC,1.0,-1.706084e+09,0.000000e+00
3974,MK,CMIII,2023-11-01,13.0,CEK,AE,2.0,2.990853e+05,0.000000e+00
3975,MK,CMIII,2023-11-01,13.0,M06,AE,2.0,2.572751e+08,2.490429e+08
3976,MK,CMIII,2023-11-01,13.0,M07,AE,2.0,-5.077667e+08,-4.155849e+08
3977,MK,CMIII,2023-11-01,13.0,M08,AE,2.0,1.643849e+08,-3.355160e+08

In [66]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo = (
    f_calculo_centro_costo_variable_rentabilidad(rentabilidad_mk_sub, 'RentabilidadUnidadNegocioCM2Sub', 'CMII', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo

,TipoEmpleado,Fecha,AreaCalculo,Consecutivo,CodigoCentroCosto,Contexto,Real,Presupuesto,Variable
0,MK,2023-03-01,1,1,323015040,mk_1_1,6.030459e+08,5.751129e+08,RentabilidadUnidadNegocioCM2Sub
1,MK,2023-03-01,1,1,323015045,mk_1_1,5.658240e+09,4.538195e+09,RentabilidadUnidadNegocioCM2Sub
2,MK,2023-03-01,1,1,323015050,mk_1_1,2.395765e+09,3.618737e+09,RentabilidadUnidadNegocioCM2Sub
3,MK,2023-03-01,1,1,323015055,mk_1_1,3.707392e+08,5.276829e+08,RentabilidadUnidadNegocioCM2Sub
4,MK,2023-03-01,1,1,323015100,mk_1_1,-2.597791e+06,0.000000e+00,RentabilidadUnidadNegocioCM2Sub
...,...,...,...,...,...,...,...,...,...
1327,MK,2023-11-01,9,3,323007330,mk_9_3,9.551148e+08,9.388484e+08,RentabilidadUnidadNegocioCM2Sub
1328,MK,2023-11-01,9,3,323007331,mk_9_3,6.629910e+07,8.267905e+07,RentabilidadUnidadNegocioCM2Sub
1329,MK,2023-11-01,9,3,323007332,mk_9_3,1.600104e+09,1.609926e+09,RentabilidadUnidadNegocioCM2Sub
1330,MK,2023-11-01,9,3,323007333,mk_9_3,1.135382e+09,8.548941e+08,RentabilidadUnidadNegocioCM2Sub
1331,MK,2023-11-01,9,3,323007337,mk_9_3,1.962274e+08,1.219818e+08,RentabilidadUnidadNegocioCM2Sub

In [67]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo = (
    f_calculo_centro_costo_variable_rentabilidad(rentabilidad_mk_sub, 'RentabilidadUnidadNegocioCM3Sub', 'CMIII', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo

,TipoEmpleado,Fecha,AreaCalculo,Consecutivo,CodigoCentroCosto,Contexto,Real,Presupuesto,Variable
1332,MK,2023-03-01,1,1,323015040,mk_1_1,-1.904169e+08,-2.730621e+08,RentabilidadUnidadNegocioCM3Sub
1333,MK,2023-03-01,1,1,323015045,mk_1_1,2.783923e+09,2.183797e+09,RentabilidadUnidadNegocioCM3Sub
1334,MK,2023-03-01,1,1,323015050,mk_1_1,-3.688780e+08,8.458015e+08,RentabilidadUnidadNegocioCM3Sub
1335,MK,2023-03-01,1,1,323015055,mk_1_1,-5.506178e+08,-2.362369e+08,RentabilidadUnidadNegocioCM3Sub
1336,MK,2023-03-01,1,1,323015100,mk_1_1,-2.597791e+06,0.000000e+00,RentabilidadUnidadNegocioCM3Sub
...,...,...,...,...,...,...,...,...,...
2659,MK,2023-11-01,9,3,323007330,mk_9_3,4.188476e+08,4.464598e+08,RentabilidadUnidadNegocioCM3Sub
2660,MK,2023-11-01,9,3,323007331,mk_9_3,-7.698514e+07,-5.707202e+07,RentabilidadUnidadNegocioCM3Sub
2661,MK,2023-11-01,9,3,323007332,mk_9_3,3.480166e+08,4.793489e+08,RentabilidadUnidadNegocioCM3Sub
2662,MK,2023-11-01,9,3,323007333,mk_9_3,-8.475672e+07,-1.563402e+08,RentabilidadUnidadNegocioCM3Sub
2663,MK,2023-11-01,9,3,323007337,mk_9_3,-5.150822e+08,-6.774031e+08,RentabilidadUnidadNegocioCM3Sub

In [68]:
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = (
    calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo, 'RentabilidadUnidadNegocioCM2Sub', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,RentabilidadUnidadNegocioCM2Sub,2023-03-01,9.025192e+09,9.259728e+09,0.97
1,mk_1_2,RentabilidadUnidadNegocioCM2Sub,2023-03-01,3.668966e+09,3.160207e+09,1.16
2,mk_1_3,RentabilidadUnidadNegocioCM2Sub,2023-03-01,5.293890e+07,2.055874e+07,2.58
3,mk_10_1,RentabilidadUnidadNegocioCM2Sub,2023-03-01,9.030143e+09,9.259728e+09,0.98
4,mk_10_2,RentabilidadUnidadNegocioCM2Sub,2023-03-01,3.668966e+09,3.160207e+09,1.16

In [69]:
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = (
    calculo_porcentaje_cumplimiento(cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo, 'RentabilidadUnidadNegocioCM3Sub', 'MK')
)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.671413e+09,2.520300e+09,0.66
1,mk_1_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
2,mk_1_3,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-1.376819e+08,-2.139664e+08,0.64
3,mk_10_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.676364e+09,2.520300e+09,0.67
4,mk_10_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,2.434324e+08,-2.319607e+08,-1.05

## 11. Objetivos de recaudo por división (VentaCobradaDivision)

In [70]:
recaudo_real_por_division = df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
recaudo_real_por_division = recaudo_real_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_por_division['Real'] = recaudo_real_por_division['Recaudo']
recaudo_real_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_real_por_division

recaudo_presupuesto_por_division = df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
recaudo_presupuesto_por_division = recaudo_presupuesto_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_por_division['Presupuesto'] = recaudo_presupuesto_por_division['Recaudo']
recaudo_presupuesto_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_presupuesto_por_division

cumplimiento_recaudo_por_division = pd.merge(
    left=recaudo_presupuesto_por_division,
    right=recaudo_real_por_division,
    on=['Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2023-01-01,3.372108e+09,2.772690e+09,1.22
1,AE,VentaCobradaDivision,2023-02-01,6.398180e+09,6.466029e+09,0.99
2,AE,VentaCobradaDivision,2023-03-01,8.915028e+09,9.793257e+09,0.91
3,AE,VentaCobradaDivision,2023-04-01,1.220146e+10,1.312049e+10,0.93
4,AE,VentaCobradaDivision,2023-05-01,1.767949e+10,1.607802e+10,1.10

## 12. Objetivos de recaudo por division con consecutivos (VentaCobradaDivisionSub)

In [71]:
area_calculo_sba_completo_renal_vc_gd = area_calculo_sba_completo[
    (
        (area_calculo_sba_completo['TipoEmpleado'] == 'VC') &
        (area_calculo_sba_completo['Consecutivo'] == 1) &
        (area_calculo_sba_completo['AreaCalculo'] == 5) 
    ) 
    |
    (
        (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
        (area_calculo_sba_completo['Consecutivo'] == 5) &
        (area_calculo_sba_completo['AreaCalculo'] == 3) 
    )
]

area_calculo_sba_completo_renal_vc_gd

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
143            3            5                                      GD
299            5            1                                      VC
300            5            1       AE           805               VC
301            5            1       AE           M06               VC
295            5            1       AE           805  30           VC
296            5            1       AE           805  32           VC
297            5            1       AE           M06  31           VC
298            5            1       AE           M06  30           VC

In [72]:
df_merged = area_calculo_sba_completo.merge(
    area_calculo_sba_completo_renal_vc_gd,
    how='left',
    indicator=True
).drop_duplicates()

area_calculo_sba_completo_without_renal = df_merged[df_merged['_merge'] == 'left_only']
area_calculo_sba_completo_without_renal

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
0,1,1,BBMCO,,,AD,left_only
1,1,1,HC,,,AD,left_only
2,1,2,AE,,,AD,left_only
3,1,2,BBSCO,BBSCO,BBSCO,AD,left_only
4,1,2,OK,,,AD,left_only
...,...,...,...,...,...,...,...
1980,11,2,BA,A33,86,VE,left_only
1981,12,1,AE,805,30,VE,left_only
1982,12,1,AE,805,32,VE,left_only
1983,12,2,AE,M06,31,VE,left_only
1984,12,2,AE,M06,30,VE,left_only

In [73]:
area_calculo_sba_completo_with_renal = df_merged[df_merged['_merge'] == 'both']
area_calculo_sba_completo_with_renal

      AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143             3            5                                      GD   both
294             5            1                                      VC   both
295             5            1       AE           805               VC   both
296             5            1       AE           M06               VC   both
1785            5            1       AE           805  30           VC   both
1786            5            1       AE           805  32           VC   both
1787            5            1       AE           M06  31           VC   both
1788            5            1       AE           M06  30           VC   both

### 12.1. Para MK (VentaCobradaDivisionSub)

In [74]:
def f_calculo_centro_costo_variable_division_sub(main, variable, tipo_empleado):
#     df_area_calculo_sba_centros_costos_tipo_empleado = (
#         df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == tipo_empleado]
#     )    
    
    main = main.merge(
        df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
        on=['Division', 'GrupoProducto'],
        how='left'
    )
    main['AreaCalculo'] = main['AreaCalculo'].astype(str)
    main['Consecutivo'] = main['Consecutivo'].astype(str)
    main['Contexto'] = tipo_empleado.lower() +'_'+ main['AreaCalculo'].str.cat(main['Consecutivo'],sep="_")
#     main = main.groupby(['Contexto', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
    
#     main['Real'] = main.groupby(['Contexto', 'CentroCosto'])['Real'].transform(pd.Series.sum)
#     main['Presupuesto'] = main.groupby(['Contexto', 'CentroCosto'])['Presupuesto'].transform(pd.Series.sum)
    
    main['Real'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
    main['Presupuesto'] = main.groupby(['Contexto', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Presupuesto'].transform(pd.Series.cumsum)
    main['Variable'] = variable
    return main

In [75]:
cumplimiento_recaudo_por_division_sub_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_mk

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real
0,1,AE,001,2,2023-01-01,5.394510e+08,8.561033e+08
1,1,AE,001,2,2023-02-01,7.192680e+08,7.993196e+08
2,1,AE,001,2,2023-03-01,6.473412e+08,3.929548e+08
3,1,AE,001,2,2023-04-01,6.473412e+08,3.607035e+08
4,1,AE,001,2,2023-05-01,5.754144e+08,1.904594e+09
...,...,...,...,...,...,...,...
2239,13,HC,CDK,1,2023-06-01,0.000000e+00,0.000000e+00
2240,13,HC,CDK,1,2023-07-01,0.000000e+00,7.199220e+05
2241,13,HC,CDK,1,2023-08-01,0.000000e+00,1.862000e+05
2242,13,HC,CDK,1,2023-09-01,0.000000e+00,2.165000e+06
2243,13,HC,CDK,1,2023-11-01,0.000000e+00,2.185000e+05

In [76]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo = (
    f_calculo_centro_costo_variable_division_sub(cumplimiento_recaudo_por_division_sub_mk, 'VentaCobradaDivisionSub', 'MK')
)
cumplimiento_recaudo_por_division_sub_mk_centro_costo

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
0,1,AE,001,2,2023-01-01,5.394510e+08,8.561033e+08,323007270,mk_1_2,VentaCobradaDivisionSub
1,1,AE,001,2,2023-02-01,1.258719e+09,1.655423e+09,323007270,mk_1_2,VentaCobradaDivisionSub
2,1,AE,001,2,2023-03-01,1.906060e+09,2.048378e+09,323007270,mk_1_2,VentaCobradaDivisionSub
3,1,AE,001,2,2023-04-01,2.553401e+09,2.409081e+09,323007270,mk_1_2,VentaCobradaDivisionSub
4,1,AE,001,2,2023-05-01,3.128816e+09,4.313675e+09,323007270,mk_1_2,VentaCobradaDivisionSub
...,...,...,...,...,...,...,...,...,...,...
2239,13,HC,CDK,1,2023-06-01,0.000000e+00,2.146200e+06,323015050,mk_13_1,VentaCobradaDivisionSub
2240,13,HC,CDK,1,2023-07-01,0.000000e+00,2.866122e+06,323015050,mk_13_1,VentaCobradaDivisionSub
2241,13,HC,CDK,1,2023-08-01,0.000000e+00,3.052322e+06,323015050,mk_13_1,VentaCobradaDivisionSub
2242,13,HC,CDK,1,2023-09-01,0.000000e+00,5.217322e+06,323015050,mk_13_1,VentaCobradaDivisionSub
2243,13,HC,CDK,1,2023-11-01,0.000000e+00,5.435822e+06,323015050,mk_13_1,VentaCobradaDivisionSub

In [77]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-01-01')
]

,AreaCalculo,Division,GrupoProducto,Consecutivo,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
1267,9,BA,660,3,2023-01-01,3.358658e+06,0.0,323007337,mk_9_3,VentaCobradaDivisionSub
1278,9,BA,902,3,2023-01-01,1.383574e+05,0.0,323007337,mk_9_3,VentaCobradaDivisionSub
1289,9,BA,A32,3,2023-01-01,1.619958e+08,170626924.0,323007333,mk_9_3,VentaCobradaDivisionSub
1300,9,BA,A33,3,2023-01-01,1.578323e+07,9710642.0,323007331,mk_9_3,VentaCobradaDivisionSub
1311,9,BA,A34,3,2023-01-01,2.377765e+08,199264710.0,323007332,mk_9_3,VentaCobradaDivisionSub
1322,9,BA,A35,3,2023-01-01,1.730035e+08,48655941.0,323007330,mk_9_3,VentaCobradaDivisionSub
1333,9,BA,A45,3,2023-01-01,7.544854e+07,23063235.0,323007337,mk_9_3,VentaCobradaDivisionSub

In [78]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-01-01')
].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Real'].transform(pd.Series.cumsum)

1267            0.0
1278            0.0
1289    170626924.0
1300    180337566.0
1311    379602276.0
1322    428258217.0
1333    451321452.0
Name: Real, dtype: float64

In [79]:
cumplimiento_recaudo_por_division_sub_mk_centro_costo[
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Contexto'] == 'mk_1_2') &
    (cumplimiento_recaudo_por_division_sub_mk_centro_costo['Fecha'] == '2023-01-01')
].groupby(['AreaCalculo', 'Consecutivo', 'Variable'])['Presupuesto'].transform(pd.Series.cumsum)

0     5.394510e+08
11    1.443642e+09
22    1.473843e+09
33    1.500709e+09
44    1.770295e+09
55    1.979222e+09
68    2.095695e+09
79    2.470800e+09
90    2.772690e+09
Name: Presupuesto, dtype: float64

In [80]:
validar_calculo_centro_costo_division_sub(cumplimiento_recaudo_por_division_sub_mk_centro_costo, 'mk_1_2', '2023-01-01')

(0     8.561033e+08
 11    1.807704e+09
 22    1.840671e+09
 33    1.871821e+09
 44    2.330809e+09
 55    2.580279e+09
 68    2.684156e+09
 79    3.038849e+09
 90    3.372108e+09
 Name: Real, dtype: float64,
 0     5.394510e+08
 11    1.443642e+09
 22    1.473843e+09
 33    1.500709e+09
 44    1.770295e+09
 55    1.979222e+09
 68    2.095695e+09
 79    2.470800e+09
 90    2.772690e+09
 Name: Presupuesto, dtype: float64)

In [81]:
validar_calculo_centro_costo(cumplimiento_recaudo_por_division_sub_mk_centro_costo, 'mk_9_3', '2023-01-01')

(451321452.0, 667504592.26)

In [82]:
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_division_sub_mk['Real'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['Presupuesto'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['Real'] / cumplimiento_recaudo_por_division_sub_mk['Presupuesto']
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_mk['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_mk,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_division_sub_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_division_sub_mk.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,mk_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,mk_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,mk_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,mk_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [83]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_9_3') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
374,mk_9_3,VentaCobradaDivisionSub,2023-01-01,451321452.0,6.675046e+08,0.68

In [84]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_9_1') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
352,mk_9_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84

In [85]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'mk_7_3') &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
308,mk_7_3,VentaCobradaDivisionSub,2023-01-01,451321452.0,6.675046e+08,0.68

In [86]:
cumplimiento_recaudo_por_division_sub_mk[
    (cumplimiento_recaudo_por_division_sub_mk['Contexto'].str.contains('mk_1_1')) &
    (cumplimiento_recaudo_por_division_sub_mk['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84

In [87]:
cumplimiento_recaudo_otras_companias_mk = pd.merge(
    left=area_calculo_sba_completo_mk,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['Real']/cumplimiento_recaudo_otras_companias_mk['Presupuesto']
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_mk['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_otras_companias_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_mk = cumplimiento_recaudo_otras_companias_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_mk.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.2. Para GD (VentaCobradaDivisionSub)

#### Cálculo sin Renal Ambulatorio

In [88]:
# area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd = area_calculo_sba_completo_without_renal[area_calculo_sba_completo_without_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
104,1,1,AE,805,,GD,left_only
105,1,1,AE,M06,,GD,left_only
106,1,2,AE,005,,GD,left_only
107,1,2,AE,M07,,GD,left_only
108,1,2,AE,M08,,GD,left_only
...,...,...,...,...,...,...,...
1657,3,4,BA,660,81,GD,left_only
1658,3,4,BA,902,80,GD,left_only
1659,3,4,BA,A45,81,GD,left_only
1660,3,4,BA,A45,80,GD,left_only
1661,3,4,BA,A45,89,GD,left_only

In [89]:
#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_gd = venta_recaudo_presupuesto_original_gd_real.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_gd['Real'] = venta_recaudo_real_area_calculo_gd['Recaudo']
venta_recaudo_real_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_gd = venta_recaudo_presupuesto_original_gd_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_gd['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_gd['Recaudo']
venta_recaudo_presupuesto_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_gd = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_gd,
    right=venta_recaudo_real_area_calculo_gd,
    on=['AreaCalculo', 'Consecutivo', 'GrupoProducto', 'Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_gd

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real
0,1,1,805,AE,2023-01-01,2.089267e+08,2.494700e+08
1,1,1,805,AE,2023-02-01,2.785690e+08,1.207346e+08
2,1,1,805,AE,2023-03-01,2.507121e+08,1.420466e+08
3,1,1,805,AE,2023-04-01,2.507121e+08,5.430278e+08
4,1,1,805,AE,2023-05-01,2.228552e+08,2.973688e+08
...,...,...,...,...,...,...,...
1029,3,6,M08,AE,2023-07-01,3.622686e+08,5.301999e+08
1030,3,6,M08,AE,2023-08-01,3.421426e+08,4.690965e+08
1031,3,6,M08,AE,2023-09-01,3.220165e+08,7.680690e+08
1032,3,6,M08,AE,2023-10-01,3.220165e+08,7.240450e+08
1033,3,6,M08,AE,2023-11-01,3.220165e+08,9.901669e+08

In [90]:
cumplimiento_recaudo_por_division_sub_gd_centro_costo = (
    f_calculo_centro_costo_variable_division_sub(cumplimiento_recaudo_por_division_sub_gd, 'VentaCobradaDivisionSub', 'GD')
)
cumplimiento_recaudo_por_division_sub_gd_centro_costo

,AreaCalculo,Consecutivo,GrupoProducto,Division,Fecha,Presupuesto,Real,CodigoCentroCosto,Contexto,Variable
0,1,1,805,AE,2023-01-01,2.089267e+08,2.494700e+08,323007290,gd_1_1,VentaCobradaDivisionSub
1,1,1,805,AE,2023-02-01,4.874957e+08,3.702046e+08,323007290,gd_1_1,VentaCobradaDivisionSub
2,1,1,805,AE,2023-03-01,7.382077e+08,5.122511e+08,323007290,gd_1_1,VentaCobradaDivisionSub
3,1,1,805,AE,2023-04-01,9.889198e+08,1.055279e+09,323007290,gd_1_1,VentaCobradaDivisionSub
4,1,1,805,AE,2023-05-01,1.211775e+09,1.352648e+09,323007290,gd_1_1,VentaCobradaDivisionSub
...,...,...,...,...,...,...,...,...,...,...
1029,3,6,M08,AE,2023-07-01,2.394998e+09,2.821451e+09,323010140,gd_3_6,VentaCobradaDivisionSub
1030,3,6,M08,AE,2023-08-01,2.737141e+09,3.290547e+09,323010140,gd_3_6,VentaCobradaDivisionSub
1031,3,6,M08,AE,2023-09-01,3.059157e+09,4.058616e+09,323010140,gd_3_6,VentaCobradaDivisionSub
1032,3,6,M08,AE,2023-10-01,3.381174e+09,4.782661e+09,323010140,gd_3_6,VentaCobradaDivisionSub
1033,3,6,M08,AE,2023-11-01,3.703190e+09,5.772828e+09,323010140,gd_3_6,VentaCobradaDivisionSub

In [91]:
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
cumplimiento_recaudo_por_division_sub_gd['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_gd['Real'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['Presupuesto'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['Real'] / cumplimiento_recaudo_por_division_sub_gd['Presupuesto']
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_gd['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_gd = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_gd,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_por_division_sub_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_gd

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2023-01-01,3.533470e+08,3.253998e+08,1.09
1,gd_1_1,VentaCobradaDivisionSub,2023-02-01,5.930395e+08,7.592662e+08,0.78
2,gd_1_1,VentaCobradaDivisionSub,2023-03-01,9.131422e+08,1.149746e+09,0.79
3,gd_1_1,VentaCobradaDivisionSub,2023-04-01,1.616317e+09,1.540226e+09,1.05
4,gd_1_1,VentaCobradaDivisionSub,2023-05-01,2.127809e+09,1.887319e+09,1.13
...,...,...,...,...,...,...
182,gd_3_6,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
183,gd_3_6,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
184,gd_3_6,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
185,gd_3_6,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
186,gd_3_6,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06

#### Cálculo con Renal Ambulatorio

In [92]:
area_calculo_sba_completo_gd_with_renal = area_calculo_sba_completo_with_renal[area_calculo_sba_completo_with_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd_with_renal

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143            3            5                                      GD   both

In [93]:
df_renal_ambulatorio_gd = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'GD']
df_renal_ambulatorio_gd

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
22,5036358,GD,2023-03-01,0.0,1.800674e+08,0.0,1.345561e+08
23,5036358,GD,2023-04-01,0.0,5.458295e+07,0.0,2.319767e+07
24,5036358,GD,2023-05-01,0.0,5.356671e+07,0.0,3.085904e+07
25,5036358,GD,2023-06-01,0.0,5.823006e+07,0.0,7.007240e+07
26,5036358,GD,2023-07-01,0.0,4.890336e+07,0.0,3.621181e+07
27,5036358,GD,2023-08-01,0.0,5.123503e+07,0.0,3.164126e+07
28,5036358,GD,2023-09-01,0.0,9.226956e+07,0.0,3.164126e+07
29,5036358,GD,2023-10-01,0.0,1.451071e+08,0.0,1.863915e+08
30,5036358,GD,2023-11-01,0.0,-7.311644e+07,0.0,5.185608e+07

In [94]:
area_calculo_sba_completo_gd_with_renal

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143            3            5                                      GD   both

In [95]:
renal_ambulatorio_gd = df_renal_ambulatorio_gd.merge(
    area_calculo_sba_completo_gd_with_renal,
    on=['TipoEmpleado'],
    how='left'
)
renal_ambulatorio_gd

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,_merge
0,5036358,GD,2023-03-01,0.0,1.800674e+08,0.0,1.345561e+08,3,5,,,,both
1,5036358,GD,2023-04-01,0.0,5.458295e+07,0.0,2.319767e+07,3,5,,,,both
2,5036358,GD,2023-05-01,0.0,5.356671e+07,0.0,3.085904e+07,3,5,,,,both
3,5036358,GD,2023-06-01,0.0,5.823006e+07,0.0,7.007240e+07,3,5,,,,both
4,5036358,GD,2023-07-01,0.0,4.890336e+07,0.0,3.621181e+07,3,5,,,,both
5,5036358,GD,2023-08-01,0.0,5.123503e+07,0.0,3.164126e+07,3,5,,,,both
6,5036358,GD,2023-09-01,0.0,9.226956e+07,0.0,3.164126e+07,3,5,,,,both
7,5036358,GD,2023-10-01,0.0,1.451071e+08,0.0,1.863915e+08,3,5,,,,both
8,5036358,GD,2023-11-01,0.0,-7.311644e+07,0.0,5.185608e+07,3,5,,,,both

In [96]:
# Calcular

main = renal_ambulatorio_gd.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})

main['Contexto'] = 'gd_' + main['AreaCalculo'].astype('str').str.cat(main['Consecutivo'].astype('str'), sep="_")

# main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaDivisionSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


cumplimiento_recaudo_por_division_sub_gd = pd.concat(
    [
        cumplimiento_recaudo_por_division_sub_gd.copy(),
        main.copy()
    ],
    ignore_index=True
)


main = None
cumplimiento_recaudo_por_division_sub_gd

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2023-01-01,3.533470e+08,3.253998e+08,1.09
1,gd_1_1,VentaCobradaDivisionSub,2023-02-01,5.930395e+08,7.592662e+08,0.78
2,gd_1_1,VentaCobradaDivisionSub,2023-03-01,9.131422e+08,1.149746e+09,0.79
3,gd_1_1,VentaCobradaDivisionSub,2023-04-01,1.616317e+09,1.540226e+09,1.05
4,gd_1_1,VentaCobradaDivisionSub,2023-05-01,2.127809e+09,1.887319e+09,1.13
...,...,...,...,...,...,...
191,gd_3_5,VentaCobradaDivisionSub,2023-07-01,2.948970e+08,3.953505e+08,0.75
192,gd_3_5,VentaCobradaDivisionSub,2023-08-01,3.265383e+08,4.465855e+08,0.73
193,gd_3_5,VentaCobradaDivisionSub,2023-09-01,3.581795e+08,5.388550e+08,0.66
194,gd_3_5,VentaCobradaDivisionSub,2023-10-01,5.445711e+08,6.839621e+08,0.80
195,gd_3_5,VentaCobradaDivisionSub,2023-11-01,5.964271e+08,6.108457e+08,0.98

In [97]:
cumplimiento_recaudo_otras_companias_gd = pd.merge(
    left=area_calculo_sba_completo_gd,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['Real']/cumplimiento_recaudo_otras_companias_gd['Presupuesto']
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_otras_companias_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_gd['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_gd = cumplimiento_recaudo_otras_companias_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_gd.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.3. Para AD (VentaCobradaDivisionSub)

In [98]:
area_calculo_sba_completo_ad = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_real = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_presupuesto = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad = venta_recaudo_presupuesto_original_ad_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad['Real'] = venta_recaudo_real_area_calculo_ad['Recaudo']
venta_recaudo_real_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad = venta_recaudo_presupuesto_original_ad_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad,
    right=venta_recaudo_real_area_calculo_ad,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad['Real'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['Real'] / cumplimiento_recaudo_por_division_sub_ad['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_por_division_sub_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad = cumplimiento_recaudo_por_division_sub_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [99]:
cumplimiento_recaudo_por_division_sub_ad[cumplimiento_recaudo_por_division_sub_ad['Contexto'] == 'ad_3_1']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
66,ad_3_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
67,ad_3_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
68,ad_3_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
69,ad_3_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
70,ad_3_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95
71,ad_3_1,VentaCobradaDivisionSub,2023-06-01,6.440656e+10,6.651231e+10,0.97
72,ad_3_1,VentaCobradaDivisionSub,2023-07-01,7.458625e+10,7.547951e+10,0.99
73,ad_3_1,VentaCobradaDivisionSub,2023-08-01,8.460574e+10,8.527157e+10,0.99
74,ad_3_1,VentaCobradaDivisionSub,2023-09-01,9.770673e+10,9.566719e+10,1.02
75,ad_3_1,VentaCobradaDivisionSub,2023-10-01,1.096166e+11,1.072228e+11,1.02
76,ad_3_1,VentaCobradaDivisionSub,2023-11-01,1.232623e+11,1.168369e+11,1.05

In [100]:
cumplimiento_recaudo_otras_companias_ad = pd.merge(
    left=area_calculo_sba_completo_ad,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['Real']/cumplimiento_recaudo_otras_companias_ad['Presupuesto']
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_otras_companias_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad = cumplimiento_recaudo_otras_companias_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad_1_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
6,ad_1_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
7,ad_1_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
8,ad_1_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
9,ad_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
10,ad_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
11,ad_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
12,ad_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
13,ad_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
14,ad_2_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
15,ad_2_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
16,ad_2_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
17,ad_2_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
18,ad_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
19,ad_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
20,ad_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
21,ad_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
22,ad_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
23,ad_3_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
24,ad_3_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
25,ad_3_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
26,ad_3_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
27,ad_4_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
28,ad_4_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
29,ad_4_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
30,ad_4_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
31,ad_4_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
32,ad_4_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
33,ad_4_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
34,ad_4_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
35,ad_4_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
36,ad_1_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
37,ad_1_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
38,ad_1_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
39,ad_1_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
40,ad_1_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
41,ad_1_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
42,ad_2_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
43,ad_2_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
44,ad_2_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
45,ad_2_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
46,ad_2_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
47,ad_2_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
48,ad_3_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
49,ad_3_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
50,ad_3_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
51,ad_3_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
52,ad_3_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
53,ad_3_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

### 12.4. Para AD1 (VentaCobradaDivisionSub)

In [101]:
area_calculo_sba_completo_ad1 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_real = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_presupuesto = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad1['Real'] = venta_recaudo_real_area_calculo_ad1['Recaudo']
venta_recaudo_real_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad1['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad1['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad1 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad1,
    right=venta_recaudo_real_area_calculo_ad1,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad1['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad1['Real'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['Real'] / cumplimiento_recaudo_por_division_sub_ad1['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad1['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad1,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_por_division_sub_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad1 = cumplimiento_recaudo_por_division_sub_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad1.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad1_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad1_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad1_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad1_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [102]:
cumplimiento_recaudo_otras_companias_ad1 = pd.merge(
    left=area_calculo_sba_completo_ad1,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['Real']/cumplimiento_recaudo_otras_companias_ad1['Presupuesto']
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_otras_companias_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad1['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad1 = cumplimiento_recaudo_otras_companias_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad1

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad1_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad1_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad1_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad1_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
...,...,...,...,...,...,...
76,ad1_10_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
77,ad1_10_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
78,ad1_10_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
79,ad1_10_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
80,ad1_10_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06

### 12.5. Para AD3 (VentaCobradaDivisionSub)

In [103]:
area_calculo_sba_completo_ad3 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_real = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_presupuesto = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad3['Real'] = venta_recaudo_real_area_calculo_ad3['Recaudo']
venta_recaudo_real_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad3['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad3['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad3 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad3,
    right=venta_recaudo_real_area_calculo_ad3,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad3['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad3['Real'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['Real'] / cumplimiento_recaudo_por_division_sub_ad3['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad3['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad3,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_por_division_sub_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad3 = cumplimiento_recaudo_por_division_sub_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad3.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad3_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad3_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad3_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad3_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [104]:
cumplimiento_recaudo_otras_companias_ad3 = pd.merge(
    left=area_calculo_sba_completo_ad3,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['Real']/cumplimiento_recaudo_otras_companias_ad3['Presupuesto']
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_otras_companias_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad3['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad3 = cumplimiento_recaudo_otras_companias_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad3_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad3_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad3_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad3_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad3_1_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
6,ad3_1_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
7,ad3_1_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
8,ad3_1_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
9,ad3_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
10,ad3_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
11,ad3_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
12,ad3_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
13,ad3_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
14,ad3_2_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
15,ad3_2_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
16,ad3_2_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
17,ad3_2_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
18,ad3_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
19,ad3_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
20,ad3_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
21,ad3_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
22,ad3_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
23,ad3_3_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
24,ad3_3_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
25,ad3_3_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
26,ad3_3_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06

### 12.6. Para AD4 (VentaCobradaDivisionSub)

In [105]:
area_calculo_sba_completo_ad4 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_real = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_presupuesto = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad4['Real'] = venta_recaudo_real_area_calculo_ad4['Recaudo']
venta_recaudo_real_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad4['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad4['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad4 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad4,
    right=venta_recaudo_real_area_calculo_ad4,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad4['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad4['Real'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['Real'] / cumplimiento_recaudo_por_division_sub_ad4['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad4['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad4,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_por_division_sub_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad4 = cumplimiento_recaudo_por_division_sub_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad4.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [106]:
cumplimiento_recaudo_otras_companias_ad4 = pd.merge(
    left=area_calculo_sba_completo_ad4,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['Real']/cumplimiento_recaudo_otras_companias_ad4['Presupuesto']
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_otras_companias_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad4['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad4 = cumplimiento_recaudo_otras_companias_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad4

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad4_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad4_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad4_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad4_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
...,...,...,...,...,...,...
58,ad4_2_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
59,ad4_2_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
60,ad4_3_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
61,ad4_3_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
62,ad4_3_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

### 12.7. Para AD5 (VentaCobradaDivisionSub)

In [107]:
area_calculo_sba_completo_ad5 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_real = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_presupuesto = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad5['Real'] = venta_recaudo_real_area_calculo_ad5['Recaudo']
venta_recaudo_real_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad5['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad5['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad5 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad5,
    right=venta_recaudo_real_area_calculo_ad5,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad5['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad5['Real'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['Real'] / cumplimiento_recaudo_por_division_sub_ad5['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad5['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad5,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_por_division_sub_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad5 = cumplimiento_recaudo_por_division_sub_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad5.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [108]:
cumplimiento_recaudo_otras_companias_ad5 = pd.merge(
    left=area_calculo_sba_completo_ad5,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['Real']/cumplimiento_recaudo_otras_companias_ad5['Presupuesto']
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_otras_companias_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad5['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad5 = cumplimiento_recaudo_otras_companias_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad5

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad5_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad5_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad5_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad5_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad5_1_1,VentaCobradaDivisionSub,2023-08-01,1.168169e+11,1.178687e+11,0.99
6,ad5_1_1,VentaCobradaDivisionSub,2023-09-01,1.348872e+11,1.325749e+11,1.02
7,ad5_1_1,VentaCobradaDivisionSub,2023-10-01,1.512564e+11,1.481929e+11,1.02
8,ad5_1_1,VentaCobradaDivisionSub,2023-11-01,1.711794e+11,1.613982e+11,1.06
9,ad5_1_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
10,ad5_1_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
11,ad5_1_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

## 13. Objetivos de rentabilidad CM5 a nivel país (RentabilidadBbraunPaisAntesDeImpuestos)

In [109]:
cumplimiento_rentabilidad_cm5_nivel_pais = df_rentabilidad[(df_rentabilidad['Compania']=='BBMCO')&(df_rentabilidad['ClaseRentabilidad']=='CMV')]

cumplimiento_rentabilidad_cm5_nivel_pais = cumplimiento_rentabilidad_cm5_nivel_pais.groupby(
    ['Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'] = cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_cm5_nivel_pais['Real'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'] / cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto']
cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_rentabilidad_cm5_nivel_pais['Contexto'] = 'CM5'
cumplimiento_rentabilidad_cm5_nivel_pais['Variable'] = 'RentabilidadBbraunPaisAntesDeImpuestos'

cumplimiento_rentabilidad_cm5_nivel_pais.head()

,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Contexto,Variable
0,2023-03-01,2.856378e+08,1.057030e+09,0.27,CM5,RentabilidadBbraunPaisAntesDeImpuestos
1,2023-04-01,6.427351e+08,1.435046e+09,0.45,CM5,RentabilidadBbraunPaisAntesDeImpuestos
2,2023-05-01,2.868429e+09,1.860457e+09,1.54,CM5,RentabilidadBbraunPaisAntesDeImpuestos
3,2023-06-01,3.998743e+09,2.284161e+09,1.75,CM5,RentabilidadBbraunPaisAntesDeImpuestos
4,2023-07-01,5.875547e+09,2.785519e+09,2.11,CM5,RentabilidadBbraunPaisAntesDeImpuestos

## 14. Objetivos de rentabilidad CM3 por grupo clientes con consecutivos (RentabilidadDivisionGrupoClientesCM3Sub)

In [110]:
rentabilidad_division_cm3_gd = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd,
    on=['GrupoProducto', 'SBA'],
    how='left'
)
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = rentabilidad_division_cm3_gd.groupby(
    ['Division', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Division'].astype('str').str.cat(cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Variable'] = 'RentabilidadDivisionGrupoClientesCM3Sub'
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = cumplimiento_rentabilidad_cm3_grupo_clientes_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-03-01,1.769834e+08,8.679482e+07,2.04
1,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-04-01,2.846501e+08,1.955263e+08,1.46
2,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-05-01,2.762950e+08,2.483433e+08,1.11
3,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-06-01,3.187072e+08,3.380887e+08,0.94
4,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-07-01,3.882273e+08,6.008216e+08,0.65
...,...,...,...,...,...,...
139,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-07-01,2.117120e+10,2.107452e+10,1.00
140,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-08-01,2.690532e+10,2.394568e+10,1.12
141,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-09-01,3.392692e+10,2.878723e+10,1.18
142,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-10-01,3.666797e+10,3.356675e+10,1.09
143,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-11-01,4.994627e+10,4.064963e+10,1.23

## 15. Objetivos de rentabilidad CM3 por grupo clientes (RentabilidadDivisionGrupoClientesCM3)

In [111]:
cumplimiento_rentabilidad_cm3_grupo_clientes = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd[['GrupoProducto', 'SBA', 'Division', 'AreaCalculo']].drop_duplicates(['GrupoProducto', 'SBA', 'AreaCalculo', 'Division']),
    on=['GrupoProducto', 'SBA'],
    how='left'
)

cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes.groupby(
    ['AreaCalculo', 'Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] = cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'].astype(int).astype(str)

cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] + '_' + cumplimiento_rentabilidad_cm3_grupo_clientes['Division']
cumplimiento_rentabilidad_cm3_grupo_clientes['Variable'] = 'RentabilidadDivisionGrupoClientesCM3'
cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
1,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-04-01,5.814014e+08,2.249817e+08,2.58
2,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-05-01,6.628269e+08,4.510404e+08,1.47
3,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-06-01,6.704081e+08,8.007638e+08,0.84
4,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.879052e+08,2.374916e+09,0.33
...,...,...,...,...,...,...
76,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.057067e+09,7.024841e+09,1.00
77,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-08-01,8.968439e+09,7.981894e+09,1.12
78,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-09-01,1.130897e+10,9.595743e+09,1.18
79,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-10-01,1.222266e+10,1.118892e+10,1.09
80,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-11-01,1.664876e+10,1.354988e+10,1.23

## 16. Objetivos de rentabilidad por grupo clientes (RentabilidadGrupoClientesCM2)

In [112]:
area_calculo_sba_completo

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO                                AD
1              1            1       HC                                AD
2              1            2       AE                                AD
3              1            2    BBSCO         BBSCO  BBSCO           AD
4              1            2       OK                                AD
..           ...          ...      ...           ...    ...          ...
502           11            2       BA           A33     86           VE
503           12            1       AE           805     30           VE
504           12            1       AE           805     32           VE
505           12            2       AE           M06     31           VE
506           12            2       AE           M06     30           VE

[1985 rows x 6 columns]

In [113]:
area_calculo_sba_completo_kam = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'KAM']

cumplimiento_rentabilidad_cm2_grupo_clientes = pd.merge(
    left=area_calculo_sba_completo_kam[['Division', 'AreaCalculo', 'Consecutivo']].drop_duplicates(),
    right=df_rentabilidad_kam,
    on='Division',
    how='left'
)
cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_rentabilidad_cm2_grupo_clientes['Real'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['Real']/cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm2_grupo_clientes['Contexto'] = 'kam_' + cumplimiento_rentabilidad_cm2_grupo_clientes['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm2_grupo_clientes['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm2_grupo_clientes['Variable'] = 'RentabilidadGrupoClientesCM2'
cumplimiento_rentabilidad_cm2_grupo_clientes = cumplimiento_rentabilidad_cm2_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm2_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_3_1,RentabilidadGrupoClientesCM2,2023-03-01,4.685733e+09,3.741742e+09,1.25
1,kam_3_1,RentabilidadGrupoClientesCM2,2023-04-01,5.687551e+09,5.112986e+09,1.11
2,kam_3_1,RentabilidadGrupoClientesCM2,2023-05-01,7.396895e+09,6.612171e+09,1.12
3,kam_3_1,RentabilidadGrupoClientesCM2,2023-06-01,9.151921e+09,8.087487e+09,1.13
4,kam_3_1,RentabilidadGrupoClientesCM2,2023-07-01,1.021167e+10,9.652380e+09,1.06
5,kam_3_1,RentabilidadGrupoClientesCM2,2023-08-01,1.182160e+10,1.104033e+10,1.07
6,kam_3_1,RentabilidadGrupoClientesCM2,2023-09-01,1.345980e+10,1.310028e+10,1.03
7,kam_3_1,RentabilidadGrupoClientesCM2,2023-10-01,1.567605e+10,1.428034e+10,1.10
8,kam_3_1,RentabilidadGrupoClientesCM2,2023-11-01,1.890999e+10,1.620085e+10,1.17
9,kam_4_1,RentabilidadGrupoClientesCM2,2023-03-01,0.000000e+00,0.000000e+00,NaN
10,kam_4_1,RentabilidadGrupoClientesCM2,2023-04-01,0.000000e+00,0.000000e+00,NaN
11,kam_4_1,RentabilidadGrupoClientesCM2,2023-05-01,0.000000e+00,0.000000e+00,NaN
12,kam_4_1,RentabilidadGrupoClientesCM2,2023-06-01,0.000000e+00,0.000000e+00,NaN
13,kam_4_1,RentabilidadGrupoClientesCM2,2023-07-01,0.000000e+00,0.000000e+00,NaN
14,kam_4_1,RentabilidadGrupoClientesCM2,2023-08-01,0.000000e+00,0.000000e+00,NaN
15,kam_4_1,RentabilidadGrupoClientesCM2,2023-09-01,0.000000e+00,0.000000e+00,NaN
16,kam_4_1,RentabilidadGrupoClientesCM2,2023-10-01,0.000000e+00,0.000000e+00,NaN
17,kam_4_1,RentabilidadGrupoClientesCM2,2023-11-01,0.000000e+00,0.000000e+00,NaN

## 17. Objetivos de rentabilidad antes de impuestos CM5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [114]:
rentabilidad_antes_de_impuestos_cm5 = df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMV')]
rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)
rentabilidad_antes_de_impuestos_cm5 = rentabilidad_antes_de_impuestos_cm5.groupby(
    ['Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_antes_de_impuestos_cm5['Presupuesto'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_antes_de_impuestos_cm5['Real'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['Real'] / rentabilidad_antes_de_impuestos_cm5['Presupuesto']
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_antes_de_impuestos_cm5['Variable'] = 'TotalRentabilidadBraunAntesDeImpuestosCM5'

rentabilidad_antes_de_impuestos_cm5

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\1697700680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)

,Division,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Variable
0,BBMCO,2023-03-01,2.856378e+08,1.057030e+09,0.27,TotalRentabilidadBraunAntesDeImpuestosCM5
1,BBMCO,2023-04-01,6.427351e+08,1.435046e+09,0.45,TotalRentabilidadBraunAntesDeImpuestosCM5
2,BBMCO,2023-05-01,2.868429e+09,1.860457e+09,1.54,TotalRentabilidadBraunAntesDeImpuestosCM5
3,BBMCO,2023-06-01,3.998743e+09,2.284161e+09,1.75,TotalRentabilidadBraunAntesDeImpuestosCM5
4,BBMCO,2023-07-01,5.875547e+09,2.785519e+09,2.11,TotalRentabilidadBraunAntesDeImpuestosCM5
5,BBMCO,2023-08-01,6.954665e+09,3.190502e+09,2.18,TotalRentabilidadBraunAntesDeImpuestosCM5
6,BBMCO,2023-09-01,1.038384e+10,3.661146e+09,2.84,TotalRentabilidadBraunAntesDeImpuestosCM5
7,BBMCO,2023-10-01,9.216761e+09,4.118089e+09,2.24,TotalRentabilidadBraunAntesDeImpuestosCM5
8,BBMCO,2023-11-01,1.369763e+10,4.649705e+09,2.95,TotalRentabilidadBraunAntesDeImpuestosCM5
9,BBMEC,2023-03-01,1.293940e+05,-2.617475e+05,-0.49,TotalRentabilidadBraunAntesDeImpuestosCM5
10,BBMEC,2023-04-01,4.877500e+04,-1.765953e+05,-0.28,TotalRentabilidadBraunAntesDeImpuestosCM5
11,BBMEC,2023-05-01,-1.778097e+05,-1.018423e+05,1.75,TotalRentabilidadBraunAntesDeImpuestosCM5
12,BBMEC,2023-06-01,1.524240e+04,-2.704351e+04,-0.56,TotalRentabilidadBraunAntesDeImpuestosCM5
13,BBMEC,2023-07-01,-9.425660e+04,-9.743704e+04,0.97,TotalRentabilidadBraunAntesDeImpuestosCM5
14,BBMEC,2023-08-01,-1.551316e+05,-1.780585e+05,0.87,TotalRentabilidadBraunAntesDeImpuestosCM5
15,BBMEC,2023-09-01,-5.067578e+05,-1.862987e+05,2.72,TotalRentabilidadBraunAntesDeImpuestosCM5
16,BBMEC,2023-10-01,-7.636397e+05,-1.844083e+05,4.14,TotalRentabilidadBraunAntesDeImpuestosCM5
17,BBMEC,2023-11-01,-3.880210e+05,-2.136123e+05,1.82,TotalRentabilidadBraunAntesDeImpuestosCM5
18,BBSCO,2023-03-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
19,BBSCO,2023-04-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5

### 17.1. Para AD (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [115]:
cumplimiento_rentabilidad_cm5_ad = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad['Contexto'] = 'ad_' + cumplimiento_rentabilidad_cm5_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad = cumplimiento_rentabilidad_cm5_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
223,ad_4_3,NaN,NaT,NaN,NaN,NaN
224,ad_4_3,NaN,NaT,NaN,NaN,NaN
225,ad_4_3,NaN,NaT,NaN,NaN,NaN
226,ad_4_3,NaN,NaT,NaN,NaN,NaN
227,ad_4_3,NaN,NaT,NaN,NaN,NaN

### 17.2. Para AD1 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [116]:
cumplimiento_rentabilidad_cm5_ad1 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad1,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad1['Contexto'] = 'ad1_' + cumplimiento_rentabilidad_cm5_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad1 = cumplimiento_rentabilidad_cm5_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad1

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
436,ad1_10_2,NaN,NaT,NaN,NaN,NaN
437,ad1_10_2,NaN,NaT,NaN,NaN,NaN
438,ad1_10_2,NaN,NaT,NaN,NaN,NaN
439,ad1_10_2,NaN,NaT,NaN,NaN,NaN
440,ad1_10_2,NaN,NaT,NaN,NaN,NaN

### 17.3. Para AD2 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [117]:
cumplimiento_rentabilidad_cm5_ad2 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad2 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad2,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD2'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad2['Contexto'] = 'ad2_' + cumplimiento_rentabilidad_cm5_ad2['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad2['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad2 = cumplimiento_rentabilidad_cm5_ad2[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad2

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.0,0.0,NaN
1,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.0,0.0,NaN
2,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.0,0.0,NaN
3,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.0,0.0,NaN

### 17.4. Para AD3 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [118]:
cumplimiento_rentabilidad_cm5_ad3 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad3,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad3['Contexto'] = 'ad3_' + cumplimiento_rentabilidad_cm5_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad3 = cumplimiento_rentabilidad_cm5_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad3

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
157,ad3_3_3,NaN,NaT,NaN,NaN,NaN
158,ad3_3_3,NaN,NaT,NaN,NaN,NaN
159,ad3_3_3,NaN,NaT,NaN,NaN,NaN
160,ad3_3_3,NaN,NaT,NaN,NaN,NaN
161,ad3_3_3,NaN,NaT,NaN,NaN,NaN

### 17.5. Para AD4 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [119]:
cumplimiento_rentabilidad_cm5_ad4 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad4,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad4['Contexto'] = 'ad4_' + cumplimiento_rentabilidad_cm5_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad4 = cumplimiento_rentabilidad_cm5_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad4

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
5,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,6.954665e+09,3.190502e+09,2.18
6,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,1.038384e+10,3.661146e+09,2.84
7,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,9.216761e+09,4.118089e+09,2.24
8,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,1.369763e+10,4.649705e+09,2.95
9,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
10,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
11,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
12,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
13,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
14,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,-1.551316e+05,-1.780585e+05,0.87
15,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,-5.067578e+05,-1.862987e+05,2.72
16,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,-7.636397e+05,-1.844083e+05,4.14
17,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,-3.880210e+05,-2.136123e+05,1.82
18,ad4_1_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
19,ad4_1_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN
20,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
21,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
22,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
23,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
24,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
25,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,6.954665e+09,3.190502e+09,2.18
26,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,1.038384e+10,3.661146e+09,2.84
27,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,9.216761e+09,4.118089e+09,2.24
28,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,1.369763e+10,4.649705e+09,2.95
29,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
30,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
31,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
32,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
33,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
34,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,-1.551316e+05,-1.780585e+05,0.87
35,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,-5.067578e+05,-1.862987e+05,2.72
36,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,-7.636397e+05,-1.844083e+05,4.14
37,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,-3.880210e+05,-2.136123e+05,1.82
38,ad4_2_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
39,ad4_2_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN
40,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
41,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
42,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
43,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
44,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
45,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,6.954665e+09,3.190502e+09,2.18
46,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,1.038384e+10,3.661146e+09,2.84
47,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,9.216761e+09,4.118089e+09,2.24
48,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,1.369763e+10,4.649705e+09,2.95
49,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
50,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
51,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
52,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
53,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
54,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,-1.551316e+05,-1.780585e+05,0.87
55,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,-5.067578e+05,-1.862987e+05,2.72
56,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,-7.636397e+05,-1.844083e+05,4.14
57,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,-3.880210e+05,-2.136123e+05,1.82
58,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
59,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN

### 17.6. Para AD5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [120]:
cumplimiento_rentabilidad_cm5_ad5 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad5,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad5['Contexto'] = 'ad5_' + cumplimiento_rentabilidad_cm5_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad5 = cumplimiento_rentabilidad_cm5_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad5

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
5,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-08-01,6.954665e+09,3.190502e+09,2.18
6,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-09-01,1.038384e+10,3.661146e+09,2.84
7,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-10-01,9.216761e+09,4.118089e+09,2.24
8,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-11-01,1.369763e+10,4.649705e+09,2.95
9,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
10,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN

## 18. Objetivos de venta facturada previo notas crédito TP (VentaFacturadaPrevioNotasCreditoTP)

In [121]:
cumplimiento_venta_previo_notas_credito_tp = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=df_venta_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division'],
    how='left'
)

# cumplimiento_venta_previo_notas_credito_tp['Presupuesto'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_venta_previo_notas_credito_tp['Real'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['Real'] / cumplimiento_venta_previo_notas_credito_tp['Presupuesto']
cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_previo_notas_credito_tp['Variable'] = 'VentaFacturadaPrevioNotasCreditoTP'
cumplimiento_venta_previo_notas_credito_tp['Contexto'] = 'ad2_' + cumplimiento_venta_previo_notas_credito_tp['AreaCalculo'].astype('str').str.cat(cumplimiento_venta_previo_notas_credito_tp['Consecutivo'].astype('str'), sep="_")
cumplimiento_venta_previo_notas_credito_tp = cumplimiento_venta_previo_notas_credito_tp[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_previo_notas_credito_tp

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN
1,ad2_2_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN

## 19. Venta de servicios Mtto (VentaServiciosMtto)

In [122]:
cumplimiento_venta_servicios_mtto = df_venta_servicios_mtto

cumplimiento_venta_servicios_mtto['Presupuesto'] = cumplimiento_venta_servicios_mtto['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_servicios_mtto['Real'] = cumplimiento_venta_servicios_mtto['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['Real'] / cumplimiento_venta_servicios_mtto['Presupuesto']
cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_servicios_mtto['Variable'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto['Contexto'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto = cumplimiento_venta_servicios_mtto[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_servicios_mtto

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

# Nuevos rubros 2022

## 20. Venta Cobrada BBraun Cluster (UCI + OR) (VentaCobradaBraunCluster)

In [123]:
main = df_cluster_plan_real_recaudo.copy()
main

    Cluster      Fecha          Real   Presupuesto
0         0 2023-01-01  3.221764e+08  3.466814e+08
1         0 2023-02-01  2.420555e+08  3.645657e+08
2         0 2023-03-01  3.936310e+08  3.590231e+08
3         0 2023-04-01  3.905248e+08  3.221738e+08
4         0 2023-05-01  4.008128e+08  3.171875e+08
..      ...        ...           ...           ...
226       9 2023-07-01  5.805355e+08  7.088791e+08
227       9 2023-08-01  4.746404e+08  7.299039e+08
228       9 2023-09-01  6.382457e+08  7.752051e+08
229       9 2023-10-01  7.702847e+08  8.360061e+08
230       9 2023-11-01  8.568086e+08  7.181179e+08

[231 rows x 4 columns]

In [124]:
print(main)
main = df_cluster_plan_real_recaudo.copy()
# TODO Validar si se ignoran para TODOS los resultados

# Calcular
main = main.groupby(['Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['Cluster'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Cluster'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaBraunCluster'

#print(main)
#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Cluster': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_braun_cluster = main.copy()
main = None

venta_cobrada_braun_cluster

# Contexto: Cluster

    Cluster      Fecha          Real   Presupuesto
0         0 2023-01-01  3.221764e+08  3.466814e+08
1         0 2023-02-01  2.420555e+08  3.645657e+08
2         0 2023-03-01  3.936310e+08  3.590231e+08
3         0 2023-04-01  3.905248e+08  3.221738e+08
4         0 2023-05-01  4.008128e+08  3.171875e+08
..      ...        ...           ...           ...
226       9 2023-07-01  5.805355e+08  7.088791e+08
227       9 2023-08-01  4.746404e+08  7.299039e+08
228       9 2023-09-01  6.382457e+08  7.752051e+08
229       9 2023-10-01  7.702847e+08  8.360061e+08
230       9 2023-11-01  8.568086e+08  7.181179e+08

[231 rows x 4 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,0,VentaCobradaBraunCluster,2023-01-01,3.221764e+08,3.466814e+08,0.93
1,0,VentaCobradaBraunCluster,2023-02-01,5.642320e+08,7.112471e+08,0.79
2,0,VentaCobradaBraunCluster,2023-03-01,9.578630e+08,1.070270e+09,0.89
3,0,VentaCobradaBraunCluster,2023-04-01,1.348388e+09,1.392444e+09,0.97
4,0,VentaCobradaBraunCluster,2023-05-01,1.749201e+09,1.709631e+09,1.02
...,...,...,...,...,...,...
226,9,VentaCobradaBraunCluster,2023-07-01,4.733364e+09,5.586822e+09,0.85
227,9,VentaCobradaBraunCluster,2023-08-01,5.208004e+09,6.316726e+09,0.82
228,9,VentaCobradaBraunCluster,2023-09-01,5.846250e+09,7.091931e+09,0.82
229,9,VentaCobradaBraunCluster,2023-10-01,6.616535e+09,7.927937e+09,0.83
230,9,VentaCobradaBraunCluster,2023-11-01,7.473343e+09,8.646055e+09,0.86

In [125]:
venta_cobrada_braun_cluster[
    (venta_cobrada_braun_cluster['Contexto'] == '16')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
88,16,VentaCobradaBraunCluster,2023-01-01,1.292989e+08,4.134710e+08,0.31
89,16,VentaCobradaBraunCluster,2023-02-01,5.834090e+08,8.317709e+08,0.70
90,16,VentaCobradaBraunCluster,2023-03-01,1.018848e+09,1.248370e+09,0.82
91,16,VentaCobradaBraunCluster,2023-04-01,1.510389e+09,1.623308e+09,0.93
92,16,VentaCobradaBraunCluster,2023-05-01,1.954293e+09,1.995117e+09,0.98
93,16,VentaCobradaBraunCluster,2023-06-01,2.409102e+09,2.407115e+09,1.00
94,16,VentaCobradaBraunCluster,2023-07-01,2.824382e+09,2.739862e+09,1.03
95,16,VentaCobradaBraunCluster,2023-08-01,3.165358e+09,3.092134e+09,1.02
96,16,VentaCobradaBraunCluster,2023-09-01,3.577991e+09,3.471547e+09,1.03
97,16,VentaCobradaBraunCluster,2023-10-01,4.093116e+09,3.887325e+09,1.05
98,16,VentaCobradaBraunCluster,2023-11-01,4.460954e+09,4.236724e+09,1.05

In [126]:
venta_cobrada_braun_cluster[
    (venta_cobrada_braun_cluster['Contexto'] == '14')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
66,14,VentaCobradaBraunCluster,2023-01-01,1.244638e+09,9.967659e+08,1.25
67,14,VentaCobradaBraunCluster,2023-02-01,2.626960e+09,2.029892e+09,1.29
68,14,VentaCobradaBraunCluster,2023-03-01,3.578920e+09,3.049025e+09,1.17
69,14,VentaCobradaBraunCluster,2023-04-01,4.144043e+09,3.970381e+09,1.04
70,14,VentaCobradaBraunCluster,2023-05-01,4.960782e+09,4.876897e+09,1.02
71,14,VentaCobradaBraunCluster,2023-06-01,5.973108e+09,5.864922e+09,1.02
72,14,VentaCobradaBraunCluster,2023-07-01,6.765709e+09,6.694938e+09,1.01
73,14,VentaCobradaBraunCluster,2023-08-01,7.808945e+09,7.562998e+09,1.03
74,14,VentaCobradaBraunCluster,2023-09-01,8.784223e+09,8.478618e+09,1.04
75,14,VentaCobradaBraunCluster,2023-10-01,9.752754e+09,9.486823e+09,1.03
76,14,VentaCobradaBraunCluster,2023-11-01,1.098853e+10,1.034856e+10,1.06

## 21. Venta Cobrada Portafolio Cluster (VentaCobradaPortafolioCluster)

In [127]:
df_clusters_empleado[
    (df_clusters_empleado['CodigoEmpleado'] == '1111128')
]

  Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
7      11        1111128           VC            4

In [128]:
drop_cols = ['Venta', 'Division', 'ZonaGeografica', 'GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Recaudo': 'Presupuesto'}).merge(
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado', 'Cluster','Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main.reset_index(inplace=True)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster = main.copy()
main = None
venta_cobrada_portafolio_cluster

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408,VentaCobradaPortafolioCluster,2023-08-01,4.916497e+08,4.475599e+08,1.10
1,1094935408,VentaCobradaPortafolioCluster,2023-09-01,1.127213e+09,9.282480e+08,1.21
2,1094935408,VentaCobradaPortafolioCluster,2023-10-01,1.496465e+09,1.465154e+09,1.02
3,1094935408,VentaCobradaPortafolioCluster,2023-11-01,2.315873e+09,1.914308e+09,1.21
4,1111111,VentaCobradaPortafolioCluster,2023-01-01,1.226227e+08,1.432419e+08,0.86
...,...,...,...,...,...,...
307,9990010,VentaCobradaPortafolioCluster,2023-08-01,4.069463e+09,3.008046e+09,1.35
308,9990011,VentaCobradaPortafolioCluster,2023-01-01,4.911270e+08,5.759101e+08,0.85
309,9990011,VentaCobradaPortafolioCluster,2023-02-01,7.283693e+08,1.148073e+09,0.63
310,9990011,VentaCobradaPortafolioCluster,2023-03-01,1.349746e+09,1.721428e+09,0.78
311,9990011,VentaCobradaPortafolioCluster,2023-04-01,1.762121e+09,2.233348e+09,0.79

In [129]:
venta_cobrada_portafolio_cluster[
    (venta_cobrada_portafolio_cluster['Contexto'] == '1111128')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
89,1111128,VentaCobradaPortafolioCluster,2023-06-01,4.682565e+08,5.759101e+08,0.81
90,1111128,VentaCobradaPortafolioCluster,2023-07-01,1.128562e+09,1.023840e+09,1.10
91,1111128,VentaCobradaPortafolioCluster,2023-08-01,1.649908e+09,1.503903e+09,1.10
92,1111128,VentaCobradaPortafolioCluster,2023-09-01,2.349891e+09,2.022490e+09,1.16
93,1111128,VentaCobradaPortafolioCluster,2023-10-01,2.834147e+09,2.598400e+09,1.09
94,1111128,VentaCobradaPortafolioCluster,2023-11-01,3.545823e+09,3.077547e+09,1.15

## 22. Venta Cobrada Portafolio Cluster sub (VentaCobradaPortafolioClusterSub)

In [130]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

drop_cols = ['Venta', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo_without_renal.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
# ppto.reset_index(inplace=True)
# real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Recaudo': 'Presupuesto'}),
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['CodigoEmpleado','TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)
main

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Cluster,Division,GrupoProducto,SBA,Fecha,Presupuesto,Real,FechaIngreso,Consecutivo,_merge
0,5004523,VC,3,6,AE,001,30,2023-10-01,1.616702e+07,0.00,2023-10-01,3.0,left_only
1,5004523,VC,3,6,AE,001,30,2023-11-01,1.616702e+07,45892230.00,2023-10-01,3.0,left_only
2,5004523,VC,3,6,AE,001,31,2023-10-01,3.840000e+05,0.00,2023-10-01,3.0,left_only
3,5004523,VC,3,6,AE,001,31,2023-11-01,3.840000e+05,88231410.00,2023-10-01,3.0,left_only
4,5004523,VC,3,6,AE,001,33,2023-11-01,0.000000e+00,8182530.00,2023-10-01,3.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,1111118,VC,4,14,HC,680,03,2023-11-01,2.492430e+07,8117837.53,2022-11-01,3.0,left_only
4592,1111118,VC,4,14,HC,CDK,12,2023-04-01,0.000000e+00,0.00,2022-11-01,1.0,left_only
4593,1111118,VC,4,14,HC,CDK,12,2023-06-01,0.000000e+00,0.00,2022-11-01,1.0,left_only
4594,1111118,VC,4,14,HC,CDK,12,2023-09-01,0.000000e+00,1025000.00,2022-11-01,1.0,left_only
4595,1111118,VC,4,14,HC,CDK,12,2023-11-01,0.000000e+00,0.00,2022-11-01,1.0,left_only

In [131]:
area_calculo_sba_completo_without_renal[
    (area_calculo_sba_completo_without_renal['TipoEmpleado'] == 'VC')
]

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
269,3,1,AE,805,,VC,left_only
270,3,1,AE,M06,,VC,left_only
271,3,2,AE,005,,VC,left_only
272,3,2,AE,M07,,VC,left_only
273,3,2,AE,M08,,VC,left_only
...,...,...,...,...,...,...,...
1950,9,8,HC,610,01,VC,left_only
1951,9,8,HC,610,02,VC,left_only
1952,9,9,BA,A32,84,VC,left_only
1953,9,10,BA,A33,86,VC,left_only
1954,9,10,BA,A34,85,VC,left_only

In [132]:
main[
    (main['CodigoEmpleado'] == '1111128')
]['Presupuesto'].sum()

3077547024.8485374

In [133]:
main[
    (main['CodigoEmpleado'] == '1111128')
]['Real'].sum()

3545822686.7000003

In [134]:
df_area_calculo_sba_centros_costos.head()

,TipoEmpleado,AreaCalculo,ConsecutivoParrilla,Division,GrupoProducto,SBA,CodigoCentroCosto
0,GC,1,1,AE,001,NaN,323007270.0
1,GC,1,1,AE,003,NaN,323007260.0
2,GC,1,1,AE,005,NaN,323010140.0
3,GC,1,1,AE,006,NaN,323007300.0
4,GC,1,1,AE,801,NaN,323007350.0

In [135]:
df_centros_costos_grupos_productos_divisiones.head()

  Division GrupoProducto CodigoCentroCosto
0       AE           001         323007270
1       AE           003         323007260
2       AE           005         323010140
3       AE           006         323007300
4       AE           801         323007350

In [136]:
calculo_centro_costo_variable = main.merge(
    df_centros_costos_grupos_productos_divisiones.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
    on=['Division', 'GrupoProducto'],
    how='left'
)
calculo_centro_costo_variable

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Cluster,Division,GrupoProducto,SBA,Fecha,Presupuesto,Real,FechaIngreso,Consecutivo,_merge,CodigoCentroCosto
0,5004523,VC,3,6,AE,001,30,2023-10-01,1.616702e+07,0.00,2023-10-01,3.0,left_only,323007270
1,5004523,VC,3,6,AE,001,30,2023-11-01,1.616702e+07,45892230.00,2023-10-01,3.0,left_only,323007270
2,5004523,VC,3,6,AE,001,31,2023-10-01,3.840000e+05,0.00,2023-10-01,3.0,left_only,323007270
3,5004523,VC,3,6,AE,001,31,2023-11-01,3.840000e+05,88231410.00,2023-10-01,3.0,left_only,323007270
4,5004523,VC,3,6,AE,001,33,2023-11-01,0.000000e+00,8182530.00,2023-10-01,3.0,left_only,323007270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,1111118,VC,4,14,HC,680,03,2023-11-01,2.492430e+07,8117837.53,2022-11-01,3.0,left_only,323015055
4592,1111118,VC,4,14,HC,CDK,12,2023-04-01,0.000000e+00,0.00,2022-11-01,1.0,left_only,323015050
4593,1111118,VC,4,14,HC,CDK,12,2023-06-01,0.000000e+00,0.00,2022-11-01,1.0,left_only,323015050
4594,1111118,VC,4,14,HC,CDK,12,2023-09-01,0.000000e+00,1025000.00,2022-11-01,1.0,left_only,323015050
4595,1111118,VC,4,14,HC,CDK,12,2023-11-01,0.000000e+00,0.00,2022-11-01,1.0,left_only,323015050

In [137]:
calculo_centro_costo_variable = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha', 'GrupoProducto', 'Division', 'CodigoCentroCosto'], as_index=False)[['Real']].apply(sum)
calculo_centro_costo_variable

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real
0,1094935408,1.0,2023-08-01,630,HC,323015050,23281344.00
1,1094935408,1.0,2023-08-01,CDK,HC,323015050,0.00
2,1094935408,1.0,2023-09-01,630,HC,323015050,66392494.11
3,1094935408,1.0,2023-10-01,630,HC,323015050,38935225.80
4,1094935408,1.0,2023-11-01,630,HC,323015050,71102792.09
...,...,...,...,...,...,...,...
2733,9990011,4.0,2023-04-01,610,HC,323015040,17368220.00
2734,9990011,5.0,2023-01-01,A45,BA,323007337,0.00
2735,9990011,5.0,2023-02-01,A45,BA,323007337,0.00
2736,9990011,5.0,2023-03-01,A45,BA,323007337,0.00
2737,9990011,5.0,2023-04-01,A45,BA,323007337,0.00

In [138]:
calculo_centro_costo_variable['Real'] = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'GrupoProducto', 'Division', 'CodigoCentroCosto'])['Real'].transform(pd.Series.cumsum)
calculo_centro_costo_variable

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real
0,1094935408,1.0,2023-08-01,630,HC,323015050,2.328134e+07
1,1094935408,1.0,2023-08-01,CDK,HC,323015050,0.000000e+00
2,1094935408,1.0,2023-09-01,630,HC,323015050,8.967384e+07
3,1094935408,1.0,2023-10-01,630,HC,323015050,1.286091e+08
4,1094935408,1.0,2023-11-01,630,HC,323015050,1.997119e+08
...,...,...,...,...,...,...,...
2733,9990011,4.0,2023-04-01,610,HC,323015040,8.989337e+07
2734,9990011,5.0,2023-01-01,A45,BA,323007337,0.000000e+00
2735,9990011,5.0,2023-02-01,A45,BA,323007337,0.000000e+00
2736,9990011,5.0,2023-03-01,A45,BA,323007337,0.000000e+00
2737,9990011,5.0,2023-04-01,A45,BA,323007337,0.000000e+00

In [139]:
calculo_centro_costo_variable[
    (calculo_centro_costo_variable['Fecha'] == '2023-05-01') &
    (calculo_centro_costo_variable['Consecutivo'] == 4) &
    (calculo_centro_costo_variable['CodigoEmpleado'] == '5002700')

]['Real'].sum()

756689149.9918034

In [140]:
calculo_centro_costo_variable[
    (calculo_centro_costo_variable['Fecha'] == '2023-05-01') &
    (calculo_centro_costo_variable['Consecutivo'] == '')
]['Real'].sum()

0.0

In [141]:
calculo_centro_costo_variable['RealTotal'] = calculo_centro_costo_variable.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real']].transform(pd.Series.sum)
calculo_centro_costo_variable

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,RealTotal
0,1094935408,1.0,2023-08-01,630,HC,323015050,2.328134e+07,2.328134e+07
1,1094935408,1.0,2023-08-01,CDK,HC,323015050,0.000000e+00,2.328134e+07
2,1094935408,1.0,2023-09-01,630,HC,323015050,8.967384e+07,8.967384e+07
3,1094935408,1.0,2023-10-01,630,HC,323015050,1.286091e+08,1.286091e+08
4,1094935408,1.0,2023-11-01,630,HC,323015050,1.997119e+08,1.997119e+08
...,...,...,...,...,...,...,...,...
2733,9990011,4.0,2023-04-01,610,HC,323015040,8.989337e+07,8.989337e+07
2734,9990011,5.0,2023-01-01,A45,BA,323007337,0.000000e+00,0.000000e+00
2735,9990011,5.0,2023-02-01,A45,BA,323007337,0.000000e+00,0.000000e+00
2736,9990011,5.0,2023-03-01,A45,BA,323007337,0.000000e+00,0.000000e+00
2737,9990011,5.0,2023-04-01,A45,BA,323007337,0.000000e+00,0.000000e+00

In [142]:
calculo_centro_costo_variable['Porcentaje Aplicado'] = calculo_centro_costo_variable['Real'] / calculo_centro_costo_variable['RealTotal']
calculo_centro_costo_variable['Variable'] = 'VentaCobradaPortafolioClusterSub'
calculo_centro_costo_variable

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,RealTotal,Porcentaje Aplicado,Variable
0,1094935408,1.0,2023-08-01,630,HC,323015050,2.328134e+07,2.328134e+07,1.0,VentaCobradaPortafolioClusterSub
1,1094935408,1.0,2023-08-01,CDK,HC,323015050,0.000000e+00,2.328134e+07,0.0,VentaCobradaPortafolioClusterSub
2,1094935408,1.0,2023-09-01,630,HC,323015050,8.967384e+07,8.967384e+07,1.0,VentaCobradaPortafolioClusterSub
3,1094935408,1.0,2023-10-01,630,HC,323015050,1.286091e+08,1.286091e+08,1.0,VentaCobradaPortafolioClusterSub
4,1094935408,1.0,2023-11-01,630,HC,323015050,1.997119e+08,1.997119e+08,1.0,VentaCobradaPortafolioClusterSub
...,...,...,...,...,...,...,...,...,...,...
2733,9990011,4.0,2023-04-01,610,HC,323015040,8.989337e+07,8.989337e+07,1.0,VentaCobradaPortafolioClusterSub
2734,9990011,5.0,2023-01-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2735,9990011,5.0,2023-02-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2736,9990011,5.0,2023-03-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2737,9990011,5.0,2023-04-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub

In [143]:
venta_cobrada_portafolio_cluster_sub_centro_costo = calculo_centro_costo_variable.copy()
venta_cobrada_portafolio_cluster_sub_centro_costo

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,RealTotal,Porcentaje Aplicado,Variable
0,1094935408,1.0,2023-08-01,630,HC,323015050,2.328134e+07,2.328134e+07,1.0,VentaCobradaPortafolioClusterSub
1,1094935408,1.0,2023-08-01,CDK,HC,323015050,0.000000e+00,2.328134e+07,0.0,VentaCobradaPortafolioClusterSub
2,1094935408,1.0,2023-09-01,630,HC,323015050,8.967384e+07,8.967384e+07,1.0,VentaCobradaPortafolioClusterSub
3,1094935408,1.0,2023-10-01,630,HC,323015050,1.286091e+08,1.286091e+08,1.0,VentaCobradaPortafolioClusterSub
4,1094935408,1.0,2023-11-01,630,HC,323015050,1.997119e+08,1.997119e+08,1.0,VentaCobradaPortafolioClusterSub
...,...,...,...,...,...,...,...,...,...,...
2733,9990011,4.0,2023-04-01,610,HC,323015040,8.989337e+07,8.989337e+07,1.0,VentaCobradaPortafolioClusterSub
2734,9990011,5.0,2023-01-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2735,9990011,5.0,2023-02-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2736,9990011,5.0,2023-03-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub
2737,9990011,5.0,2023-04-01,A45,BA,323007337,0.000000e+00,0.000000e+00,NaN,VentaCobradaPortafolioClusterSub

In [144]:
venta_cobrada_portafolio_cluster_sub_centro_costo[
    (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-05-01') &
    (venta_cobrada_portafolio_cluster_sub_centro_costo['CodigoEmpleado'] == '5002700') &
    (venta_cobrada_portafolio_cluster_sub_centro_costo['Consecutivo'] == 4.0)
#     (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-05-01') &
]

,CodigoEmpleado,Consecutivo,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,RealTotal,Porcentaje Aplicado,Variable
1035,5002700,4.0,2023-05-01,003,AE,323007260,2.856901e+08,7.566891e+08,0.377553,VentaCobradaPortafolioClusterSub
1036,5002700,4.0,2023-05-01,006,AE,323007300,3.863236e+07,7.566891e+08,0.051054,VentaCobradaPortafolioClusterSub
1037,5002700,4.0,2023-05-01,801,AE,323007350,4.323667e+08,7.566891e+08,0.571393,VentaCobradaPortafolioClusterSub

In [145]:
2.856901e+08 + 3.863236e+07 + 4.323667e+08

756689160.0

In [146]:
# venta_cobrada_portafolio_cluster_sub_centro_costo[
#     (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-05-01')
# ]['Real'].sum()

In [147]:
venta_cobrada_portafolio_cluster_sub_centro_costo = f_calculo_centro_costo_variable(main, 'VentaCobradaPortafolioClusterSub')
venta_cobrada_portafolio_cluster_sub_centro_costo

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\3322601591.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1094935408_1,2023-08-01,630,HC,323015050,2.328134e+07,4.614871e+07,VentaCobradaPortafolioClusterSub
1,1094935408_1,2023-08-01,CDK,HC,323015050,0.000000e+00,0.000000e+00,VentaCobradaPortafolioClusterSub
2,1094935408_1,2023-09-01,630,HC,323015050,8.967384e+07,9.537401e+07,VentaCobradaPortafolioClusterSub
3,1094935408_1,2023-10-01,630,HC,323015050,1.286091e+08,1.507525e+08,VentaCobradaPortafolioClusterSub
4,1094935408_1,2023-11-01,630,HC,323015050,1.997119e+08,1.969012e+08,VentaCobradaPortafolioClusterSub
...,...,...,...,...,...,...,...,...
2733,9990011_4,2023-04-01,610,HC,323015040,8.989337e+07,1.572920e+08,VentaCobradaPortafolioClusterSub
2734,9990011_5,2023-01-01,A45,BA,323007337,0.000000e+00,2.482887e+06,VentaCobradaPortafolioClusterSub
2735,9990011_5,2023-02-01,A45,BA,323007337,0.000000e+00,4.414022e+06,VentaCobradaPortafolioClusterSub
2736,9990011_5,2023-03-01,A45,BA,323007337,0.000000e+00,6.621033e+06,VentaCobradaPortafolioClusterSub
2737,9990011_5,2023-04-01,A45,BA,323007337,0.000000e+00,8.828044e+06,VentaCobradaPortafolioClusterSub

In [148]:
venta_cobrada_portafolio_cluster_sub_centro_costo[
    (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-06-01') &
#     (venta_cobrada_portafolio_cluster_sub_centro_costo['CodigoEmpleado'] == '5002700')
#     (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-05-01') &
      (venta_cobrada_portafolio_cluster_sub_centro_costo['Contexto'].str.contains('1111115'))
]

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
416,1111115_1,2023-06-01,630,HC,323015050,1.142352e+09,1.032782e+09,VentaCobradaPortafolioClusterSub
427,1111115_2,2023-06-01,620,HC,323015045,7.430090e+08,7.002169e+08,VentaCobradaPortafolioClusterSub
438,1111115_3,2023-06-01,680,HC,323015055,1.136265e+08,2.847628e+08,VentaCobradaPortafolioClusterSub
449,1111115_4,2023-06-01,610,HC,323015040,1.706821e+08,2.025175e+08,VentaCobradaPortafolioClusterSub
460,1111115_5,2023-06-01,A45,BA,323007337,0.000000e+00,1.351794e+07,VentaCobradaPortafolioClusterSub

In [149]:
venta_cobrada_portafolio_cluster_sub_centro_costo[
    (venta_cobrada_portafolio_cluster_sub_centro_costo['Fecha'] == '2023-05-01')
]['Real'].sum()

54015585882.95707

In [150]:
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' + main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_sub = main.copy()
# main = None
venta_cobrada_portafolio_cluster_sub
venta_cobrada_portafolio_cluster_sub[
    (venta_cobrada_portafolio_cluster_sub['Contexto'].str.contains('1111128')) 
#     (venta_cobrada_portafolio_cluster_sub['Fecha'] == '2023-01-01')
]

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
530,1111128_1,VentaCobradaPortafolioClusterSub,2023-06-01,1.088923e+08,2.674333e+08,0.41
531,1111128_1,VentaCobradaPortafolioClusterSub,2023-07-01,3.840011e+08,4.754370e+08,0.81
532,1111128_1,VentaCobradaPortafolioClusterSub,2023-08-01,5.780533e+08,6.982981e+08,0.83
533,1111128_1,VentaCobradaPortafolioClusterSub,2023-09-01,8.337729e+08,9.360166e+08,0.89
534,1111128_1,VentaCobradaPortafolioClusterSub,2023-10-01,1.063536e+09,1.203450e+09,0.88
535,1111128_1,VentaCobradaPortafolioClusterSub,2023-11-01,1.383055e+09,1.426311e+09,0.97
536,1111128_2,VentaCobradaPortafolioClusterSub,2023-06-01,3.069132e+08,2.074471e+08,1.48
537,1111128_2,VentaCobradaPortafolioClusterSub,2023-07-01,6.318901e+08,3.687949e+08,1.71
538,1111128_2,VentaCobradaPortafolioClusterSub,2023-08-01,8.859278e+08,5.416675e+08,1.64
539,1111128_2,VentaCobradaPortafolioClusterSub,2023-09-01,1.244543e+09,7.260650e+08,1.71
540,1111128_2,VentaCobradaPortafolioClusterSub,2023-10-01,1.430266e+09,9.335121e+08,1.53
541,1111128_2,VentaCobradaPortafolioClusterSub,2023-11-01,1.731796e+09,1.106385e+09,1.57
542,1111128_3,VentaCobradaPortafolioClusterSub,2023-06-01,3.779394e+07,5.751404e+07,0.66
543,1111128_3,VentaCobradaPortafolioClusterSub,2023-07-01,8.905178e+07,1.022472e+08,0.87
544,1111128_3,VentaCobradaPortafolioClusterSub,2023-08-01,1.379318e+08,1.501756e+08,0.92
545,1111128_3,VentaCobradaPortafolioClusterSub,2023-09-01,1.929467e+08,2.076896e+08,0.93
546,1111128_3,VentaCobradaPortafolioClusterSub,2023-10-01,2.486405e+08,2.652036e+08,0.94
547,1111128_3,VentaCobradaPortafolioClusterSub,2023-11-01,3.314665e+08,3.099368e+08,1.07
548,1111128_4,VentaCobradaPortafolioClusterSub,2023-06-01,1.465708e+07,4.103270e+07,0.36
549,1111128_4,VentaCobradaPortafolioClusterSub,2023-07-01,2.361891e+07,7.294702e+07,0.32
550,1111128_4,VentaCobradaPortafolioClusterSub,2023-08-01,4.799509e+07,1.071409e+08,0.45
551,1111128_4,VentaCobradaPortafolioClusterSub,2023-09-01,7.862774e+07,1.436145e+08,0.55
552,1111128_4,VentaCobradaPortafolioClusterSub,2023-10-01,9.170465e+07,1.846472e+08,0.50
553,1111128_4,VentaCobradaPortafolioClusterSub,2023-11-01,9.950542e+07,2.211207e+08,0.45
554,1111128_5,VentaCobradaPortafolioClusterSub,2023-06-01,0.000000e+00,2.482887e+06,0.00
555,1111128_5,VentaCobradaPortafolioClusterSub,2023-07-01,0.000000e+00,4.414022e+06,0.00
556,1111128_5,VentaCobradaPortafolioClusterSub,2023-08-01,0.000000e+00,6.621033e+06,0.00
557,1111128_5,VentaCobradaPortafolioClusterSub,2023-09-01,0.000000e+00,9.103921e+06,0.00
558,1111128_5,VentaCobradaPortafolioClusterSub,2023-10-01,0.000000e+00,1.158681e+07,0.00
559,1111128_5,VentaCobradaPortafolioClusterSub,2023-11-01,0.000000e+00,1.379382e+07,0.00

In [151]:
venta_cobrada_portafolio_cluster_sub[
    (venta_cobrada_portafolio_cluster_sub['Contexto'].str.contains('1111128')) 
#     (venta_cobrada_portafolio_cluster_sub['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
530,1111128_1,VentaCobradaPortafolioClusterSub,2023-06-01,1.088923e+08,2.674333e+08,0.41
531,1111128_1,VentaCobradaPortafolioClusterSub,2023-07-01,3.840011e+08,4.754370e+08,0.81
532,1111128_1,VentaCobradaPortafolioClusterSub,2023-08-01,5.780533e+08,6.982981e+08,0.83
533,1111128_1,VentaCobradaPortafolioClusterSub,2023-09-01,8.337729e+08,9.360166e+08,0.89
534,1111128_1,VentaCobradaPortafolioClusterSub,2023-10-01,1.063536e+09,1.203450e+09,0.88
535,1111128_1,VentaCobradaPortafolioClusterSub,2023-11-01,1.383055e+09,1.426311e+09,0.97
536,1111128_2,VentaCobradaPortafolioClusterSub,2023-06-01,3.069132e+08,2.074471e+08,1.48
537,1111128_2,VentaCobradaPortafolioClusterSub,2023-07-01,6.318901e+08,3.687949e+08,1.71
538,1111128_2,VentaCobradaPortafolioClusterSub,2023-08-01,8.859278e+08,5.416675e+08,1.64
539,1111128_2,VentaCobradaPortafolioClusterSub,2023-09-01,1.244543e+09,7.260650e+08,1.71
540,1111128_2,VentaCobradaPortafolioClusterSub,2023-10-01,1.430266e+09,9.335121e+08,1.53
541,1111128_2,VentaCobradaPortafolioClusterSub,2023-11-01,1.731796e+09,1.106385e+09,1.57
542,1111128_3,VentaCobradaPortafolioClusterSub,2023-06-01,3.779394e+07,5.751404e+07,0.66
543,1111128_3,VentaCobradaPortafolioClusterSub,2023-07-01,8.905178e+07,1.022472e+08,0.87
544,1111128_3,VentaCobradaPortafolioClusterSub,2023-08-01,1.379318e+08,1.501756e+08,0.92
545,1111128_3,VentaCobradaPortafolioClusterSub,2023-09-01,1.929467e+08,2.076896e+08,0.93
546,1111128_3,VentaCobradaPortafolioClusterSub,2023-10-01,2.486405e+08,2.652036e+08,0.94
547,1111128_3,VentaCobradaPortafolioClusterSub,2023-11-01,3.314665e+08,3.099368e+08,1.07
548,1111128_4,VentaCobradaPortafolioClusterSub,2023-06-01,1.465708e+07,4.103270e+07,0.36
549,1111128_4,VentaCobradaPortafolioClusterSub,2023-07-01,2.361891e+07,7.294702e+07,0.32
550,1111128_4,VentaCobradaPortafolioClusterSub,2023-08-01,4.799509e+07,1.071409e+08,0.45
551,1111128_4,VentaCobradaPortafolioClusterSub,2023-09-01,7.862774e+07,1.436145e+08,0.55
552,1111128_4,VentaCobradaPortafolioClusterSub,2023-10-01,9.170465e+07,1.846472e+08,0.50
553,1111128_4,VentaCobradaPortafolioClusterSub,2023-11-01,9.950542e+07,2.211207e+08,0.45
554,1111128_5,VentaCobradaPortafolioClusterSub,2023-06-01,0.000000e+00,2.482887e+06,0.00
555,1111128_5,VentaCobradaPortafolioClusterSub,2023-07-01,0.000000e+00,4.414022e+06,0.00
556,1111128_5,VentaCobradaPortafolioClusterSub,2023-08-01,0.000000e+00,6.621033e+06,0.00
557,1111128_5,VentaCobradaPortafolioClusterSub,2023-09-01,0.000000e+00,9.103921e+06,0.00
558,1111128_5,VentaCobradaPortafolioClusterSub,2023-10-01,0.000000e+00,1.158681e+07,0.00
559,1111128_5,VentaCobradaPortafolioClusterSub,2023-11-01,0.000000e+00,1.379382e+07,0.00

In [152]:
# ## 22. Venta Cobrada Portafolio Cluster sub (VentaCobradaPortafolioClusterSub)

# In[ ]:

# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

drop_cols = ['Venta', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo_without_renal.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[
    ['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[
    ['Recaudo']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Recaudo': 'Presupuesto'}),
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado', 'Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main

,index_x,CodigoEmpleado,Division,Cluster,GrupoProducto,SBA,Fecha,Presupuesto,index_y,Real,TipoEmpleado,AreaCalculo,FechaIngreso,Consecutivo,_merge
0,0,1094935408,BA,5,A45,81,2023-08-01,2.207011e+06,NaN,0.0,VC,4.0,2023-08-01,5.0,left_only
1,1,1094935408,BA,5,A45,81,2023-09-01,2.482887e+06,NaN,0.0,VC,4.0,2023-08-01,5.0,left_only
2,2,1094935408,BA,5,A45,81,2023-10-01,2.482887e+06,NaN,0.0,VC,4.0,2023-08-01,5.0,left_only
3,3,1094935408,BA,5,A45,81,2023-11-01,2.207011e+06,NaN,0.0,VC,4.0,2023-08-01,5.0,left_only
4,4,1094935408,HC,5,610,01,2023-08-01,2.974840e+06,0.0,4004200.0,VC,4.0,2023-08-01,4.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,5845,9990011,HC,11,630,12,2023-04-01,1.873260e+08,4717.0,82741006.0,VC,4.0,2023-01-01,1.0,left_only
4961,5846,9990011,HC,11,680,03,2023-01-01,5.751404e+07,4718.0,32785140.0,VC,4.0,2023-01-01,3.0,left_only
4962,5847,9990011,HC,11,680,03,2023-02-01,5.431882e+07,4719.0,29732796.0,VC,4.0,2023-01-01,3.0,left_only
4963,5848,9990011,HC,11,680,03,2023-03-01,5.751404e+07,4720.0,91766790.0,VC,4.0,2023-01-01,3.0,left_only
4964,5849,9990011,HC,11,680,03,2023-04-01,5.112359e+07,4721.0,68681632.0,VC,4.0,2023-01-01,3.0,left_only

In [153]:
venta_cobrada_portafolio_cluster_sub[
    (venta_cobrada_portafolio_cluster_sub['Contexto'].str.contains('1111128')) 
#     (venta_cobrada_portafolio_cluster_sub['Fecha'] == '2023-01-01')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
530,1111128_1,VentaCobradaPortafolioClusterSub,2023-06-01,1.088923e+08,2.674333e+08,0.41
531,1111128_1,VentaCobradaPortafolioClusterSub,2023-07-01,3.840011e+08,4.754370e+08,0.81
532,1111128_1,VentaCobradaPortafolioClusterSub,2023-08-01,5.780533e+08,6.982981e+08,0.83
533,1111128_1,VentaCobradaPortafolioClusterSub,2023-09-01,8.337729e+08,9.360166e+08,0.89
534,1111128_1,VentaCobradaPortafolioClusterSub,2023-10-01,1.063536e+09,1.203450e+09,0.88
535,1111128_1,VentaCobradaPortafolioClusterSub,2023-11-01,1.383055e+09,1.426311e+09,0.97
536,1111128_2,VentaCobradaPortafolioClusterSub,2023-06-01,3.069132e+08,2.074471e+08,1.48
537,1111128_2,VentaCobradaPortafolioClusterSub,2023-07-01,6.318901e+08,3.687949e+08,1.71
538,1111128_2,VentaCobradaPortafolioClusterSub,2023-08-01,8.859278e+08,5.416675e+08,1.64
539,1111128_2,VentaCobradaPortafolioClusterSub,2023-09-01,1.244543e+09,7.260650e+08,1.71
540,1111128_2,VentaCobradaPortafolioClusterSub,2023-10-01,1.430266e+09,9.335121e+08,1.53
541,1111128_2,VentaCobradaPortafolioClusterSub,2023-11-01,1.731796e+09,1.106385e+09,1.57
542,1111128_3,VentaCobradaPortafolioClusterSub,2023-06-01,3.779394e+07,5.751404e+07,0.66
543,1111128_3,VentaCobradaPortafolioClusterSub,2023-07-01,8.905178e+07,1.022472e+08,0.87
544,1111128_3,VentaCobradaPortafolioClusterSub,2023-08-01,1.379318e+08,1.501756e+08,0.92
545,1111128_3,VentaCobradaPortafolioClusterSub,2023-09-01,1.929467e+08,2.076896e+08,0.93
546,1111128_3,VentaCobradaPortafolioClusterSub,2023-10-01,2.486405e+08,2.652036e+08,0.94
547,1111128_3,VentaCobradaPortafolioClusterSub,2023-11-01,3.314665e+08,3.099368e+08,1.07
548,1111128_4,VentaCobradaPortafolioClusterSub,2023-06-01,1.465708e+07,4.103270e+07,0.36
549,1111128_4,VentaCobradaPortafolioClusterSub,2023-07-01,2.361891e+07,7.294702e+07,0.32
550,1111128_4,VentaCobradaPortafolioClusterSub,2023-08-01,4.799509e+07,1.071409e+08,0.45
551,1111128_4,VentaCobradaPortafolioClusterSub,2023-09-01,7.862774e+07,1.436145e+08,0.55
552,1111128_4,VentaCobradaPortafolioClusterSub,2023-10-01,9.170465e+07,1.846472e+08,0.50
553,1111128_4,VentaCobradaPortafolioClusterSub,2023-11-01,9.950542e+07,2.211207e+08,0.45
554,1111128_5,VentaCobradaPortafolioClusterSub,2023-06-01,0.000000e+00,2.482887e+06,0.00
555,1111128_5,VentaCobradaPortafolioClusterSub,2023-07-01,0.000000e+00,4.414022e+06,0.00
556,1111128_5,VentaCobradaPortafolioClusterSub,2023-08-01,0.000000e+00,6.621033e+06,0.00
557,1111128_5,VentaCobradaPortafolioClusterSub,2023-09-01,0.000000e+00,9.103921e+06,0.00
558,1111128_5,VentaCobradaPortafolioClusterSub,2023-10-01,0.000000e+00,1.158681e+07,0.00
559,1111128_5,VentaCobradaPortafolioClusterSub,2023-11-01,0.000000e+00,1.379382e+07,0.00

### 22.1 Grupo Renal (Hospitalario + Ambulatorio)

In [154]:
area_calculo_sba_renal_drop_duplicates = area_calculo_sba_completo_with_renal[['AreaCalculo','Consecutivo','TipoEmpleado']].drop_duplicates(['AreaCalculo', 'Consecutivo'])
area_calculo_sba_renal_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
143            3            5           GD
294            5            1           VC

In [155]:
area_calculo_sba_renal_vc_drop_duplicates = area_calculo_sba_renal_drop_duplicates[area_calculo_sba_renal_drop_duplicates['TipoEmpleado'] == 'VC']
area_calculo_sba_renal_vc_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
294            5            1           VC

In [156]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

df_renal_ambulatorio_vc = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'VC']
df_renal_ambulatorio_vc

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07
6,1111117,VC,2023-07-01,1.516458e+08,6.140210e+07,7.418271e+07,9.102226e+07
7,1111117,VC,2023-08-01,1.496551e+08,7.017382e+07,7.943328e+07,4.344471e+07
8,1111117,VC,2023-09-01,1.489033e+08,7.894555e+07,9.118041e+07,1.526500e+08
9,1111117,VC,2023-10-01,1.532513e+08,7.894555e+07,1.331644e+08,3.496028e+07
10,1111117,VC,2023-11-01,1.609473e+08,7.017382e+07,1.025890e+08,7.214515e+07
11,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07
12,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07
13,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07
14,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06
15,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08
16,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07
17,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07
18,5032456,VC,2023-08-01,1.430040e+08,7.017382e+07,9.326395e+07,4.344471e+07
19,5032456,VC,2023-09-01,1.419927e+08,7.894555e+07,1.122247e+08,1.526500e+08
20,5032456,VC,2023-10-01,2.669245e+08,7.894555e+07,1.828428e+08,3.496028e+07
21,5032456,VC,2023-11-01,3.914718e+07,7.017382e+07,9.554127e+07,7.214515e+07

In [157]:
# Calcular

main = df_renal_ambulatorio_vc.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})
main = main.merge(
    area_calculo_sba_renal_vc_drop_duplicates,
    on=['TipoEmpleado'],
    how='left'
)
main

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,Presupuesto,RealVentaTotal,Real,AreaCalculo,Consecutivo
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07,5,1
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07,5,1
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07,5,1
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06,5,1
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08,5,1
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07,5,1
6,1111117,VC,2023-07-01,1.516458e+08,6.140210e+07,7.418271e+07,9.102226e+07,5,1
7,1111117,VC,2023-08-01,1.496551e+08,7.017382e+07,7.943328e+07,4.344471e+07,5,1
8,1111117,VC,2023-09-01,1.489033e+08,7.894555e+07,9.118041e+07,1.526500e+08,5,1
9,1111117,VC,2023-10-01,1.532513e+08,7.894555e+07,1.331644e+08,3.496028e+07,5,1
10,1111117,VC,2023-11-01,1.609473e+08,7.017382e+07,1.025890e+08,7.214515e+07,5,1
11,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07,5,1
12,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07,5,1
13,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07,5,1
14,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06,5,1
15,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08,5,1
16,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07,5,1
17,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07,5,1
18,5032456,VC,2023-08-01,1.430040e+08,7.017382e+07,9.326395e+07,4.344471e+07,5,1
19,5032456,VC,2023-09-01,1.419927e+08,7.894555e+07,1.122247e+08,1.526500e+08,5,1
20,5032456,VC,2023-10-01,2.669245e+08,7.894555e+07,1.828428e+08,3.496028e+07,5,1
21,5032456,VC,2023-11-01,3.914718e+07,7.017382e+07,9.554127e+07,7.214515e+07,5,1

In [158]:
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_cluster_sub = pd.concat([
     venta_cobrada_portafolio_cluster_sub.copy(),
     main.copy()
   ], 
   ignore_index=True
 )
# venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408_1,VentaCobradaPortafolioClusterSub,2023-08-01,2.328134e+07,4.614871e+07,0.50
1,1094935408_1,VentaCobradaPortafolioClusterSub,2023-09-01,8.967384e+07,9.537401e+07,0.94
2,1094935408_1,VentaCobradaPortafolioClusterSub,2023-10-01,1.286091e+08,1.507525e+08,0.85
3,1094935408_1,VentaCobradaPortafolioClusterSub,2023-11-01,1.997119e+08,1.969012e+08,1.01
4,1094935408_2,VentaCobradaPortafolioClusterSub,2023-08-01,3.839254e+08,3.278682e+08,1.17
...,...,...,...,...,...,...
1789,5032456_1,VentaCobradaPortafolioClusterSub,2023-07-01,3.868013e+08,4.912168e+08,0.79
1790,5032456_1,VentaCobradaPortafolioClusterSub,2023-08-01,4.302460e+08,5.613906e+08,0.77
1791,5032456_1,VentaCobradaPortafolioClusterSub,2023-09-01,5.828960e+08,6.403361e+08,0.91
1792,5032456_1,VentaCobradaPortafolioClusterSub,2023-10-01,6.178562e+08,7.192817e+08,0.86
1793,5032456_1,VentaCobradaPortafolioClusterSub,2023-11-01,6.900014e+08,7.894555e+08,0.87

## 23. Venta Facturada Portafolio Cluster (VentaFacturadaPortafolioCluster)

In [159]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (Venta)

# Merge de tablas
drop_cols = ['Recaudo', 'ZonaGeografica', 'Canal']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['CodigoEmpleado', 'AreaCalculo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioCluster'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster = main.copy()
main = None
venta_facturada_portafolio_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408,VentaFacturadaPortafolioCluster,2023-08-01,5.064770e+08,3.989522e+08,1.27
1,1094935408,VentaFacturadaPortafolioCluster,2023-09-01,1.016177e+09,1.034898e+09,0.98
2,1094935408,VentaFacturadaPortafolioCluster,2023-10-01,1.597866e+09,1.589461e+09,1.01
3,1094935408,VentaFacturadaPortafolioCluster,2023-11-01,2.391285e+09,2.225881e+09,1.07
4,1111111,VentaFacturadaPortafolioCluster,2023-01-01,9.259488e+07,9.373873e+07,0.99
...,...,...,...,...,...,...
307,9990010,VentaFacturadaPortafolioCluster,2023-08-01,4.673997e+09,3.337857e+09,1.40
308,9990011,VentaFacturadaPortafolioCluster,2023-01-01,2.513986e+08,3.677603e+08,0.68
309,9990011,VentaFacturadaPortafolioCluster,2023-02-01,6.297166e+08,8.246725e+08,0.76
310,9990011,VentaFacturadaPortafolioCluster,2023-03-01,1.041165e+09,1.371885e+09,0.76
311,9990011,VentaFacturadaPortafolioCluster,2023-04-01,1.485682e+09,1.838927e+09,0.81

In [160]:
venta_facturada_portafolio_cluster[
    (venta_facturada_portafolio_cluster['Contexto'] == '1111115')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
37,1111115,VentaFacturadaPortafolioCluster,2023-01-01,1.564499e+08,2.477964e+08,0.63
38,1111115,VentaFacturadaPortafolioCluster,2023-02-01,5.342088e+08,5.538180e+08,0.96
39,1111115,VentaFacturadaPortafolioCluster,2023-03-01,8.241821e+08,9.202316e+08,0.90
40,1111115,VentaFacturadaPortafolioCluster,2023-04-01,1.132342e+09,1.240135e+09,0.91
41,1111115,VentaFacturadaPortafolioCluster,2023-05-01,1.520538e+09,1.618091e+09,0.94
42,1111115,VentaFacturadaPortafolioCluster,2023-06-01,1.900994e+09,1.964826e+09,0.97
43,1111115,VentaFacturadaPortafolioCluster,2023-07-01,2.526000e+09,2.350934e+09,1.07
44,1111115,VentaFacturadaPortafolioCluster,2023-08-01,2.929903e+09,2.692316e+09,1.09
45,1111115,VentaFacturadaPortafolioCluster,2023-09-01,3.299446e+09,3.067453e+09,1.08
46,1111115,VentaFacturadaPortafolioCluster,2023-10-01,3.603150e+09,3.461588e+09,1.04
47,1111115,VentaFacturadaPortafolioCluster,2023-11-01,4.122448e+09,3.943902e+09,1.05

## 24. Venta Facturada Portafolio Cluster sub (VentaFacturadaPortafolioClusterSub)

In [161]:
drop_cols = ['Recaudo', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Venta': 'Presupuesto'}),
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster_sub = main.copy()
main = None
venta_facturada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1094935408_1,VentaFacturadaPortafolioClusterSub,2023-08-01,6.606275e+07,5.796987e+07,1.14
1,1094935408_1,VentaFacturadaPortafolioClusterSub,2023-09-01,1.061535e+08,9.891464e+07,1.07
2,1094935408_1,VentaFacturadaPortafolioClusterSub,2023-10-01,1.606140e+08,1.543169e+08,1.04
3,1094935408_1,VentaFacturadaPortafolioClusterSub,2023-11-01,2.207641e+08,2.246658e+08,0.98
4,1094935408_2,VentaFacturadaPortafolioClusterSub,2023-08-01,3.031708e+08,2.732235e+08,1.11
...,...,...,...,...,...,...
1856,9990011_5,VentaFacturadaPortafolioClusterSub,2023-07-01,8.479200e+05,1.178222e+07,0.07
1857,9990011_5,VentaFacturadaPortafolioClusterSub,2023-08-01,8.479200e+05,1.465593e+07,0.06
1858,9990011_5,VentaFacturadaPortafolioClusterSub,2023-09-01,8.479200e+05,1.752965e+07,0.05
1859,9990011_5,VentaFacturadaPortafolioClusterSub,2023-10-01,8.479200e+05,2.040336e+07,0.04
1860,9990011_5,VentaFacturadaPortafolioClusterSub,2023-11-01,8.479200e+05,2.327707e+07,0.04

## 25. Venta cobrada y facturada portafolio (VentaCobradaPortafolioPais, VentaFacturadaPortafolioZonaSub, VentaCobradaPortafolioZona, VentaCobradaPortafolioClusterSub, VentaFacturadaPorfafolioCluster)

In [162]:
def pre_merge_venta_cobrada_zona_hospitalaria_sub(x):
    x['Consecutivo'] = x['Consecutivo'].astype('str')
    return x

### 25.1 Para VE

In [163]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='VE']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_real = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_presupuesto = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.1.1 VentaCobradaPortafolioPais

In [164]:
recaudo_real_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_ve,
    right=recaudo_real_ve,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)

# TODO Validar si los resultados anteriores a fecha de ingreso se ignoran para TODOS

main['Real'].fillna(0.0, inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

main['AreaCalculo'] = main['AreaCalculo'].astype('str')
main['Contexto'] = 'VE_' + main['AreaCalculo']
main['Variable'] = 'VentaCobradaPortafolioPais'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_pais_ve = main.copy()
main = None

venta_cobrada_portafolio_pais_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_1,VentaCobradaPortafolioPais,2023-01-01,7.209191e+08,7.071964e+08,1.02
1,VE_1,VentaCobradaPortafolioPais,2023-02-01,1.620202e+09,1.650125e+09,0.98
2,VE_1,VentaCobradaPortafolioPais,2023-03-01,2.297356e+09,2.498761e+09,0.92
3,VE_1,VentaCobradaPortafolioPais,2023-04-01,3.324012e+09,3.347396e+09,0.99
4,VE_1,VentaCobradaPortafolioPais,2023-05-01,4.531091e+09,4.101739e+09,1.10
...,...,...,...,...,...,...
127,VE_12,VentaCobradaPortafolioPais,2023-07-01,2.913481e+09,2.581505e+09,1.13
128,VE_12,VentaCobradaPortafolioPais,2023-08-01,3.163096e+09,3.122122e+09,1.01
129,VE_12,VentaCobradaPortafolioPais,2023-09-01,3.446420e+09,3.518309e+09,0.98
130,VE_12,VentaCobradaPortafolioPais,2023-10-01,3.990665e+09,3.889950e+09,1.03
131,VE_12,VentaCobradaPortafolioPais,2023-11-01,4.455903e+09,4.237043e+09,1.05

In [165]:
venta_cobrada_portafolio_pais_ve[
    (venta_cobrada_portafolio_pais_ve['Contexto'] == 'VE_4')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
33,VE_4,VentaCobradaPortafolioPais,2023-01-01,3.726156e+09,4.057662e+09,0.92
34,VE_4,VentaCobradaPortafolioPais,2023-02-01,6.152878e+09,8.115324e+09,0.76
35,VE_4,VentaCobradaPortafolioPais,2023-03-01,9.650748e+09,1.217299e+10,0.79
36,VE_4,VentaCobradaPortafolioPais,2023-04-01,1.337181e+10,1.577980e+10,0.85
37,VE_4,VentaCobradaPortafolioPais,2023-05-01,1.748645e+10,1.938661e+10,0.90
38,VE_4,VentaCobradaPortafolioPais,2023-06-01,2.137942e+10,2.344427e+10,0.91
39,VE_4,VentaCobradaPortafolioPais,2023-07-01,2.458930e+10,2.660023e+10,0.92
40,VE_4,VentaCobradaPortafolioPais,2023-08-01,2.759070e+10,3.016596e+10,0.91
41,VE_4,VentaCobradaPortafolioPais,2023-09-01,3.171615e+10,3.382544e+10,0.94
42,VE_4,VentaCobradaPortafolioPais,2023-10-01,3.560961e+10,3.790944e+10,0.94
43,VE_4,VentaCobradaPortafolioPais,2023-11-01,3.996399e+10,4.129083e+10,0.97

In [166]:
venta_cobrada_portafolio_pais_ve[
    (venta_cobrada_portafolio_pais_ve['Contexto'] == 'VE_7')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
66,VE_7,VentaCobradaPortafolioPais,2023-01-01,5.354405e+08,8.525722e+08,0.63
67,VE_7,VentaCobradaPortafolioPais,2023-02-01,1.197212e+09,1.657779e+09,0.72
68,VE_7,VentaCobradaPortafolioPais,2023-03-01,1.848313e+09,2.510352e+09,0.74
69,VE_7,VentaCobradaPortafolioPais,2023-04-01,2.738875e+09,3.268193e+09,0.84
70,VE_7,VentaCobradaPortafolioPais,2023-05-01,3.370694e+09,4.026035e+09,0.84
71,VE_7,VentaCobradaPortafolioPais,2023-06-01,4.027728e+09,4.878608e+09,0.83
72,VE_7,VentaCobradaPortafolioPais,2023-07-01,4.826331e+09,5.541719e+09,0.87
73,VE_7,VentaCobradaPortafolioPais,2023-08-01,5.478986e+09,6.252196e+09,0.88
74,VE_7,VentaCobradaPortafolioPais,2023-09-01,6.305522e+09,7.104768e+09,0.89
75,VE_7,VentaCobradaPortafolioPais,2023-10-01,7.129663e+09,7.957341e+09,0.90
76,VE_7,VentaCobradaPortafolioPais,2023-11-01,7.840317e+09,8.620452e+09,0.91

#### 25.1.2 VentaCobradaPortafolioZona

In [167]:
print(venta_recaudo_presupuesto_original_ve_real)

recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###


main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZona'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_ve = main.copy()
main = None

venta_cobrada_portafolio_zona_ve

      AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado  \
0               2            1       AE           CEK  35           VE
1               2            1       AE           CEK  35           VE
2               4            1       HC           630  08           VE
3               4            1       HC           630  08           VE
4               4            1       HC           630  08           VE
...           ...          ...      ...           ...  ..          ...
9799           12            2       AE           M06  31           VE
9800           12            2       AE           M06  31           VE
9801           12            2       AE           M06  31           VE
9802           12            2       AE           M06  31           VE
9803           12            2       AE           M06  30           VE

     ZonaGeografica Cluster             Canal      Fecha        Venta  \
0            Centro       0  Distribuidor AMB 2023-07-01   1050000.00
1            Centro       0  Distribuidor AMB 2023-08-01         0.00
2            Centro       5      DISTRIBUIDOR 2023-09-01    -28700.00
3            Centro       5      Distribuidor 2023-08-01    574000.00
4            Centro       5          HOSPITAL 2023-09-01  15170799.99
...             ...     ...               ...        ...          ...
9799         Centro       4      Distribuidor 2023-05-01   4369894.00
9800         Centro       4      Distribuidor 2023-07-01   3142232.00
9801         Centro       4          HOSPITAL 2023-07-01   2763400.00
9802         Centro       4          Hospital 2023-05-01   5250000.00
9803   Suroccidente      10          Hospital 2023-05-01  19212116.00

          Recaudo
0            0.00
1      1050000.00
2       545300.00
3            0.00
4     15582119.99
...           ...
9799   1033632.00
9800  11861104.00
9801    841700.00
9802         0.00
9803         0.00

[9804 rows x 12 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723,VentaCobradaPortafolioZona,2023-01-01,1.992647e+08,2.377765e+08,0.84
1,1030524723,VentaCobradaPortafolioZona,2023-02-01,3.943198e+08,5.072566e+08,0.78
2,1030524723,VentaCobradaPortafolioZona,2023-03-01,8.162964e+08,8.242919e+08,0.99
3,1030524723,VentaCobradaPortafolioZona,2023-04-01,1.068289e+09,1.046217e+09,1.02
4,1030524723,VentaCobradaPortafolioZona,2023-05-01,1.265571e+09,1.268141e+09,1.00
...,...,...,...,...,...,...
204,94487610,VentaCobradaPortafolioZona,2023-07-01,1.105952e+10,1.084544e+10,1.02
205,94487610,VentaCobradaPortafolioZona,2023-08-01,1.232874e+10,1.222409e+10,1.01
206,94487610,VentaCobradaPortafolioZona,2023-09-01,1.469475e+10,1.369466e+10,1.07
207,94487610,VentaCobradaPortafolioZona,2023-10-01,1.614129e+10,1.534905e+10,1.05
208,94487610,VentaCobradaPortafolioZona,2023-11-01,1.837679e+10,1.672771e+10,1.10

In [168]:
def _get_or_create_zona_cluster(empleado, cluster, zona):
    if not empleado or not (cluster or zona):
        return False
    return True

_get_or_create_zona_cluster(True, True, None)

True

#### 25.1.3 VentaFacturadaPortafolioZonaSub

In [169]:
venta_real_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_zona_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_zona_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_zona_consecutivo_ve,
    right=venta_real_zona_consecutivo_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_zona_sub_ve = main.copy()
main = None

venta_facturada_portafolio_zona_sub_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-01-01,2.161870e+08,1.717275e+08,1.26
1,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-02-01,3.797419e+08,3.863868e+08,0.98
2,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-03-01,7.135641e+08,6.340707e+08,1.13
3,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-04-01,9.521054e+08,8.982668e+08,1.06
4,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-05-01,1.246057e+09,1.178975e+09,1.06
...,...,...,...,...,...,...
534,94487610_4,VentaFacturadaPortafolioZonaSub,2023-07-01,3.384706e+09,3.099640e+09,1.09
535,94487610_4,VentaFacturadaPortafolioZonaSub,2023-08-01,3.909789e+09,3.457290e+09,1.13
536,94487610_4,VentaFacturadaPortafolioZonaSub,2023-09-01,4.413758e+09,4.112983e+09,1.07
537,94487610_4,VentaFacturadaPortafolioZonaSub,2023-10-01,4.876321e+09,4.649459e+09,1.05
538,94487610_4,VentaFacturadaPortafolioZonaSub,2023-11-01,5.536665e+09,5.245544e+09,1.06

#### 25.1.4 VentaCobradaPortafolioCluster

In [170]:
recaudo_real_cluster_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_cluster_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_cluster_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_cluster_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_cluster_ve,
    right=recaudo_real_cluster_ve,
    on=['Cluster', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_ve = main.copy()
main = None

venta_cobrada_portafolio_cluster_ve

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239,VentaCobradaPortafolioCluster,2023-01-01,1.558018e+08,2.695978e+08,0.58
1,31308239,VentaCobradaPortafolioCluster,2023-02-01,2.834870e+08,5.242180e+08,0.54
2,31308239,VentaCobradaPortafolioCluster,2023-03-01,5.987696e+08,7.938158e+08,0.75
3,31308239,VentaCobradaPortafolioCluster,2023-04-01,8.106876e+08,1.033458e+09,0.78
4,31308239,VentaCobradaPortafolioCluster,2023-05-01,1.034753e+09,1.273101e+09,0.81
5,31308239,VentaCobradaPortafolioCluster,2023-06-01,1.216009e+09,1.542699e+09,0.79
6,31308239,VentaCobradaPortafolioCluster,2023-07-01,1.469252e+09,1.752386e+09,0.84
7,31308239,VentaCobradaPortafolioCluster,2023-08-01,1.782415e+09,1.977051e+09,0.90
8,31308239,VentaCobradaPortafolioCluster,2023-09-01,1.986814e+09,2.246648e+09,0.88
9,31308239,VentaCobradaPortafolioCluster,2023-10-01,2.187604e+09,2.516246e+09,0.87
10,31308239,VentaCobradaPortafolioCluster,2023-11-01,2.402525e+09,2.725933e+09,0.88
11,5002699,VentaCobradaPortafolioCluster,2023-01-01,3.617187e+08,4.895625e+08,0.74
12,5002699,VentaCobradaPortafolioCluster,2023-02-01,8.202423e+08,9.519272e+08,0.86
13,5002699,VentaCobradaPortafolioCluster,2023-03-01,1.097340e+09,1.441490e+09,0.76
14,5002699,VentaCobradaPortafolioCluster,2023-04-01,1.709440e+09,1.876656e+09,0.91
15,5002699,VentaCobradaPortafolioCluster,2023-05-01,2.054169e+09,2.311823e+09,0.89
16,5002699,VentaCobradaPortafolioCluster,2023-06-01,2.507536e+09,2.801386e+09,0.90
17,5002699,VentaCobradaPortafolioCluster,2023-07-01,2.979611e+09,3.182157e+09,0.94
18,5002699,VentaCobradaPortafolioCluster,2023-08-01,3.255020e+09,3.590125e+09,0.91
19,5002699,VentaCobradaPortafolioCluster,2023-09-01,3.758884e+09,4.079688e+09,0.92
20,5002699,VentaCobradaPortafolioCluster,2023-10-01,4.192354e+09,4.569250e+09,0.92
21,5002699,VentaCobradaPortafolioCluster,2023-11-01,4.602368e+09,4.950021e+09,0.93
22,5004589,VentaCobradaPortafolioCluster,2023-01-01,1.698499e+07,9.029638e+07,0.19
23,5004589,VentaCobradaPortafolioCluster,2023-02-01,8.497291e+07,1.755763e+08,0.48
24,5004589,VentaCobradaPortafolioCluster,2023-03-01,1.304184e+08,2.658727e+08,0.49
25,5004589,VentaCobradaPortafolioCluster,2023-04-01,1.954951e+08,3.461361e+08,0.56
26,5004589,VentaCobradaPortafolioCluster,2023-05-01,2.539979e+08,4.263996e+08,0.60
27,5004589,VentaCobradaPortafolioCluster,2023-06-01,2.701977e+08,5.166960e+08,0.52
28,5004589,VentaCobradaPortafolioCluster,2023-07-01,3.197170e+08,5.869265e+08,0.54
29,5004589,VentaCobradaPortafolioCluster,2023-08-01,3.631431e+08,6.621735e+08,0.55
30,5004589,VentaCobradaPortafolioCluster,2023-09-01,4.568710e+08,7.524698e+08,0.61
31,5004589,VentaCobradaPortafolioCluster,2023-10-01,6.244550e+08,8.427662e+08,0.74
32,5004589,VentaCobradaPortafolioCluster,2023-11-01,6.956328e+08,9.129967e+08,0.76

#### 25.1.5 VentaFacturadaPortafolioClusterSub

In [171]:
venta_real_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_cluster_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_cluster_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_cluster_consecutivo_ve,
    right=venta_real_cluster_consecutivo_ve,
    on=['Cluster', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaFacturadaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_cluster_sub_ve = main.copy()
main = None

venta_facturada_portafolio_cluster_sub_ve

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239_1,VentaFacturadaPortafolioClusterSub,2023-01-01,0.000000e+00,1.171782e+04,0.00
1,31308239_1,VentaFacturadaPortafolioClusterSub,2023-02-01,0.000000e+00,2.182069e+04,0.00
2,31308239_1,VentaFacturadaPortafolioClusterSub,2023-03-01,0.000000e+00,3.869233e+04,0.00
3,31308239_1,VentaFacturadaPortafolioClusterSub,2023-04-01,0.000000e+00,5.109480e+04,0.00
4,31308239_1,VentaFacturadaPortafolioClusterSub,2023-05-01,0.000000e+00,6.421942e+04,0.00
...,...,...,...,...,...,...
61,5004589_2,VentaFacturadaPortafolioClusterSub,2023-07-01,3.926589e+08,5.411324e+08,0.73
62,5004589_2,VentaFacturadaPortafolioClusterSub,2023-08-01,5.338373e+08,6.155723e+08,0.87
63,5004589_2,VentaFacturadaPortafolioClusterSub,2023-09-01,6.515183e+08,6.962518e+08,0.94
64,5004589_2,VentaFacturadaPortafolioClusterSub,2023-10-01,7.079139e+08,7.861171e+08,0.90
65,5004589_2,VentaFacturadaPortafolioClusterSub,2023-11-01,8.416176e+08,9.108540e+08,0.92

### 25.2 Para GC

In [172]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GC']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_real = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_presupuesto = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.2.1 VentaCobradaZonaHospitalarioSub

In [173]:
recaudo_real_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gc = recaudo_real_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gc = recaudo_presupuesto_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gc,
    right=recaudo_real_zona_sub_ch_gc,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GC'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_cobrada_zona_hospitalario_sub_gc = main.copy()
main = None
resultado_cualitativos_variable = None

venta_cobrada_zona_hospitalario_sub_gc

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaHospitalarioSub,2023-01-01,7.681893e+08,5.958822e+08,1.29
1,5002711_1,VentaCobradaZonaHospitalarioSub,2023-02-01,1.479304e+09,1.389211e+09,1.06
2,5002711_1,VentaCobradaZonaHospitalarioSub,2023-03-01,2.131384e+09,2.104269e+09,1.01
3,5002711_1,VentaCobradaZonaHospitalarioSub,2023-04-01,2.738384e+09,2.819328e+09,0.97
4,5002711_1,VentaCobradaZonaHospitalarioSub,2023-05-01,4.300922e+09,3.411701e+09,1.26
...,...,...,...,...,...,...
85,5005980_3,VentaCobradaZonaHospitalarioSub,2023-06-01,8.555592e+08,9.774318e+08,0.88
86,5005980_3,VentaCobradaZonaHospitalarioSub,2023-07-01,8.861510e+08,1.070488e+09,0.83
87,5005980_3,VentaCobradaZonaHospitalarioSub,2023-08-01,1.012844e+09,1.229157e+09,0.82
88,5005980_3,VentaCobradaZonaHospitalarioSub,2023-10-01,1.200674e+09,1.422945e+09,0.84
89,5005980_3,VentaCobradaZonaHospitalarioSub,2023-11-01,1.386197e+09,1.587510e+09,0.87

### 25.3 Para GD

In [174]:
area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.3.1 VentaCobradaZonaHospitalarioSub

In [175]:
recaudo_real_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gd = recaudo_real_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gd.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gd = recaudo_presupuesto_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gd.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gd,
    right=recaudo_real_zona_sub_ch_gd,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GD'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_zona_hospitalario_sub_gd = main.copy()
main = None

venta_cobrada_zona_hospitalario_sub_gd

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5016692_1,VentaCobradaZonaHospitalarioSub,2023-01-01,8.792212e+08,1.246765e+09,0.71
1,5016692_1,VentaCobradaZonaHospitalarioSub,2023-02-01,1.841467e+09,2.493531e+09,0.74
2,5016692_1,VentaCobradaZonaHospitalarioSub,2023-03-01,2.804340e+09,3.740296e+09,0.75
3,5016692_1,VentaCobradaZonaHospitalarioSub,2023-04-01,4.544688e+09,4.848532e+09,0.94
4,5016692_1,VentaCobradaZonaHospitalarioSub,2023-05-01,5.369513e+09,5.519838e+09,0.97
...,...,...,...,...,...,...
159,6474959_6,VentaCobradaZonaHospitalarioSub,2023-06-01,2.281149e+10,2.224356e+10,1.03
160,6474959_6,VentaCobradaZonaHospitalarioSub,2023-07-01,2.426418e+10,2.390243e+10,1.02
161,6474959_6,VentaCobradaZonaHospitalarioSub,2023-08-01,2.846140e+10,2.706496e+10,1.05
162,6474959_6,VentaCobradaZonaHospitalarioSub,2023-10-01,3.260236e+10,3.070267e+10,1.06
163,6474959_6,VentaCobradaZonaHospitalarioSub,2023-11-01,3.459420e+10,3.382026e+10,1.02


## 26. Venta Facturada Nacional Canal Hospitalario (VentaFacturadaPaisHospitalario)

In [176]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()
main = main.drop(columns=['Zona'])

# Calcular
main = main.groupby(['Fecha'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPaisHospitalario'

# Formatear
main.reset_index(inplace=True)
main['Contexto']= 'BBMCO'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_pais_ch = main.copy()
main = None
venta_facturada_pais_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaPaisHospitalario,2023-01-01,2.898651e+10,2.912322e+10,1.00
1,BBMCO,VentaFacturadaPaisHospitalario,2023-02-01,6.887975e+10,6.565610e+10,1.05
2,BBMCO,VentaFacturadaPaisHospitalario,2023-03-01,1.214272e+11,1.109361e+11,1.09

## 27. Venta Facturada Zona Hospitalario (VentaFacturadaZonaHospitalario)

In [177]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()

# Calcular
main = main.groupby(['Fecha', 'Zona'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaHospitalario'

# Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_zona_ch = main.copy()
main = None
venta_facturada_zona_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
1,Norte,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
2,Suroccidente,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
3,Norte,VentaFacturadaZonaHospitalario,2023-02-01,3.625766e+10,3.406300e+10,1.06
4,Suroccidente,VentaFacturadaZonaHospitalario,2023-02-01,2.295992e+10,2.188537e+10,1.05
5,Norte,VentaFacturadaZonaHospitalario,2023-03-01,5.377347e+10,4.915634e+10,1.09
6,Suroccidente,VentaFacturadaZonaHospitalario,2023-03-01,5.799153e+10,5.207205e+10,1.11

## 28. Rentabilidad Zona Hospitalario CM2 (RentabilidadZonaHospitalarioCM2)

In [178]:
main = df_rentabilidad_zona.copy()

# Calcular
main = main.groupby(['Zona', 'Fecha'], as_index =False)[['Real', 'Presupuesto']].apply(sum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadZonaHospitalarioCM2'

#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Zona - Fecha - Rentabilidad

# No hay datos

rentabilidad_zona_hospitalario_cm2 =  main.copy()
main = None
rentabilidad_zona_hospitalario_cm2

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,RentabilidadZonaHospitalarioCM2,2023-03-01,5.655265e+09,5.488745e+09,1.03
1,Centro,RentabilidadZonaHospitalarioCM2,2023-04-01,7.878331e+09,7.443486e+09,1.06
2,Centro,RentabilidadZonaHospitalarioCM2,2023-05-01,1.055209e+10,9.698511e+09,1.09
3,Centro,RentabilidadZonaHospitalarioCM2,2023-06-01,1.316727e+10,1.191287e+10,1.11
4,Centro,RentabilidadZonaHospitalarioCM2,2023-07-01,1.516507e+10,1.422059e+10,1.07
5,Centro,RentabilidadZonaHospitalarioCM2,2023-08-01,1.761319e+10,1.622263e+10,1.09
6,Centro,RentabilidadZonaHospitalarioCM2,2023-09-01,2.073424e+10,1.866947e+10,1.11
7,Centro,RentabilidadZonaHospitalarioCM2,2023-10-01,2.407815e+10,2.104924e+10,1.14
8,Centro,RentabilidadZonaHospitalarioCM2,2023-11-01,2.876062e+10,2.382114e+10,1.21
9,Norte,RentabilidadZonaHospitalarioCM2,2023-03-01,3.918208e+09,3.708745e+09,1.06
10,Norte,RentabilidadZonaHospitalarioCM2,2023-04-01,5.316886e+09,4.988652e+09,1.07
11,Norte,RentabilidadZonaHospitalarioCM2,2023-05-01,6.942905e+09,6.522735e+09,1.06
12,Norte,RentabilidadZonaHospitalarioCM2,2023-06-01,8.480484e+09,8.020028e+09,1.06
13,Norte,RentabilidadZonaHospitalarioCM2,2023-07-01,1.022218e+10,9.561073e+09,1.07
14,Norte,RentabilidadZonaHospitalarioCM2,2023-08-01,1.216381e+10,1.090925e+10,1.12
15,Norte,RentabilidadZonaHospitalarioCM2,2023-09-01,1.424948e+10,1.252932e+10,1.14
16,Norte,RentabilidadZonaHospitalarioCM2,2023-10-01,1.651893e+10,1.413177e+10,1.17
17,Norte,RentabilidadZonaHospitalarioCM2,2023-11-01,1.877577e+10,1.599527e+10,1.17
18,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-03-01,4.074942e+09,4.114846e+09,0.99
19,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-04-01,6.341297e+09,5.547272e+09,1.14
20,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-05-01,8.273536e+09,7.274620e+09,1.14
21,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-06-01,1.013239e+10,8.930961e+09,1.13
22,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-07-01,1.205632e+10,1.141761e+10,1.06
23,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-08-01,1.395273e+10,1.318497e+10,1.06
24,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-09-01,1.617638e+10,1.506538e+10,1.07
25,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-10-01,1.860997e+10,1.685732e+10,1.10
26,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-11-01,2.111778e+10,1.893971e+10,1.12

## 29. Venta Facturada Braun País (VentaFacturadaBraunPais)

In [179]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','CodigoEmpleado', 'ZonaGeografica','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Calcular
main['Contexto']= 'BBMCO'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_braun_pais = main.copy()
main = None
venta_facturada_braun_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaBraunPais,2023-01-01,9.662169e+09,9.707739e+09,1.00
1,BBMCO,VentaFacturadaBraunPais,2023-02-01,2.295992e+10,2.188537e+10,1.05
2,BBMCO,VentaFacturadaBraunPais,2023-03-01,4.047573e+10,3.697871e+10,1.09
3,BBMCO,VentaFacturadaBraunPais,2023-04-01,5.482709e+10,5.020307e+10,1.09
4,BBMCO,VentaFacturadaBraunPais,2023-05-01,7.156359e+10,6.508550e+10,1.10
5,BBMCO,VentaFacturadaBraunPais,2023-06-01,8.860822e+10,7.990818e+10,1.11
6,BBMCO,VentaFacturadaBraunPais,2023-07-01,1.045548e+11,9.744750e+10,1.07
7,BBMCO,VentaFacturadaBraunPais,2023-08-01,1.208884e+11,1.116153e+11,1.08
8,BBMCO,VentaFacturadaBraunPais,2023-09-01,1.378038e+11,1.280801e+11,1.08
9,BBMCO,VentaFacturadaBraunPais,2023-10-01,1.542245e+11,1.440656e+11,1.07
10,BBMCO,VentaFacturadaBraunPais,2023-11-01,1.743838e+11,1.626635e+11,1.07

## 30. Rentabilidad Compañía CM3 (RentabilidadCompaniaCM3)

In [180]:
# Rentabilidad Real / Presupuesto
# Filtar paras CM3 compañía BBMCO
# Totalizar nivel país

main = df_rentabilidad.copy()
main.query('Compania == "BBMCO" and ClaseRentabilidad == "CMIII"', inplace=True)
main.drop(columns=['GrupoProducto', 'SBA', 'ClaseRentabilidad'], inplace=True)
main = main.groupby(['Compania', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadCompaniaCM3'


#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Compania':'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

rentabilidad_compania_cm3 = main.copy()
main= None
rentabilidad_compania_cm3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,RentabilidadCompaniaCM3,2023-03-01,1.851957e+09,1.944062e+09,0.95
1,BBMCO,RentabilidadCompaniaCM3,2023-04-01,3.154038e+09,3.001667e+09,1.05
2,BBMCO,RentabilidadCompaniaCM3,2023-05-01,4.711115e+09,4.596915e+09,1.02
3,BBMCO,RentabilidadCompaniaCM3,2023-06-01,6.235597e+09,6.161867e+09,1.01
4,BBMCO,RentabilidadCompaniaCM3,2023-07-01,7.644411e+09,9.193633e+09,0.83
5,BBMCO,RentabilidadCompaniaCM3,2023-08-01,9.940606e+09,1.070568e+10,0.93
6,BBMCO,RentabilidadCompaniaCM3,2023-09-01,1.323307e+10,1.275843e+10,1.04
7,BBMCO,RentabilidadCompaniaCM3,2023-10-01,1.486830e+10,1.481064e+10,1.00
8,BBMCO,RentabilidadCompaniaCM3,2023-11-01,2.008524e+10,1.773025e+10,1.13

## 31. Venta Facturada Grupo clientes (KAM) VentaFacturadaGrupoClientesKAMS

In [181]:
df_venta_recaudo_kams

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
0,KAM,1,1,2023-04-01,0.0,0.0,0.0,0.0
1,KAM,1,1,2023-05-01,0.0,0.0,0.0,0.0
2,KAM,1,1,2023-06-01,0.0,0.0,0.0,0.0
3,KAM,1,1,2023-07-01,0.0,0.0,0.0,0.0
4,KAM,1,1,2023-08-01,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
109,KAM,4,3,2023-07-01,0.0,0.0,0.0,0.0
110,KAM,4,3,2023-08-01,0.0,0.0,0.0,0.0
111,KAM,4,3,2023-09-01,0.0,0.0,0.0,0.0
112,KAM,4,3,2023-10-01,0.0,0.0,0.0,0.0
113,KAM,4,3,2023-11-01,0.0,0.0,0.0,0.0

In [182]:
main = df_venta_recaudo_kams.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMS'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams = main
main = None
venta_facturada_grupo_clientes_kams

# Contexto: TipoEmpleado_AreaCalculo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1,VentaFacturadaGrupoClientesKAMS,2023-04-01,0.000000e+00,0.000000e+00,NaN
1,kam_1,VentaFacturadaGrupoClientesKAMS,2023-05-01,0.000000e+00,0.000000e+00,NaN
2,kam_1,VentaFacturadaGrupoClientesKAMS,2023-06-01,0.000000e+00,0.000000e+00,NaN
3,kam_1,VentaFacturadaGrupoClientesKAMS,2023-07-01,0.000000e+00,0.000000e+00,NaN
4,kam_1,VentaFacturadaGrupoClientesKAMS,2023-08-01,0.000000e+00,0.000000e+00,NaN
5,kam_1,VentaFacturadaGrupoClientesKAMS,2023-09-01,0.000000e+00,0.000000e+00,NaN
6,kam_1,VentaFacturadaGrupoClientesKAMS,2023-10-01,0.000000e+00,0.000000e+00,NaN
7,kam_1,VentaFacturadaGrupoClientesKAMS,2023-11-01,0.000000e+00,0.000000e+00,NaN
8,kam_2,VentaFacturadaGrupoClientesKAMS,2023-01-01,6.710470e+08,7.260103e+08,0.92
9,kam_2,VentaFacturadaGrupoClientesKAMS,2023-02-01,1.631436e+09,1.616606e+09,1.01
10,kam_2,VentaFacturadaGrupoClientesKAMS,2023-03-01,2.845732e+09,2.715695e+09,1.05
11,kam_2,VentaFacturadaGrupoClientesKAMS,2023-04-01,4.019864e+09,3.623344e+09,1.11
12,kam_2,VentaFacturadaGrupoClientesKAMS,2023-05-01,4.989944e+09,4.736295e+09,1.05
13,kam_2,VentaFacturadaGrupoClientesKAMS,2023-06-01,6.066537e+09,5.739784e+09,1.06
14,kam_2,VentaFacturadaGrupoClientesKAMS,2023-07-01,7.396891e+09,6.989106e+09,1.06
15,kam_2,VentaFacturadaGrupoClientesKAMS,2023-08-01,8.469446e+09,8.047003e+09,1.05
16,kam_2,VentaFacturadaGrupoClientesKAMS,2023-09-01,9.650186e+09,9.092242e+09,1.06
17,kam_2,VentaFacturadaGrupoClientesKAMS,2023-10-01,1.049727e+10,1.025879e+10,1.02
18,kam_2,VentaFacturadaGrupoClientesKAMS,2023-11-01,1.162745e+10,1.171497e+10,0.99
19,kam_3,VentaFacturadaGrupoClientesKAMS,2023-01-01,2.588077e+09,2.426071e+09,1.07
20,kam_3,VentaFacturadaGrupoClientesKAMS,2023-02-01,6.586396e+09,5.408810e+09,1.22
21,kam_3,VentaFacturadaGrupoClientesKAMS,2023-03-01,1.152426e+10,9.120544e+09,1.26
22,kam_3,VentaFacturadaGrupoClientesKAMS,2023-04-01,1.452143e+10,1.240716e+10,1.17
23,kam_3,VentaFacturadaGrupoClientesKAMS,2023-05-01,1.892199e+10,1.604442e+10,1.18
24,kam_3,VentaFacturadaGrupoClientesKAMS,2023-06-01,2.324985e+10,1.962652e+10,1.18
25,kam_3,VentaFacturadaGrupoClientesKAMS,2023-07-01,2.693410e+10,2.335606e+10,1.15
26,kam_3,VentaFacturadaGrupoClientesKAMS,2023-08-01,3.098650e+10,2.670059e+10,1.16
27,kam_3,VentaFacturadaGrupoClientesKAMS,2023-09-01,3.592228e+10,3.071499e+10,1.17
28,kam_3,VentaFacturadaGrupoClientesKAMS,2023-10-01,3.995385e+10,3.455218e+10,1.16
29,kam_3,VentaFacturadaGrupoClientesKAMS,2023-11-01,4.618793e+10,3.920131e+10,1.18
30,kam_4,VentaFacturadaGrupoClientesKAMS,2023-04-01,0.000000e+00,0.000000e+00,NaN
31,kam_4,VentaFacturadaGrupoClientesKAMS,2023-05-01,0.000000e+00,0.000000e+00,NaN
32,kam_4,VentaFacturadaGrupoClientesKAMS,2023-06-01,0.000000e+00,0.000000e+00,NaN
33,kam_4,VentaFacturadaGrupoClientesKAMS,2023-07-01,0.000000e+00,0.000000e+00,NaN
34,kam_4,VentaFacturadaGrupoClientesKAMS,2023-08-01,0.000000e+00,0.000000e+00,NaN
35,kam_4,VentaFacturadaGrupoClientesKAMS,2023-09-01,0.000000e+00,0.000000e+00,NaN
36,kam_4,VentaFacturadaGrupoClientesKAMS,2023-10-01,0.000000e+00,0.000000e+00,NaN
37,kam_4,VentaFacturadaGrupoClientesKAMS,2023-11-01,0.000000e+00,0.000000e+00,NaN

In [183]:
venta_facturada_grupo_clientes_kams[
    (venta_facturada_grupo_clientes_kams['Contexto'] == 'kam_2')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
8,kam_2,VentaFacturadaGrupoClientesKAMS,2023-01-01,6.710470e+08,7.260103e+08,0.92
9,kam_2,VentaFacturadaGrupoClientesKAMS,2023-02-01,1.631436e+09,1.616606e+09,1.01
10,kam_2,VentaFacturadaGrupoClientesKAMS,2023-03-01,2.845732e+09,2.715695e+09,1.05
11,kam_2,VentaFacturadaGrupoClientesKAMS,2023-04-01,4.019864e+09,3.623344e+09,1.11
12,kam_2,VentaFacturadaGrupoClientesKAMS,2023-05-01,4.989944e+09,4.736295e+09,1.05
13,kam_2,VentaFacturadaGrupoClientesKAMS,2023-06-01,6.066537e+09,5.739784e+09,1.06
14,kam_2,VentaFacturadaGrupoClientesKAMS,2023-07-01,7.396891e+09,6.989106e+09,1.06
15,kam_2,VentaFacturadaGrupoClientesKAMS,2023-08-01,8.469446e+09,8.047003e+09,1.05
16,kam_2,VentaFacturadaGrupoClientesKAMS,2023-09-01,9.650186e+09,9.092242e+09,1.06
17,kam_2,VentaFacturadaGrupoClientesKAMS,2023-10-01,1.049727e+10,1.025879e+10,1.02
18,kam_2,VentaFacturadaGrupoClientesKAMS,2023-11-01,1.162745e+10,1.171497e+10,0.99

## 32. Venta Cobrada Grupo clientes (KAM) VentaCobradaGrupoClientesKAMSSub

In [184]:
df_venta_recaudo_kams.head()

,TipoEmpleado,AreaCalculo,Consecutivo,Fecha,VentaReal,VentaPresupuesto,RecaudoReal,RecaudoPresupuesto
0,KAM,1,1,2023-04-01,0.0,0.0,0.0,0.0
1,KAM,1,1,2023-05-01,0.0,0.0,0.0,0.0
2,KAM,1,1,2023-06-01,0.0,0.0,0.0,0.0
3,KAM,1,1,2023-07-01,0.0,0.0,0.0,0.0
4,KAM,1,1,2023-08-01,0.0,0.0,0.0,0.0

In [185]:
main = df_venta_recaudo_kams.drop(columns=['VentaReal', 'VentaPresupuesto'])
main.rename(columns={'RecaudoReal': 'Real', 'RecaudoPresupuesto':'Presupuesto'}, inplace=True)
main

    TipoEmpleado  AreaCalculo  Consecutivo      Fecha  Real  Presupuesto
0            KAM            1            1 2023-04-01   0.0          0.0
1            KAM            1            1 2023-05-01   0.0          0.0
2            KAM            1            1 2023-06-01   0.0          0.0
3            KAM            1            1 2023-07-01   0.0          0.0
4            KAM            1            1 2023-08-01   0.0          0.0
..           ...          ...          ...        ...   ...          ...
109          KAM            4            3 2023-07-01   0.0          0.0
110          KAM            4            3 2023-08-01   0.0          0.0
111          KAM            4            3 2023-09-01   0.0          0.0
112          KAM            4            3 2023-10-01   0.0          0.0
113          KAM            4            3 2023-11-01   0.0          0.0

[114 rows x 6 columns]

In [186]:
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str') + '_'+ main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaCobradaGrupoClientesKAMSSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_grupo_clientes_kams_sub = main
main = None
venta_cobrada_grupo_clientes_kams_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-04-01,0.0,0.0,NaN
1,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-05-01,0.0,0.0,NaN
2,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-06-01,0.0,0.0,NaN
3,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-07-01,0.0,0.0,NaN
4,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-08-01,0.0,0.0,NaN
...,...,...,...,...,...,...
109,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-07-01,0.0,0.0,NaN
110,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-08-01,0.0,0.0,NaN
111,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-09-01,0.0,0.0,NaN
112,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-10-01,0.0,0.0,NaN
113,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-11-01,0.0,0.0,NaN

## 33. KPIs Surgical

In [187]:
### Cálculo de resultados cualitativos precargados
main = df_resultados_variables_cualitativas[df_resultados_variables_cualitativas['Variable'] == 'KpisSurgical'].copy()
main['Contexto'] = main['CodigoEmpleado'].str.lower() + '_' + main['Consecutivo'].astype(int).astype('str')
main['Real'] = np.nan
main['Presupuesto'] = np.nan
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###
kpis_surgical = main
main = None
kpis_surgical

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,51790647_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
1,51790647_2,KpisSurgical,2023-03-01,NaN,NaN,1.13
2,51790647_3,KpisSurgical,2023-03-01,NaN,NaN,1.09
3,79641686_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
4,51789567_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
...,...,...,...,...,...,...
643,80201251_2,KpisSurgical,2023-11-01,NaN,NaN,1.13
644,80201251_3,KpisSurgical,2023-11-01,NaN,NaN,1.01
645,52353176_1,KpisSurgical,2023-11-01,NaN,NaN,0.94
646,52353176_2,KpisSurgical,2023-11-01,NaN,NaN,1.13
647,52353176_3,KpisSurgical,2023-11-01,NaN,NaN,1.01

# Nuevos rubros 2023

## 34. VentaCobradaPortafolioZonaClusterSub

In [188]:
df_area_calculo_sba_centros_costos_ve = df_area_calculo_sba_centros_costos[
    df_area_calculo_sba_centros_costos['TipoEmpleado'] == 'VE'
]
df_area_calculo_sba_centros_costos_ve =  df_area_calculo_sba_centros_costos_ve.rename(columns={'ConsecutivoParrilla':'Consecutivo'})

df_area_calculo_sba_centros_costos_ve.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 538 to 566
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TipoEmpleado       29 non-null     object
 1   AreaCalculo        29 non-null     int32
 2   Consecutivo        29 non-null     int64
 3   Division           29 non-null     object
 4   GrupoProducto      29 non-null     object
 5   SBA                11 non-null     object
 6   CodigoCentroCosto  29 non-null     float64
dtypes: float64(1), int32(1), int64(1), object(4)
memory usage: 1.7+ KB

In [189]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'VE']
area_calculo_sba_completo_ve.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 409 to 506
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AreaCalculo    59 non-null     int32
 1   Consecutivo    59 non-null     int32
 2   Division       59 non-null     object
 3   GrupoProducto  59 non-null     object
 4   SBA            59 non-null     object
 5   TipoEmpleado   59 non-null     object
dtypes: int32(2), object(4)
memory usage: 2.8+ KB

In [190]:
area_calculo_sba_completo_ve.merge(
    df_area_calculo_sba_centros_costos_ve.fillna(''),
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
).head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto
0,1,1,AE,005,,VE,323010140.0
1,1,1,AE,M07,,VE,323010140.0
2,1,2,AE,M08,,VE,323010140.0
3,2,1,AE,003,,VE,323007260.0
4,2,1,AE,CEK,35,VE,323010140.0

In [191]:
df_area_calculo_sba_centros_costos_ve = area_calculo_sba_completo_ve.merge(
    df_centros_costos_grupos_productos_divisiones,
    on=['Division','GrupoProducto'],
    how='left'
)
df_area_calculo_sba_centros_costos_ve

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto
0,1,1,AE,005,,VE,323010140
1,1,1,AE,M07,,VE,323010140
2,1,2,AE,M08,,VE,323010140
3,2,1,AE,003,,VE,323007260
4,2,1,AE,CEK,35,VE,323010140
5,2,2,AE,801,,VE,323007350
6,2,3,AE,006,,VE,323007300
7,3,1,AE,001,,VE,323007270
8,4,1,HC,630,08,VE,323015050
9,4,2,HC,630,03,VE,323015050
10,4,2,HC,630,12,VE,323015050
11,4,2,HC,CDK,12,VE,323015050
12,5,1,HC,620,13,VE,323015045
13,5,2,HC,620,16,VE,323015045
14,5,3,HC,620,36,VE,323015045
15,5,4,HC,620,15,VE,323015045
16,6,1,HC,610,02,VE,323015040
17,6,2,HC,610,01,VE,323015040
18,7,1,HC,640,,VE,323015055
19,7,2,HC,680,,VE,323015055
20,8,1,BA,A34,,VE,323007332
21,9,1,BA,660,,VE,323007337
22,9,1,BA,902,,VE,323007337
23,9,1,BA,A45,,VE,323007337
24,10,1,BA,A32,,VE,323007333
25,11,1,BA,A35,,VE,323007330
26,11,2,BA,A33,,VE,323007331
27,12,1,AE,805,,VE,323007290
28,12,2,AE,M06,,VE,323007290
29,1,1,AE,005,33,VE,323010140
30,1,1,AE,005,35,VE,323010140
31,1,1,AE,M07,33,VE,323010140
32,1,1,AE,M07,30,VE,323010140
33,1,2,AE,M08,33,VE,323010140
34,2,1,AE,003,35,VE,323007260
35,2,2,AE,801,30,VE,323007350
36,2,2,AE,801,32,VE,323007350
37,2,2,AE,801,33,VE,323007350
38,2,3,AE,006,36,VE,323007300
39,3,1,AE,001,30,VE,323007270
40,3,1,AE,001,31,VE,323007270
41,3,1,AE,001,33,VE,323007270
42,3,1,AE,001,32,VE,323007270
43,7,1,HC,640,03,VE,323015055
44,7,2,HC,680,03,VE,323015055
45,8,1,BA,A34,85,VE,323007332
46,9,1,BA,660,80,VE,323007337
47,9,1,BA,660,81,VE,323007337
48,9,1,BA,902,80,VE,323007337
49,9,1,BA,A45,81,VE,323007337
50,9,1,BA,A45,80,VE,323007337
51,9,1,BA,A45,89,VE,323007337
52,10,1,BA,A32,84,VE,323007333
53,11,1,BA,A35,87,VE,323007330
54,11,2,BA,A33,86,VE,323007331
55,12,1,AE,805,30,VE,323007290
56,12,1,AE,805,32,VE,323007290
57,12,2,AE,M06,31,VE,323007290
58,12,2,AE,M06,30,VE,323007290

In [192]:
venta_recaudo_presupuesto_original_ve_real.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,2,1,AE,CEK,35,VE,Centro,0,Distribuidor AMB,2023-07-01,1050000.00,0.00
1,2,1,AE,CEK,35,VE,Centro,0,Distribuidor AMB,2023-08-01,0.00,1050000.00
2,4,1,HC,630,08,VE,Centro,5,DISTRIBUIDOR,2023-09-01,-28700.00,545300.00
3,4,1,HC,630,08,VE,Centro,5,Distribuidor,2023-08-01,574000.00,0.00
4,4,1,HC,630,08,VE,Centro,5,HOSPITAL,2023-09-01,15170799.99,15582119.99

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto

In [193]:
# Se remplaza lógica de área de cálculo SBA
# drop_cols = ['Canal', 'TipoEmpleado','Venta']
# venta_recaudo_presupuesto_original_ve_real_zona_cluster = pd.merge(
#     left=area_calculo_sba_completo_ve,
#     right=venta_recaudo_presupuesto_original_ve_real,
#     on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
#     how='left'
# )

# venta_recaudo_presupuesto_original_ve_real_zona_cluster

In [194]:
drop_cols = ['Canal', 'TipoEmpleado','Venta']
venta_recaudo_presupuesto_original_ve_real_zona_cluster = pd.merge(
    left=df_area_calculo_sba_centros_costos_ve,
    right=venta_recaudo_presupuesto_original_ve_real,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
)

venta_recaudo_presupuesto_original_ve_real_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,Distribuidor AMB,2023-07-01,1050000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9817,12,2,AE,M06,31,VE,323007290,Centro,4,Distribuidor,2023-05-01,4369894.0,1033632.0
9818,12,2,AE,M06,31,VE,323007290,Centro,4,Distribuidor,2023-07-01,3142232.0,11861104.0
9819,12,2,AE,M06,31,VE,323007290,Centro,4,HOSPITAL,2023-07-01,2763400.0,841700.0
9820,12,2,AE,M06,31,VE,323007290,Centro,4,Hospital,2023-05-01,5250000.0,0.0
9821,12,2,AE,M06,30,VE,323007290,Suroccidente,10,Hospital,2023-05-01,19212116.0,0.0

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto y Empleado

In [195]:
# Se remplaza lógica de área de cálculo SBA
# venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster = pd.merge(
#     left=area_calculo_sba_completo_ve,
#     right=venta_recaudo_presupuesto_original_ve_presupuesto,
#     on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
#     how='left'
# )
# venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster

In [196]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster = pd.merge(
    left=df_area_calculo_sba_centros_costos_ve, 
    right=venta_recaudo_presupuesto_original_ve_presupuesto,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA','TipoEmpleado'],
    how='left'
)
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,CodigoCentroCosto,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,323010140,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,323007260,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,323010140,Centro,0,Distribuidor AMB,2023-07-01,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14178,12,2,AE,M06,31,VE,323007290,Centro,4,Distribuidor,2023-07-01,8.637712e+05,1.066140e+06
14179,12,2,AE,M06,31,VE,323007290,Centro,4,HOSPITAL,2023-07-01,3.464539e+06,4.276231e+06
14180,12,2,AE,M06,31,VE,323007290,Centro,4,Hospital,2023-05-01,3.217072e+06,3.801095e+06
14181,12,2,AE,M06,31,VE,323007290,Centro,4,Hospital,2023-06-01,5.444276e+06,3.325958e+06
14182,12,2,AE,M06,30,VE,323007290,Suroccidente,10,Hospital,2023-05-01,0.000000e+00,0.000000e+00

In [197]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo', 'Division','GrupoProducto', 'CodigoCentroCosto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_ve

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,CodigoCentroCosto,Real
0,1,Centro,2023-01-01,1,1,AE,005,323010140,1037400.0
1,1,Centro,2023-01-01,1,1,AE,M07,323010140,5933860.0
2,1,Centro,2023-01-01,1,2,AE,M08,323010140,303000.0
3,1,Centro,2023-01-01,2,1,AE,005,323010140,527700.0
4,1,Centro,2023-01-01,2,1,AE,M07,323010140,6262700.0
...,...,...,...,...,...,...,...,...,...
4424,12,Suroccidente,2023-11-01,12,1,AE,805,323007290,950550.0
4425,12,Suroccidente,2023-11-01,12,2,AE,M06,323007290,10339600.0
4426,12,Suroccidente,2023-11-01,8,1,AE,805,323007290,47622900.0
4427,12,Suroccidente,2023-11-01,8,2,AE,M06,323007290,19103000.0
4428,12,Suroccidente,2023-11-01,9,1,AE,805,323007290,7175440.0

In [198]:
recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo', 'Division','GrupoProducto', 'CodigoCentroCosto'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)
recaudo_presupuesto_zona_ve

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,CodigoCentroCosto,Presupuesto
0,1,Centro,2023-01-01,0,1,AE,005,323010140,8.991553e+04
1,1,Centro,2023-01-01,0,1,AE,M07,323010140,1.580208e+06
2,1,Centro,2023-01-01,1,1,AE,005,323010140,1.766807e+06
3,1,Centro,2023-01-01,1,1,AE,M07,323010140,7.084215e+07
4,1,Centro,2023-01-01,1,2,AE,M08,323010140,9.706823e+06
...,...,...,...,...,...,...,...,...,...
5213,12,Suroccidente,2023-11-01,12,2,AE,M06,323007290,3.585471e+06
5214,12,Suroccidente,2023-11-01,8,1,AE,805,323007290,1.845380e+07
5215,12,Suroccidente,2023-11-01,8,2,AE,M06,323007290,6.625439e+06
5216,12,Suroccidente,2023-11-01,9,1,AE,805,323007290,6.460149e+06
5217,12,Suroccidente,2023-11-01,9,2,AE,M06,323007290,7.681537e+05

In [199]:
# recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
# recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

# recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
# recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha','Cluster', 'Consecutivo', 'GrupoProducto', 'Division', 'CodigoCentroCosto'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,CodigoCentroCosto,Presupuesto,Real
0,1,Centro,2023-01-01,0,1,AE,005,323010140,8.991553e+04,0.0
1,1,Centro,2023-01-01,0,1,AE,M07,323010140,1.580208e+06,0.0
2,1,Centro,2023-01-01,1,1,AE,005,323010140,1.766807e+06,1037400.0
3,1,Centro,2023-01-01,1,1,AE,M07,323010140,7.084215e+07,5933860.0
4,1,Centro,2023-01-01,1,2,AE,M08,323010140,9.706823e+06,303000.0
...,...,...,...,...,...,...,...,...,...,...
5213,12,Suroccidente,2023-11-01,12,2,AE,M06,323007290,3.585471e+06,10339600.0
5214,12,Suroccidente,2023-11-01,8,1,AE,805,323007290,1.845380e+07,47622900.0
5215,12,Suroccidente,2023-11-01,8,2,AE,M06,323007290,6.625439e+06,19103000.0
5216,12,Suroccidente,2023-11-01,9,1,AE,805,323007290,6.460149e+06,7175440.0
5217,12,Suroccidente,2023-11-01,9,2,AE,M06,323007290,7.681537e+05,0.0

In [200]:
# main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
# main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas

main = pd.merge(
    main,
    df_zonas_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona', 'Cluster']].rename(columns={'Zona': 'ZonaGeografica'}),
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica', 'Cluster'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)

main = main[main['Fecha'] >= main['FechaIngreso']]
main

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Division,GrupoProducto,CodigoCentroCosto,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
584,2,Centro,2023-01-01,0,1,AE,003,323007260,2.256346e+07,22267765.0,VE,5003527,2012-02-20
586,2,Centro,2023-01-01,0,2,AE,801,323007350,1.783577e+06,0.0,VE,5003527,2012-02-20
588,2,Centro,2023-01-01,0,3,AE,006,323007300,1.453962e+05,1923230.0,VE,5003527,2012-02-20
596,2,Centro,2023-01-01,20,1,AE,003,323007260,7.200000e+06,15897600.0,VE,5003527,2012-02-20
598,2,Centro,2023-01-01,21,1,AE,003,323007260,1.825369e+05,0.0,VE,5003527,2012-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5926,12,Suroccidente,2023-11-01,12,2,AE,M06,323007290,3.585471e+06,10339600.0,VE,1111125,2023-04-01
5927,12,Suroccidente,2023-11-01,8,1,AE,805,323007290,1.845380e+07,47622900.0,VE,1111125,2023-04-01
5928,12,Suroccidente,2023-11-01,8,2,AE,M06,323007290,6.625439e+06,19103000.0,VE,1111125,2023-04-01
5929,12,Suroccidente,2023-11-01,9,1,AE,805,323007290,6.460149e+06,7175440.0,VE,1111125,2023-04-01
5930,12,Suroccidente,2023-11-01,9,2,AE,M06,323007290,7.681537e+05,0.0,VE,1111125,2023-04-01

In [201]:
venta_cobrada_portafolio_zona_cluster_sub_centro_costo = f_calculo_centro_costo_variable(main, 'VentaCobradaPortafolioZonaClusterSub')
venta_cobrada_portafolio_zona_cluster_sub_centro_costo

C:\Users\Crisp\AppData\Local\Temp\ipykernel_43316\3322601591.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  main['Consecutivo'] = main['Consecutivo'].str.replace('.0', '')

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable
0,1030524723_1,2023-01-01,A34,BA,323007332,1.992647e+08,2.377765e+08,VentaCobradaPortafolioZonaClusterSub
1,1030524723_1,2023-02-01,A34,BA,323007332,3.943198e+08,5.072566e+08,VentaCobradaPortafolioZonaClusterSub
2,1030524723_1,2023-03-01,A34,BA,323007332,8.162964e+08,8.242919e+08,VentaCobradaPortafolioZonaClusterSub
3,1030524723_1,2023-04-01,A34,BA,323007332,1.068289e+09,1.046217e+09,VentaCobradaPortafolioZonaClusterSub
4,1030524723_1,2023-05-01,A34,BA,323007332,1.265571e+09,1.268141e+09,VentaCobradaPortafolioZonaClusterSub
...,...,...,...,...,...,...,...,...
604,94487610_4,2023-07-01,620,HC,323015045,3.431141e+09,3.376223e+09,VentaCobradaPortafolioZonaClusterSub
605,94487610_4,2023-08-01,620,HC,323015045,3.768408e+09,3.805404e+09,VentaCobradaPortafolioZonaClusterSub
606,94487610_4,2023-09-01,620,HC,323015045,4.413197e+09,4.263197e+09,VentaCobradaPortafolioZonaClusterSub
607,94487610_4,2023-10-01,620,HC,323015045,4.954124e+09,4.778214e+09,VentaCobradaPortafolioZonaClusterSub
608,94487610_4,2023-11-01,620,HC,323015045,5.573868e+09,5.207394e+09,VentaCobradaPortafolioZonaClusterSub

In [202]:
# main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
# main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)

main = main.groupby(['CodigoEmpleado', 'Fecha', 'Consecutivo'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZonaClusterSub'
# main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_cluster_sub = main.copy()
main = None

venta_cobrada_portafolio_zona_cluster_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-01-01,1.992647e+08,2.377765e+08,0.84
1,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-02-01,3.943198e+08,5.072566e+08,0.78
2,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-03-01,8.162964e+08,8.242919e+08,0.99
3,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-04-01,1.068289e+09,1.046217e+09,1.02
4,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-05-01,1.265571e+09,1.268141e+09,1.00

In [203]:
venta_cobrada_portafolio_zona_cluster_sub[
    venta_cobrada_portafolio_zona_cluster_sub['Contexto'].str.contains('1060654227')
]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
11,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-01-01,1.167908e+08,9.280402e+07,1.26
12,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-01-01,7.789046e+08,4.237577e+08,1.84
13,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-02-01,2.081910e+08,1.856080e+08,1.12
14,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-02-01,1.157546e+09,8.475153e+08,1.37
15,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-03-01,2.902617e+08,2.784120e+08,1.04
16,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-03-01,1.509290e+09,1.271273e+09,1.19
17,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-04-01,3.634640e+08,3.609045e+08,1.01
18,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-04-01,1.903516e+09,1.647947e+09,1.16
19,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-05-01,5.179071e+08,4.433970e+08,1.17
20,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-05-01,2.222364e+09,2.024620e+09,1.10
21,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-06-01,6.364012e+08,5.362010e+08,1.19
22,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-06-01,2.628249e+09,2.448378e+09,1.07
23,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-07-01,7.542123e+08,6.083819e+08,1.24
24,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-07-01,2.809360e+09,2.777967e+09,1.01
25,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-08-01,9.037073e+08,6.857186e+08,1.32
26,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-08-01,2.985485e+09,3.131098e+09,0.95
27,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-09-01,1.026254e+09,7.682110e+08,1.34
28,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-09-01,3.260140e+09,3.507772e+09,0.93
29,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-10-01,1.202959e+09,8.610150e+08,1.40
30,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-10-01,3.439373e+09,3.931530e+09,0.87
31,1060654227_1,VentaCobradaPortafolioZonaClusterSub,2023-11-01,1.264547e+09,9.383517e+08,1.35
32,1060654227_2,VentaCobradaPortafolioZonaClusterSub,2023-11-01,3.693665e+09,4.284661e+09,0.86

## 35. VentaCobradaUnidadNegocioSub

In [204]:
# main = None

# venta_cobrada_portafolio_cluster_sub = main
# main = None
# venta_cobrada_portafolio_cluster_sub

# # Contexto:

## 36. VentaCobradaZonaPaisSub

In [205]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GC') |
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD')
]

area_calculo_sba_completo_gc_without_dup = area_calculo_sba_completo_gc[['TipoEmpleado','Consecutivo', 'Division']].drop_duplicates()
area_calculo_sba_completo_gc_without_dup.head()

    TipoEmpleado  Consecutivo Division
95            GC            1       AE
96            GC            2       HC
97            GC            3       BA
104           GD            1       AE
106           GD            2       AE

### Se hace merge entre area de cálculo por GC y Venta Recaudo

In [206]:
drop_cols = ['Venta'] #'GrupoProducto', 'SBA'
recaudo_real_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_real,
    on=['Division'],
    how='left'
)
recaudo_real_zona_gc = recaudo_real_zona_gc.dropna(subset=['ZonaGeografica']).drop(columns=drop_cols)
recaudo_real_zona_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,Canal,GrupoProducto,SBA,Fecha,Real
0,GC,1,AE,1111111,16,Norte,ASEGURADOR,005,33,2023-07-01,246335.0
1,GC,1,AE,1111111,16,Norte,ASEGURADOR,005,33,2023-09-01,417430.0
2,GC,1,AE,1111111,16,Norte,ASEGURADOR,005,33,2023-11-01,157985.0
3,GC,1,AE,1111111,16,Norte,ASEGURADOR,005,35,2023-07-01,104310.0
4,GC,1,AE,1111111,16,Norte,ASEGURADOR,005,35,2023-09-01,176700.0
...,...,...,...,...,...,...,...,...,...,...,...
60162,GD,4,BA,9990022,22,Norte,OPL,A35,87,2023-11-01,-193276002.0
60163,GD,4,BA,9990022,22,Suroccidente,DISTRIBUIDOR,A35,87,2023-11-01,1204200.0
60164,GD,4,BA,9990022,22,Suroccidente,Distribuidor,A35,87,2023-10-01,9226800.0
60165,GD,4,BA,9990022,22,Suroccidente,OPL,A35,87,2023-10-01,0.0
60166,GD,4,BA,9990022,22,Suroccidente,OPL,A35,87,2023-11-01,10575510.0

In [207]:
recaudo_real_zona_gc[
    (recaudo_real_zona_gc['ZonaGeografica'] == "Norte") &
    (recaudo_real_zona_gc['Division'] == "HC") &
    (recaudo_real_zona_gc['TipoEmpleado'] == "GC")
]['Real'].sum()

35129861011.39093

In [208]:
recaudo_presupuesto_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_presupuesto,
    on=['Division'],
    how='left'
)

recaudo_presupuesto_zona_gc = recaudo_presupuesto_zona_gc.drop(columns=drop_cols).dropna(subset=['ZonaGeografica'])
recaudo_presupuesto_zona_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)
recaudo_presupuesto_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto
0,GC,1,AE,1111111,16,Norte,001,Distribuidor,30,2023-02-01,0.000000e+00
1,GC,1,AE,1111111,16,Norte,001,Distribuidor,30,2023-06-01,0.000000e+00
2,GC,1,AE,1111111,16,Norte,001,HOSPITAL,30,2023-07-01,3.122999e+06
3,GC,1,AE,1111111,16,Norte,001,HOSPITAL,30,2023-09-01,2.775999e+06
4,GC,1,AE,1111111,16,Norte,001,Hospital,30,2023-01-01,2.602499e+06
...,...,...,...,...,...,...,...,...,...,...,...
87239,GD,4,BA,9990022,22,Norte,A35,OPL,87,2023-11-01,1.011985e+07
87240,GD,4,BA,9990022,22,Suroccidente,A35,Distribuidor,87,2023-10-01,1.824641e+07
87241,GD,4,BA,9990022,22,Suroccidente,A35,Distribuidor,87,2023-11-01,1.277249e+07
87242,GD,4,BA,9990022,22,Suroccidente,A35,OPL,87,2023-10-01,4.722291e+06
87243,GD,4,BA,9990022,22,Suroccidente,A35,OPL,87,2023-11-01,3.305604e+06

### Se hace merge entre recaudo presupuesto y recaudo real

In [209]:
main = pd.merge(
    left=recaudo_presupuesto_zona_gc,
    right=recaudo_real_zona_gc,
    on=['ZonaGeografica', 'Fecha', 'Consecutivo', 'Division', 'CodigoEmpleado', 'TipoEmpleado', 'Cluster', 'GrupoProducto', 'SBA', 'Canal'],
    how='outer'
)
main = main.dropna(subset=['ZonaGeografica']).drop(columns=['CodigoEmpleado'])
main

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real
0,GC,1,AE,16,Norte,001,Distribuidor,30,2023-02-01,0.000000e+00,0.0
1,GC,1,AE,16,Norte,001,Distribuidor,30,2023-06-01,0.000000e+00,63500.0
2,GC,1,AE,16,Norte,001,HOSPITAL,30,2023-07-01,3.122999e+06,NaN
3,GC,1,AE,16,Norte,001,HOSPITAL,30,2023-09-01,2.775999e+06,13840000.0
4,GC,1,AE,16,Norte,001,Hospital,30,2023-01-01,2.602499e+06,0.0
...,...,...,...,...,...,...,...,...,...,...,...
89632,GD,4,BA,8,Suroccidente,A34,DISTRIBUIDOR,85,2023-11-01,NaN,88950120.0
89633,GD,4,BA,22,Centro,A35,DISTRIBUIDOR,87,2023-11-01,NaN,25723500.0
89634,GD,4,BA,22,Centro,A35,TELEVENTAS DISTRIBUIDOR,87,2023-11-01,NaN,6578700.0
89635,GD,4,BA,22,Norte,A35,DISTRIBUIDOR,87,2023-11-01,NaN,2424780.0
89636,GD,4,BA,22,Suroccidente,A35,DISTRIBUIDOR,87,2023-11-01,NaN,1204200.0

In [210]:
main[
    (main['ZonaGeografica'] == "Norte") &
    (main['Division'] == "HC") &
    (main['TipoEmpleado'] == "GC")
]['Real'].sum()

35129861011.39093

In [211]:
main[
    (main['ZonaGeografica'] == "Norte") &
    (main['Division'] == "HC") &
    (main['TipoEmpleado'] == "GC")
]['Presupuesto'].sum()

33777535416.04207

In [212]:
df_zonas_empleado_gc = df_zonas_empleado[
    (df_zonas_empleado['TipoEmpleado']== 'GC') |
    (df_zonas_empleado['TipoEmpleado']== 'GD')
]
df_zonas_empleado_gc

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
4         Centro        5016692           GD            2
6          Norte        5002711           GC            3
43         Norte        6474959           GD            1
46        Centro        5004298           GC            1
64  Suroccidente        5005980           GC            2
72  Suroccidente        5036358           GD            3

## Se hace merge entre el dataframe anterior y zonas empleados para obtener los código de los GC

In [213]:
main = main.merge(
    df_zonas_empleado_gc.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'TipoEmpleado'],
    how='left'
)
main['Real'].fillna(0.0, inplace=True)
main.dropna(subset=['CodigoEmpleado'])

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,CodigoEmpleado,AreaCalculo
0,GC,1,AE,16,Norte,001,Distribuidor,30,2023-02-01,0.000000e+00,0.0,5002711,3
1,GC,1,AE,16,Norte,001,Distribuidor,30,2023-06-01,0.000000e+00,63500.0,5002711,3
2,GC,1,AE,16,Norte,001,HOSPITAL,30,2023-07-01,3.122999e+06,0.0,5002711,3
3,GC,1,AE,16,Norte,001,HOSPITAL,30,2023-09-01,2.775999e+06,13840000.0,5002711,3
4,GC,1,AE,16,Norte,001,Hospital,30,2023-01-01,2.602499e+06,0.0,5002711,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89632,GD,4,BA,8,Suroccidente,A34,DISTRIBUIDOR,85,2023-11-01,NaN,88950120.0,5036358,3
89633,GD,4,BA,22,Centro,A35,DISTRIBUIDOR,87,2023-11-01,NaN,25723500.0,5016692,2
89634,GD,4,BA,22,Centro,A35,TELEVENTAS DISTRIBUIDOR,87,2023-11-01,NaN,6578700.0,5016692,2
89635,GD,4,BA,22,Norte,A35,DISTRIBUIDOR,87,2023-11-01,NaN,2424780.0,6474959,1
89636,GD,4,BA,22,Suroccidente,A35,DISTRIBUIDOR,87,2023-11-01,NaN,1204200.0,5036358,3

In [214]:
main[
    (main['CodigoEmpleado'] == '5002711') &
    (main['Consecutivo'] == 1)
].to_excel("VentaCobradaZonaPaisSub.xlsx")

PermissionError: [Errno 13] Permission denied: 'VentaCobradaZonaPaisSub.xlsx'

In [ ]:
venta_cobrada_zona_pais_sub_centro_costo = f_calculo_centro_costo_variable(main=main, variable='VentaCobradaZonaPaisSub').copy()
venta_cobrada_zona_pais_sub_centro_costo

In [ ]:
# Calcular
main['Contexto']= main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaPaisSub'

#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto','PorcentajeCumplimiento']]

venta_cobrada_zona_pais_sub = main
main = None
venta_cobrada_zona_pais_sub

# Contexto: Código de empleado, gerentes de canal.

In [ ]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_1']

In [ ]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_2']

In [ ]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_3']

## 36. VentaFacturadaPortafolioRenal

In [ ]:
# Aplica VC5

In [ ]:
area_calculo_sba_completo.head()

In [ ]:
df_renal_ambulatorio

In [ ]:
7.384809+1044514+8.649572

In [ ]:
# Calcular

main = df_renal_ambulatorio.rename(columns={'PlanVentaTotal': 'Presupuesto', 'RealVentaTotal': 'Real'})

main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioRenal'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_renal = main.copy()
main = None
venta_facturada_portafolio_renal

## 37. VentaFacturadaPortafolioZonaCluster

In [ ]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster.head()

In [ ]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.head()

In [ ]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
# drop_cols = ['Recaudo', 'Division','CodigoEmpleado','GrupoProducto', 'Canal', 'SBA']
real = venta_recaudo_presupuesto_original_ve_real_zona_cluster.copy()
ppto = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.copy()

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['AreaCalculo','Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['AreaCalculo', 'Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)
main = main.merge(
    df_zonas_clusters_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]
main

In [ ]:
main['Real'].fillna(0, inplace=True)

# Calcular

main['Contexto'] = main['CodigoEmpleado']
# + '_' +  main['ZonaGeografica'].astype('str')
main
# main['Contexto']= 'VFPZ'

In [ ]:
# Calcular

# main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['ZonaGeografica'].astype(int).astype('str')
# main['Contexto']= 'VFPZ'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaCluster'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_zona_cluster = main.copy()
main = None
venta_facturada_portafolio_zona_cluster

In [ ]:
venta_facturada_portafolio_zona_cluster[venta_facturada_portafolio_zona_cluster['Contexto'].str.contains('1060654227') ]

In [ ]:
venta_facturada_portafolio_zona_cluster[venta_facturada_portafolio_zona_cluster['Contexto'].str.contains('5041369') ]

## 38. VentaFacturadaZonaPais

In [ ]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real = real.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica'],
    how='left'
)    

main = main.merge(
    df_zonas_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Calcular
main['Contexto']= main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha','Real','Presupuesto','PorcentajeCumplimiento']]

venta_facturada_zona_pais = main.copy()
main = None
venta_facturada_zona_pais

In [ ]:
venta_facturada_zona_pais[venta_facturada_zona_pais['Contexto'] == '1111115']

In [ ]:
venta_facturada_zona_pais[venta_facturada_zona_pais['Contexto'] == '1111124']

## Cálculo de Maestra de Resultados

In [ ]:
maestra_resultados = pd.concat([
    cumplimiento_objetivos_cualitativos, # cumplimiento_cualitativos,
    cumplimiento_recaudo_por_zona, # cumplimiento_cobro_por_zona,
    cumplimiento_venta_individual,
    cumplimiento_venta_individual_sub,
    cumplimiento_recaudo_individual,
    cumplimiento_recaudo_individual_sub, # cumplimiento_cobro_empleado_consecutivo,
    cumplimiento_venta_por_area_calculo, # cumplimiento_venta_por_area_calculo,
    cumplimiento_venta_por_area_calculo_sub,
    cumplimiento_recaudo_por_area_calculo, # cumplimiento_cobro_por_area_calculo,
    cumplimiento_recaudo_por_area_calculo_sub,
    cumplimiento_recaudo_nivel_pais, # cumplimiento_cobro_pais,
    cumplimiento_venta_por_unidad_negocio_gu,
    cumplimiento_venta_por_unidad_negocio_gu_sub,
    cumplimiento_recaudo_por_unidad_negocio_gu, # cumplimiento_cobro_area_calculo_gu,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    cumplimiento_venta_por_unidad_negocio_mk,
    cumplimiento_venta_por_unidad_negocio_mk_sub,
    cumplimiento_recaudo_por_unidad_negocio_mk, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_recaudo_por_unidad_negocio_mk_sub, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    cumplimiento_recaudo_por_division, # cumplimiento_cobro_division,
    cumplimiento_recaudo_por_division_sub_mk, # cumplimiento_cobro_division_sub,
    cumplimiento_recaudo_otras_companias_mk, # cumplimiento_cobro_compañias_mk,
    cumplimiento_recaudo_por_division_sub_gd, cumplimiento_recaudo_otras_companias_gd, # cumplimiento_cobro_division_sub_gd,
    cumplimiento_recaudo_por_division_sub_ad, # cumplimiento_cobro_division_sub_ad,
    cumplimiento_recaudo_otras_companias_ad, # cumplimiento_cobro_compañias_ad,
    cumplimiento_recaudo_por_division_sub_ad1, # cumplimiento_cobro_division_sub_ad1,
    cumplimiento_recaudo_otras_companias_ad1, # cumplimiento_cobro_compañias_ad1,
    cumplimiento_recaudo_por_division_sub_ad3, # cumplimiento_cobro_division_sub_ad3,
    cumplimiento_recaudo_otras_companias_ad3, # cumplimiento_cobro_compañias_ad3,
    cumplimiento_recaudo_por_division_sub_ad4, cumplimiento_recaudo_otras_companias_ad4, # cumplimiento_cobro_compañias_ad4,
    cumplimiento_recaudo_por_division_sub_ad5, cumplimiento_recaudo_otras_companias_ad5, # cumplimiento_cobro_compañias_ad5,
    cumplimiento_rentabilidad_cm5_nivel_pais, # rentabilidad_antes_de_impuestos,
    cumplimiento_rentabilidad_cm3_grupo_clientes_sub,  # rentabilidad_division_consecutivo,
    cumplimiento_rentabilidad_cm3_grupo_clientes, # rentabilidad_division,
    cumplimiento_rentabilidad_cm2_grupo_clientes, # rentabilidad_kam,
    cumplimiento_rentabilidad_cm5_ad, # rentabilidad_antes_de_impuestos_ad,
    cumplimiento_rentabilidad_cm5_ad1, # rentabilidad_antes_de_impuestos_ad1,
    cumplimiento_rentabilidad_cm5_ad2, # rentabilidad_antes_de_impuestos_ad2,
    cumplimiento_rentabilidad_cm5_ad3, # rentabilidad_antes_de_impuestos_ad3,
    cumplimiento_rentabilidad_cm5_ad4, # rentabilidad_antes_de_impuestos_ad4,
    cumplimiento_rentabilidad_cm5_ad5, # rentabilidad_antes_de_impuestos_ad5,
    cumplimiento_venta_previo_notas_credito_tp, # venta_credito_tp,
    cumplimiento_venta_servicios_mtto,
    # 2022
    venta_cobrada_braun_cluster,
    venta_cobrada_portafolio_cluster,
    venta_cobrada_portafolio_cluster_sub,
    venta_facturada_portafolio_cluster,
    venta_facturada_portafolio_cluster_sub,
    venta_cobrada_portafolio_pais_ve,
    venta_facturada_portafolio_zona_sub_ve,
    venta_cobrada_portafolio_zona_ve,
    venta_cobrada_portafolio_cluster_ve,
    venta_facturada_portafolio_cluster_sub_ve,
    venta_cobrada_zona_hospitalario_sub_gc,
    venta_cobrada_zona_hospitalario_sub_gd,
    venta_facturada_pais_ch,
    venta_facturada_zona_ch,
    rentabilidad_zona_hospitalario_cm2,
    venta_facturada_braun_pais,
    rentabilidad_compania_cm3,
    venta_cobrada_grupo_clientes_kams_sub,
    venta_facturada_grupo_clientes_kams,
    kpis_surgical,
    #2023
    venta_cobrada_portafolio_zona_cluster_sub,
    venta_facturada_portafolio_zona_cluster,
    venta_facturada_zona_pais,
    venta_cobrada_zona_pais_sub,
    venta_facturada_portafolio_renal
])
maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
maestra_resultados.head()

In [ ]:
maestra_resultados[maestra_resultados['Variable'] == "VentaCobradaPortafolioClusterSub"]

In [ ]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('1111117')]

In [ ]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('gd_3_5')]

In [ ]:
maestra_resultados[
    (maestra_resultados['Contexto'] == '1111128')
]

### Cálculo de Maestra de Resultados Centro Costo

In [ ]:
venta_cobrada_zona_pais_sub_centro_costo.head()

In [ ]:
venta_cobrada_portafolio_cluster_sub_centro_costo.head()

In [ ]:
venta_cobrada_portafolio_zona_cluster_sub_centro_costo.head()

In [ ]:
maestra_resultados_centro_costo = pd.concat([
    #2023
    venta_cobrada_zona_pais_sub_centro_costo,
    cumplimiento_recaudo_por_division_sub_mk_centro_costo, 
    cumplimiento_recaudo_por_division_sub_gd_centro_costo,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub_centro_costo, 
    cumplimiento_recaudo_por_unidad_negocio_mk_sub_centro_costo,
    cumplimiento_venta_por_unidad_negocio_gu_sub_centro_costo, 
    cumplimiento_venta_por_unidad_negocio_mk_sub_centro_costo,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_centro_costo, 
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_centro_costo,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_centro_costo, 
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_centro_costo,
    venta_cobrada_portafolio_cluster_sub_centro_costo,
    venta_cobrada_portafolio_zona_cluster_sub_centro_costo
])
maestra_resultados_centro_costo
# maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
# maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
# maestra_resultados.head()

In [ ]:
maestra_resultados_centro_costo.to_excel('maestra_resultados_centro_costo.xlsx')

In [ ]:
maestra_resultados_centro_costo[
    
    pd.notna(maestra_resultados_centro_costo['AreaCalculo'])
]

## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [ ]:
def recalcular_porcentajes_cumplimiento(row):
    response = row['PorcentajeCumplimiento']
    if not pd.isnull(row['Real']) and not pd.isnull(row['Presupuesto']):
        if row['Presupuesto'] == 0:
            response = 0
        elif row['Real'] - row['Presupuesto'] < 0:
            response = 1 + ((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
        elif row['Real'] - row['Presupuesto'] > 0:
            response = 1 + abs((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
    return round(response, 2)

maestra_resultados['PorcentajeCumplimiento'] = maestra_resultados.apply(recalcular_porcentajes_cumplimiento, axis=1)

### Se calculan los porcentajes de cumplimiento para Maestra de Centro de Costos

In [ ]:
maestra_resultados_centro_costo['PorcentajeCumplimiento'] = 0
maestra_resultados_centro_costo['PorcentajeCumplimiento'] = maestra_resultados_centro_costo.apply(recalcular_porcentajes_cumplimiento, axis=1)
maestra_resultados_centro_costo.drop(columns={'AreaCalculo', 'Consecutivo', 'TipoEmpleado'})

## Se une la maestra de resultados con la parrilla

### Maestra de Resultados por Empleado

In [ ]:
maestra_resultados.head()

In [ ]:
df_parrillas[df_parrillas['Variable'] == 'VentaFacturadaZonaPais'].head()

In [ ]:
maestra_resultados_por_empleado = maestra_resultados.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)
maestra_resultados_por_empleado.head()

In [ ]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
maestra_resultados_por_empleado.head()

In [ ]:
df_salarios_variables.head()

In [ ]:
# Se añaden líneas para filtrar registros vacíos ('Fecha' y 'CodigoEmpleado')
maestra_resultados_por_empleado.dropna(subset=[
        'Fecha'
    ], inplace=True)
maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)
maestra_resultados_por_empleado

In [ ]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado.head()

### Maestra de Resultados por Empleado y Centro de Costos

In [ ]:
maestra_resultados_por_empleado_centro_costo = maestra_resultados_centro_costo.drop(columns={'AreaCalculo', 'Consecutivo', 'TipoEmpleado'})
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

In [ ]:
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

In [ ]:
# Se añaden líneas para filtrar registros vacíos ('Fecha' y 'CodigoEmpleado')
maestra_resultados_por_empleado_centro_costo.dropna(subset=[
        'Fecha'
    ], inplace=True)
maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] = maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'].astype(str)
maestra_resultados_por_empleado_centro_costo.head()

In [ ]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

In [ ]:
maestra_resultados_por_empleado_centro_costo[
    (maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '1016088256') &
    (maestra_resultados_por_empleado_centro_costo['Fecha'] == '2023-07-01')
]

In [ ]:
# maestra_resultados_por_empleado = maestra_resultados.merge(
#     df_parrillas,
#     on=['Contexto', 'Variable'],
#     how='left'
# )

# maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
#     df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
#     on='CodigoEmpleado',
#     how='left'
# )

# maestra_resultados_por_empleado.dropna(subset=[
#     'Fecha'
# ], inplace=True)
# maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)

# # TODO Hacer el merge con la tabla de promedio variable
# maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
#     df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
#         columns={'PromedioSalarioVariable': 'SalarioVariable'}
#     ),
#     on=['CodigoEmpleado', 'Fecha'],
#     how='left'
# )

maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_factores_liquidacion,
    on=['TipoEmpleado', 'PorcentajeCumplimiento'],
    how='left'
)

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] == 0)),
    0.25,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] > 0)),
    0.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)

##
_excepciones_porcentaje_cumplimiento = [
    # {
    #     'TipoEmpleado': 'VC',
    #     'AreaCalculo': 7,
    #     'Variable': 'VentaFacturadaZonaCargoIndividualSub',
    #     'Consecutivo': 4,
    #     'FechaInicial': '2021-02-01',
    #     'FechaFinal': '2021-06-01',
    #     'PorcentajeCumplimiento': 1,
    #     'FactorIncentivo': 1,
    #     'Codigos': ['5003527']
    # }
]

for excepcion in _excepciones_porcentaje_cumplimiento:
    maestra_resultados_por_empleado['PorcentajeCumplimiento'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['PorcentajeCumplimiento'],
        maestra_resultados_por_empleado['PorcentajeCumplimiento']
    )
    maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['FactorIncentivo'],
        maestra_resultados_por_empleado['FactorIncentivo']
    )
##

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']<0.9) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    0,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']>1.06) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    2.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['Fecha'].notnull()]
maestra_resultados_por_empleado['FactorMes'] = pd.DatetimeIndex(maestra_resultados_por_empleado['Fecha']).month
maestra_resultados_por_empleado['FactorMes'] = maestra_resultados_por_empleado['FactorMes'].astype('int')
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['SalarioVariable']*maestra_resultados_por_empleado['Porcentaje']
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['FactorIncentivo']

try:
    maestra_resultados_por_empleado['DifMonths'] = ((maestra_resultados_por_empleado.Fecha - maestra_resultados_por_empleado.FechaIngreso)/np.timedelta64(1, 'M'))
except:
    maestra_resultados_por_empleado['DifMonths'] = 0
maestra_resultados_por_empleado['DifMonths'].fillna(0, inplace=True)
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].apply(lambda x: round(x, 0))
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].astype('int')

maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado.groupby(['CodigoEmpleado'])['DifMonths'].transform(min)
maestra_resultados_por_empleado['DifMonths'] = np.where(
    maestra_resultados_por_empleado['DifMonths']>0, 0, maestra_resultados_por_empleado['DifMonths']
)
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['FactorMes'] + maestra_resultados_por_empleado['DifMonths']
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['NuevoFactor'].apply(lambda x: 0 if x<0 else x)

###
_excepciones_factor_mes = [
    # Garantizados para VEs y VCs
    {
        'TipoEmpleado': ['VC', 'VE'],
        'FechaInicial': '2022-03-01',
        'FechaFinal': '2022-12-01',
        'SumFactorMes': -2
    }
]
for excepcion in _excepciones_factor_mes:
    maestra_resultados_por_empleado['NuevoFactor'] = np.where(
        (
            (maestra_resultados_por_empleado['TipoEmpleado'].isin(excepcion['TipoEmpleado'])) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        maestra_resultados_por_empleado['NuevoFactor'] + excepcion['SumFactorMes'],
        maestra_resultados_por_empleado['NuevoFactor']
    )

maestra_resultados_por_empleado['NuevoFactor'] = np.where(
    maestra_resultados_por_empleado['NuevoFactor'] < 1,
    1,
    maestra_resultados_por_empleado['NuevoFactor']
)
maestra_resultados_por_empleado['NuevoFactorBK'] = maestra_resultados_por_empleado['NuevoFactor']
###

maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['NuevoFactor']

maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['CodigoEmpleado'].notnull()]

In [ ]:
maestra_resultados_por_empleado.head()

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']

## Se calculan los resultados por mes

In [ ]:
lista_variables_rentabilidad_acumuladas = [
    'RentabilidadBbraunPaisAntesDeImpuestos',
    'RentabilidadDivisionGrupoClientesCM3',
    'RentabilidadDivisionGrupoClientesCM3Sub',
    'RentabilidadUnidadNegocioCM2',
    'RentabilidadUnidadNegocioCM2Sub',
    'RentabilidadUnidadNegocioCM3',
    'RentabilidadUnidadNegocioCM3Sub',
    'TotalRentabilidadBraunAntesDeImpuestosCM5',
    'VentaFacturadaPrevioNotasCreditoTP',
    # 2022
    'RentabilidadCompaniaCM3',
    'RentabilidadZonaHospitalarioCM2'
]

def calcular_resultado_mes(group):
    valor_previo_real = 0
    valor_previo_presupuesto = 0
    for index, item in group.iterrows():
        if item['Variable'] in lista_variables_rentabilidad_acumuladas:
            resultado_real_mes = item['Real']
            resultado_presupuesto_mes = item['Presupuesto']
        else:
            resultado_real_mes = item['Real'] - valor_previo_real
            resultado_presupuesto_mes = item['Presupuesto'] - valor_previo_presupuesto
        
        group.at[index, 'ResultadoRealMes'] = resultado_real_mes
        group.at[index, 'ResultadoPresupuesto'] = resultado_presupuesto_mes

        porcentaje_cumplimiento_mes = 0
        if resultado_presupuesto_mes == 0:
            porcentaje_cumplimiento_mes = 0
        elif resultado_real_mes - resultado_presupuesto_mes < 0:
            porcentaje_cumplimiento_mes = 1 + ((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        elif resultado_real_mes - resultado_presupuesto_mes > 0:
            porcentaje_cumplimiento_mes = 1 + abs((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        else:
            porcentaje_cumplimiento_mes = resultado_real_mes / resultado_presupuesto_mes

        group.at[index, 'PorcentajeCumplimientoMes'] = round(porcentaje_cumplimiento_mes, 2)
        
        valor_previo_real = item['Real']
        valor_previo_presupuesto = item['Presupuesto']
    return group

maestra_resultados_por_empleado['Real'].fillna(0,inplace=True)
maestra_resultados_por_empleado['Presupuesto'].fillna(0,inplace=True)
maestra_resultados_por_empleado['ResultadoPresupuesto'] = 0
maestra_resultados_por_empleado['ResultadoRealMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = maestra_resultados_por_empleado['PorcentajeCumplimientoMes'].astype('float')
maestra_resultados_por_empleado = maestra_resultados_por_empleado.groupby(['CodigoEmpleado', 'Variable', 'Contexto'], group_keys=False).apply(calcular_resultado_mes)

maestra_resultados_por_empleado.head()

In [ ]:
# Se une el resultadio histórico con el actual, de tal forma que al histórico se le agregan únicamenet 
# los resultados correspondientes al mes que se está liquidando
resultado_detallado_historico = df_resultado_detallado_previo.copy()
last_date_historico = resultado_detallado_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    maestra_resultados_por_empleado = maestra_resultados_por_empleado[
        (maestra_resultados_por_empleado['Fecha']<=fecha_liquidacion)
    ]
    if last_date_historico:
        maestra_resultados_por_empleado = maestra_resultados_por_empleado[
            maestra_resultados_por_empleado['Fecha']>last_date_historico
        ]
except:
    raise

maestra_resultados_por_empleado = pd.concat([resultado_detallado_historico, maestra_resultados_por_empleado])
maestra_resultados_por_empleado = maestra_resultados_por_empleado.sort_values(by=['CodigoEmpleado', 'Fecha'])
maestra_resultados_por_empleado

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']

## Se obtienen las liquidaciones

In [ ]:
excepciones_pagos_acumulados = {}

excepciones_diferencias = {}

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Fecha'] >= '2023-04-01']

In [ ]:
df_incentivos_por_empleado

In [ ]:
resultado_liquidaciones = maestra_resultados_por_empleado.groupby(
    ['CodigoEmpleado', 'SalarioVariable', 'Fecha', 'NuevoFactorBK'],
    as_index=False
).Liquidado.agg({'Liquidado': 'sum'})
resultado_liquidaciones.rename(columns={'NuevoFactorBK': 'NuevoFactor'}, inplace=True)
resultado_liquidaciones.head()
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_incentivos_por_empleado.rename(columns={'Valor': 'PagoReal'}),
    on = ['CodigoEmpleado', 'Fecha'],
    how = 'right'
)
resultado_liquidaciones.head()

In [ ]:
resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= '2023-05-01']

In [ ]:
resultado_liquidaciones = pd.merge(
    left=resultado_liquidaciones,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']].drop_duplicates(['CodigoEmpleado']),
    how='left',
    on=['CodigoEmpleado']
)
resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= '2023-05-01']

In [ ]:
resultado_liquidaciones = resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= resultado_liquidaciones['FechaIngreso']]
resultado_liquidaciones.drop(columns=['FechaIngreso'], inplace=True)
resultado_liquidaciones.head()

# Cálculo de garantizado (100%) para VEs y VCs, Anticipos (85%) para el resto de empleados
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado']],
    on='CodigoEmpleado',
    how='left'
)

def calcular_liquidacion_mes(g):
    pago_acumulado = 0
    for i, row in g.iterrows():
        if row['Fecha'].month in meses_incentivos:
            if g.at[i, 'PagoReal'] == 0:
                if i == 0:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
                else:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
            
            if g.at[i, 'PagoReal'] < 0:
                g.at[i, 'PagoReal'] = 0.0
        pago_acumulado += g.at[i, 'PagoReal']
        
        excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
        if excepcion and row['Fecha'] == excepcion['Fecha']:
            pago_acumulado = excepcion['ValorPagoAcumulado']
        
        excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
        if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
            pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        
    return g
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])
resultado_liquidaciones.reset_index(inplace=True, drop=True)
resultado_liquidaciones['PagoReal'].fillna(0.0, inplace=True)
resultado_liquidaciones['Liquidado'].fillna(0.0, inplace=True)
resultado_liquidaciones

In [ ]:
resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= '2023-05-01']

In [ ]:
resultado_liquidaciones = resultado_liquidaciones.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
resultado_liquidaciones.rename(columns={'NuevoFactor': 'FactorMes'}, inplace=True)
resultado_liquidaciones['PagoGarantizado'] = 'NO'

resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['VE', 'VC']))
    ),
    resultado_liquidaciones['SalarioVariable'],
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['AD', 'AD1', 'AD2', 'AD3', 'AD4', 'AD5', 'GC', 'GD', 'GU', 'KAM', 'MK']))
    ),
    resultado_liquidaciones['SalarioVariable'] * 0.85,
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones.drop(columns=['TipoEmpleado'], inplace=True)

resultado_liquidaciones.head(12)

## Se obtienen los garantizados

In [ ]:
empleados_garantizado = df_empleados[df_empleados['FechaIngreso'] > fecha_liquidacion][['CodigoEmpleado', 'SalarioVariable', 'FechaIngreso']]
fechas_resultado_liquidaciones = resultado_liquidaciones[['Fecha']].drop_duplicates()

empleados_garantizado['Key'] = 1
fechas_resultado_liquidaciones['Key'] = 1

liquidaciones_garantizados = pd.merge(
    left=fechas_resultado_liquidaciones.sort_values(['Fecha']),
    right=empleados_garantizado,
    how='outer',
    on=['Key']
).drop(columns=['Key'])

liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'].notnull()]

liquidaciones_garantizados['DifMonths'] = ((liquidaciones_garantizados.FechaIngreso - liquidaciones_garantizados.Fecha)/np.timedelta64(1, 'M'))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].apply(lambda x: round(x, 0))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].astype('int')
liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['DifMonths'] <= 4]

liquidaciones_garantizados['FactorMes'] = 0
liquidaciones_garantizados['Liquidado'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoReal'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoGarantizado'] = 'SI'

liquidaciones_garantizados.drop(columns=['DifMonths', 'FechaIngreso'], inplace=True)

liquidaciones_garantizados.head()

## Se unen las liquidaciones de garantizados con las demás

In [ ]:
resultado_liquidaciones = pd.concat([resultado_liquidaciones, liquidaciones_garantizados])
resultado_liquidaciones.reset_index(drop=True, inplace=True)
resultado_liquidaciones

## Se conserva la información del histórico y se le añade la nueva información hasta la fecha de liquidación

In [ ]:
resultado_liquidaciones_historico = df_resultado_liquidaciones_previo.copy()
resultado_liquidaciones_historico['PagoGarantizado'] = resultado_liquidaciones_historico['PagoGarantizado'].fillna('NO')
last_date_historico = resultado_liquidaciones_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    resultado_liquidaciones = resultado_liquidaciones[
        resultado_liquidaciones['Fecha']<=fecha_liquidacion
    ]
    if last_date_historico:
        resultado_liquidaciones = resultado_liquidaciones[
            resultado_liquidaciones['Fecha']>last_date_historico
        ]
except:
    pass

resultado_liquidaciones = pd.concat([resultado_liquidaciones_historico, resultado_liquidaciones])
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])

for codigo_empleado_excepcion in excepciones_pagos_acumulados:
    excepcion = excepciones_pagos_acumulados[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] <= excepcion['Fecha'])
        ),
        excepcion['ValorPagoAcumulado'],
        resultado_liquidaciones['PagoReal']
    )

for codigo_empleado_excepcion in excepciones_diferencias:
    excepcion = excepciones_diferencias[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] == excepcion['Fecha'])
        ),
        resultado_liquidaciones['PagoReal'] + excepcion['ValorDiferencia'],
        resultado_liquidaciones['PagoReal']
    )

resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones.groupby(['CodigoEmpleado'])['PagoReal'].transform(pd.Series.cumsum)
resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones['PagadoFecha'] - resultado_liquidaciones['PagoReal']
resultado_liquidaciones

In [ ]:
resultado_liquidaciones.drop_duplicates(['CodigoEmpleado', 'Fecha'], inplace=True)

resultado_final = pd.merge(
    left=resultado_liquidaciones[['CodigoEmpleado', 'Fecha', 'PagoGarantizado', 'Liquidado', 'PagoReal', 'PagadoFecha', 'FactorMes']],
    right=df_empleados,
    on=['CodigoEmpleado'],
    how='left'
)
resultado_final = resultado_final[['Identificacion', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Fecha', 'SalarioVariable', 'PagoGarantizado', 'FactorMes', 'Liquidado', 'PagoReal', 'PagadoFecha']]
resultado_final = resultado_final.sort_values(by=['TipoEmpleado', 'AreaCalculo', 'CodigoEmpleado', 'Fecha'])

resultado_final.rename(columns={
    'Identificacion': 'Cédula',
    'CodigoEmpleado': 'Código',
    'TipoEmpleado': 'Tipo Empleado',
    'AreaCalculo': 'Área de cálculo',
    'Liquidado': 'Valor liquidado',
    'PagoReal': 'Valor neto a pagar',
    'PagadoFecha': 'Pagado a la fecha',
    'SalarioVariable': 'Salario variable',
    'FactorMes': 'Factor mes',
    'PagoGarantizado': '¿Pago garantizado?'
}, inplace=True)
resultado_final.head()

In [ ]:
# return maestra_resultados_por_empleado, resultado_liquidaciones, resultado_final

In [ ]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['CodigoEmpleado'] == '1111128')
]

In [ ]:
maestra_resultados_por_empleado.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados_por_empleado.xlsx'))
resultado_liquidaciones.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_liquidaciones.xlsx'))
resultado_final.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_final.xlsx'))

In [ ]:
maestra_resultados.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados.xlsx'))

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'RentabilidadDivisionGrupoClientesCM3']

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']

## Se realizan las liquidaciones por Centros de Costos según el Tipo de Cálculo de las Variables

In [ ]:
df_parrillas_tipos_calculos

In [ ]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['AreaCalculo'] == 9) &
    (maestra_resultados_por_empleado['Consecutivo'] == 3) &
    (maestra_resultados_por_empleado['CodigoEmpleado'] == '1032450706')
]

In [ ]:
# maestra_resultados_por_empleado_test = maestra_resultados_por_empleado[
#     (maestra_resultados_por_empleado['CodigoEmpleado'] == '5004523') &
#     (maestra_resultados_por_empleado['Fecha'] == '2023-04-01')
# ]

maestra_resultados_por_empleado_test = maestra_resultados_por_empleado
maestra_resultados_por_empleado_test.head()

In [ ]:
maestra_resultados_por_empleado_test[
    (maestra_resultados_por_empleado_test['Variable'] == 'VentaCobradaDivisionSub') &
    (maestra_resultados_por_empleado_test['CodigoEmpleado'] == '1032450706') & 
    (maestra_resultados_por_empleado_test['Fecha'] == '2023-06-01')
]

In [ ]:
maestra_resultados_por_empleado_test[
#     (maestra_resultados_por_empleado_test['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (maestra_resultados_por_empleado_test['CodigoEmpleado'] == '1020815612') & 
    (maestra_resultados_por_empleado_test['Fecha'] == '2023-08-01')
#     (maestra_resultados_por_empleado_test['TipoEmpleado'] == 'VC') & 
#     (maestra_resultados_por_empleado_test['Consecutivo'] == 4)
]

In [ ]:
maestra_resultados_por_empleado_test[
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo','Variable', 'Contexto', 'CodigoEmpleado']
]

In [ ]:
maestra_resultados_por_empleado_test[
    (maestra_resultados_por_empleado_test['AreaCalculo'] == 13.0) &
    (maestra_resultados_por_empleado_test['CodigoEmpleado'] == '1020815612')
][
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo','Variable', 'Contexto', 'CodigoEmpleado']
]

In [ ]:
df_parrillas_tipos_calculos[
    (df_parrillas_tipos_calculos['TipoEmpleado'] == 'MK') &
    (df_parrillas_tipos_calculos['AreaCalculo'] == 13) 
]

In [ ]:
main = maestra_resultados_por_empleado_test.merge(
    right=df_parrillas_tipos_calculos.rename(columns={'NombreRubro': 'Variable'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Variable'],
    how='left'
)
main = main[['Contexto', 'Fecha', 'Variable', 'PorcentajeCumplimiento', 'CodigoEmpleado', 'Porcentaje', 'Consecutivo', 'TipoEmpleado', 'AreaCalculo', 'Liquidado','CodigoRubro', 'TipoCalculo']]
main

In [ ]:
main[
    main['CodigoEmpleado'] == 1020815612
]

### Tipo de Cálculo Fijo

In [ ]:
# Filtrar las filas donde 'Variable' es igual a 'VentaCobradaGrupoClientesKAMSSub'
filtro = main['Variable'] == 'VentaCobradaGrupoClientesKAMSSub'

# Usar loc o iloc para asignar el valor 'F' a la columna 'TipoCalculo' para las filas que cumplen la condición
main.loc[filtro, 'TipoCalculo'] = 'F'
main

In [ ]:
main[
    main['Variable'] == 'VentaCobradaGrupoClientesKAMSSub'
]

In [ ]:
calculo_fijo = main[main['TipoCalculo']== 'F']
calculo_fijo

In [ ]:
calculo_fijo[
    (calculo_fijo['CodigoEmpleado'] == '5004293') &
    (calculo_fijo['Fecha'] == '2023-06-01')
]

In [ ]:
calculo_fijo = calculo_fijo.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'Consecutivo'], as_index=False)[['Liquidado']].apply(sum)
calculo_fijo

In [ ]:
calculo_fijo[
    (calculo_fijo['CodigoEmpleado'] == '5004293') &
    (calculo_fijo['Fecha'] == '2023-06-01')
]

In [ ]:
calculo_fijo.to_excel('calculo_fijo.xlsx')

In [ ]:
df_empleados_centros_costos

In [ ]:
# calculo_fijo = main[main['TipoCalculo']== 'F']
final_calculo_fijo = calculo_fijo.merge(
    df_empleados_centros_costos,
    on=['CodigoEmpleado'],
    how='left'
).rename(columns={
    'Fecha': 'Fecha Proceso',
    'Liquidado':'Valor Base Cálculo',
     'PorcentajeAsignacion': 'Porcentaje Aplicado'
})
final_calculo_fijo

In [ ]:
print(final_calculo_fijo.dtypes)

In [ ]:
final_calculo_fijo[
    (final_calculo_fijo['CodigoEmpleado'] == '1060654227')
]

In [ ]:
final_calculo_fijo[
    (final_calculo_fijo['CodigoEmpleado'] == '5004293') &
    (final_calculo_fijo['Fecha Proceso'] == '2023-06-01')
]

In [ ]:
final_calculo_fijo[
    (final_calculo_fijo['CodigoEmpleado'] == '5004293') &
    (final_calculo_fijo['Fecha Proceso'] == '2023-06-01')
]['Valor Base Cálculo'].sum()

In [ ]:
final_calculo_fijo[
    (final_calculo_fijo['CodigoEmpleado'] == '80220240') &
    (final_calculo_fijo['Fecha Proceso'] == '2023-06-01')
]

In [ ]:
final_calculo_fijo[
    (final_calculo_fijo['CodigoEmpleado'] == '1111129') &
    (final_calculo_fijo['Fecha Proceso'] == '2023-06-01')
]

In [ ]:
df_empleados_centros_costos[
    (df_empleados_centros_costos['CodigoEmpleado'] == '1020815612')
]

In [ ]:
# # final_calculo_fijo = final_calculo_fijo.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'CodigoCentroCosto', 'Consecutivo'], as_index=False)[['Liquidado']].apply(sum)
# final_calculo_fijo = final_calculo_fijo
# final_calculo_fijo

In [ ]:
final_calculo_fijo['Valor Calculado'] = final_calculo_fijo['Valor Base Cálculo'] * final_calculo_fijo['Porcentaje Aplicado']
final_calculo_fijo

In [ ]:
final_calculo_fijo[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_fijo['CodigoEmpleado'] == '5002700') & 
#     (final_calculo_variable['Consecutivo'] == 4) &
    (final_calculo_fijo['Fecha Proceso'] == '2023-09-01') 
]

In [ ]:
final_calculo_fijo[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_fijo['CodigoEmpleado'] == '5002700') & 
#     (final_calculo_variable['Consecutivo'] == 4) &
    (final_calculo_fijo['Fecha Proceso'] == '2023-05-01') 
]['Porcentaje Aplicado'].sum()

In [ ]:
final_calculo_fijo.to_excel('final_calculo_fijo.xlsx')

### Tipo de Cálculo Variable

In [ ]:
main.head()

In [ ]:
calculo_variable = main[main['TipoCalculo']== 'V']
calculo_variable.head()

In [ ]:
# calculo_variable = calculo_variable.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'TipoEmpleado','AreaCalculo','CodigoRubro'], as_index=False)[['Liquidado']].apply(sum)
# calculo_variable

In [ ]:
maestra_resultados_por_empleado_centro_costo[
#     (maestra_resultados_por_empleado_centro_costo['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '1047393705') & 
    (maestra_resultados_por_empleado_centro_costo['Fecha'] == '2023-08-01') 
    & (maestra_resultados_por_empleado_centro_costo['Consecutivo'] == 3) #&
#     (maestra_resultados_por_empleado_centro_costo['AreaCalculo'] == 9)
]

In [ ]:
calculo_variable[
    (calculo_variable['CodigoEmpleado'] == '1047393705') &
#     (calculo_variable['Contexto'] == 'mk_4_3') &
    (calculo_variable['Consecutivo'] == 3) &
#     (calculo_variable['AreaCalculo'] == 9) &
    (calculo_variable['Fecha'] == '2023-08-01')
]

In [ ]:
final_calculo_variable = calculo_variable.merge(
    right=maestra_resultados_por_empleado_centro_costo.rename(columns={'NombreRubro': 'Variable'}),
    on=['Fecha', 'Contexto', 'CodigoEmpleado', 'Variable', 'Porcentaje', 'Consecutivo','TipoEmpleado', 'AreaCalculo'],
    how='left'
)[['Fecha', 'Contexto', 'CodigoEmpleado', 'TipoEmpleado','TipoCalculo', 'GrupoProducto', 'Division', 'Consecutivo', 'CodigoCentroCosto', 'Real','Variable', 'Liquidado']]
final_calculo_variable.head()

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '1047393705') & 
    (final_calculo_variable['Fecha'] == '2023-08-01') &
#     (final_calculo_variable['TipoEmpleado'] == 'VC') & 
    (final_calculo_variable['Consecutivo'] == 3)
]

In [ ]:
2.856901e+08 + 3.863236e+07 + 4.323667e+08

In [ ]:
# final_calculo_variable['Real'] = final_calculo_variable.groupby(
#     ['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'CodigoCentroCosto'], as_index=False
# )['Real'].transform(pd.Series.sum)

final_calculo_variable = final_calculo_variable.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'CodigoCentroCosto', 'Consecutivo', 'Liquidado'], as_index=False)[['Real']].apply(sum)

final_calculo_variable.head()

In [ ]:
# final_calculo_variable[
# #     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
#     (final_calculo_variable['CodigoEmpleado'] == '1047393705') & 
#     (final_calculo_variable['Consecutivo'] == 3) &
#     (final_calculo_variable['Fecha'] == '2023-08-01') 
# ]

In [ ]:
4.607030 + 12.48309

In [ ]:
final_calculo_variable['RealTotal'] = final_calculo_variable.groupby(
    ['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'Consecutivo'], as_index=False
)['Real'].transform(pd.Series.sum)
final_calculo_variable

In [ ]:
final_calculo_variable['Valor Base Cálculo'] = final_calculo_variable.groupby(
    ['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'CodigoCentroCosto', 'Consecutivo'], as_index=False
)['Liquidado'].transform(pd.Series.sum)
final_calculo_variable

In [ ]:
final_calculo_variable = final_calculo_variable.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo', 'CodigoCentroCosto', 'Consecutivo', 'RealTotal', 'Valor Base Cálculo'], as_index=False)[['Real']].apply(sum)

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '1047393705') & 
     (final_calculo_variable['Consecutivo'] == 3) &
    (final_calculo_variable['Fecha'] == '2023-08-01')
]

In [ ]:
# final_calculo_variable = final_calculo_variable.groupby(['Fecha', 'CodigoEmpleado', 'TipoCalculo'], as_index=False)[['Liquidado']].apply(sum)

final_calculo_variable['Porcentaje Aplicado'] = final_calculo_variable['Real']/final_calculo_variable['RealTotal']
final_calculo_variable = final_calculo_variable.rename(columns={
    'Fecha': 'Fecha Proceso'
})
final_calculo_variable['Valor Calculado'] = final_calculo_variable['Valor Base Cálculo'] * final_calculo_variable['Porcentaje Aplicado']
final_calculo_variable

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '1047393705') & 
    
    (final_calculo_variable['Consecutivo'] == 3)&
    (final_calculo_variable['Fecha Proceso'] == '2023-08-01') 
]

In [ ]:
final_calculo_variable = final_calculo_variable[
    ['Fecha Proceso', 'CodigoEmpleado', 'TipoCalculo', 'Consecutivo', 'CodigoCentroCosto', 'Valor Base Cálculo', 'Porcentaje Aplicado', 'Valor Calculado']
]
final_calculo_variable

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '1047393705') & 
    
    (final_calculo_variable['Consecutivo'] == 3) &
    (final_calculo_variable['Fecha Proceso'] == '2023-08-01')
]

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '5002723') & 
    
    (final_calculo_variable['Consecutivo'] == 4) &
    (final_calculo_variable['Fecha Proceso'] == '2023-05-01')
]['Porcentaje Aplicado'].sum()

In [ ]:
final_calculo_variable[
#     (final_calculo_variable['Variable'] == 'VentaCobradaPortafolioClusterSub') &
    (final_calculo_variable['CodigoEmpleado'] == '1013583607') & 
    
#     (final_calculo_variable['Consecutivo'] == 4) &
    (final_calculo_variable['Fecha Proceso'] == '2023-05-01')
]

In [ ]:
final_calculo_variable.to_excel('final_calculo_variable.xlsx')

In [ ]:
final_calculo_variable[
    (final_calculo_variable['CodigoCentroCosto'] == '323007270')
]

### Se unifican Tipo Cálculo Fijo y Variable

In [ ]:
final_calculo_fijo.head()

In [ ]:
final_calculo_variable.head()

In [ ]:
resultado_liquidaciones_centro_costo = pd.concat(
    [ final_calculo_fijo,
     final_calculo_variable
    ]
)
resultado_liquidaciones_centro_costo

In [ ]:
resultado_liquidaciones_centro_costo[
    (resultado_liquidaciones_centro_costo['CodigoEmpleado'] == '5002723') &
    (resultado_liquidaciones_centro_costo['Consecutivo'] == 3)
]

In [ ]:
fecha_liquidacion

In [ ]:
nombre_archivo_salida = "resultado_liquidaciones_centro_costo (" + fecha_liquidacion + ").xlsx"
nombre_archivo_salida

In [ ]:
resultado_liquidaciones_centro_costo.to_excel(nombre_archivo_salida)

In [ ]:
# df_area_calculo_sba_centros_costos[df_area_calculo_sba_centros_costos['TipoEmpleado'] == 'VC']

In [ ]:
# df_area_calculo_sba_centros_costos[
#     (df_area_calculo_sba_centros_costos['AreaCalculo'] == 3.0) &
#     (df_area_calculo_sba_centros_costos['TipoEmpleado'] == 'VC')
# ]

In [ ]:
# calculo_variable['CodigoRubro'] = calculo_variable['CodigoRubro'].astype(int)
# calculo_variable.merge(
#     df_area_calculo_sba_centros_costos.rename(columns={'ConsecutivoParrilla':'CodigoRubro'}),
#     on=['TipoEmpleado', 'AreaCalculo', 'CodigoRubro'],
#     how='left'    
# )

In [ ]:
# main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
# main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
# main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
# main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
# main['Variable'] = 'VentaFacturadaZonaPais'

In [ ]:
# main = df_parrillas.merge(
#     right=df_parrillas_tipos_calculos.rename(columns={'NombreRubro': 'Variable'}),
#     on=['TipoEmpleado', 'AreaCalculo', 'Variable'],
#     how='left'
# )

## Archivo de Texto Centro de Costo

In [ ]:
resultado_liquidaciones_centro_costo

In [ ]:
df_empleados[['TipoEmpleado', 'CodigoEmpleado']].rename(columns={'TipoEmpleado': 'CodigoTipoEmpleado'}).merge(
    df_tipos_empleados,
    on=['CodigoTipoEmpleado'],
    how='left'    
).drop(columns=['TextoPDF'])

In [ ]:
consolidado_centro_costo = resultado_liquidaciones_centro_costo.merge(
df_empleados[['TipoEmpleado', 'CodigoEmpleado']].rename(columns={'TipoEmpleado': 'CodigoTipoEmpleado'}).merge(
    df_tipos_empleados,
    on=['CodigoTipoEmpleado'],
    how='left'    
).drop(columns=['TextoPDF']),
    on=['CodigoEmpleado'],
    how='left'    
)
consolidado_centro_costo

In [ ]:
consolidado_centro_costo[['CodigoCentroCosto', 'Valor Calculado']][
    (consolidado_centro_costo['CodigoCentroCosto'] == '323007290')
]

In [ ]:
consolidado_centro_costo.columns

In [ ]:
# Eliminar filas con valores NaN en la columna 'CodigoCentroCosto'
consolidado_centro_costo_limpios = consolidado_centro_costo.dropna(subset=['CodigoCentroCosto', 'CodigoTipoEmpleado'])
# Asignar 0 a los valores NaN en la columna 'Valor Calculado'
consolidado_centro_costo_limpios['Valor Calculado'] = consolidado_centro_costo_limpios['Valor Calculado'].fillna(0)
consolidado_centro_costo_limpios

In [ ]:
consolidado_centro_costo[
    (consolidado_centro_costo['CategoriaTipoEmpleado'] != 'Comercial') & 
    (consolidado_centro_costo['CategoriaTipoEmpleado'] != 'Administrativo') 
]

In [ ]:
consolidado_centro_costo_limpios[
    (consolidado_centro_costo_limpios['CategoriaTipoEmpleado'] != 'Comercial') & 
    (consolidado_centro_costo_limpios['CategoriaTipoEmpleado'] != 'Administrativo') 
]

In [ ]:
consolidado_centro_costo_limpios[
    (consolidado_centro_costo_limpios['CodigoCentroCosto'] == '323007270') &
    (consolidado_centro_costo_limpios['CategoriaTipoEmpleado'].isna())
][['CodigoCentroCosto', 'CodigoTipoEmpleado', 'CategoriaTipoEmpleado']]

In [ ]:
consolidado_centro_costo_limpios['CategoriaTipoEmpleado'].map({'Administrativo': '63200020', 'Comercial': '62200020'}).fillna('')

In [ ]:
# Supongamos que tienes el DataFrame consolidado_centro_costo con las columnas mencionadas
# y lo has asignado a la variable df_acumulado.

# 1. Obtener el valor total por centro de costo
# df_acumulado = consolidado_centro_costo_limpios.groupby('CodigoCentroCosto')['Valor Calculado'].sum().reset_index()

df_acumulado = consolidado_centro_costo_limpios[['CategoriaTipoEmpleado', 'Valor Calculado', 'CodigoCentroCosto']]
df_acumulado

In [ ]:
# df_acumulado['CodigoCentroCosto'] = df_acumulado['CodigoCentroCosto'].apply(lambda x: int(x))

# Empresa: Valor fijo 0323
df_acumulado['Valor fijo'] = '0323'
df_acumulado = df_acumulado[['CategoriaTipoEmpleado', 'Valor Calculado', 'Valor fijo', 'CodigoCentroCosto']]
df_acumulado

In [ ]:
# Supongamos que tienes el DataFrame consolidado_centro_costo con las columnas mencionadas
# y lo has asignado a la variable df_acumulado.

# 1. Obtener el valor total por centro de costo
# df_acumulado = consolidado_centro_costo_limpios.groupby('CodigoCentroCosto')['Valor Calculado'].sum().reset_index()

df_acumulado_centro_costo = consolidado_centro_costo_limpios[['CategoriaTipoEmpleado', 'Valor Calculado', 'CodigoCentroCosto']]

# Empresa: Valor fijo 0323
df_acumulado_centro_costo['Valor fijo'] = '0323'
df_acumulado_centro_costo = df_acumulado_centro_costo[['CategoriaTipoEmpleado', 'Valor Calculado', 'Valor fijo', 'CodigoCentroCosto']]

# # CodigoCentroCosto: Primer valor en 0 el resto Código Centro de Costo. Diez posiciones.
df_acumulado_centro_costo.loc[0, 'CodigoCentroCosto'] = str('0').zfill(10) # Primer valor en la fila es 0
df_acumulado_centro_costo.loc[1:, 'CodigoCentroCosto'] = df_acumulado_centro_costo['CodigoCentroCosto'].apply(lambda x: str(int(x)).zfill(10))

# Cod.00: Valor fijo 00
df_acumulado_centro_costo['Cod.00'] = '00'

# Cuenta: 63200020 (Para CategoriaTipoEmpleado: Administrativos) o 62200020 (Para CategoriaTipoEmpleado: Comerciales).
# El primer valor en la fila uno siempre es 48510020, las demás dependiendo la cuenta del empleado.
df_acumulado_centro_costo.loc[0, 'Cuenta'] = '48510020'  # Primer valor en la fila uno siempre es 48510020
df_acumulado_centro_costo.loc[1:, 'Cuenta'] = df_acumulado['CategoriaTipoEmpleado'].map({'Administrativo': '63200020', 'Comercial': '62200020'}).fillna('')
# df_acumulado.loc[0:, 'Columna4'] = consolidado_centro_costo_limpios['CategoriaTipoEmpleado']

# Clave movimiento: Primera fila toma el valor 50 (Movimiento Crédito), luego todos son 40 (Movimiento Débido).
df_acumulado_centro_costo.loc[0, 'Clave Movimiento'] = '50'  # Primera fila toma el valor 50 (Movimiento Crédito)
df_acumulado_centro_costo.loc[1:, 'Clave Movimiento'] = '40'  # Luego todos son 40 (Movimiento Débido)

# Valor: Acumulado por centro de costo. (15 posiciones, se completa el valor con 0).
# Traído de la columna Valor Calculado por Centro de Costo. El primer valor siempre es la suma total de los demás valores.
df_acumulado_centro_costo.loc[0, 'Acumulado Centro Costo'] = str(df_acumulado['Valor Calculado'].apply(lambda x: int(x)).sum()).zfill(15) # Primer valor en la fila siempre es la suma del total de la fila.
df_acumulado_centro_costo.loc[1:, 'Acumulado Centro Costo'] = df_acumulado['Valor Calculado'].astype(int).astype(str).str.zfill(15)

df_acumulado_centro_costo

In [ ]:
df_acumulado_centro_costo.columns

In [ ]:
df_acumulado_centro_costo.to_excel('acumulado_centro_costo.xlsx')

In [ ]:
# Crear el DataFrame df_final a partir de las columnas de df_acumulado
df_acumulado_centro_costo_final = pd.DataFrame()
df_acumulado_centro_costo_final['Columna1'] = df_acumulado_centro_costo['Valor fijo'] + df_acumulado_centro_costo['CodigoCentroCosto'] + df_acumulado_centro_costo['Cod.00'] + df_acumulado_centro_costo['Cuenta']+ df_acumulado_centro_costo['Clave Movimiento']
df_acumulado_centro_costo_final['Columna2'] = df_acumulado_centro_costo['Acumulado Centro Costo']

# Visualizar el DataFrame final
df_acumulado_centro_costo_final

In [ ]:
# Suponiendo que ya tienes el DataFrame df_acumulado con las columnas 'Columna1' y 'Columna2'

# Especifica el nombre del archivo de texto donde deseas guardar los datos
nombre_archivo = 'acumulado_centro_costo.txt'

# Guarda el DataFrame como un archivo de texto separado por tabulaciones
df_acumulado_centro_costo_final.to_csv(nombre_archivo, sep=' ',  header=False, index=False)

print("El archivo de texto se ha guardado exitosamente.")

In [ ]:
df_acumulado['Valor Calculado'].sum()

In [ ]:
 consolidado_centro_costo['CategoriaTipoEmpleado'].map({'Administrativo': '63200020', 'Comercial': '62200020'}).fillna('')

## Prueba

In [ ]:
maestra_resultados_por_empleado.head()

In [ ]:
resultado_liquidaciones.head()

In [ ]:
def get_dataframes(
        df_resultado_detallado,
        df_resultado_liquidaciones
):
    resultado_liquidaciones = df_resultado_liquidaciones.set_index(['CodigoEmpleado', 'Fecha'])
    resultado_liquidaciones.fillna(value={
        'PagoReal': 0,
        'Liquidacion': 0
    }, inplace=True)

    resultado_detallado = df_resultado_detallado.fillna(value={
        'FactorIncentivo': 0,
        'PorcentajeCumplimiento': 0,
        'Presupuesto': 0,
        'Real': 0,
        'Liquidado': 0,
        'ResultadoPresupuesto': 0,
        'ResultadoRealMes': 0,
        'PorcentajeCumplimientoMes': 0
    })

    return resultado_detallado, resultado_liquidaciones

In [ ]:
df_detalles_para_pdf, df_liquidaciones_para_pdf = get_dataframes(
    df_resultado_detallado=maestra_resultados_por_empleado,
    df_resultado_liquidaciones=resultado_liquidaciones
)

In [ ]:
df_detalles_para_pdf.head()

In [ ]:
df_liquidaciones_para_pdf.head()

In [ ]:
base_archivo = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\BBraun\\GITHUB\\Liquidations-IncentiveS'

In [ ]:
df_empleados_liquidacion = pd.read_excel(os.path.join(base_archivo, 'empleados.xlsx'))

df_empleados_liquidacion.head()

In [ ]:
df_empleados_liquidacion[df_empleados_liquidacion['codigo'] == 5004523]

In [ ]:
df_qs_salarios_variables_liquidacion = pd.read_excel(os.path.join(base_archivo, 'qs_salarios_variables.xlsx'))
df_qs_salarios_variables_liquidacion.head()

In [ ]:
def post_save_ejecucion_liquidacion(
    maestra_resultados_por_empleado,
    resultado_liquidaciones,
    df_empleados_liquidacion,
    df_qs_salarios_variables_liquidacion
):
    df_detalles_para_pdf, df_liquidaciones_para_pdf = get_dataframes(
        df_resultado_detallado=maestra_resultados_por_empleado,
        df_resultado_liquidaciones=resultado_liquidaciones
    )
    empleados = df_empleados_liquidacion
#     print("empleados", empleados)
    qs_salarios_variables = df_qs_salarios_variables_liquidacion
    for index, row in empleados.iterrows():
#         print(row)
        pdf_context = get_pdf_context(
            empleado=row,
            df=df_detalles_para_pdf,
            df_liquidaciones=df_liquidaciones_para_pdf,
            qs_salarios_variables=qs_salarios_variables
        )
#         if pdf_context:
#             pdf = ArchivoPDF(empleado=empleado, ejecucion=instance)
#             pdf.archivo.save(
#                 f'{empleado.tipo_empleado.codigo}_{empleado.area_calculo.consecutivo}_{empleado.codigo}.pdf',
#                 File(generate_pdf(context={'data': pdf_context})),
#                 save=True
#             )

In [ ]:
MAPPER_TEXTO_MESES = {
    1: 'Enero',
    2: 'Febrero',
    3: 'Marzo',
    4: 'Abril',
    5: 'Mayo',
    6: 'Junio',
    7: 'Julio',
    8: 'Agosto',
    9: 'Septiembre',
    10: 'Octubre',
    11: 'Noviembre',
    12: 'Diciembre'
}

In [ ]:
def get_ultimo_salario_promediado(self, year: int, month: int, qs_salarios_variables):
    salarios_variables = get_promedios_salarios_variables(year, month, qs_salarios_variables)
    if len(salarios_variables) > 0:
        return salarios_variables[-1].get('PromedioSalarioVariable', self.salario_variable)
    else:
        return salario_variable
    
def get_promedios_salarios_variables(empleado, year: int, month: int, qs_salarios_variables=None) -> list:
#     if qs_salarios_variables is None:
#         qs_salarios_variables = salariovariableempleado_set.all()

    response = []

    meses_ano_actual = []
    for i in range(1, month + 1):
        i_str = f'0{i}' if i < 10 else f'{i}'
        fecha_str = f'{year}-{i_str}-01'
        fecha_datetime = datetime.strptime(fecha_str, '%Y-%m-%d').date()
        if fecha_datetime >= self.fecha_ingreso_incentivos:
            meses_ano_actual.append(fecha_str)

    if len(meses_ano_actual) > 0:
        salarios_variables = qs_salarios_variables.filter(fk_empleado_id=self.id)

        primer_registro_anio_actual: SalarioVariableEmpleado = salarios_variables.filter(
            mes_inicio__lte=meses_ano_actual[0]
        ).order_by('-mes_inicio').first()
        if primer_registro_anio_actual:
            salario_variable_inicial = primer_registro_anio_actual.salario_variable
        else:
            salario_variable_inicial = empleado.salario_variable

        ultimo_salario = salario_variable_inicial
        num_mes_actual = 1
        suma_salarios = 0
        for mes in meses_ano_actual:
            salario_mes_actual: SalarioVariableEmpleado = salarios_variables.filter(mes_inicio=mes).first()
            if salario_mes_actual:
                ultimo_salario = salario_mes_actual.salario_variable

            response.append({
                'CodigoEmpleado': self.codigo,
                'Fecha': mes,
                'SalarioVariable': ultimo_salario,
                'PromedioSalarioVariable': (ultimo_salario + suma_salarios) / num_mes_actual
            })

            suma_salarios += ultimo_salario
            num_mes_actual += 1
    else:
        for i in range(1, month + 1):
            i_str = f'0{i}' if i < 10 else f'{i}'
            response.append({
                'CodigoEmpleado': self.codigo,
                'Fecha': f'{year}-{i_str}-01',
                'SalarioVariable': self.salario_variable,
                'PromedioSalarioVariable': self.salario_variable
            })

    return response

In [ ]:
def get_pdf_context(empleado, df, df_liquidaciones, qs_salarios_variables=None):
#     empleado = Empleado.objects.filter(codigo=codigo_empleado).first()
    fecha_ejecucion = '2023-07-16'
    fecha_ejecucion = datetime.strptime(fecha_ejecucion, "%Y-%m-%d").date()
#     print(empleado.fecha_ingreso_incentivos)
    es_empleado_garantizado = empleado.fecha_ingreso_incentivos.date() > fecha_ejecucion

#     promedios_salarios_variables = get_promedios_salarios_variables(
#         empleado=empleado,
#         year=2023,
#         month='Junio',
#         qs_salarios_variables=qs_salarios_variables
#     )
#     len_promedios_salarios_variables = len(promedios_salarios_variables)
#     if len_promedios_salarios_variables > 0:
#         salario_variable_empleado = promedios_salarios_variables[-1].get('PromedioSalarioVariable', empleado.salario_variable)
#         ultimo_salario_variable = promedios_salarios_variables[-1].get('SalarioVariable', empleado.salario_variable)
#         salario_variable_acumulado = sum(x['SalarioVariable'] for x in promedios_salarios_variables)
#     else:
#         salario_variable_empleado = empleado.salario_variable
#         ultimo_salario_variable = empleado.salario_variable
#         salario_variable_acumulado = empleado.salario_variable

#     tabla_salarios_dict = {}
#     i_salarios = 0
#     salario_variable_acum = 0
#     while i_salarios < len_promedios_salarios_variables:
#         x = promedios_salarios_variables[i_salarios]
#         fecha_salario_variable = datetime.strptime(x['Fecha'], '%Y-%m-%d')

#         salario_variable_acum += x['SalarioVariable']
#         try:
#             df_liquidacion_empleado = df_liquidaciones.loc[codigo_empleado].loc[fecha_salario_variable]
#         except:
#             df_liquidacion_empleado = None
#         tabla_salarios_dict[fecha_salario_variable.month] = ({
#             'mes': MAPPER_TEXTO_MESES[fecha_salario_variable.month][:3].upper(),
#             'num_mes': fecha_salario_variable.month,
#             'salario_variable': x['SalarioVariable'],
#             'salario_variable_acum': salario_variable_acum,
#             'valor_liquidado_acum': df_liquidacion_empleado.Liquidado if df_liquidacion_empleado is not None else '',
#             'valor_pagado_acum': (df_liquidacion_empleado.PagadoFecha + df_liquidacion_empleado.PagoReal) if df_liquidacion_empleado is not None else '',
#             'valor_pago_mes': df_liquidacion_empleado.PagoReal if df_liquidacion_empleado is not None else ''
#         })

#         i_salarios += 1

#     tabla_salarios = []
#     for x in MAPPER_TEXTO_MESES:
#         if x in tabla_salarios_dict:
#             tabla_salarios.append(tabla_salarios_dict[x])
#         else:
#             ultimo_registro = tabla_salarios[-1] if len(tabla_salarios) > 0 else None
#             tabla_salarios.append({
#                 'mes': MAPPER_TEXTO_MESES[x][:3].upper(),
#                 'num_mes': x,
#                 'salario_variable': ultimo_registro['salario_variable'] if ultimo_registro else '',
#                 'salario_variable_acum': (ultimo_registro['salario_variable_acum'] + ultimo_registro['salario_variable']) if ultimo_registro else '',
#                 'valor_liquidado_acum': '',
#                 'valor_pagado_acum': '',
#                 'valor_pago_mes': ''
#             })
    
#     print('empleado.codigo',empleado.codigo,'type(empleado.codigo)', type(empleado.codigo))
    empleado_df = df[df.CodigoEmpleado == str(empleado.codigo)]
#     print('empleado_df', empleado_df)
    if not empleado_df.empty:
        fecha_max = empleado_df.Fecha.max()
    else:
        fecha_max = pd.to_datetime(fecha_ejecucion)

    fecha_min = empleado.fecha_ingreso_incentivos.date()
#     print(type(fecha_min), type(datetime(2023, 1, 1).date()))
    if fecha_min < datetime(2023, 1, 1).date():
        fecha_min = empleado_df.Fecha.min()
    
#     try:
#     print(df_liquidaciones.index)
    df_liquidaciones_empleado = df_liquidaciones.loc[str(empleado.codigo)]
    df_liquidaciones_empleado_mes = df_liquidaciones_empleado.loc[fecha_max]
#     except KeyError:
#         print("XXXXXXXXXXXXXXXXXXXXXXXXXX")
#         return {}
    
    liquidacion_total_acum = df_liquidaciones_empleado_mes.Liquidado
    valor_a_pagar = df_liquidaciones_empleado_mes.PagoReal
    pago_acum = df_liquidaciones_empleado[
        (df_liquidaciones_empleado.index < fecha_max) &
        (df_liquidaciones_empleado.index >= empleado_df.FechaIngreso.max())
    ].sum().PagoReal
    print('df_liquidaciones_empleado_mes', df_liquidaciones_empleado_mes)
    factor_mes = int(df_liquidaciones_empleado_mes.FactorMes)

In [ ]:
post_save_ejecucion_liquidacion(
    maestra_resultados_por_empleado,
    resultado_liquidaciones,
    df_empleados_liquidacion,
    df_qs_salarios_variables_liquidacion
)